interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentBag":[{"foreignPriorityBag":[{"priorityNumberText":"2017-187096","filingDate":"2017-09-27","countryName":"JAPAN"}]}],"requestIdentifier":"fe6abc22-9b9a-41d7-ad52-423bf9fb8095"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Wvc_KGEzoAMFlaA=
      x-amzn-RequestId:
      - fe6abc22-9b9a-41d7-ad52-423bf9fb8095
    status_code: 200
version: 1
