interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/documents
  response:
    content: '{"documentBag": [{"applicationNumberText": "15123456", "officialDate":
      "2016-09-02T00:00:00.000-0400", "documentIdentifier": "ISM4MWZ8RXEAPX0", "documentCode":
      "IDS", "documentCodeDescriptionText": "Information Disclosure Statement (IDS)
      Form (SB08)", "directionCategory": "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier":
      "PDF", "downloadUrl": "https://beta-api.uspto.gov/api/v1/download/applications/15123456/ISM4MWZ8RXEAPX0.pdf",
      "pageTotalQuantity": 1}, {"mimeTypeIdentifier": "XML", "downloadUrl": "https://beta-api.uspto.gov/api/v1/download/applications/15123456/ISM4MWZ8RXEAPX0/xmlarchive",
      "pageTotalQuantity": 1}]}, {"applicationNumberText": "15123456", "officialDate":
      "2016-12-28T00:00:00.000-0500", "documentIdentifier": "IX9HSTX2RXEAPX4", "documentCode":
      "PEFR", "documentCodeDescriptionText": "Applicant Response to Pre-Exam Formalities
      Notice", "directionCategory": "INCOMING", "downloadOptionBag": [{"mimeTypeIden[...]
