interactions:
- request:
    body: '{"q": "firstNamedApplicant:STMicroelectronics S.A."}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: "{\"count\":70190,\"patentBag\":[{\"firstInventorToFileIndicator\":\"Y\",\"applicationStatusCode\":412,\"applicationTypeCode\":\"UTL\",\"filingDate\":\"2024-04-30\",\"class/subclass\":\"455/575.7\",\"recordAttorney\":{\"attorneyBag\":[{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"LAWRENCE\",\"lastName\":\"EISEN\",\"registrationNumber\":\"41009\",\"attorneyAddressBag\":[{\"cityName\":\"GAITHERSBURG\",\"geographicRegionName\":\"MARYLAND\",\"geographicRegionCode\":\"MD\",\"countryCode\":\"US\",\"postalCode\":\"20878\",\"nameLineOneText\":\"EDELL,
      SHAPIRO & FINNAN, LLC\",\"countryName\":\"UNITED STATES\",\"addressLineOneText\":\"9801
      WASHINTONIAN BLVD.,\",\"addressLineTwoText\":\"SUITE 750\"}],\"telecommunicationAddressBag\":[{\"telecommunicationNumber\":\"301-424-3640\",\"telecomTypeCode\":\"TEL\"}],\"registeredPractitionerCategory\":\"ATTNY\"},{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"PEGGY\",\"lastName\":\"SU\",\"registrationNumber\":\"41336\",\"attorneyAddressBag\":[{\"cityName\":\"SAN
      JOSE\",\"geographicRegionName\":\"CALIFORNIA\",\"geographicRegionCode\":\"CA\",\"countryCode\":\"US\",\"postalCode\":\"94086\",\"nameLineOneText\":\"CISCO
      SYSTEMS, INC.\",\"countryName\":\"UNITED STATES\",\"addressLineOneText\":\"170
      W. TASMAN DRIVE\"}],\"telecommunicationAddressBag\":[{\"telecommunicationNumber\":\"408-526-8734\",\"telecomTypeCode\":\"TEL\"}],\"registeredPractitionerCategory\":\"AGENT\"},{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"ALBERT\",\"lastName\":\"FASULO\",\"registrationNumber\":\"43607\",\"attorneyAddressBag\":[{\"cityName\":\"COLUMBIA\",\"geographicRegionName\":\"MARYLAND\",\"geographicRegionCode\":\"MD\",\"countryCode\":\"US\",\"postalCode\":\"21044\",\"nameLineOneText\":\"GARRETT
      IP, LLC\",\"countryName\":\"UNITED STATES\",\"addressLineOneText\":\"10440 LITTLE
      PATUXENT PARKWAY, STE 300\"}],\"nameSuffix\":\"II\",\"telecommunicationAddressBag\":[{\"telecommunicationNumber\":\"410-505-4508\",\"telecomTypeCode\":\"TEL\"}],\"registeredPractitionerCategory\":\"AGENT\"},{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"NATALIYA\",\"lastName\":\"DVORSON\",\"registrationNumber\":\"56616\",\"attorneyAddressBag\":[{\"cityName\":\"WASHINGTON\",\"geographicRegionName\":\"DISTRICT
      OF COLUMBIA\",\"geographicRegionCode\":\"DC\",\"countryCode\":\"US\",\"postalCode\":\"20037\",\"nameLineOneText\":\"SUGHRUE
  [...]
