interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/continuity
  response:
    content: '{"count":1,"patentBag":[{"continuityBag":{"parentContinuityBag":[{"applicationStatusCode":161,"claimParentageTypeCode":"NST","filingDate":"2015-04-23","applicationStatusDescriptionText":"Abandoned  --  Failure
      to Respond to an Office Action","claimParentageTypeCodeDescription":"is a National
      Stage Entry of","parentApplicationNumberText":"PCT/US15/27322","childApplicationNumberText":"15123456"},{"applicationStatusCode":159,"claimParentageTypeCode":"PRO","filingDate":"2014-04-23","applicationStatusDescriptionText":"Provisional
      Application Expired","claimParentageTypeCodeDescription":"Claims priority from
      a provisional application","parentApplicationNumberText":"61983088","childApplicationNumberText":"PCT/US15/27322"}],"childContinuityBag":[{"applicationStatusCode":160,"claimParentageTypeCode":"CON","filingDate":"2018-09-14","applicationStatusDescriptionText":"Abandoned  --  Incomplete
      Application (Pre-examination)","claimParentageTypeCodeDescription":"is a Continuation
      of","parentApplicationNumberText":"15123456","childApplicationNumberText":"16132008"}]}}],"requestIdentifier":"b49b5afe-2f59-4ed5-b132-3da7edf1f148"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WvXtqGrFoAMFnjg=
      x-amzn-RequestId:
      - b49b5afe-2f59-4ed5-b132-3da7edf1f148
    status_code: 200
version: 1
