interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/adjustment
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"patentTermAdjustmentData":{"applicantDayDelayQuantity":15.0,"overlappingDayQuantity":0.0,"filingDate":"2018-09-06","ipOfficeAdjustmentDelayQuantity":0.0,"cDelayQuantity":0.0,"adjustmentTotalQuantity":127.0,"bDelayQuantity":0.0,"grantDate":"2021-01-26","aDelayQuantity":142.0,"ipOfficeDayDelayQuantity":142.0,"patentTermAdjustmentHistoryDataBag":[{"eventDescriptionText":"PTA
      36 Months","eventSequenceNumber":74.5,"originatingEventSequenceNumber":0.5,"ptaPteCode":"PTA","eventDate":"2021-01-26"},{"eventDescriptionText":"Patent
      Issue Date Used in PTA Calculation","eventSequenceNumber":74.0,"originatingEventSequenceNumber":0.0,"ptaPteCode":"PTA","eventDate":"2021-01-26"},{"eventDescriptionText":"Export
      to Final Data Capture","eventSequenceNumber":73.0,"originatingEventSequenceNumber":0.0,"ptaPteCode":"PTA","eventDate":"2020-12-29"},{"eventDescriptionText":"Dispatch
      to FDC","eventSequenceNumber":72.0,"originatingEventSequenceNumber":0.0,"ptaPteCode":"PTA","e[...]
