interactions:
- request:
    body: '{"q": "firstNamedApplicant:STMicroelectronics S.A."}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: "{\"count\":51913,\"patentFileWrapperDataBag\":[{\"eventDataBag\":[{\"eventCode\":\"DOCK\",\"eventDescriptionText\":\"Case
      Docketed to Examiner in GAU\",\"eventDate\":\"2024-09-19\"},{\"eventCode\":\"RXPCOM\",\"eventDescriptionText\":\"Completion
      of Preprocessing - Released to Assigned GAU\",\"eventDate\":\"2024-09-18\"},{\"eventCode\":\"COMP\",\"eventDescriptionText\":\"Application
      Is Now Complete\",\"eventDate\":\"2024-09-19\"},{\"eventCode\":\"MRXN\",\"eventDescriptionText\":\"Reexamination
      Formalities Notice Mailed\",\"eventDate\":\"2024-09-19\"},{\"eventCode\":\"MRXN\",\"eventDescriptionText\":\"Reexamination
      Formalities Notice Ma[...]
