interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/assignment
  response:
    content: '{"count":1,"patentBag":[{"assignmentBag":[{"assignmentReceivedDate":"2018-10-25","assignorBag":[{"executionDate":"2018-09-23","assignorName":"WANG,
      MARVIN"}],"frameNumber":442,"pageNumber":4,"reelNumber/frameNumber":"047305/0442","assignmentRecordedDate":"2018-10-25","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"BOSTON","geographicRegionCode":"MA","postalCode":"02114","addressLineOneText":"55
      FRUIT STREET"},"assigneeNameText":"THE GENERAL HOSPITAL CORPORATION"}],"assignmentMailedDate":"2018-10-26","reelNumber":47305,"correspondenceAddress":[{"addressLineThreeText":"MINNEAPOLIS,
      MN 55440-1022","addressLineOneText":"FISH & RICHARDSON P.C.","correspondentNameText":"J.
      P. FASSE","addressLineTwoText":"P.O.BOX 1022"}]}]}],"requestIdentifier":"b2200c72-527f-4ef6-9afb-9fe95e38f41e"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLiS9HlPoAMFgSA=
      x-amzn-requestid:
      - b2200c72-527f-4ef6-9afb-9fe95e38f41e
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/15123456/assignment
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"assignmentBag":[{"assignmentReceivedDate":"2018-10-25","assignorBag":[{"executionDate":"2018-09-23","assignorName":"WANG,
      MARVIN"}],"reelAndFrameNumber":"047305/0442","frameNumber":442,"assignmentRecordedDate":"2018-10-25","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","pageTotalQuantity":4,"assigneeBag":[{"assigneeAddress":{"cityName":"BOSTON","geographicRegionCode":"MA","postalCode":"02114","addressLineOneText":"55
      FRUIT STREET"},"assigneeNameText":"THE GENERAL HOSPITAL CORPORATION"}],"assignmentMailedDate":"2018-10-26","reelNumber":47305,"correspondenceAddress":{"addressLineThreeText":"MINNEAPOLIS,
      MN 55440-1022","addressLineOneText":"FISH & RICHARDSON P.C.","correspondentNameText":"J.
      P. FASSE","addressLineTwoText":"P.O.BOX 1022"}}],"applicationNumberText":"15123456"}],"requestIdentifier":"a8b446b8-92e1-42f5-ab1b-89367aec6b2e"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - UQHx4HQ6oAMF9Hg=
      x-amzn-requestid:
      - a8b446b8-92e1-42f5-ab1b-89367aec6b2e
    status_code: 200
version: 1
