interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/assignment
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"assignmentBag":[{"assignmentReceivedDate":"2018-09-07","assignorBag":[{"executionDate":"2018-07-11","assignorName":"KANADA,
      SHOJI"}],"frameNumber":108,"pageNumber":3,"reelNumber/frameNumber":"046816/0108","assignmentRecordedDate":"2018-09-07","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"TOKYO","geographicRegionCode":"JPX","postalCode":"106-8620","addressLineOneText":"26-30,
      NISHIAZABU 2-CHOME, MINATO-KU"},"assigneeNameText":"FUJIFILM CORPORATION"}],"assignmentMailedDate":"2018-09-10","reelNumber":46816,"correspondenceAddress":[{"addressLineOneText":"8110
      GATEHOUSE ROAD, SUITE 100E","correspondentNameText":"BIRCH, STEWART, KOLASCH
      & BIRCH, LLP","addressLineTwoText":"FALLS CHURCH, VA 22042"}]}],"applicationNumberText":"16123456"}],"requestIdentifier":"e2f9a43e-49dc-4b07-905b-b471578ff5ec"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en1HVF7UIAMFeCg=
      x-amzn-requestid:
      - e2f9a43e-49dc-4b07-905b-b471578ff5ec
    status_code: 200
version: 1
