interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/attorney
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"recordAttorney":{"powerOfAttorneyBag":[{"activeIndicator":"ACTIVE","firstName":"QING","lastName":"LIN","registrationNumber":"76455","attorneyAddressBag":[{"cityName":"FALLS
      CHURCH","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22030","nameLineOneText":"BIRCH,
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      GATEHOUSE ROAD","addressLineTwoText":"SUITE 100 E"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"703-205-8085","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"AGENT"},{"activeIndicator":"ACTIVE","firstName":"EUGENE","lastName":"PEREZ","registrationNumber":"48501","attorneyAddressBag":[{"cityName":"FALLS
      CHURCH","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22040","nameLineOneText":"BIRCH,
      STEWART, KOLASCH AND BIRCH LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      GATEHOUSE ROAD,SUITE 100E"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"703-205-8000","telecom[...]
