interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/documents
  response:
    content: '{"documentBag": [{"applicationNumberText": "16123456", "officialDate":
      "2018-09-06T15:08:26.000-0400", "documentIdentifier": "JLQY2WZNRXEAPX4", "documentCode":
      "ADS", "documentCodeDescriptionText": "Application Data Sheet", "directionCategory":
      "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier": "PDF", "downloadUrl":
      "https://beta-api.uspto.gov/api/v1/download/applications/16123456/JLQY2WZNRXEAPX4.pdf",
      "pageTotalQuantity": 8}]}, {"applicationNumberText": "16123456", "officialDate":
      "2018-09-06T15:08:25.000-0400", "documentIdentifier": "JLXS0Y2CLXEAPX3", "documentCode":
      "TRNA", "documentCodeDescriptionText": "Transmittal of New Application", "directionCategory":
      "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier": "PDF", "downloadUrl":
      "https://beta-api.uspto.gov/api/v1/download/applications/16123456/JLXS0Y2CLXEAPX3.pdf",
      "pageTotalQuantity": 2}]}, {"applicationNumberText": "16123[...]
