interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentBag":[{"foreignPriorityBag":[{"priorityNumberText":"2017-187096","filingDate":"2017-09-27","countryName":"JAPAN"}]}],"requestIdentifier":"d70052c4-f223-4174-a497-16e65081e7a8"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XGsgFHb0IAMFQLQ=
      x-amzn-requestid:
      - d70052c4-f223-4174-a497-16e65081e7a8
    status_code: 200
version: 1
