interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    content: '{"code":404,"message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"244399a0-f826-446f-9423-6cc9ee5e51fa"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 244399a0-f826-446f-9423-6cc9ee5e51fa
      x-amz-apigw-id:
      - YLmsIHlloAMFmjw=
      x-amzn-requestid:
      - 244399a0-f826-446f-9423-6cc9ee5e51fa
    status_code: 404
version: 1
