interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search?q=firstNamedApplicant%3ASTMicroelectronics%20S.A.
  response:
    content: "{\"count\":70188,\"patentBag\":[{\"firstInventorToFileIndicator\":\"Y\",\"applicationStatusCode\":412,\"applicationTypeCode\":\"UTL\",\"filingDate\":\"2024-04-30\",\"class/subclass\":\"455/575.7\",\"recordAttorney\":{\"attorneyBag\":[{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"LAWRENCE\",\"lastName\":\"EISEN\",\"registrationNumber\":\"41009\",\"attorneyAddressBag\":[{\"cityName\":\"GAITHERSBURG\",\"geographicRegionName\":\"MARYLAND\",\"geographicRegionCode\":\"MD\",\"countryCode\":\"US\",\"postalCode\":\"20878\",\"nameLineOneText\":\"EDELL,
      SHAPIRO & FINNAN, LLC\",\"countryName\":\"UNITED STATES\",\"addressLineOneText\":\"9801
      WASHINTONIAN BLVD.,\",\"addressLineTwoText\":\"SUITE 750\"}],\"telecommunicationAddressBag\":[{\"telecommunicationNumber\":\"301-424-3640\",\"telecomTypeCode\":\"TEL\"}],\"registeredPractitionerCategory\":\"ATTNY\"},{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"PEGGY\",\"lastName\":\"SU\",\"registrationNumber\":\"41336\",\"attorneyAddressBag\":[{\"cityName\":\"SAN
      JOSE\",\"geographicRegionName\":\"CALIFORNIA\",\"geographicRegionCode\":\"CA\",\"countryCode\":\"US\",\"postalCode\":\"94086\",\"nameLineOneText\":\"CISCO
      SYSTEMS, INC.\",\"countryName\":\"UNITED STATES\",\"addressLineOneText\":\"170
      W. TASMAN DRIVE\"}],\"telecommunicationAddressBag\":[{\"telecommunicationNumber\":\"408-526-8734\",\"telecomTypeCode\":\"TEL\"}],\"registeredPractitionerCategory\":\"AGENT\"},{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"ALBERT\",\"lastName\":\"FASULO\",\"registrationNumber\":\"43607\",\"attorneyAddressBag\":[{\"cityName\":\"COLUMBIA\",\"geographicRegionName\":\"MARYLAND\",\"geographicRegionCode\":\"MD\",\"countryCode\":\"US\",\"postalCode\":\"21044\",\"nameLineOneText\":\"GARRETT
      IP, LLC\",\"countryName\":\"UNITED STATES\",\"addressLineOneText\":\"10440 LITTLE
      PATUXENT PARKWAY, STE 300\"}],\"nameSuffix\":\"II\",\"telecommunicationAddressBag\":[{\"telecommunicationNumber\":\"410-505-4508\",\"telecomTypeCode\":\"TEL\"}],\"registeredPractitionerCategory\":\"AGENT\"},{\"activeIndicator\":\"ACTIVE\",\"firstName\":\"NATALIYA\",\"lastName\":\"DVORSON\",\"registrationNumber\":\"56616\",\"attorneyAddressBag\":[{\"cityName\":\"WASHINGTON\",\"geographicRegionName\":\"DISTRICT
      OF COLUMBIA\",\"geographicRegionCode\":\"DC\",\"countryCode\":\"US\",\"postalCode\":\"20037\",\"nameLineOneText\":\"SUGHRUE
  [...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/search?q=firstNamedApplicant%3ASTMicroelectronics+S.A.
  response:
    content: "{\"count\":76108,\"patentFileWrapperDataBag\":[{\"eventDataBag\":[{\"eventCode\":\"MRPWP\",\"eventDescriptionText\":\"RX
      - Mail Pilot Waiver Program - Ex Parte  Interview Summary\",\"eventDate\":\"2025-10-21\"},{\"eventCode\":\"MREXO\",\"eventDescriptionText\":\"RX
      - Mail Ex Parte Request for Reexamination Granted\",\"eventDate\":\"2025-10-14\"},{\"eventCode\":\"WROIPE\",\"eventDescriptionText\":\"Application
      Return from OIPE\",\"eventDate\":\"2025-10-07\"},{\"eventCode\":\"COMP\",\"eventDescriptionText\":\"Application
      Is Now Complete\",\"eventDate\":\"2025-10-08\"},{\"eventCode\":\"MRXN\",\"eventDescriptionText\":\"Reexamination
      Formalities Notice Mailed\",\"eve[...]
