interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    content: '{"code":404,"message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"244399a0-f826-446f-9423-6cc9ee5e51fa"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 244399a0-f826-446f-9423-6cc9ee5e51fa
      x-amz-apigw-id:
      - YLmsIHlloAMFmjw=
      x-amzn-requestid:
      - 244399a0-f826-446f-9423-6cc9ee5e51fa
    status_code: 404
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"eventDataBag":[{"eventCode":"IDSC","eventDescriptionText":"Information
      Disclosure Statement considered","eventDate":"2020-10-21"},{"eventCode":"PET.","eventDescriptionText":"Petition
      Entered","eventDate":"2020-07-01"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2018-10-10"},{"eventCode":"MABN2","eventDescriptionText":"Mail
      Abandonment for Failure to Respond to Office Action","eventDate":"2018-10-10"},{"eventCode":"ABN2","eventDescriptionText":"Aband.
      for Failure to Respond to O. A.","eventDate":"2018-10-02"},{"eventCode":"ELC_RVW","eventDescriptionTe[...]
