interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/continuity
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"childContinuityBag":[{"firstInventorToFileIndicator":true,"childApplicationStatusDescriptionText":"Patented
      Case","claimParentageTypeCode":"DIV","childApplicationStatusCode":150,"claimParentageTypeCodeDescription":"is
      a Division of","childPatentNumber":"11797846","parentApplicationNumberText":"16123456","childApplicationFilingDate":"2020-12-22","childApplicationNumberText":"17130468"}],"applicationNumberText":"16123456"}],"requestIdentifier":"9d71435e-6b4b-44b1-a29e-247672d82d78"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en1HYHNEIAMFhyA=
      x-amzn-requestid:
      - 9d71435e-6b4b-44b1-a29e-247672d82d78
    status_code: 200
version: 1
