interactions:
- request:
    body: '{"q": "firstNamedApplicant:STMicroelectronics S.A."}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    body:
      string: "{\"count\":69431,\"patentBag\":[{\"applicationStatusCode\":19,\"applicationTypeCode\":\"DES\",\"filingDate\":\"2024-01-29\",\"recordAttorney\":{\"customerNumber\":{}},\"applicationNumberText\":\"35520002\",\"nationalStageIndicator\":false,\"firstInventorName\":\"Cristina
        Borr\xE0s Marqu\xE9s\",\"effectiveFilingDate\":\"2024-01-29\",\"applicationTypeLabelName\":\"Design\",\"applicationStatusDate\":\"2024-02-16\",\"class\":\"D15\",\"applicationTypeCategory\":\"REGULAR\",\"inventorBag\":[{\"firstName\":\"Cristina\",\"lastName\":\"Marqu\xE9s\",\"inventorNameText\":\"Cristina
        Borr\xE0s Marqu\xE9s\",\"middleName\":\"Borr\xE0s\",\"correspondenceAddressBag\":[{\"cityName\":\"Rubi\",\"countryCode\":\"ES\",\"nameLineOneText\":\"Cristina
        Borr\xE0s Marqu\xE9s\",\"countryName\":\"SPAIN\",\"postalAddressCategory\":\"residence\"},{\"cityName\":\"Rubi,
        Bacelona\",\"countryCode\":\"ES\",\"postalCode\":\"08191\",\"nameLineOneText\":\"Cristina
        Borr\xE0s Marqu\xE9s\",\"countryName\":\"SPAIN\",\"addressLineOneText\":\"ol.
        Industrial Can Roses,\",\"addressLineTwoText\":\"Avda. Olimpiades, s/n.\",\"postalAddressCategory\":\"postal\"}]}],\"patentTermAdjustmentData\":{},\"transactionContentBag\":[{\"recordedDate\":\"2024-01-29\",\"caseActionDescriptionText\":\"Request
        from applicant for the USPTO to retrieve the Priority Document\",\"caseActionCode\":\"PDREQUST\"},{\"recordedDate\":\"2024-02-16\",\"caseActionDescriptionText\":\"Entity
        Status Set To Undiscounted (Initial Default Setting or Status Change)\",\"caseActionCode\":\"BIG.\"},{\"recordedDate\":\"2024-02-16\",\"caseActionDescriptionText\":\"Initial
        Exam Team nn\",\"caseActionCode\":\"IEXX\"},{\"recordedDate\":\"2024-02-16\",\"caseActionDescriptionText\":\"Receipt
        of New Application from I.B. (Hague)\",\"caseActionCode\":\"NWREIBHA\"},{\"recordedDate\":\"2024-02-22\",\"caseActionDescriptionText\":\"Application
        Is Now Complete\",\"caseActionCode\":\"COMP\"},{\"recordedDate\":\"2024-02-22\",\"caseActionDescriptionText\":\"Filing
        Receipt\",\"caseActionCode\":\"FLRCPT.O\"},{\"recordedDate\":\"2024-02-22\",\"caseActionDescriptionText\":\"FITF
        set to YES - revise initial setting\",\"caseActionCode\":\"FTFS\"},{\"recordedDate\":\"2024-02-22\",\"caseActionDescriptionText\":\"Application
        Dispatched from OIPE\",\"caseActionCode\":\"OIPE\"},{\"recordedDate\":\"2024-02-26\",\"caseActionDescriptionText\":\"Priority
        document has successfully retrieved via PDX/DAS\",\"caseActionCode\":\"PD.RECVD\"}],\"applicationStatusDescriptionText\":\"Application
        Undergoing Preexam Processing\",\"businessEntityStatusCategory\":\"Regular
        Undiscounted\",\"continuityBag\":{},\"applicantBag\":[{\"applicant\":\"GERMANS
        BOADA, S.A.\",\"correspondenceAddressBag\":[{\"cityName\":\"Rubi\",\"countryCode\":\"ES\",\"nameLineOneText\":\"GERMANS
        BOADA, S.A.\",\"countryName\":\"SPAIN\"}]}],\"firstApplicantName\":\"GERMANS
        BOADA, S.A.\",\"groupArtUnitNumber\":\"2913\",\"inventionTitle\":\"Electric
        ceramic cutting machine\",\"correspondenceAddressBag\":[{\"cityName\":\"Barcelona\",\"countryCode\":\"ES\",\"postalCode\":\"08008\",\"nameLineOneText\":\"Josep
        Carbonell Callic\xF3\",\"countryName\":\"SPAIN\",\"addressLineOneText\":\"Passeig
        de Gracia 103,  7\xAA planta\"}],\"foreignPriorityBag\":[{\"priorityNumberText\":\"015046156-0001\",\"filingDate\":\"2023-12-29\",\"countryName\":\"European
        Union Intellectual Property Office (EUIPO)\"}],\"applicationConfirmationNumber\":2158,\"smallEntityStatusIndicator\":false,\"publicationCategoryBag\":[\"Other\"]},{\"applicationStatusCode\":20,\"applicationTypeCode\":\"DES\",\"filingDate\":\"2024-01-17\",\"recordAttorney\":{\"customerNumber\":{}},\"applicationNumberText\":\"35519940\",\"nationalStageIndicator\":false,\"firstInventorName\":\"Sandrine
        Fran\xE7oise THIBAUD\",\"effectiveFilingDate\":\"2024-01-17\",\"applicationTypeLabelName\":\"Design\",\"applicationStatusDate\":\"2024-02-21\",\"class\":\"D11\",\"applicationTypeCategory\":\"REGULAR\",\"inventorBag\":[{\"firstName\":\"Sand[...]
