interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/continuity
  response:
    body:
      string: '{"count":1,"patentBag":[{"continuityBag":{"parentContinuityBag":[{"applicationStatusCode":161,"claimParentageTypeCode":"NST","filingDate":"2015-04-23","applicationStatusDescriptionText":"Abandoned  --  Failure
        to Respond to an Office Action","claimParentageTypeCodeDescription":"is a
        National Stage Entry of","parentApplicationNumberText":"PCT/US15/27322","childApplicationNumberText":"15123456"},{"applicationStatusCode":159,"claimParentageTypeCode":"PRO","filingDate":"2014-04-23","applicationStatusDescriptionText":"Provisional
        Application Expired","claimParentageTypeCodeDescription":"Claims priority
        from a provisional application","parentApplicationNumberText":"61983088","childApplicationNumberText":"PCT/US15/27322"}],"childContinuityBag":[{"applicationStatusCode":160,"claimParentageTypeCode":"CON","filingDate":"2018-09-14","applicationStatusDescriptionText":"Abandoned  --  Incomplete
        Application (Pre-examination)","claimParentageTypeCodeDescription":"is a Continuation
        of","parentApplicationNumberText":"15123456","childApplicationNumberText":"16132008"}]}}],"requestIdentifier":"32678e90-bb43-44c6-a3f9-8752fa82f4d0"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WBv7JEpAoAMFlIw=
      x-amzn-RequestId:
      - 32678e90-bb43-44c6-a3f9-8752fa82f4d0
    status:
      code: 200
      message: OK
version: 1
