interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    body:
      string: '{"count":1,"patentBag":[{"transactionContentBag":[{"recordedDate":"2016-09-02","caseActionDescriptionText":"Initial
        Exam Team nn","caseActionCode":"IEXX"},{"recordedDate":"2016-09-02","caseActionDescriptionText":"Entity
        Status Set To Undiscounted (Initial Default Setting or Status Change)","caseActionCode":"BIG."},{"recordedDate":"2016-09-02","caseActionDescriptionText":"Information
        Disclosure Statement (IDS) Filed","caseActionCode":"WIDS"},{"recordedDate":"2016-12-01","caseActionDescriptionText":"Applicant
        Has Filed a Verified Statement of Small Entity Status in Compliance with 37
        CFR 1.27","caseActionCode"[...]
