interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    body:
      string: '{"count":1,"patentBag":[{"foreignPriorityBag":[{"priorityNumberText":"2017-187096","filingDate":"2017-09-27","countryName":"JAPAN"}]}],"requestIdentifier":"bb2efccd-9eb4-470f-9717-27f15c6473e4"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WBv7LFnZIAMFpDw=
      x-amzn-RequestId:
      - bb2efccd-9eb4-470f-9717-27f15c6473e4
    status:
      code: 200
      message: OK
version: 1
