interactions:
- request:
    body: '{"start": 15, "pageCount": 1, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24097224, "hl_snippets": "2", "op": "OR", "q": "@PD>=20100101<=20101231
      AND \"tennis\".TTL.", "queryName": "@PD>=20100101<=20101231 AND \"tennis\".TTL.",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "@PD>=20100101<=20101231 AND \"tennis\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":1,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":24097224,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"@PD>=20100101<=20101231
      AND \"tennis\".TTL.","queryName":"@PD>=20100101<=20101231 AND \"tennis\".TTL.","userEnteredQuery":"@PD>=20100101<=20101231
      AND \"tennis\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"@PD>=20100101<=20101231
      AND \"tennis\".TTL.","error":null,"terms":["\"tennis\"","@pd","\"tenni\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":31,"highlightingTime":0,"cursorMarker":null,"totalResults":1,"numberOfFamilies":21,"error":null,"patents":[{"guid":"US-7691013-B2","publicationReferenceDocumentNumber":"7691013","compositeId":"38088266!US-US-07691013","publicationReferenceDocumentNumber1":"07691013","datePublishedKwicHits":null,"datePublished":"2010-04-06T00:00:00Z","inventionTitle":"Method
      and device for <span term=\"\"tennis\"\" class=\"highlight18\">tennis</span>
      training","type":"USPAT","mainClassificationCode":"473/459","applicantName":null,"assigneeName":["Steven
      A Emerson"],"uspcFullClassificationFlattened":"473/430;473/423;473/424;473/429","ipcCodeFlattened":"A63B69/38","cpcInventiveFlattened":"A63B69/0088;A63B69/38;A63B69/385","cpcAdditionalFlattened":"A63B2208/12;A63B69/0079","applicationFilingDate":["2006-11-29T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2005-11-29T00:00:00Z","2006-07-21T00:00:00Z"],"primaryExaminer":"Chiu;
      Raleigh W.","assistantExaminer":null,"applicationNumber":"11/605414","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":16,"specificationStart":17,"specificationEnd":20,"claimsStart":20,"claimsEnd":21,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":21,"pageCountDisplay":"21","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/07/691/013","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Emerson;
      Steve","familyIdentifierCur":38088266,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      7691013 B2","derwentAccessionNumber":null,"documentSize":48993,"score":14.651731,"governmentInterest":null,"kindCode":["B2"],"urpn":["2942883","3531115","3593998","3731925","3948517","3994494","4023298","4032145","4079934","4243221","4577864","5011143","5433435","5458327","5467978","5492321","6099419","6142889","6786841","6837808","7115051","2003/0224880","2006/0014597","2006/0035730","2006/0293124","2007/0202968","2007/0238556","2009/0075763"],"urpnCode":["2942883","3531115","3593998","3731925","3948517","3994494","4023298","4032145","4079934","4243221","4577864","5011143","5433435","5458327","5467978","5492321","6099419","6142889","6786841","6837808","7115051","2003/0224880","2006/0014597","2006/0035730","2006/0293124","2007/0202968","2007/0238556","2009/0075763"],"descriptionStart":17,"descriptionEnd":20,"publicationReferenceDocumentNumberOne":"07691013"}],"qtime":19}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
