interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23892567, "hl_snippets": "2", "op": "OR", "q": "\"RE43633\".PN.",
      "queryName": "\"RE43633\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"RE43633\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23892567,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"RE43633\".PN.","queryName":"\"RE43633\".PN.","userEnteredQuery":"\"RE43633\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"RE43633\".PN.","error":null,"terms":["\"re43633\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":61,"highlightingTime":0,"cursorMarker":"AoJwwPKkx7kCNzIyNzI4Mjg4IVVTLVVTLVJFMDQzNjMz","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-RE43633-E","publicationReferenceDocumentNumber":"RE43633","compositeId":"22728288!US-US-RE043633","publicationReferenceDocumentNumber1":"RE043633","datePublishedKwicHits":null,"datePublished":"2012-09-04T00:00:00Z","inventionTitle":"System
      and method for linking streams of multimedia data to reference material for
      display","type":"USPAT","mainClassificationCode":"704/3","applicantName":null,"assigneeName":["Sentius
      International LLC"],"uspcFullClassificationFlattened":"345/157;704/10;704/9;707/999.003;715/255;707/758;704/1;345/160;715/856","ipcCodeFlattened":"G06F17/30;G06F17/28","cpcInventiveFlattened":"G09B19/06;G09B5/065","cpcAdditionalFlattened":null,"applicationFilingDate":["2009-06-08T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2005-02-24T00:00:00Z","1994-02-16T00:00:00Z"],"primaryExaminer":"Hudspeth;
      David","assistantExaminer":["Spooner; Lamont"],"applicationNumber":"12/480556","frontPageStart":1,"frontPageEnd":4,"drawingsStart":5,"drawingsEnd":9,"specificationStart":10,"specificationEnd":15,"claimsStart":15,"claimsEnd":22,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":4,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":22,"pageCountDisplay":"22","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/RE/043/633","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Bookman;
      Marc et al.","familyIdentifierCur":22728288,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      RE43633 E","derwentAccessionNumber":null,"documentSize":197845,"score":14.104305,"governmentInterest":null,"kindCode":["E"],"urpn":["3872448","4136395","4318184","4384288","4651300","4674065","4689768","4742481","4773009","4817050","4837797","4864501","4868743","4868750","4887212","4893270","4914586","4945476","4958283","4980855","4982344","4994966","5020019","5065315","5088052","5128865","5146439","5146552","5151857","5157606","5204947","5214583","5218697","5222160","5226117","5233513","5241671","5253362","5256067","5267155","5289376","5297249","5303151","5319711","5329446","5331555","5337233","5349368","5351190","5361202"[...]
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-RE43633-E/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-RE43633-E","publicationReferenceDocumentNumber":"RE43633","compositeId":"22728288!US-US-RE043633","publicationReferenceDocumentNumber1":"RE043633","datePublishedKwicHits":null,"datePublished":"2012-09-04T00:00:00Z","inventionTi[...]
