interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24097224, "hl_snippets": "2", "op": "OR", "q": "\"8645300\".PN.",
      "queryName": "\"8645300\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"8645300\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":24097224,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"8645300\".PN.","queryName":"\"8645300\".PN.","userEnteredQuery":"\"8645300\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"8645300\".PN.","error":null,"terms":["\"8645300\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":28,"highlightingTime":0,"cursorMarker":"AoJwwLeM/cMCNzUwMDAxNzkzIVVTLVVTLTA4NjQ1MzAw","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-8645300-B1","publicationReferenceDocumentNumber":"8645300","compositeId":"50001793!US-US-08645300","publicationReferenceDocumentNumber1":"08645300","datePublishedKwicHits":null,"datePublished":"2014-02-04T00:00:00Z","inventionTitle":"System
      and method for intent data processing","type":"USPAT","mainClassificationCode":"706/46","applicantName":["Cowdrey;
      Russell","Cone; Jason","Cranford; Brad"],"assigneeName":["Usability Sciences
      Corporation"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"G06N5/04","cpcInventiveFlattened":"G06F16/95;G06Q30/02","cpcAdditionalFlattened":null,"applicationFilingDate":["2011-07-20T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Gaffin;
      Jeffrey A","assistantExaminer":["Misir; Dave"],"applicationNumber":"13/186787","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":10,"specificationStart":11,"specificationEnd":19,"claimsStart":19,"claimsEnd":20,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":20,"pageCountDisplay":"20","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/08/645/300","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Cowdrey;
      Russell et al.","familyIdentifierCur":50001793,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      8645300 B1","derwentAccessionNumber":null,"documentSize":80647,"score":14.095559,"governmentInterest":null,"kindCode":["B1"],"urpn":["6093026","6895437","6993586","7013285","7487435","2008/0086559","2009/0210806","2010/0023475","2010/0106703","2010/0131835","2011/0047120","2011/0246406","2011/0320440","2012/0123857","2012/0215664","2012/0254149","2012/0284597"],"urpnCode":["6093026","6895437","6993586","7013285","7487435","2008/0086559","2009/0210806","2010/0023475","2010/0106703","2010/0131835","2011/0047120","2011/0246406","2011/0320440","2012/0123857","2012/0215664","2012/0254149","2012/0284597"],"descriptionStart":11,"descriptionEnd":19,"publicationReferenceDocumentNumberOne":"08645300"}],"qtime":13}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-8645300-B1/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-8645300-B1","publicationReferenceDocumentNumber":"8645300","compositeId":"50001793!US-US-08645300","publicationReferenceDocumentNumber1":"08645300","datePublishedKwicHits":null,"datePublished":"2014-02-04T00:00:00Z","invention[...]
