interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23892567, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":500,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":23892567,\"numResults\":500,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"USPAT\",\"countryCodes\":[]}],\"q\":\"\\\"system\\\".TTL.\",\"queryName\":\"\\\"system\\\".TTL.\",\"userEnteredQuery\":\"\\\"system\\\".TTL.\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"system\\\".TTL.\",\"error\":null,\"terms\":[\"\\\"system\\\"\",\"\\\"systems\\\"\"],\"facets\":[],\"pNumber\":null,\"hl_fl\":null},\"duration\":203,\"highlightingTime\":1,\"cursorMarker\":\"AoJwgIbF04sDPDEwMDAwMDc0MjMyNTEhVVMtVVMtMTE4MDk5ODg=\",\"totalResults\":500,\"numberOfFamilies\":1166054,\"error\":null,\"patents\":[{\"guid\":\"US-11810095-B1\",\"publicationReferenceDocumentNumber\":\"11810095\",\"compositeId\":\"1000000323947!US-US-11810095\",\"publicationReferenceDocumentNumber1\":\"11810095\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-11-07T00:00:00Z\",\"inventionTitle\":\"<span
      term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">System</span> and method
      for mobile payments\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"Charles
      Schwab &amp; Co., Inc.\"],\"assigneeName\":[\"Charles Schwab &amp; Co., Inc.\"],\"uspcFullClassificationFlattened\":null,\"ipcCodeFlattened\":\"G06Q20/32;G06Q20/04;G06K7/00\",\"cpcInventiveFlattened\":\"G06Q20/04;G06Q20/32\",\"cpcAdditionalFlattened\":\"G06K7/00\",\"applicationFilingDate\":[\"2013-02-19T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":[\"2012-02-19T00:00:00Z\"],\"primaryExaminer\":\"Shrestha;
      Bijendra K\",\"assistantExaminer\":null,\"applicationNumber\":\"13/770160\",\"frontPageStart\":1,\"frontPageEnd\":2,\"drawingsStart\":3,\"drawingsEnd\":7,\"specificationStart\":8,\"specificationEnd\":17,\"claimsStart\":17,\"claimsEnd\":19,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":2,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":19,\"pageCountDisplay\":\"19\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"uspat/US/G95/100/118\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"Konstantinides;
      Konstantinos P. et al.\",\"familyIdentifierCur\":1000000323947,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"USPT\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":null,\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      11810095 B1\",\"derwentAccessionNumber\":null,\"documentSize\":109554,\"score\":3.8069508,\"governmentInterest\":null,\"kindCode\":[\"B1\"],\"urpn\":[\"5600565\",\"6208973\",\"6311170\",\"7637436\",\"7970661\",\"8094870\",\"8326769\",\"8412626\",\"8423457\",\"8774781\",\"9836780\",\"20030200118\",\"20050102242\",\"20050125301\",\"20060229984\",\"20080086420\",\"20090106154\",\"20100106643\",\"20100142704\",\"20110208600\",\"20120036028\",\"20120136796\",\"20120166332\",\"20120173350\",\"20120290480\",\"20130085931\",\"20200106643\"],\"urpnCode\":[\"5600565\",\"6208973\",\"6311170\",\"7637436\",\"7970661\",\"8094870\",\"8326769\",\"8412626\",\"8423457\",\"8774781\",\"9836780\",\"20030200118\",\"20050102242\",\"20050125301\",\"20060229984\",\"20080086420\",\"20090106154\",\"20100106643\",\"20100142704\",\"20110208600\",\"20120036028\",\"20120136796\",\"20120166332\",\"20120173350\",\"20120290480\",\"20130085931\",\"20200106643\"],\"descriptionStart\":8,\"descriptionEnd\":17,\"publicationReferenceDocumentNumberOne\":\"11810095\"},{\"guid\":\"US-11810044-B1\",\"publicationReferenceDocumentNumber\":\"11810044\",\"compositeId\":\"1000002737171!US-US-11810044\",\"publicationReferenceDocumentNumber1\":\"11810044\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-11-07T00:00:00Z\",\"inventionTitle\":\"<span
      term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">System</span> and method
      of providing a supply chain digital hub\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName[...]
