interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24097224, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":500,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":24097224,\"numResults\":500,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"USPAT\",\"countryCodes\":[]}],\"q\":\"\\\"system\\\".TTL.\",\"queryName\":\"\\\"system\\\".TTL.\",\"userEnteredQuery\":\"\\\"system\\\".TTL.\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"system\\\".TTL.\",\"error\":null,\"terms\":[\"\\\"system\\\"\",\"\\\"systems\\\"\"],\"facets\":[],\"pNumber\":null,\"hl_fl\":null},\"duration\":181,\"highlightingTime\":1,\"cursorMarker\":\"AoJwgMjRm4wDPDEwMDAwMDc0ODEyOTMhVVMtVVMtMTE4MzMyOTE=\",\"totalResults\":500,\"numberOfFamilies\":1169708,\"error\":null,\"patents\":[{\"guid\":\"US-11837367-B1\",\"publicationReferenceDocumentNumber\":\"11837367\",\"compositeId\":\"1000002065907!US-US-11837367\",\"publicationReferenceDocumentNumber1\":\"11837367\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-12-05T00:00:00Z\",\"inventionTitle\":\"Computing
      <span term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">system</span> configured
      for aggregating and displaying data\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"Allscripts
      Software, LLC\"],\"assigneeName\":[\"ALLSCRIPTS SOFTWARE, LLC\"],\"uspcFullClassificationFlattened\":null,\"ipcCodeFlattened\":\"G16H80/00;G16H10/60\",\"cpcInventiveFlattened\":\"G16H40/63;G16H80/00;G16H50/20;G16H20/10;G16H10/60\",\"cpcAdditionalFlattened\":null,\"applicationFilingDate\":[\"2016-07-20T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":null,\"primaryExaminer\":\"Tiedeman;
      Jason S\",\"assistantExaminer\":null,\"applicationNumber\":\"15/215270\",\"frontPageStart\":1,\"frontPageEnd\":2,\"drawingsStart\":3,\"drawingsEnd\":19,\"specificationStart\":20,\"specificationEnd\":30,\"claimsStart\":30,\"claimsEnd\":33,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":2,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":33,\"pageCountDisplay\":\"33\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"uspat/US/G67/373/118\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"Bower;
      Scott et al.\",\"familyIdentifierCur\":1000002065907,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"USPT\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":null,\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      11837367 B1\",\"derwentAccessionNumber\":null,\"documentSize\":125757,\"score\":3.5708532,\"governmentInterest\":null,\"kindCode\":[\"B1\"],\"urpn\":[\"8015034\",\"8060377\",\"20110161110\",\"20110246220\",\"20120221352\",\"20120290322\",\"20130110537\",\"20130179178\",\"20150051917\",\"20150051922\",\"20150088536\",\"20150269344\",\"20150379204\",\"20160085927\",\"20160098536\",\"20160098538\",\"20160188821\"],\"urpnCode\":[\"8015034\",\"8060377\",\"20110161110\",\"20110246220\",\"20120221352\",\"20120290322\",\"20130110537\",\"20130179178\",\"20150051917\",\"20150051922\",\"20150088536\",\"20150269344\",\"20150379204\",\"20160085927\",\"20160098536\",\"20160098538\",\"20160188821\"],\"descriptionStart\":20,\"descriptionEnd\":30,\"publicationReferenceDocumentNumberOne\":\"11837367\"},{\"guid\":\"US-11833098-B1\",\"publicationReferenceDocumentNumber\":\"11833098\",\"compositeId\":\"1000003449450!US-US-11833098\",\"publicationReferenceDocumentNumber1\":\"11833098\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-12-05T00:00:00Z\",\"inventionTitle\":\"<span
      term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">System</span> and method
      for knee rehabilitation\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"Keiser;
  [...]
