interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordStartNumber=0&recordTotalQuantity=3&sortOrderCategory=
  response:
    content: '{"aggregationData":{},"results":[{"proceedingFilingDate":"09-23-1998","proceedingStatusCategory":"Decision","proceedingNumber":"1998003162","proceedingLastModifiedDate":"11-02-2020","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"1700","respondentPartyName":"KAPPLER
      et al","respondentGroupArtUnitNumber":"1713","respondentPatentNumber":"6448328","respondentApplicationNumberText":"08453149","decisionDate":"11-27-2001","appellantTechnologyCenterNumber":"1700","appellantPatentOwnerName":"KAPPLER
      et al","appellantPartyName":"KAPPLER et al","appellantGroupArtUnitNumber":"1713","appellantInventorName":"KAPPLER
      et al","appellantCounselName":"PENNIE & EDMONDS","appellantGrantDate":"09-10-2002","appellantPatentNumber":"6448328","appellantApplicationNumberText":"08453149","additionalRespondentPartyDataBag":[]},{"proceedingFilingDate":"06-15-2000","proceedingStatusCategory":"Decision","proceedingNumber":"2000001619","proceedingLastModifiedDate":"06-15-2000","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"2800","respondentPartyName":"APPLETON","respondentGroupArtUnitNumber":"2873","respondentPatentNumber":"6491393","respondentApplicationNumberText":"08977107","decisionDate":"08-30-2002","appellantTechnologyCenterNumber":"2800","appellantPat[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordStartNumber=2&recordTotalQuantity=3&sortOrderCategory=
  response:
    content: '{"aggregationData":{},"results":[{"proceedingFilingDate":"09-19-2002","proceedingStatusCategory":"Decision","proceedingNumber":"2003000028","proceedingLastModifiedDate":"10-29-2002","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"3600","respondentPartyName":"APPLETON
      et al","respondentGroupArtUnitNumber":"3671","respondentPatentNumber":"6655477","respondentApplicationNumberText":"09029509","decisionDate":"10-29-2002","appellantTechnologyCenterNumber":"3600","appellantPatentOwnerName":"APPLETON
      et al","appellantPartyName":"APPLETON et al","appellantGroupArtUnitNumber":"3671","appellantInventorName":"APPLETON
      et al","appellantCounselName":"DINSMORE & SHOHL LLP","appellantGrantDate":"12-02-2003","appellantPatentNumber":"6655477","appellantApplicationNumberText":"09029509","appellantPublicationDate":"02-28-2002","appellantPublicationNumber":"20020023782A1","docketNoticeMailDate":"10-11-2002","additionalRespondentPartyDataBag":[]},{"proceedingFilingDate":"02-04-2003","proceedingStatusCategory":"Decision","proceedingNumber":"2003000712","proceedingLastModifiedDate":"10-15-2003","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"3600","respondentPartyName":"APPLE
      et al","respondentGroupArtUnitNumber":"3652","respondentApplicationNumberText":"09451574","decisionDate":"10-15-2003","appellantTechnologyCenterNumber[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordStartNumber=0&recordTotalQuantity=1&sortOrderCategory=
  response:
    content: '{"aggregationData":{},"results":[{"proceedingFilingDate":"09-23-1998","proceedingStatusCategory":"Decision","proceedingNumber":"1998003162","proceedingLastModifiedDate":"11-02-2020","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"1700","respondentPartyName":"KAPPLER
      et al","respondentGroupArtUnitNumber":"1713","respondentPatentNumber":"6448328","respondentApplicationNumberText":"08453149","decisionDate":"11-27-2001","appellantTechnologyCenterNumber":"1700","appellantPatentOwnerName":"KAPPLER
      et al","appellantPartyName":"KAPPLER et al","appellantGroupArtUnitNumber":"1713","appellantInventorName":"KAPPLER
      et al","appellantCounselName":"PENNIE & EDMONDS","appellantGrantDate":"09-10-2002","appellantPatentNumber":"6448328","appellantApplicationNumberText":"08453149","additionalRespondentPartyDataBag":[]}],"recordTotalQuantity":1337}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordStartNumber=2&recordTotalQuantity=1&sortOrderCategory=
  response:
    content: '{"aggregationData":{},"results":[{"proceedingFilingDate":"09-19-2002","proceedingStatusCategory":"Decision","proceedingNumber":"2003000028","proceedingLastModifiedDate":"10-29-2002","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"3600","respondentPartyName":"APPLETON
      et al","respondentGroupArtUnitNumber":"3671","respondentPatentNumber":"6655477","respondentApplicationNumberText":"09029509","decisionDate":"10-29-2002","appellantTechnologyCenterNumber":"3600","appellantPatentOwnerName":"APPLETON
      et al","appellantPartyName":"APPLETON et al","appellantGroupArtUnitNumber":"3671","appellantInventorName":"APPLETON
      et al","appellantCounselName":"DINSMORE & SHOHL LLP","appellantGrantDate":"12-02-2003","appellantPatentNumber":"6655477","appellantApplicationNumberText":"09029509","appellantPublicationDate":"02-28-2002","appellantPublicationNumber":"20020023782A1","docketNoticeMailDate":"10-11-2002","additionalRespondentPartyDataBag":[]}],"recordTotalQuantity":1337}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
