interactions:
- request:
    body: '{"recordStartNumber": 0, "recordTotalQuantity": 3, "sortDataBag": [], "searchText":
      "partyName:(\"Apple\")"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://developer.uspto.gov/ptab-api/proceedings/json
  response:
    content: '{"aggregationData":{"proceedingTypeCategory":[{"name":"AIA Trial","quantity":916,"nestedFacetTypeName":"subproceedingTypeCategory","nestedFacetBag":[{"name":"IPR","quantity":857},{"name":"CBM","quantity":55},{"name":"PGR","quantity":4}]},{"name":"Appeal","quantity":501,"nestedFacetTypeName":"subproceedingTypeCategory","nestedFacetBag":[{"name":"REGULAR","quantity":492},{"name":"REEXAM","quantity":8},{"name":"REISSUE","quantity":1}]}],"respondentTechnologyCenterNumber":[{"name":"2600","quantity":505,"nestedFacetTypeName":"respondentGroupArtUnitNumber","nestedFacetBag":[{"name":"2641","quantity":29},{"name":"2646","quantity":29},{"name":"2611","quantity":24},{"name":"2623","quantity":20},{"name":"2626","quantity":17},{"name":"2625","quantity":16},{"name":"2652","quantity":15},{"name":"2616","quantity":14},{"name":"2621","quantity":14},{"name":"2644","quantity":13},{"name":"2656","quantity":12},{"name":"2612","quantity":10},{"name":"2614","quantity":10},{"name":[...]
[...]
