interactions:
- request:
    body: '{"q": "applicationMetaData.firstInventorName:\"Shoji KANADA\" AND applicationMetaData.customerNumber:2292",
      "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":8,"patentFileWrapperDataBag":[{"applicationNumberText":"17130468"},{"applicationNumberText":"16123456"},{"applicationNumberText":"15928596"},{"applicationNumberText":"15834895"},{"applicationNumberText":"15447871"},{"applicationNumberText":"15221900"},{"applicationNumberText":"15162932"},{"applicationNumberText":"15151728"}],"requestIdentifier":"cce0b038-4815-4d68-8fb5-da2f5202933d"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Rhm9sGhboAMF47A=
      x-amzn-requestid:
      - cce0b038-4815-4d68-8fb5-da2f5202933d
    status_code: 200
version: 1
