interactions:
- request:
    body: '{"fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":12453900,"patentFileWrapperDataBag":[{"applicationNumberText":"19337135"},{"applicationNumberText":"90015537"},{"applicationNumberText":"90015536"},{"applicationNumberText":"90015538"},{"applicationNumberText":"90015524"},{"applicationNumberText":"90015535"},{"applicationNumberText":"18247550"},{"applicationNumberText":"90015529"},{"applicationNumberText":"18874830"},{"applicationNumberText":"19335196"},{"applicationNumberText":"90015514"},{"applicationNumberText":"19333667"},{"applicationNumberText":"90015528"},{"applicationNumberText":"90015526"},{"applicationNumberText":"18876974"},{"applicationNumberText":"90015527"},{"applicationNumberText":"90015525"},{"applicationNumberText":"18868149"},{"applicationNumberText":"18865418"},{"applicationNumberText":"90015511"},{"applicationNumberText":"19332996"},{"applicationNumberText":"90015522"},{"applicationNumberText":"18721513"},{"applicationNumberText":"90015523"},{"applicationNumberText":"18868452"}],"requestIdentifier":"c7297584-fcc5-49a3-bcbe-4280173ff1cc"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Rhm9aFonoAMFaOA=
      x-amzn-requestid:
      - c7297584-fcc5-49a3-bcbe-4280173ff1cc
    status_code: 200
version: 1
