interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"0e2881d9-c089-470c-ae56-2a8d9e4deae2"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Rhm9gE94oAMFWug=
      x-amzn-requestid:
      - 0e2881d9-c089-470c-ae56-2a8d9e4deae2
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456","correspondenceAddressBag":[{"cityName":"Vienna","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22180-7371","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"2600
      Park Tower Drive","addressLineTwoText":"Suite 600"}]}],"requestIdentifier":"53539f19-3546-47f3-adeb-f65a63f50e70"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Rhm9iH6GIAMFqQw=
      x-amzn-requestid:
      - 53539f19-3546-47f3-adeb-f65a63f50e70
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:(16123456)", "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"message":"Too Many Requests"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Rhm9jHEAoAMFqQA=
      x-amzn-errortype:
      - TooManyRequestsException
      x-amzn-requestid:
      - d9af5d6f-0b92-420c-a386-ddc60a4c0025
    status_code: 429
version: 1
