interactions:
- request:
    body: '{"q": "applicationMetaData.customerNumber:2292", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":89377,"patentFileWrapperDataBag":[{"applicationNumberText":"18869697"},{"applicationNumberText":"18869712"},{"applicationNumberText":"18867303"},{"applicationNumberText":"19319333"},{"applicationNumberText":"18864046"},{"applicationNumberText":"18865046"},{"applicationNumberText":"18864031"},{"applicationNumberText":"19299178"},{"applicationNumberText":"18859457"},{"applicationNumberText":"19291444"},{"applicationNumberText":"18860312"},{"applicationNumberText":"18870801"},{"applicationNumberText":"35526045"},{"applicationNumberText":"18857274"},{"applicationNumberText":"19261774"},{"applicationNumberText":"18703266"},{"applicationNumberText":"18708075"},{"applicationNumberText":"19244960"},{"applicationNumberText":"35525922"},{"applicationNumberText":"18857531"},{"applicationNumberText":"18700654"},{"applicationNumberText":"18859304"},{"applicationNumberText":"19233613"},{"applicationNumberText":"19233634"},{"applicationNumberText":"19232101"}],"requestIdentifier":"d0119707-5b89-4faa-906b-e78f2ae064c5"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Rhm9tEGGoAMFUWg=
      x-amzn-requestid:
      - d0119707-5b89-4faa-906b-e78f2ae064c5
    status_code: 200
version: 1
