interactions:
- request:
    body: '{"dateRangeData": null, "parameterData": null, "facetData": null, "recordStartNumber":
      0, "recordTotalQuantity": 1, "sortDataBag": [], "searchText": "proceedingNumber:(\"IPR2016-00831\")",
      "actionDownload": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://developer.uspto.gov/ptab-api/documents/json
  response:
    content: "{\"aggregationData\":{\"proceedingTypeCategory\":[{\"name\":\"AIA Trial\",\"quantity\":77,\"nestedFacetTypeName\":\"subproceedingTypeCategory\",\"nestedFacetBag\":[{\"name\":\"IPR\",\"quantity\":77}]}],\"respondentTechnologyCenterNumber\":[{\"name\":\"2800\",\"quantity\":77,\"nestedFacetBag\":[]}],\"documentTypeName\":[{\"name\":\"EXHIBIT\",\"quantity\":40},{\"name\":\"Motion\",\"quantity\":8},{\"name\":\"Order\",\"quantity\":8},{\"name\":\"Notice\",\"quantity\":4},{\"name\":\"Order
      Conduct of Proceeding\",\"quantity\":3},{\"name\":\"Notice of Deposition\",\"quantity\":2},{\"name\":\"Other\",\"quantity\":2},{\"name\":\"Petition\",\"quantity\":2},{\"name\":\"Power
      of Attorney\",\"quantity\":2},{\"name\":\"Institution Decision\",\"quantity\":1},{\"name\":\"Notice
      of Filing Date Accorded to Petition\",\"quantity\":1},{\"name\":\"Objection\",\"quantity\":1},{\"name\":\"Preliminary
      Response\",\"quantity\":1},{\"name\":\"Reply\",\"quantity\":1},{\"name\":\"Termination
      - Settlement After Institution\",\"quantity\":1}],\"filingPartyCategory\":[{\"name\":\"PETITIONER\",\"quantity\":18},{\"name\":\"PATENT
      OWNER\",\"quantity\":11},{\"name\":\"BOARD\",\"quantity\":2}],\"documentCategory\":[{\"name\":\"Exhibits\",\"quantity\":40},{\"name\":\"Paper\",\"quantity\":37}]},\"results\":[{\"documentNumber\":\"39\",\"documentName\":\"IPR2016-00831
      -832 -833 Decision on Motion to Terminate.pdf\",\"documentCategory\":\"Paper\",\"documentTitleText\":\"DECISION
      - Motion to Terminate\",\"proceedingNumber\":\"IPR2016-00831\",\"documentFilingDate\":\"07-06-2017\",\"documentTypeName\":\"Termination
      - Settlement After Institution\",\"proceedingTypeCategory\":\"AIA Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentIdentifier\":\"169514971\",\"objectUuId\":\"workspace://SpacesStore/4d7af7ba-623e-49fa-ad9e-688ca7274c28;1.0\",\"respondentTechnologyCenterNumber\":\"2800\",\"respondentPatentOwnerName\":\"Silicon
      Genesis Corporation\",\"respondentPartyName\":\"Silicon Genesis Corporation\",\"respondentInventorName\":\"FRANCOIS
      HENLEY\",\"respondentCounselName\":\"Margaux Nair\",\"respondentGrantDate\":\"12-19-2000\",\"respondentPatentNumber\":\"6162705\",\"respondentApplicationNumberText\":\"09026118\",\"petitionerPartyName\":\"Commissariat
      a l\u2019Energie Atomique et aux Energies Alternatives\",\"petitionerCounselName\":\"Paul
      McGowan\",\"additionalRespondentPartyDataBag\":[]}],\"recordTotalQuantity\":77}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
