interactions:
- request:
    body: '{"recordStartNumber": 0, "recordTotalQuantity": 1, "sortDataBag": [], "searchText":
      "applicationNumberText:(\"09089931\")"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://developer.uspto.gov/ptab-api/proceedings/json
  response:
    content: "{\"aggregationData\":{\"proceedingTypeCategory\":[{\"name\":\"AIA Trial\",\"quantity\":1,\"nestedFacetTypeName\":\"subproceedingTypeCategory\",\"nestedFacetBag\":[{\"name\":\"IPR\",\"quantity\":1}]}],\"respondentTechnologyCenterNumber\":[{\"name\":\"2800\",\"quantity\":1,\"nestedFacetBag\":[]}],\"proceedingStatusCategory\":[{\"name\":\"Terminated-Settled\",\"quantity\":1}]},\"results\":[{\"institutionDecisionDate\":\"09-28-2016\",\"proceedingFilingDate\":\"04-01-2016\",\"accordedFilingDate\":\"04-01-2016\",\"proceedingStatusCategory\":\"Terminated-Settled\",\"proceedingNumber\":\"IPR2016-00833\",\"proceedingLastModifiedDate\":\"07-06-2017\",\"proceedingTypeCategory\":\"AIA
      Trial\",\"subproceedingTypeCategory\":\"IPR\",\"respondentTechnologyCenterNumber\":\"2800\",\"respondentPatentOwnerName\":\"Silicon
      Genesis Corporation\",\"respondentPartyName\":\"Silicon Genesis Corporation\",\"respondentInventorName\":\"FRANCOIS
      HENLEY\",\"respondentCounselName\":\"Margaux Nair\",\"respondentGrantDate\":\"08-15-2000\",\"respondentPatentNumber\":\"6103599\",\"respondentApplicationNumberText\":\"09089931\",\"petitionerPartyName\":\"Commissariat
      a l\u2019Energie Atomique et aux Energies Alternatives\",\"petitionerCounselName\":\"Paul
      McGowan\",\"decisionDate\":\"07-06-2017\",\"additionalRespondentPartyDataBag\":[]}],\"recordTotalQuantity\":1}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
