interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordStartNumber=0&recordTotalQuantity=1&sortOrderCategory=
  response:
    content: '{"aggregationData":{},"results":[{"proceedingFilingDate":"09-23-1998","proceedingStatusCategory":"Decision","proceedingNumber":"1998003162","proceedingLastModifiedDate":"11-02-2020","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"1700","respondentPartyName":"KAPPLER
      et al","respondentGroupArtUnitNumber":"1713","respondentPatentNumber":"6448328","respondentApplicationNumberText":"08453149","decisionDate":"11-27-2001","appellantTechnologyCenterNumber":"1700","appellantPatentOwnerName":"KAPPLER
      et al","appellantPartyName":"KAPPLER et al","appellantGroupArtUnitNumber":"1713","appellantInventorName":"KAPPLER
      et al","appellantCounselName":"PENNIE & EDMONDS","appellantGrantDate":"09-10-2002","appellantPatentNumber":"6448328","appellantApplicationNumberText":"08453149","additionalRespondentPartyDataBag":[]}],"recordTotalQuantity":1437}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
