interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "patentNumber:(6095661)", "sort": "applId
      asc", "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Dec 10 23:46:36 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":666},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"09044559","assignments":[{"reelNumber":"9059","frameNumber":"227","addressNameText":"SCHWEGMAN,
      LUNDBERG, WOESSNER & KLUTH","addressLineOneText":"CHARLES A. LEMAIRE","addressLineTwoText":"P.O.
      BOX 2938","addressLineThreeText":"MINNEAPOLIS, MN  55402","addressLineFourText":"null","mailDate":"07-22-1998","receivedDate":"04-06-1998","recordedDate":"03-19-1998","pagesCount":"4","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"LEBENS,
      GARY A.","execDate":"03-19-1998"},{"assignorName":"BOURN, CHARLES","execDate":"03-19-1998"},{"assignorName":"LEMAIRE,
      CHARLES A.","execDate":"03-19-1998"}],"assignee":[{"assigneeName":"PPT VISION,
      INC.","streetLineOneText":"null","streetLineTwoText":"10321 WEST 70TH STREET","cityName":"EDEN
      PRAIRIE","countryCode":"MINNESOTA","postalCode":"55344"}]},{"reelNumber":"15953","frameNumber":"969","addressNameText":"CHARLES
      A. LEMAIRE","addressLineOneText":"LEMAIRE PATENT LAW FIRM, P.L.L.C.","addressLineTwoText":"P.O.
      BOX 11358","addressLineThreeText":"ST. PAUL, MN 55111","addressLineFourText":"null","mailDate":"04-29-2005","receivedDate":"11-10-2004","recordedDate":"11-08-2004","pagesCount":"2","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignor[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "patentNumber:(6095661)", "sort": "applId
      asc", "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Dec 10 23:45:25 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":811},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"09044559","assignments":[{"reelNumber":"9059","frameNumber":"227","addressNameText[...]
