interactions:
- request:
    body: '{"df": "patentTitle", "qf": "firstNamedApplicant", "fl": "*", "fq": [],
      "searchText": "firstNamedApplicant:(Tesla)", "sort": "applId asc", "facet":
      "false", "mm": "0%", "start": "0", "rows": 20}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Oct 30 15:56:25 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":572},"response":{"numFound":938,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"11510020","assignments":[{"reelNumber":"18245","frameNumber":"671","addressNameText":"HOWARD
      R. POPPER","addressLineOneText":"MACPHERSON KWOK CHEN HEID LLP","addressLineTwoText":"1762
      TECHNOLOGY DRIVE, SUITE 226","addressLineThreeText":"SAN JOSE, CALIFORNIA 95110","addressLineFourText":"null","mailDate":"09-14-2006","receivedDate":"09-01-2006","recordedDate":"08-24-2006","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"KANG,
      HO-MIN","execDate":"08-16-2006"},{"assignorName":"CHOI, WEON-WOO","execDate":"08-16-2006"},{"assignorName":"BOK,
      SEUNG-IYONG","execDate":"08-16-2006"}],"assignee":[{"assigneeName":"SAMSUNG
      ELECTRONICS CO., LTD.","streetLineOneText":"416, MAETAN-DONG, YEONGTONG-GU,
      SUWON-SI","streetLineTwoText":"null","cityName":"GYEONGGI-DO","countryCode":"KOREA,
      REPUBLIC OF","postalCode":"null"}]}],"applicants":[{"nameLineOne":"A.C. Tesla
      Electronics","nameLineTwo":" ","suffix":"","streetOne":"1111 Main St","streetTwo":"Apt.
      101","city":"Los Angeles, ","geoCode":"CA","country":"(US)","rankNo":"4"}],"applicantsFacet":"{||A.C.
      Tesla Electronics||1111 Main St|Apt. 101|Los Angeles|CA|US|IND|4}","appFilingDate":"2006-08-24T00:00:00Z","appExamName":"LAM,
      HUNG Q","appExamNameFacet":"LAM, HUNG Q","publicInd":"Y","APP_IND":"5","inventorName":"Ho-min  Kang","inventorNameFacet":"Ho-min  Kang","appEarlyPubDate":"2007-03-01T00:00:00Z","corrAddrGeoRegionCode":"TX","corrAddrNameLineTwo":"IP
      Section","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20070044606A1","id":"11510020","appGrpArtNumber":"2883","appGrpArtNumberFacet":"2883","applIdStr":"11510020","appl_id_txt":"11510020","appSubCls":"187000","LAST_MOD_TS":"2023-10-28T06:41:47Z","transactions":[{"recordDate":"2009-11-12
      00:00:00","code":"MABN2","description":"Mail Abandonment for Failure to Respond
      to Office Action"},{"recordDate":"2009-11-09 00:00:00","code":"ABN2","description":"Aband.
      for Failure to Respond to O. A."},{"recordDate":"2009-04-16 00:00:00","code":"MCTFR","description":"Mail
      Final Rejection (PTOL - 326)"},{"recordDate":"2009-04-13 00:00:00","code":"CTFR","description":"Final
      Rejection"},{"recordDate":"2009-02-04 00:00:00","code":"FWDX","description":"Date
      Forwarded to Examiner"},{"recordDate":"2008-12-29[...]
