interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "appEarlyPubNumber:(US20080034424A1 OR US20100020700A1
      OR US20110225644A1 OR US20050120054A1 OR US20050188423A1)", "sort": "applId
      asc", "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Dec 10 23:46:36 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":476},"response":{"numFound":5,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"10785132","totalPtoDays":"629","assignments":[{"reelNumber":"14924","frameNumber":"477","addressNameText":"JENKINS,
      WILSON & TAYLOR, P.A.","addressLineOneText":"JEFFREY L. WILSON","addressLineTwoText":"UNIVERSITY
      TOWER, SUITE 1400","addressLineThreeText":"3100 TOWER BOULEVARD","addressLineFourText":"DURHAM,
      NC  27707","mailDate":"07-31-2004","receivedDate":"07-29-2004","recordedDate":"07-29-2004","pagesCount":"8","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"MOTSINGER,
      DAVID LEE","execDate":"07-09-2004"},{"assignorName":"LOGAN, DAVID BYRON","execDate":"07-09-2004"},{"assignorName":"GRAMLEY,
      KENNETH ROBERT","execDate":"07-09-2004"},{"assignorName":"SOMERVILLE, GARTH
      DOUGLAS","execDate":"07-09-2004"},{"assignorName":"HESTER, DOUGLAS WAYNE","execDate":"07-09-2004"},{"assignorName":"HARGETT,
      BYRON LEE","execDate":"07-09-2004"},{"assignorName":"CHOY, ALBERT MING","execDate":"07-09-2004"},{"assignorName":"WALL,
      VIRGIL MONTGOMERY WALL JR.","execDate":"07-09-2004"}],"assignee":[{"assigneeName":"COVELIGHT
      SYSTEMS, INC.","streetLineOneText":"6501 WESTON PARKWAY, SUITE 355","streetLineTwoText":"null","cityName":"CARY","countryCode":"NORTH
      CAROLINA","postalCode":"27516"}]},{"reelNumber":"61214","frameNumber":"590","addressNameText":"LATHAM
      & WATKINS LLP C/O ANGELA M. AMARU","addressLineOneText":"1271 AVENUE OF THE
      AMERICAS","addressLineTwoText":"NEW YORK, NY 10020","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"09-27-2022","receivedDate":"09-26-2022","recordedDate":"08-09-2022","pagesCount":"6","converyanceName":"AFFIDAVIT
      TO AFFIRM THE RELEASE OF SECURITY INTEREST RECORDED AT R/F 015699/0355","sequenceNumber":"[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "appEarlyPubNumber:(US20080034424A1 OR US20100020700A1
      OR US20110225644A1 OR US20050120054A1 OR US20050188423A1)", "sort": "applId
      asc", "facet": "false", "mm": "0%", "start": "0", "rows": 20}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Dec 10 23:46:32 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":472},"response":{"numFound":5,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"10785132","totalPtoDays":"629","assignments":[{"reelNumber":"14924","frameNumber"[...]
