interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(12721698)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Dec 10 23:45:36 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":444},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"12721698","totalPtoDays":"119","assignments":[{"reelNumber":"49597","frameNumber":"435","addressNameText":"DREW
      J. SCHULTE","addressLineOneText":"P.O. BOX 10500","addressLineTwoText":"MCLEAN,
      VA 22102","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"06-27-2019","receivedDate":"06-26-2019","recordedDate":"06-26-2019","pagesCount":"4","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"SINGH,
      DEEPINDER","execDate":"06-26-2019"}],"assignee":[{"assigneeName":"75F, INC.","streetLineOneText":"221
      S RIVER RIDGE CIRCLE","streetLineTwoText":"null","cityName":"BURNSVILLE","countryCode":"MINNESOTA","postalCode":"55337"}]}],"appFilingDate":"2010-03-11T00:00:00Z","appExamName":"BAHTA,
      KIDEST","appExamNameFacet":"BAHTA, KIDEST","publicInd":"Y","APP_IND":"5","inventorName":"Deepinder
      Singh Thind","inventorNameFacet":"Deepinder Singh Thind","appEarlyPubDate":"2010-09-16T00:00:00Z","corrAddrGeoRegionCode":"NJ","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20100235004A1","id":"12721698","appGrpArtNumber":"2127","appGrpArtNumberFacet":"2127","applIdStr":"12721698","appl_id_txt":"12721698","appSubCls":"276000","patentNumber":"8457796","LAST_MOD_TS":"2023-12-10T05:41:14Z","transactions":[{"recordDate":"2020-10-28
      00:00:00","code":"M2552","description":"Payment of Maintenance Fee, 8th Yr,
      Small Entity"},{"recordDate":"2020-07-17 00:00:00","code":"C.ADB","description":"Correspondence
      Address Change"},{"recordDate":"2018-09-20 00:00:00","code":"M2558","description":"Surcharge,
      Petition to Accept Pymt After Exp, Unintentional."},{"recordDate":"2018-09-20
      00:00:00","code":"M2551","description":"Payment of Maintenance Fee, 4th Yr,
      Small Entity"},{"recordDate":"2018-09-20 00:00:00","code":"MPMFG","description":"Mail-Pet[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(12721698)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Dec 10 23:46:32 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":1050},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"12721698","totalPtoDays":"119","assignments":[{"reelNumber":"49597","frameNumber"[...]
