interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=PatentNumber&query=6095661&rows=1&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">91</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">patNum:6095661</str>\n
      \   <str name=\"rows\">1</str>\n    <str name=\"wt\">javabin</str>\n    <str
      name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"6\"
      start=\"0\">\n  <doc>\n    <str name=\"id\">38505-128</str>\n    <str name=\"displayId\">038505-0128</str>\n
      \   <str name=\"dtdVersion\">1.0</str>\n    <str name=\"dateProduced\">20140916</str>\n
      \   <str name=\"actionKeyCode\">DA</str>\n    <str name=\"transactionDate\">2019-07-16T00:40:08Z</str>\n
      \   <str name=\"reelNo\">38505</str>\n    <str name=\"frameNo\">128</str>\n
      \   <date name=\"lastUpdateDate\">2018-02-27T06:01:28Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
      \   <date name=\"recordedDate\">2016-05-06T04:00:00Z</date>\n    <str name=\"pageCount\">4</str>\n
      \   <str name=\"conveyanceText\">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT
      FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n    <str
      name=\"attorneyDockNum\">7139.030US1 - .030US13</str>\n    <str name=\"corrName\">LEMAIRE
      PATENT LAW FIRM, P.L.L.C.</str>\n    <str name=\"corrAddress1\">P.O. BOX 1818</str>\n
      \   <str name=\"corrAddress2\">BURNSVILLE, MN 55337</str>\n    <date name=\"patAssignorEarliestExDate\">2016-05-06T04:00:00Z</date>\n
      \   <arr name=\"patAssignorName\">\n      <str>LED TECH DEVELOPMENT, LLC</str>\n
      \   </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2016-05-06T04:00:00Z</date>\n
      \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>LEMAIRE ILLUMINATION
      TECHNOLOGIES, LLC</str>\n    </arr>\n    <arr name=\"patAssigneeAddress1\">\n
      \     <str>815 BRAZOS STREET, SUITE 500</str>\n    </arr>[...]
