interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=ReelFrame&query=43433-231&rows=8&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">96</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">id:43433-231</str>\n
      \   <str name=\"rows\">8</str>\n    <str name=\"wt\">javabin</str>\n    <str
      name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"1\"
      start=\"0\">\n  <doc>\n    <str name=\"id\">43433-231</str>\n    <str name=\"displayId\">043433-0231</str>\n
      \   <str name=\"reelNo\">43433</str>\n    <str name=\"frameNo\">231</str>\n
      \   <date name=\"lastUpdateDate\">2022-10-18T06:00:07Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
      \   <date name=\"recordedDate\">2017-08-29T04:00:00Z</date>\n    <str name=\"pageCount\">8</str>\n
      \   <str name=\"conveyanceText\">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT
      FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n    <str
      name=\"attorneyDockNum\"> TSLA00007/P0757-1NUS </str>\n    <str name=\"corrName\">GARLICK
      &amp; MARKISON</str>\n    <str name=\"corrAddress1\">106 E. 6TH STREET, SUITE
      900</str>\n    <str name=\"corrAddress2\">AUSTIN, TX 78701</str>\n    <date
      name=\"patAssignorEarliestExDate\">2017-05-17T04:00:00Z</date>\n    <arr name=\"patAssignorName\">\n
      \     <str>LIU, WENJUN</str>\n      <str>RAMM, ROBERT JAMES</str>\n      <str>TEPE,
      ALAN DAVID</str>\n      <str>CAMPBELL, COLIN KENNETH</str>\n      <str>SASARIDIS,
      DINO</str>\n    </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2017-05-17T04:00:00Z</date>\n
      \     <date>2017-05-30T04:00:00Z</date>\n      <date>2017-08-20T04:00:00Z</date>\n
      \     <date>2017-08-28T04:00:00Z</date>\n      <date>2017-05-17T04:00:00Z</date>\n
      [...]
[...]
