interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=ApplicationNumber&query=14190982&rows=8&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">94</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">applNum:14190982</str>\n
      \   <str name=\"rows\">8</str>\n    <str name=\"wt\">javabin</str>\n    <str
      name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"13\"
      start=\"0\">\n  <doc>\n    <str name=\"id\">61875-260</str>\n    <str name=\"displayId\">061875-0260</str>\n
      \   <str name=\"reelNo\">61875</str>\n    <str name=\"frameNo\">260</str>\n
      \   <date name=\"lastUpdateDate\">2022-12-09T13:40:16Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
      \   <date name=\"recordedDate\">2022-11-02T05:00:00Z</date>\n    <str name=\"pageCount\">11</str>\n
      \   <str name=\"conveyanceText\">RELEASE OF SECURITY INTEREST AT REEL/FRAME
      NO. 49111/0583</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
      \   <str name=\"corrName\">KE YANG XIA</str>\n    <str name=\"corrAddress1\">PROSKAUER
      ROSE LLP</str>\n    <str name=\"corrAddress2\">ELEVEN TIMES SQUARE</str>\n    <str
      name=\"corrAddress3\">NEW YORK, NY 10036-8299</str>\n    <date name=\"patAssignorEarliestExDate\">2022-11-02T05:00:00Z</date>\n
      \   <arr name=\"patAssignorName\">\n      <str>BANK OF AMERICA, N.A.</str>\n
      \   </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2022-11-02T05:00:00Z</date>\n
      \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>U.S. WELL SERVICES,
      LLC</str>\n    </arr>\n    <arr name=\"patAssigneeAddress1\">\n      <str>333
      SHOPS BLVD., STE. 301</str>\n    </arr>\n    <arr name=\"patAs[...]
