interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/assignment
  response:
    content: '{"count":1,"patentBag":[{"assignmentBag":[{"assignmentReceivedDate":"2018-10-25","assignorBag":[{"executionDate":"2018-09-23","assignorName":"WANG,
      MARVIN "}],"frameNumber":"0442","pageNumber":4,"reelNumber/frameNumber":"047305/0442","assignmentRecordedDate":"2018-10-25","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"BOSTON","geographicRegionCode":"MA
      ","postalCode":"02114","addressLineOneText":"55 FRUIT STREET"},"assigneeNameText":"THE
      GENERAL HOSPITAL CORPORATION"}],"assignmentMailedDate":"2018-10-26","reelNumber":"047305","correspondenceAddress":[{"addressLineThreeText":"MINNEAPOLIS,
      MN 55440-1022","addressLineOneText":"FISH & RICHARDSON P.C.","correspondentNameText":"J.
      P. FASSE","addressLineTwoText":"P.O.BOX 1022"}]}]}],"requestIdentifier":"cead61ac-1743-47c2-a561-cd30caa835f0"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Wyp2mEiioAMFeww=
      x-amzn-requestid:
      - cead61ac-1743-47c2-a561-cd30caa835f0
    status_code: 200
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    content: '{"count":1,"patentBag":[{"transactionContentBag":[{"recordedDate":"2016-09-02","caseActionDescriptionText":"Initial
      Exam Team nn","caseActionCode":"IEXX"},{"recordedDate":"2016-09-02","caseActionDescriptionText":"Entity
      Status Set To Undiscounted (Initial Default Setting or Status Change)","caseActionCode":"BIG."},{"recordedDate":"2016-09-02","caseActionDescriptionText":"Information
      Disclosure Statement (IDS) Filed","caseActionCode":"WIDS"},{"recordedDate":"2016-12-01","caseActionDescriptionText":"Applicant
      Has Filed a Verified Statement of Small Entity Status in Compliance with 37
      CFR 1.27","caseActionCode":"SMAL"}[...]
