interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/epodoc/EP1000000.A1/abstract
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document country=\"EP\" doc-number=\"1000000\"
        kind=\"A1\">\n            <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>EP</country>\n
        \                       <doc-number>1000000</doc-number>\n                        <kind>A1</kind>\n
        \                       <date>20000517</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>EP1000000</doc-number>\n
        \                       <date>20000517</date>\n                    </document-id>\n
        \               </publication-reference>\n                <parties/>\n            </bibliographic-data>\n
        \           <abstract lang=\"en\">\n                <p>The invention relates
        to an apparatus (1) for manufacturing green bricks from clay for the brick
        manufacturing industry, comprising a circulating conveyor (3) carrying mould
        containers combined to mould container parts (4), a reservoir (5) for clay
        arranged above the mould containers, means for carrying clay out of the reservoir
        (5) into the mould containers, means (9) for pressing and trimming clay in
        the mould containers, means (11) for supplying and placing take-off plates
        for the green bricks (13) and means for discharging green bricks released
        from the mould containers, characterized in that the apparatus further comprises
        means (22) for moving the mould container parts (4) filled with green bricks
        such that a protruding edge is formed on at least one side of the green bricks.
        &lt;IMAGE></p>\n            </abstract>\n        </exchange-document>\n    </exchange-documents>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"01b47348cdaaf828a7a067eaf79212527"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Elapsed-Time:
      - '2'
      X-IndividualQuotaPerHour-Used:
      - '175473'
      X-RegisteredQuotaPerWeek-Used:
      - '888777'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status:
      code: 200
      message: OK
version: 1
