interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/doc-list/svc/doclist/US/10430098/B2
  response:
    content: '{"status":"404 NOT_FOUND","message":"Data is not available due to system
      problem"}'
    headers:
      apigw-requestid:
      - RC4nihH_oAMEagg=
      content-type:
      - application/json
    status_code: 404
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/doc-list/svc/doclist/US/15644139/A
  response:
    content: '{"title":"SYSTEM AND METHODS FOR DEFINING OBJECT MEMORY FORMAT IN MEMORY
      AND STORE FOR OBJECT INTERACTIONS, MANIPULATION, AND EXCHANGE IN DISTRIBUTED
      NETWORK DEVICES","docs":[{"docCode":"TRNA","docDesc":"Transmittal of New Application","docId":"J4U9QLHKRXEAPX2","legalDate":1499442186000,"docFormat":"PDF","numberOfPages":3,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"07/07/2017","mimeTypeData":null,"shareable":false},{"docCode":"SPEC","docDesc":"Specification","docId":"J4U9QLHNRXEAPX2","legalDate":1499442186000,"docFormat":"PDF","numberOfPages":34,"docCodeDesc":"Application
      Documents","docGroupCode":"1","legalDateStr":"07/07/2017","mimeTypeData":[{"mimeType":"xml","fileNames":["15644139.2017-07-07.J4U9QLHNRXEAPX2.SPEC.xml"]}],"shareable":false},{"docCode":"CLM","docDesc":"Claims","docId":"J4U9QLHORXEAPX2","legalDate":1499442186000,"docFormat":"PDF","numberOfPages":4,"docCodeDesc":"Application
      Documents","docGroupCode":"1","legalDateStr":"07/07/2017","mimeTypeData":[{"mimeType":"xml","fileNames":["15644139.2017-07-07.J4U9QLHORXEAPX2.CLM.xml"]}],"shareable":true},{"docCode":"ABST","docDesc":"Abstract","docId":"J4U9QLHPRXEAPX2","legalDate":1499442186000,"docFormat[...]
