interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appCustNumber", "fl": "*", "fq": [], "searchText":
      "appCustNumber:(70155)", "sort": "applId asc", "facet": "false", "mm": "100%",
      "start": "0", "rows": 5}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Oct 30 15:56:25 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":458},"response":{"numFound":897,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"08910294","assignments":[{"reelNumber":"14363","frameNumber":"352","addressNameText":"MOORE
      & VAN ALLEN PLLC","addressLineOneText":"STEVEN D. THOMAS","addressLineTwoText":"2200
      W. MAIN STREET","addressLineThreeText":"SUITE 800","addressLineFourText":"DURHAM,
      NC  27705","mailDate":"02-26-2004","receivedDate":"08-13-2003","recordedDate":"08-08-2003","pagesCount":"3","converyanceName":"GRANT
      OF SECURITY INTEREST","sequenceNumber":"1","assignors":[{"assignorName":"NORTH
      AMERICAN PIPE CORPORATION","execDate":"07-31-2003"}],"assignee":[{"assigneeName":"BANK
      OF AMERICA, N.A., AS ADMINISTRATIVE AGENT","streetLineOneText":"101 N. TRYON
      STREET","streetLineTwoText":"15TH FLOOR","cityName":"CHARLOTTE","countryCode":"NORTH
      CAROLINA","postalCode":"28255"}]},{"reelNumber":"14363","frameNumber":"357","addressNameText":"MOORE
      & VAN ALLEN PLLC","addressLineOneText":"STEVEN D. THOMAS","addressLineTwoText":"2200
      W. MAIN STREET, SUITE 800","addressLineThreeText":"DURHAM, NC 27705","addressLineFourText":"null","mailDate":"02-26-2004","receivedDate":"08-13-2003","recordedDate":"08-08-2003","pagesCount":"6","converyanceName":"RELEASE
      OF SECURITY INTEREST","sequenceNumber":"1","assignors":[{"assignorName":"JP
      MORGAN CHASE BA[...]
