interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=OwnerName&query=Borealis&rows=8&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">96</int>\n  <lst name=\"params\">\n    <str name=\"q\">patAssigneeName:(Borealis)</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"rows\">8</str>\n
      \   <str name=\"wt\">javabin</str>\n    <str name=\"version\">2</str>\n  </lst>\n</lst>\n<result
      name=\"response\" numFound=\"1858\" start=\"0\">\n  <doc>\n    <str name=\"id\">66552-292</str>\n
      \   <str name=\"displayId\">066552-0292</str>\n    <str name=\"reelNo\">66552</str>\n
      \   <str name=\"frameNo\">292</str>\n    <date name=\"lastUpdateDate\">2024-03-04T17:20:21Z</date>\n
      \   <str name=\"purgeIndicator\">N</str>\n    <date name=\"recordedDate\">2024-01-31T05:00:00Z</date>\n
      \   <str name=\"pageCount\">7</str>\n    <str name=\"conveyanceText\">CORRECTIVE
      ASSIGNMENT TO CORRECT THE CONVEYING PARTY DATA AND RECEIVING PARTY DATA PREVIOUSLY
      RECORDED ON REEL 066284 FRAME 0247. ASSIGNOR(S) HEREBY CONFIRMS THE ASSIGNMENT.</str>\n
      \   <str name=\"assignmentRecordHasImages\">Y</str>\n    <str name=\"attorneyDockNum\">131545-0012US01;
      0013US01</str>\n    <str name=\"corrName\">PROCOPIO, CORY, HARGREAVES &amp;
      SAVITCH LLP</str>\n    <str name=\"corrAddress1\">525 B STREET, SUITE 2200</str>\n
      \   <str name=\"corrAddress2\">SAN DIEGO, CA 92101-4469</str>\n    <date name=\"patAssignorEarliestExDate\">2023-12-19T05:00:00Z</date>\n
      \   <arr name=\"patAssignorName\">\n      <str>CHEMELOT CAMPUS B.V.</str>\n
      \   </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2023-12-19T05:00:00Z</date>\n
      \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>BASF ANTWERPEN N.V.</str>\n
      \     <str>BOREALIS A.G.</str>\n      <str>SABIC GLOBAL TECHNOLOGIES B.V.</str>\n
      \     <str>TOTALENERGIES ONETECH BELGIUM</str>\n   [...]
