interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=OwnerName&query=US%20Well%20Services&rows=100&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">108</int>\n  <lst name=\"params\">\n    <str name=\"q\">patAssigneeName:(US
      Well Services)</str>\n    <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n
      \   <str name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"rows\">100</str>\n
      \   <str name=\"wt\">javabin</str>\n    <str name=\"version\">2</str>\n  </lst>\n</lst>\n<result
      name=\"response\" numFound=\"22\" start=\"0\">\n  <doc>\n    <str name=\"id\">42067-237</str>\n
      \   <str name=\"displayId\">042067-0237</str>\n    <str name=\"dtdVersion\">1.0</str>\n
      \   <str name=\"dateProduced\">20140916</str>\n    <str name=\"actionKeyCode\">DA</str>\n
      \   <str name=\"transactionDate\">2019-07-16T06:28:20Z</str>\n    <str name=\"reelNo\">42067</str>\n
      \   <str name=\"frameNo\">237</str>\n    <date name=\"lastUpdateDate\">2018-02-13T06:01:17Z</date>\n
      \   <str name=\"purgeIndicator\">N</str>\n    <date name=\"recordedDate\">2017-04-19T04:00:00Z</date>\n
      \   <str name=\"pageCount\">3</str>\n    <str name=\"conveyanceText\">ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
      \   <str name=\"attorneyDockNum\">047158.100022</str>\n    <str name=\"corrName\">HOGAN
      LOVELLS US LLP BANK OF AMERICA CEN</str>\n    <str name=\"corrAddress1\">700
      LOUISIANA STREET</str>\n    <str name=\"corrAddress2\">SUITE 4300</str>\n    <str
      name=\"corrAddress3\">HOUSTON, TX 77002</str>\n    <date name=\"patAssignorEarliestExDate\">2017-04-18T04:00:00Z</date>\n
      \   <arr name=\"patAssignorName\">\n      <str>OEHRING, JARED</str>\n      <str>HINDERLITER,
      BRANDON N.</str>\n    </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2017-04-18T04:00:00Z</date>\n
      \     <date>2017-04-18T04:00:00Z</date>\n    </arr>\n    <arr name=\"patAssignorDateAck\">\n
      \     <str>0001-01-01T00:00:00Z</str>\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>US WELL SERVICES
      LLC</str>\n    </arr>\n    <[...]
[...]
