interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/epodoc/EP1000000.A1/images
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/pub-inquiry.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:document-inquiry>\n        <ops:publication-reference>\n            <document-id
      document-id-type=\"epodoc\">\n                <doc-number>EP1000000</doc-number>\n
      \               <kind>A1</kind>\n            </document-id>\n        </ops:publication-reference>\n
      \       <ops:inquiry-result>\n            <publication-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
      \                   <kind>A1</kind>\n                </document-id>\n            </publication-reference>\n
      \           <ops:document-instance system=\"ops.epo.org\" number-of-pages=\"12\"
      desc=\"FullDocument\" link=\"published-data/images/EP/1000000/A1/fullimage\">\n
      \               <ops:document-format-options>\n                    <ops:document-format>application/pdf</ops:document-format>\n
      \                   <ops:document-format>application/tiff</ops:document-format>\n
      \               </ops:document-format-options>\n                <ops:document-section
      name=\"ABSTRACT\" start-page=\"1\"/>\n                <ops:document-section
      name=\"BIBLIOGRAPHY\" start-page=\"1\"/>\n                <ops:document-section
      name=\"CLAIMS\" start-page=\"3\"/>\n                <ops:document-section name=\"DESCRIPTION\"
      start-page=\"2\"/>\n                <ops:document-section name=\"DRAWINGS\"
      start-page=\"5\"/>\n                <ops:document-section name=\"SEARCH_REPORT\"
      start-page=\"11\"/>\n            </ops:document-instance>\n            <ops:document-instance
      system=\"ops.epo.org\" number-of-pages=\"6\" desc=\"Drawing\" link=\"published-data/images/EP/1000000/A1/thumbnail\">\n
      \               <ops:document-format-options>\n                    <ops:docume[...]
