interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=ti%3Dplastic
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status_code: 400
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1704838329293\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"nz3HiqumeL8PyGNljymdMczJlqgl\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 104.54.160.230
      X-EPO-Forwarded:
      - '[104.54.160.230]'
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=ti%3Dplastic
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">ti
      = plastic</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"88980069\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>HU</country>\n
      \                   <doc-number>E062830</doc-number>\n                    <kind>T2</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n            <ops:publication-reference
      system=\"ops.epo.org\" family-id=\"89385451\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>KR</country>\n                    <doc-number>20230170370</doc-number>\n
      \                   <kind>A</kind>\n                </document-id>\n            </ops:publication-reference>\n
      \           <ops:publicati[...]
