[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    src/patent_client
parallel = true

[report]
show_missing = true
precision = 2
omit = 
    *migrations*
    *tests*
    *setup*