[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
patent-client = {editable = true,path = "."}
inflection = "*"
lxml = "*"
requests = "*"
python-dateutil = "*"
pyyaml = ">=4.2b1"
requests-cache = "*"
dataclasses = "*"
bravado = "*"

[dev-packages]
codecov = "*"
pytest = "*"
pytest-cov = "*"
bumpversion = "*"
pre-commit = "*"
pytest-xdist = "*"

[requires]
python_version = "3.7"
