[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
patent-client = {editable = true,path = "."}
inflection = "*"
lxml = "*"
requests = "*"
python-dateutil = "*"
dataclasses = "*"
marshmallow = "*"
xmltodict = "*"
beautifulsoup4 = "*"
requests-cache = "*"

[dev-packages]
codecov = "*"
pytest = "*"
pytest-cov = "*"
bumpversion = "*"
pre-commit = "*"
pytest-xdist = "*"
mypy = "*"
pandas = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest --basetemp=tmp"
render_docs = "make -f docs/Makefile html"
