[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
patent-client = {editable = true, path = "."}

[dev-packages]
codecov = "*"
pytest = "*"
pytest-cov = "*"
bumpversion = "*"
pre-commit = "*"

[requires]
python_version = "3.6"
