interactions:
- request:
    body: '{"df": "patentTitle", "qf": "", "fl": "*", "fq": [], "searchText": "firstNamedApplicant:(Tesla)",
      "sort": "applId asc", "facet": "false", "mm": "0%", "start": "0", "rows": 20}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed Nov 01 08:17:43 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":1055},"response":{"numFound":938,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"11510020","assignments":[{"reelNumber":"18245","frameNumber":"671","addressNameText":"HOWARD
      R. POPPER","addressLineOneText":"MACPHERSON KWOK CHEN HEID LLP","addressLineTwoText":"1762
      TECHNOLOGY DRIVE, SUITE 226","addressLineThreeText":"SAN JOSE, CALIFORNIA 95110","addressLineFourText":"null","mailDate":"09-14-2006","receivedDate":"09-01-2006","recordedDate":"08-24-2006","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"KANG,
      HO-MIN","execDate":"08-16-2006"},{"assignorName":"CHOI, WEON-WOO","execDate":"08-16-2006"},{"assignorName":"BOK,
      SEUNG-IYONG","execDate":"08-16-2006"}],"assignee":[{"assigneeName":"SAMSUNG
      ELECTRONICS CO., LTD.","streetLineOneText":"416, MAETAN-DONG, YEONGTONG-GU,
      SUWON-SI","streetLineTwoText":"null","cityName":"GYEONGGI-DO","countryCode":"KOREA,
      REPUBLIC OF","postalCode":"null"}]}],"applicants":[{"nameLineOne":"A.C. Tesla
      Electronics","nameLineTwo":" ","suffix":"","streetOne":"1111 Main St","streetTwo":"Apt.
      101","city":"Los Angeles, ","geoCode":"CA","country":"(US)","rankNo":"4"}],"applicantsFacet":"{||A.C.
      Tesla Electronics||1111 Main St|Apt. 101|Los Angeles|CA|US|IND|4}","appFilingDate":"2006-08-24T00:00:00Z","appExamName":"LAM,
      HUNG Q","appExamNameFacet":"LAM, HUNG Q","publicInd":"Y","APP_IND":"5","inventorName":"Ho-min  Kang","inventorNameFacet":"Ho-min  Kang","appEarlyPubDate":"2007-03-01T00:00:00Z","corrAddrGeoRegionCode":"TX","corrAddrNameLineTwo":"IP
      Section","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20070044606A1","id":"11510020","appGrpArtNumber":"2883","appGrpArtNumberFacet":"2883","applIdStr":"11510020","appl_id_txt":"11510020","appSubCls":"187000","LAST_MOD_TS":"2023-10-31T06:41:43Z","transactions":[{"recordDate":"2009-11-12
      00:00:00","code":"MABN2","description":"Mail Abandonment for Failure to Respond
      to Office Action"},{"recordDate":"2009-11-09 00:00:00","code":"ABN2","description":"Aband.
      for Failure to Respond to O. A."},{"recordDate":"2009-04-16 00:00:00","code":"MCTFR","description":"Mail
      Final Rejection (PTOL - 326)"},{"recordDate":"2009-04-13 00:00:00","code":"CTFR","description":"Final
      Rejection"},{"recordDate":"2009-02-04 00:00:00","code":"FWDX","description":"Date
      Forwarded to Examiner"},{"recordDate":"2008-12-29[...]
- request:
    body: '{"df": "patentTitle", "qf": "", "fl": "*", "fq": [], "searchText": "firstNamedApplicant:(Tesla)",
      "sort": "applId asc", "facet": "false", "mm": "0%", "start": "20", "rows": 20}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed Nov 01 08:18:00 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":1601},"response":{"numFound":938,"start":20,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"13675886","totalPtoDays":"0","assignments":[{"reelNumber":"29733","frameNumber":"45","addressNameText":"HEATHER
      KLINTER","addressLineOneText":"3500 DEER CREEK ROAD","addressLineTwoText":"PALO
      ALTO, CA 94304","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"02-04-2013","receivedDate":"01-31-2013","recordedDate":"01-31-2013","pagesCount":"7","converyanceName":"SECURITY
      AGREEMENT","sequenceNumber":"29","assignors":[{"assignorName":"TESLA MOTORS,
      INC.","execDate":"12-31-2012"}],"assignee":[{"assigneeName":"PNC BANK, NATIONAL
      ASSOCIATION","streetLineOneText":"10851 MASTIN, SUITE 300","streetLineTwoText":"null","cityName":"OVERLAND
      PARK","countryCode":"KANSAS","postalCode":"66210"}]}],"applicants":[{"nameLineOne":"TESLA
      MOTORS, INC.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Palo
      Alto, ","geoCode":"CA","country":"(US)","rankNo":"5"}],"applicantsFacet":"{||TESLA
      MOTORS, INC.||||Palo Alto|CA|US|ORG|5}","appFilingDate":"2012-11-13T00:00:00Z","appExamName":"MALHOTRA,
      SANJEEV","appExamNameFacet":"MALHOTRA, SANJEEV","publicInd":"Y","APP_IND":"5","inventorName":"Scott
      Ira Kohn","inventorNameFacet":"Scott Ira Kohn","appEarlyPubDate":"2013-03-14T00:00:00Z","corrAddrGeoRegionCode":"CA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20130066505A1","id":"13675886","appGrpArtNumber":"3667","appGrpArtNumberFacet":"3667","applIdStr":"13675886","appl_id_txt":"13675886","appSubCls":"022000","patentNumber":"8463480","LAST_MOD_TS":"2023-10-31T06:41:43Z","transactions":[{"recordDate":"2020-11-27
      00:00:00","code":"M1552","description":"Payment of Maintenance Fee, 8th Year,
      Large Entity"},{"recordDate":"2013-08-30 00:00:00","code":"EML_NTR","description":"Email
      Notification"},{"recordDate":"2013-08-30 00:00:00","code":"PA..","description":"Change
      in Power of Attorney (May Include Associate POA)"},{"recordDate":"2013-08-23
      00:00:00","code":"C.AD","description":"Corresponde[...]
