interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?proceedingNumber=IPR2022-00037
  response:
    content: '{"aggregationData":{},"results":[{"institutionDecisionDate":"09-01-2022","proceedingFilingDate":"10-15-2021","accordedFilingDate":"10-15-2021","proceedingStatusCategory":"Final
      Written Decision - Appealed","proceedingNumber":"IPR2022-00037","proceedingTypeCategory":"AIA
      Trial","subproceedingTypeCategory":"IPR","respondentTechnologyCenterNumber":"3700","respondentPartyName":"LoganTree
      LP","respondentGroupArtUnitNumber":"3713","respondentCounselName":"Warden, Davidet
      al","respondentGrantDate":"05-09-2000","respondentPatentNumber":"6059576","respondentApplicationNumberText":"08976228","petitionerPartyName":"Apple
      Inc.","petitionerCounselName":"Renner, Walteret al","decisionDate":"08-30-2023","additionalRespondentPartyDataBag":[]}],"recordTotalQuantity":1}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
