interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
        family-id=\"19768124\" country=\"EP\" doc-number=\"1000000\" kind=\"A1\">\n
        \           <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>EP</country>\n
        \                       <doc-number>1000000</doc-number>\n                        <kind>A1</kind>\n
        \                       <date>20000517</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>EP1000000</doc-number>\n
        \                       <date>20000517</date>\n                    </document-id>\n
        \               </publication-reference>\n                <classification-ipc>\n
        \                   <text>B28B5/02</text>\n                    <text>B28B7/00</text>\n
        \                   <text>B28B1/29</text>\n                </classification-ipc>\n
        \               <classifications-ipcr>\n                    <classification-ipcr
        sequence=\"1\">\n                        <text>B28B   1/    29            A
        I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"2\">\n                        <text>B28B
        \  5/    02            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"3\">\n                        <text>B28B
        \  7/    00            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"4\">\n                        <text>H02P
        \  6/    08            A I                    </text>\n                    </classification-ipcr>\n
        \               </classifications-ipcr>\n                <patent-classifications>\n
        \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
        office=\"EP\" scheme=\"CPCI\"/>\n                        <section>B</section>\n
        \                       <class>28</class>\n                        <subclass>B</subclass>\n
        \                       <main-group>1</main-group>\n                        <subgroup>29</subgroup>\n
        \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
        \                   </patent-classification>\n                    <patent-classification
        sequence=\"2\">\n                        <classification-scheme office=\"EP\"
        scheme=\"CPCI\"/>\n                        <section>B</section>\n                        <class>28</class>\n
        \                       <subclass>B</subclass>\n                        <main-group>1</main-group>\n
        \                       <subgroup>29</subgroup>\n                        <classification-value>I</classification-value>\n
        \                       <generating-office>EP</generating-office>\n                    </patent-classification>\n
        [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000A1
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/family.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:patent-family legal=\"false\" total-result-count=\"6\">\n        <ops:publication-reference>\n
        \           <document-id document-id-type=\"docdb\">\n                <country>EP</country>\n
        \               <doc-number>1000000</doc-number>\n                <kind>A1</kind>\n
        \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
        family-id=\"19768124\">\n            <publication-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <do[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/images
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/pub-inquiry.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:document-inquiry>\n        <ops:publication-reference>\n            <document-id
        document-id-type=\"docdb\">\n                <country>EP</country>\n                <doc-number>1000000</doc-number>\n
        \               <kind>A1</kind>\n            </document-id>\n        </ops:publication-reference>\n
        \       <ops:inquiry-result>\n            <publication-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
        \                   <kind>A1</kind>\n                </document-id>\n            </publication-reference>\n
        \           <ops:document-instance system=\"ops.epo.org\" number-of-pages=\"12\"
        desc=\"FullDocument\" link=\"published-data/images/EP/1000000/A1/fullimage\">\n
        \               <ops:document-format-options>\n                    <ops:document-format>application/pdf</ops:document-format>\n
        \                   <ops:document-format>application/tiff</ops:document-format>\n
        \               </ops:document-format-options>\n                <ops:document-section
        name=\"ABSTRACT\" start-page=\"1\"/>\n                <ops:document-section
        name=\"BIBLIOGRAPHY\" start-page=\"1\"/>\n                <ops:document-section
        name=\"CLAIMS\" start-page=\"3\"/>\n                <ops:document-section
        name=\"DESCRIP[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=pa%3D%22Google+LLC%22
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">pa
        = \"Google LLC\"</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n
        \       <ops:search-result>\n            <ops:publication-reference system=\"ops.epo.org\"
        family-id=\"82706022\">\n                <document-id document-id-type=\"docdb\">\n
        \                   <country>US</country>\n                    <doc-number>11409812</doc-number>\n
        \                   <kind>B1</kind>\n                </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"64050784\">\n
        \            [...]
