interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/biblio
  response:
    body:
      string: "<error><code>403</code><message>This request has been rejected due
        to the violation of Fair Use policy</message><moreInfo>https://www.epo.org/service-support/ordering/fair-use.html</moreInfo>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Rejection-Reason:
      - AnonymousQuotaPerDay
    status:
      code: 403
      message: Forbidden
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n
        \ \"token_type\": \"BearerToken\",\n  \"issued_at\": \"1698679927951\",\n
        \ \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n  \"access_token\":
        \"T2P6sooZ9ghNtDGkJZE1NeWUsGri\",\n  \"application_name\": \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n
        \ \"scope\": \"core\",\n  \"expires_in\": \"1199\",\n  \"refresh_count\":
        \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
        family-id=\"19768124\" country=\"EP\" doc-number=\"1000000\" kind=\"A1\">\n
        \           <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>EP</country>\n
        \                       <doc-number>1000000</doc-number>\n                        <kind>A1</kind>\n
        \                       <date>20000517</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>EP1000000</doc-number>\n
        \                       <date>20000517</date>\n                    </document-id>\n
        \               </publication-reference>\n                <classification-ipc>\n
        \                   <text>B28B5/02</text>\n                    <text>B28B7/00</text>\n
        \                   <text>B28B1/29</text>\n                </classification-ipc>\n
        \               <classifications-ipcr>\n                    <classification-ipcr
        sequence=\"1\">\n                        <text>B28B   1/    29            A
        I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"2\">\n                        <text>B28B
        \  5/    02            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"3\">\n                        <text>B28B
        \  7/    00            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"4\">\n                        <text>H02P
        \  6/    08            A I                    </text>\n                    </classification-ipcr>\n
        \               </classifications-ipcr>\n                <patent-classifications>\n
        \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
        office=\"EP\" scheme=\"CPCI\"/>\n                        <section>B</section>\n
        \                       <class>28</class>\n                        <subclass>B</subclass>\n
        \                       <main-group>1</main-group>\n                        <subgroup>29</subgroup>\n
        \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
        \                   </patent-classification>\n                    <patent-classification
        sequence=\"2\">\n                        <classification-scheme office=\"EP\"
        scheme=\"CPCI\"/>\n                        <section>B</section>\n                        <class>28</class>\n
        \                       <subclass>B</subclass>\n                        <main-group>1</main-group>\n
        \                       <subgroup>29</subgroup>\n                        <classification-value>I</classification-value>\n
        \                       <generating-office>EP</generating-office>\n                    </patent-classification>\n
        [...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000A1
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/family.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:patent-family legal=\"false\" total-result-count=\"6\">\n        <ops:publication-reference>\n
        \           <document-id document-id-type=\"docdb\">\n                <country>EP</country>\n
        \               <doc-number>1000000</doc-number>\n                <kind>A1</kind>\n
        \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
        family-id=\"19768124\">\n            <publication-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/images
  response:
    body:
      string: "<error><code>403</code><message>This request has been rejected due
        to the violation of Fair Use policy</message><moreInfo>https://www.epo.org/service-support/ordering/fair-use.html</moreInfo>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Rejection-Reason:
      - AnonymousQuotaPerDay
    status:
      code: 403
      message: Forbidden
version: 1
