interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/biblio
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status_code: 400
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1716393992063\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"mTWQ68P5kspSzXgP1MI1jxYAGq9R\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 37.19.196.69
      X-EPO-Forwarded:
      - '[37.19.196.69]'
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000A1/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"19768124\" country=\"EP\" doc-number=\"1000000\" kind=\"A1\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>EP</country>\n
      \                       <doc-number>1000000</doc-number>\n                        <kind>A1</kind>\n
      \                       <date>20000517</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>EP1000000</doc-number>\n
      \                       <date>20000517</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classification-ipc>\n
      \                   <text>B28B5/02</text>\n                    <text>B28B7/00</text>\n
      \                   <text>B28B1/29</text>\n                </classification-ipc>\n
      \               <classifications-ipcr>\n                    <classification-ipcr
      sequence=\"1\">\n                        <text>B28B   1/    29            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"2\">\n                        <text>B28B   5/    02            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"3\">\n                        <text>B28B   7/    00            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"4\">\n                        <text>H02P   6/    08            A
      I                    </text>\n                    </classification-ipcr>\n                </classifications-ipcr>\n
      \               <patent-classifications>\n                    <patent-classification
      sequence=\"1\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>B</section>\n                        <class>28</class>\n
      \                       <subclass>B</subclass>\n                        <main-group>1</main-group>\n
      \                       <subgroup>29</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>US</generating-office>\n                    </patent-classification>\n
      \                   <patent-classification sequence=\"2\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>B</section>\n
      \                       <class>28</class>\n                        <subclass>B</subclass>\n
      \                       <main-group>5</main-group>\n                        <subgroup>022</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>[...]
[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000.A1
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/family.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:patent-family legal=\"false\" total-result-count=\"6\">\n        <ops:publication-reference>\n
      \           <document-id document-id-type=\"docdb\">\n                <country>EP</country>\n
      \               <doc-number>1000000</doc-number>\n                <kind>A1</kind>\n
      \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
      family-id=\"19768124\">\n            <publication-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP1000000.A1/images
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/pub-inquiry.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:document-inquiry>\n        <ops:publication-reference>\n            <document-id
      document-id-type=\"docdb\">\n                <country>EP</country>\n                <doc-number>1000000</doc-number>\n
      \               <kind>A1</kind>\n            </document-id>\n        </ops:publication-reference>\n
      \       <ops:inquiry-result>\n            <publication-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
      \                   <kind>A1</kind>\n                </document-id>\n            </publication-reference>\n
      \           <ops:document-instance system=\"ops.epo.org\" number-of-pages=\"12\"
      desc=\"FullDocument\" link=\"published-data/images/EP/1000000/A1/fullimage\">\n
      \               <ops:document-format-options>\n                    <ops:document-format>application/pdf</ops:document-format>\n
      \                   <ops:document-format>application/tiff</ops:document-format>\n
      \               </ops:document-format-options>\n                <ops:document-section
      name=\"ABSTRACT\" start-page=\"1\"/>\n                <ops:document-section
      name=\"BIBLIOGRAPHY\" start-page=\"1\"/>\n                <ops:document-section
      name=\"CLAIMS\" start-page=\"3\"/>\n                <ops:document-section name=\"DESCRIPTION\"
      start-page=\"2\"/>\n                <ops:document-section name=\"DRAWINGS\"
      start-page=\"5\"/>\n                <ops:document-section name=\"SEARCH_REPORT\"
      start-page=\"11\"/>\n            </ops:document-instance>\n            <ops:document-instance
      system=\"ops.epo.org\" number-of-pages=\"6\" desc=\"Drawing\" link=\"published-data/images/EP/1000000/A1/thumbnail\">\n
      \               <ops:document-format-options>\n                    <ops:docume[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=pa%3D%22Google%20LLC%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">pa
      = \"Google LLC\"</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n
      \       <ops:search-result>\n            <ops:publication-reference system=\"ops.epo.org\"
      family-id=\"51211874\">\n                <document-id document-id-type=\"docdb\">\n
      \                   <country>CA</country>\n                    <doc-number>3237996</doc-number>\n
      \                   <kind>A1</kind>\n                </document-id>\n            </ops:publication-reference>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"67180864\">\n
      \               <documen[...]
