interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=6103599.PN.&OS=PN/6103599&RS=PN/6103599
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE target=\"_top\">\n<TITLE>United States Patent:
        6103599</TITLE></HEAD>\n<!-BUF1=6103599\nBUF7=2000\nBUF8=42107\nBUF9=/1/\nBUF51=6\n-->\n<BODY
        bgcolor=\"#FFFFFF\">\n<A name=\"top\"></A>\n<CENTER>\n<IMG src=\"/netaicon/PTO/patfthdr.gif\"
        alt=\"[US Patent & Trademark Office, Patent Full Text and Image Database]\">\n<BR>\n<TABLE>\n<TR><TD
        align=\"center\">\n<A href=\"/netahtml/PTO/index.html\"><IMG src=\"/netaicon/PTO/home.gif\"
        alt=\"[Home]\" border=\"0\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/search-bool.html\"><IMG
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/search-adv.htm\"><IMG border=\"0\" src=\"/netaicon/PTO/manual.gif\"
        ALT=\"[Manual Search]\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/srchnum.htm\"><IMG
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/help/help.htm\"><IMG border=\"0\" valign=\"middle\" src=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</TD></TR>\n<TR><TD align=\"center\">\n<A href=\"#bottom\"><IMG
        src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" valign=\"middle\" border=\"0\"></A>\n</TD></TR>\n
        \  <TR><TD align=\"center\">\n   <A href=\"https://certifiedcopycenter.uspto.gov/other/patft/view.html?backUrl1=http%3A//patft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPALL%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%26r%3D1%26f%3DG%26l%3D50%26s1%3D6103599.PN.%26OS%3DPN%2F6103599&backLabel1=Back%20to%[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pdfpiw.uspto.gov/.piw?Docid=06103599&homeurl=http%3A%2F%2Fpatft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPALL%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D6103599.PN.%2526OS%3DPN%2F6103599%2526RS%3DPN%2F6103599&PageNum=&Rtype=&SectionNum=&idkey=NONE&Input=View+first+page
  response:
    body:
      string: ''
    headers:
      Location:
      - https://pdfpiw.uspto.gov/.piw?Docid=06103599&homeurl=http%3A%2F%2Fpatft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPALL%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D6103599.PN.%2526OS%3DPN%2F6103599%2526RS%3DPN%2F6103599&PageNum=&Rtype=&SectionNum=&idkey=NONE&Input=View+first+page
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://pdfpiw.uspto.gov/.piw?Docid=06103599&homeurl=http%3A%2F%2Fpatft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPALL%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D6103599.PN.%2526OS%3DPN%2F6103599%2526RS%3DPN%2F6103599&PageNum=&Rtype=&SectionNum=&idkey=NONE&Input=View+first+page
  response:
    body:
      string: "<!-- PageNum=1  -->\r\n<!-- NumPages=12 -->\r\n<HTML>\r\n  <head>\r\n
        \   <title>Patent Images</title>\r\n\r\n    <!-- USPTO SITE STYLE SHEET START
        -->\r\n    <link href=\"//www.uspto.gov/styles/usptomaster.css\" rel=\"stylesheet\"
        type=\"text/css\">\r\n    <!-- USPTO SITE STYLE SHEET END -->\r\n\r\n  </head>\r\n\r\n
        \ <BODY TOPMARGIN=\"0\" leftmargin=\"0\" MARGINWIDTH=\"0\" MARGINHEIGHT=\"0\"
        >\r\n\r\n    <!-- USPTO NAVIGATION START -->\r\n    <script src=\"//www.uspto.gov/styles/scriptmaster.js\"
        language=\"JavaScript\" type=\"text/JavaScript\"></script>\r\n\r\n    <noscript>Javascript
        required to view site-wide navigation bar.&gt;&gt;\r\n        <a href=\"//www.uspto.gov/sitenav.htm\">View
        Alternative Site Navigation</a>\r\n    </noscript>\r\n    <!-- USPTO NAVIGATION
        END -->\r\n\r\n    <!-- BEGIN: USPTO javascript navigation bar -->\r\n    <table
        width=\"100%\" border=\"0\" cellpadding=\"3\" cellspacing=\"0\">\r\n      <tr>\r\n
        \       <td ><img src=\"//www.uspto.gov/images/blank.gif\" alt=\"\" width=\"8\"
        height=\"1\" border=\"0\"></td>\r\n      </tr>\r\n    </table>\r\n    <!--
        \  END: USPTO javascript navigation bar -->\r\n\r\n  <table width=\"100%\"
        border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\r\n\r\n\t<tr valign=\"top\">\r\n\t<td
        width=\"146\" valign=\"top\" background=\"/templates/tablebackground.gif\">\r\n\t
        \   <table width=\"146\" border=0 cellspacing=0 cellpadding=0>\r\n\t    <tr><td
        valign=\"top\">\r\n\t\t<span style=\"color:#000000\">\r\n\r\n        <img
        border=\"0\" height=\"50\" src=\"//www.uspto.gov/images/blank.gif\" width=\"146\"><br><br>\r\n\r\n
        \       <nobr><big>&nbsp;&nbsp;</big><a href=\"http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=6103599.PN.&OS=PN/6103599&RS=PN/6103599\"><img
        src=\"/templates/home.gif\" width=\"120\" height=\"21\" border=\"0\" alt=\"go
        to search page\"></a></nobr><br>\r\n\r\n\t\t<nobr><big>&nbsp;&nbsp;</big><a
        href=\"//www.uspto.gov/patft/help/help.htm\"><img src=\"/templates/help.gif\"
        width=\"120\" height=\"21\" border=\"0\" alt=\"go to help page\"></a></nobr><br>\r\n\r\n
        \  \t\t<font face=\"arial, helvetica\" size=\"-1\">\r\n   \t\t<form action=\"/.piw\"
        method=\"get\">\r\n\t\t<nobr><big>&nbsp;</big><font color=\"#ff0000\">&nbsp;&nbsp;<b><label
        for=\"Go to Page:\">Go to Page: </label></b></font></nobr><br>\r\n\r\n\t\t&nbsp;&nbsp;\r\n\t\t<input
        type=text name=PageNum size=\"4\">\r\n\r\n\t\t<input type=hidden name=docid
        value=\"06103599\">\r\n\t\t<input type=hidden name=IDKey value=\"924B8ABAD9BE\n\">\r\n\t\t<input
        type=hidden name=HomeUrl value=\"http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1%26Sect2=HITOFF%26d=PALL%26p=1%26u=%252Fnetahtml%252FPTO%252Fsrchnum.htm%26r=1%26f=G%26l=50%26s1=6103599.PN.%26OS=PN/6103599%26RS=PN/6103599\">\r\n\t\t<input
        type=submit value=\"Go\">\r\n        &nbsp;<br><br><nobr><big>&nbsp;&nbsp;</big>\r\n\t\t<a
        href=\"/.piw?d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pdfpiw.uspto.gov/.piw?docid=06103599&SectionNum=1&IDKey=924B8ABAD9BE%20&HomeUrl=http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1%2526Sect2=HITOFF%2526d=PALL%2526p=1%2526u=%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%2526r=1%2526f=G%2526l=50%2526s1=6103599.PN.%2526OS=PN/6103599%2526RS=PN/6103599
  response:
    body:
      string: "<!-- PageNum=1  -->\r\n<!-- NumPages=12 -->\r\n<HTML>\r\n  <head>\r\n
        \   <title>Pat[...]
[...]
