interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "firstNamedApplicant:(Google LLC)", "sort":
      "applId asc", "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Dec 11 12:42:06 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":2016},"response":{"numFound":540661,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"10195049","totalPtoDays":"451","applicants":[{"nameLineOne":"Griffin
      Technology, LLC","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Irvine,
      ","geoCode":"CA","country":"(US)","rankNo":"1"}],"applicantsFacet":"{||Griffin
      Technology, LLC||||Irvine|CA|US|ORG|1}","appFilingDate":"2002-07-12T00:00:00Z","appExamName":"TRAN,
      CONGVAN","appExamNameFacet":"TRAN, CONGVAN","publicInd":"Y","APP_IND":"5","inventorName":"Paul  Griffin","inventorNameFacet":"Paul  Griffin","corrAddrGeoRegionCode":"CA","appLocation":"ELECTRONIC","id":"10195049","appGrpArtNumber":"2683","appGrpArtNumberFacet":"2683","applIdStr":"10195049","appl_id_txt":"10195049","appSubCls":"003060","patentNumber":"6931231","LAST_MOD_TS":"2022-11-04T16:42:55Z","transactions":[{"recordDate":"2019-06-18
      00:00:00","code":"C.ADB","description":"Correspondence Address Change"},{"recordDate":"2017-01-19
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2017-01-19
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2017-01-19
      00:00:00","code":"PA..","description":"Change in Power of Attorney (May Include
      Associate POA)"},{"recordDate":"2017-01-19 00:00:00","code":"FLRCPT.C","description":"Filing
      Receipt - Corrected"},{"recordDate":"2017-01-18 00:00:00","c[...]
