interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Google LLC)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: "{\"queryResults\":{\"indexLastUpdatedDate\":\"Tue Aug 09 17:33:48 EDT
        2022\",\"searchResponse\":{\"responseHeader\":{\"zkConnected\":true,\"status\":0,\"QTime\":326},\"response\":{\"numFound\":13519,\"start\":0,\"numFoundExact\":true,\"docs\":[{\"corrAddrCountryName\":\"UNITED
        STATES\",\"applId\":\"16486281\",\"assignments\":[{\"reelNumber\":\"50197\",\"frameNumber\":\"658\",\"addressNameText\":\"NICHOLAS
        STEPHENS\",\"addressLineOneText\":\"FISH & RICHARDSON P.C.\",\"addressLineTwoText\":\"P.O.BOX
        1022\",\"addressLineThreeText\":\"MINNEAPOLIS, MN 55440-1022\",\"addressLineFourText\":\"null\",\"mailDate\":\"08-29-2019\",\"receivedDate\":\"08-28-2019\",\"recordedDate\":\"08-28-2019\",\"pagesCount\":\"5\",\"converyanceName\":\"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).\",\"sequenceNumber\":\"1\",\"assignors\":[{\"assignorName\":\"PATEL,
        SARVAR\",\"execDate\":\"04-22-2019\"},{\"assignorName\":\"YUNG, MARCEL M.
        MOTI\",\"execDate\":\"04-18-2019\"},{\"assignorName\":\"SETH, KARN\",\"execDate\":\"04-17-2019\"},{\"assignorName\":\"KREUTER,
        BENJAMIN\",\"execDate\":\"04-18-2019\"}],\"assignee\":[{\"assigneeName\":\"GOOGLE
        LLC\",\"streetLineOneText\":\"1600 AMPHITHEATRE PARKWAY\",\"streetLineTwoText\":\"null\",\"cityName\":\"MOUNTAIN
        VIEW\",\"countryCode\":\"CALIFORNIA\",\"postalCode\":\"94043\"}]},{\"reelNumber\":\"50235\",\"frameNumber\":\"160\",\"addressNameText\":\"NICHOLAS
        STEPHENS\",\"addressLineOneText\":\"FISH & RICHARDSON P.C.\",\"addressLineTwoText\":\"P.O.BOX
        1022\",\"addressLineThreeText\":\"MINNEAPOLIS, MN 55440-1022\",\"addressLineFourText\":\"null\",\"mailDate\":\"09-04-2019\",\"receivedDate\":\"05-13-2019\",\"recordedDate\":\"05-13-2019\",\"pagesCount\":\"7\",\"converyanceName\":\"CORRECTIVE
        ASSIGNMENT TO CORRECT THE ASSIGNOR NAME PREVIOUSLY RECORDED AT REEL: 048968
        FRAME: 0251. ASSIGNOR(S) HEREBY CONFIRMS THE ASSIGNMENT.\",\"sequenceNumber\":\"1\",\"assignors\":[{\"assignorName\":\"PATEL,
        SARVAR\",\"execDate\":\"04-22-2019\"},{\"assignorName\":\"YUNG, MARCEL M.
        MOTI\",\"execDate\":\"04-18-2019\"},{\"assignorName\":\"SETH, KARN\",\"execDate\":\"04-17-2019\"},{\"assignorName\":\"KREUTER,
        BENJAMIN\",\"execDate\":\"04-18-2019\"}],\"assignee\":[{\"assigneeName\":\"GOOGLE
        LLC\",\"streetLineOneText\":\"1600 AMPHITHEATRE PARKWAY\",\"streetLineTwoText\":\"null\",\"cityName\":\"MOUNTAIN
        VIEW\",\"countryCode\":\"CALIFORNIA\",\"postalCode\":\"94043\"}]}],\"applicants\":[{\"nameLineOne\":\"Google
        LLC\",\"nameLineTwo\":\" \",\"suffix\":\"\",\"streetOne\":\"1600 Amphitheatre
        Parkway\",\"streetTwo\":\"\",\"city\":\"Mountain View, \",\"geoCode\":\"CA\",\"country\":\"(US)\",\"rankNo\":\"1\"}],\"applicantsFacet\":\"{||Google
        LLC||1600 Amphitheatre Parkway||Mountain View|CA|US|ORG|1}\",\"appFilingDate\":\"2019-08-15T00:00:00Z\",\"appExamName\":\"LI,
        MENG\",\"appExamNameFacet\":\"LI, MENG\",\"publicInd\":\"Y\",\"APP_IND\":\"5\",\"inventorName\":\"Marcel
        M. Moti Yung\",\"inventorNameFacet\":\"Marcel M. Moti Yung\",\"appEarlyPubDate\":\"2022-01-06T00:00:00Z\",\"corrAddrGeoRegionCode\":\"MN\",\"appLocation\":\"ELECTRONIC\",\"appEarlyPubNumber\":\"US20220004654A1\",\"id\":\"16486281\",\"appGrpArtNumber\":\"2437\",\"appGrpArtNumberFacet\":\"2437\",\"applIdStr\":\"16486281\",\"appl_id_txt\":\"16486281\",\"appSubCls\":\"026000\",\"LAST_MOD_TS\":\"2022-08-09T09:15:39Z\",\"transactions\":[{\"recordDate\":\"2022-08-09
        00:00:00\",\"code\":\"D1935\",\"description\":\"Dispatch to FDC\"},{\"recordDate\":\"2022-08-09
        00:00:00\",\"code\":\"PILS\",\"description\":\"Application Is Considered Ready
        for Issue\"},{\"recordDate\":\"2022-08-08 00:00:00\",\"code\":\"N084\",\"description\":\"Issue
        Fee Payment Verified\"},{\"recordDate\":\"2022-08-08 00:00:00\",\"code\":\"IFEE\",\"description\":\"Issue
        Fee Payment Received\"},{\"recordDate\":\"2022-05-09 00:00:00\",\"code\":\"ELC_RVW\",\"description\":\"Electronic
        Review\"},{\"rec[...]
