interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Google LLC)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: "{\"queryResults\":{\"indexLastUpdatedDate\":\"Sun Oct 29 23:58:33 EDT
      2023\",\"searchResponse\":{\"responseHeader\":{\"zkConnected\":true,\"status\":0,\"QTime\":2487},\"response\":{\"numFound\":18054,\"start\":0,\"numFoundExact\":true,\"docs\":[{\"corrAddrCountryName\":\"UNITED
      STATES\",\"applId\":\"18168969\",\"assignments\":[{\"reelNumber\":\"62695\",\"frameNumber\":\"399\",\"addressNameText\":\"BRETT
      A. KRUEGER\",\"addressLineOneText\":\"300 OTTAWA AVE. NW, SUITE 400\",\"addressLineTwoText\":\"GRAND
      RAPIDS, MI 49503-2308\",\"addressLineThreeText\":\"null\",\"addressLineFourText\":\"null\",\"mailDate\":\"02-15-2023\",\"receivedDate\":\"02-14-2023\",\"recordedDate\":\"02-14-2023\",\"pagesCount\":\"3\",\"converyanceName\":\"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).\",\"sequenceNumber\":\"1\",\"assignors\":null,\"assignee\":null}],\"applicants\":[{\"nameLineOne\":\"Google
      LLC\",\"nameLineTwo\":\" \",\"suffix\":\"\",\"streetOne\":\"\",\"streetTwo\":\"\",\"city\":\"Mountain
      View, \",\"geoCode\":\"CA\",\"country\":\"(US)\",\"rankNo\":\"1\"}],\"applicantsFacet\":\"{||Google
      LLC||||Mountain View|CA|US|ORG|1}\",\"appFilingDate\":\"2023-02-14T00:00:00Z\",\"appExamName\":\"JACKSON,
      JAKIEDA R\",\"appExamNameFacet\":\"JACKSON, JAKIEDA R\",\"publicInd\":\"Y\",\"APP_IND\":\"5\",\"appEarlyPubDate\":\"2023-06-22T00:00:00Z\",\"corrAddrGeoRegionCode\":\"MI\",\"corrAddrNameLineTwo\":\"DOCKETING
      DEPARTMENT\",\"appLocation\":\"ELECTRONIC\",\"appEarlyPubNumber\":\"US20230197057A1\",\"id\":\"18168969\",\"appGrpArtNumber\":\"2657\",\"appGrpArtNumberFacet\":\"2657\",\"applIdStr\":\"18168969\",\"appl_id_txt\":\"18168969\",\"appSubCls\":\"260000\",\"LAST_MOD_TS\":\"2023-10-28T12:45:39Z\",\"transactions\":[{\"recordDate\":\"2023-10-28
      00:00:00\",\"code\":\"IFEE\",\"description\":\"Issue Fee Payment Received\"},{\"recordDate\":\"2023-08-04
      00:00:00\",\"code\":\"EML_NTF\",\"description\":\"Email Notification\"},{\"recordDate\":\"2023-08-03
      00:00:00\",\"code\":\"ELC_RVW\",\"description\":\"Electronic Review\"},{\"recordDate\":\"2023-08-03
      00:00:00\",\"code\":\"ELC_RVW\",\"description\":\"Electronic Review\"},{\"recordDate\":\"2023-08-03
      00:00:00\",\"code\":\"ELC_RVW\",\"description\":\"Electronic Review\"},{\"recordDate\":\"2023-08-03
      00:00:00[...]
