interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Google LLC)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: "{\"queryResults\":{\"indexLastUpdatedDate\":\"Mon Aug 15 22:07:32 EDT
        2022\",\"searchResponse\":{\"responseHeader\":{\"zkConnected\":true,\"status\":0,\"QTime\":384},\"response\":{\"numFound\":13538,\"start\":0,\"numFoundExact\":true,\"docs\":[{\"corrAddrCountryName\":\"UNITED
        STATES\",\"applId\":\"17526336\",\"applicants\":[{\"nameLineOne\":\"Google
        LLC\",\"nameLineTwo\":\" \",\"suffix\":\"\",\"streetOne\":\"\",\"streetTwo\":\"\",\"city\":\"Mountain
        View, \",\"geoCode\":\"CA\",\"country\":\"()\",\"rankNo\":\"1\"}],\"applicantsFacet\":\"{||Google
        LLC||||Mountain View|CA||ORG|1}\",\"appFilingDate\":\"2021-11-15T00:00:00Z\",\"appExamName\":\"CENTRAL,
        DOCKET\",\"appExamNameFacet\":\"CENTRAL, DOCKET\",\"publicInd\":\"Y\",\"APP_IND\":\"5\",\"inventorName\":\"James
        \ Stout\",\"inventorNameFacet\":\"James  Stout\",\"appEarlyPubDate\":\"2022-03-10T00:00:00Z\",\"corrAddrGeoRegionCode\":\"NY\",\"appLocation\":\"ELECTRONIC\",\"appEarlyPubNumber\":\"US20220075594A1\",\"id\":\"17526336\",\"appGrpArtNumber\":\"OPAP\",\"appGrpArtNumberFacet\":\"OPAP\",\"applIdStr\":\"17526336\",\"appl_id_txt\":\"17526336\",\"appSubCls\":\"716000\",\"LAST_MOD_TS\":\"2022-08-15T09:12:39Z\",\"transactions\":[{\"recordDate\":\"2022-08-14
        00:00:00\",\"code\":\"N/=.\",\"description\":\"Notice of Allowance Data Verification
        Completed\"},{\"recordDate\":\"2022-08-01 00:00:00\",\"code\":\"EXET\",\"description\":\"Interview
        Summary - Examiner Initiated - Telephonic\"},{\"recordDate\":\"2022-08-11
        00:00:00\",\"code\":\"IDSC\",\"description\":\"Information Disclosure Statement
        considered\"},{\"recordDate\":\"2022-08-03 00:00:00\",\"code\":\"P574\",\"description\":\"PARALEGAL
        OR ELECTRONIC TERMINAL DISCLAIMER APPROVED\"},{\"recordDate\":\"202[...]
