interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(12721698)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Tue Aug 09 11:46:50 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":346},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"12721698","totalPtoDays":"119","assignments":[{"reelNumber":"49597","frameNumber":"435","addressNameText":"DREW
        J. SCHULTE","addressLineOneText":"P.O. BOX 10500","addressLineTwoText":"MCLEAN,
        VA 22102","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"06-27-2019","receivedDate":"06-26-2019","recordedDate":"06-26-2019","pagesCount":"4","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"SINGH,
        DEEPINDER","execDate":"06-26-2019"}],"assignee":[{"assigneeName":"75F, INC.","streetLineOneText":"221
        S RIVER RIDGE CIRCLE","streetLineTwoText":"null","cityName":"BURNSVILLE","countryCode":"MINNESOTA","postalCode":"55337"}]}],"appFilingDate":"2010-03-11T00:00:00Z","appExamName":"BAHTA,
        KIDEST","appExamNameFacet":"BAHTA, KIDEST","publicInd":"Y","APP_IND":"5","inventorName":"Deepinder
        Singh Thind","inventorNameFacet":"Deepinder Singh Thind","appEarlyPubDate":"2010-09-16T00:00:00Z","corrAddrGeoRegionCode":"NJ","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20100235004A1","id":"12721698","appGrpArtNumber":"2127","appGrpArtNumberFacet":"2127","applIdStr":"12721698","appl_id_txt":"12721698","appSubCls":"276000","patentNumber":"8457796","LAST_MOD_TS":"2022-07-27T23:40:54Z","transactions":[{"recordDate":"2020-10-28
        00:00:00","code":"M2552","description":"Payment of Maintenance Fee, 8th Yr,
        Small Entity"},{"recordDate":"2020-07-17 00:00:00","code":"C.ADB","description":"Correspondence
        Address Change"},{"recordDate":"2018-09-20 00:00:00","code":"M2558","description":"Surcharge,
        Petition to Accept Pymt After Exp, Unintentional."},{"recordDate":"2018-09-20
        00:00:00","code":"M2551","description":"Payment of Maintenance Fee, 4th Yr,
        Small Entity"},{"recordDate":"2018-09-20 00:00:00","code":"MPMFG","description"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8457796.PN.&OS=PN/8457796&RS=PN/8457796
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE target=\"_top\">\n<TITLE>United States Patent:
        8457796</TITLE></HEAD>\n<!-BUF1=8457796\nBUF7=2013\nBUF8=84526\nBUF9=/1/\nBUF51=8\n-->\n<BODY
        bgcolor=\"#FFFFFF\">\n<A name=\"top\"></A>\n<CENTER>\n<IMG src=\"/netaicon/PTO/patfthdr.gif\"
        alt=\"[US Patent & Trademark Office, Patent Full Text and Image Database]\">\n<BR>\n<TABLE>\n<TR><TD
        align=\"center\">\n<A href=\"/netahtml/PTO/index.html\"><IMG src=\"/netaicon/PTO/home.gif\"
        alt=\"[Home]\" border=\"0\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/search-bool.html\"><IMG
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/search-adv.htm\"><IMG border=\"0\" src=\"/netaicon/PTO/manual.gif\"
        ALT=\"[Manual Search]\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/srchnum.htm\"><IMG
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/help/help.htm\"><IMG border=\"0\" valign=\"middle\" src=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</TD></TR>\n<TR><TD align=\"center\">\n<A href=\"#bottom\"><IMG
        src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" valign=\"middle\" border=\"0\"></A>\n</TD></TR>\n
        \  <TR><TD align=\"center\">\n   <A href=\"https://certifiedcopycenter.uspto.gov/other/patft/view.html?backUrl1=http%3A//patft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPALL%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%26r%3D1%26f%3DG%26l%3D50%26s1%3D8457796.PN.%26OS%3DPN%2F8457796&backLabel1=Back%20to%[...]
