interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "patentNumber:(10000000)", "sort": null, "facet": "false", "mm": "100%", "start":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Tue Aug 09 11:46:50 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":333},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"14643719","assignments":[{"reelNumber":"35130","frameNumber":"327","addressNameText":"DOCKET
        CLERK-RAYTHEON/MWM","addressLineOneText":"P.O.DRAWER 800889","addressLineTwoText":"DALLAS,
        TX 75380","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"03-11-2015","receivedDate":"03-10-2015","recordedDate":"03-10-2015","pagesCount":"4","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"MARRON,
        JOSEPH","execDate":"03-06-2015"}],"assignee":[{"assigneeName":"RAYTHEON COMPANY","streetLineOneText":"870
        WINTER STREET","streetLineTwoText":"null","cityName":"WALTHAM","countryCode":"MASSACHUSETTS","postalCode":"02451-1449"}]}],"applicants":[{"nameLineOne":"Raytheon
        Company","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Waltham,
        ","geoCode":"MA","country":"()","rankNo":"1"}],"applicantsFacet":"{||Raytheon
        Company||||Waltham|MA||ORG|1}","appFilingDate":"2015-03-10T00:00:00Z","appExamName":"RATCLIFFE,
        LUKE D","appExamNameFacet":"RATCLIFFE, LUKE D","publicInd":"Y","APP_IND":"5","inventorName":"Joseph  Marron","inventorNameFacet":"Joseph  Marron","appEarlyPubDate":"2016-09-15T00:00:00Z","corrAddrGeoRegionCode":"TX","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160266243A1","id":"14643719","appGrpArtNumber":"3645","appGrpArtNumberFacet":"3645","applIdStr":"14643719","appl_id_txt":"14643719","appSubCls":"005010","patentNumber":"10000000","LAST_MOD_TS":"2022-07-27T23:40:54Z","transactions":[{"recordDate":"2021-11-18
        00:00:00","code":"M1551","description":"Payment of Maintenance Fee, 4th Year,
        Large Entity"},{"recordDate":"2018-06-19 00:00:00","code":"PGM/","description":"Recordation
        of Patent Grant Mailed"},{"recordDate":"2018-05-31 00:00:00","code":"EML_NTR","description":"Email
        Notification"},{"recordDate":"2018-05-30 00:00:00","code":"WPIR","description":"Issue
        Notification Mailed"},{"recordDate":"2018-06-19 00:00:00","code":"PTAC","description":"Patent
        Issue Date Used in PTA Calculation"},{"recordDate"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ped.uspto.gov/api/queries/cms/public/14643719
  response:
    body:
      string: '[{"applicationNumberText":"14643719","mailRoomDate":"2020-10-16T15:28:51.000Z","documentCode":"MFEE.C.AD","documentDescription":"Maintenance
        Fee Address Change","documentCategory":"PROSECUTION","accessLevelCategory":"PUBLIC","documentIdentifier":"KGCNAVL3LDFLYX9","pageCount":2,"pdfUrl":"pdfDocument/14643719/KGCNAVL3LDFLYX9"},{"applicationNumberText":"14643719","mailRoomDate":"2020-10-16T15:28:51.000Z","documentCode":"N417","documentDescription":"Electronic
        Filing System(EFS) Acknowledgment Receipt","documentCategory":"PROSECUTION","accessLevelCategory":"PUBLIC","documentIdentifier":"KGCNAVL4LDFLYX9","pageCount":2,"pdfUrl":"pdfDocument/14643719/KGCNAVL4LDFLYX9"},{"applicationNumberText":"14643719","mailRoomDate":"2018-06-20T13:43:42.000Z","documentCode":"SRNT","document[...]
