interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ped.uspto.gov/api/search-fields
  response:
    body:
      string: '{"appTypeFacet":"string","applId":"string","totalPtoDays":"string","appFilingDate":"date","firstNamedApplicantAddress":"text_general","appLocationFacet":"string","appLocationDate":"date","inventorName":"text_general","appEarlyPubDate":"date","intlFilingYear":"int","appExamMdlName":"text_general","ptaPteType":"string","corrAddrNameLineTwo":"string","appLocation":"text_general","appEarlyPubNumber":"text_general","wipoEarlyPubDate":"date","id":"string","text":"text_general","appTransHistoryDate":"date","primaryInventorCity":"text_general","appExamLastName":"text_general","firstNamedApplicantNameList":"string","appPubyear":"text_general","appSubCls":"string","primaryInventorCountry":"text_general","patentNumberFacet":"string","appStatus":"string","corrAddrStreetLineTwo":"string","ptaPteInd":"string","corrAddrGeoRegionNA":"string","firstNamedApplicantAddressList":"string","firstInventorFileFacet":"string","cDelay":"string","appStatusDate":"date","appControlNumber":"string","ptoAdjustments":"string","firstInventorFile":"string","appGrpArtNumberFacet":"string","overlapDelay":"string","appType":"text_general","rankAndInventorsList":"text_general","appStatusYear":"int","primaryInventorMiddleName":"text_general","pctAppType":"text_general","appCustNumber":"int","lastUpdatedTimestamp":"date","firstNamedApplicantFacet":"string","wipoEarlyPubNumber":"text_general","appClsSubCls":"text_general","bDelay":"string","corrAddrNameLineOne":"string","firstNamedApplicant":"text_general","appExamFirstName":"text_general","patentNumberStr":"string","appPCTNumber":"text_general","corrAddrCountryCd":"string","ptoDelay":"string","appTransHistoryDesc":"text_general","appEntityStatus":"string","appLocationYear":"int","corrAddrCountryName":"string","appEarlyPubYear":"int","appExamName":"text_general","publicInd":"string","appClsSubClsFacet":"string","appExamNameFacet":"string","primaryInventorFirstName":"text_general","pctAppTypeFacet":"string","intlFilingDate":"date","primaryInventorFacet":"string","appEntityStatus_txt":"text_general","appGrpArtNumber":"text_ws","patentKindCode":"string","appFilingYear":"int","appAttrDockNumberFacet":"string","primaryInventorRegion":"text_general","firstNamedApplicantName":"text_general","appl_id_txt":"text_general","patentTermJson":"text_general","patentNumber":"text_general","LAST_MOD_TS_UTC":"date","appCls":"string","LAST_INSERT_TIME":"date","patentIssueYear":"int","appStatus_txt":"text_general","appCustNumberFacet":"string","appIntlPubDate":"date","appEarlyPubNumberFacet":"string","patentTitle":"text_general","applDelay":"string","applIdStr":"string","appPCTNumberFacet":"string","appAttrDockNumber":"text_general","primaryInventor":"text_general","appPubSeqNumber":"text_general","corrAddrStreetLineOne":"string","ipOfficeCode":"text_general","aDelay":"string","rankAndInventorsList_str":"string","appIntlPubNumberFacet":"string","publishDocJson":"text_general","rankAndInventorsAddressList":"string","corrAddrPostalCode":"string","appIntlPubYear":"int","primaryInventorLastName":"text_general","patentIssueDate":"date","appIntlPubNumber":"text_general","appControlNumberFacet":"string","corrAddrCustNo":"string","corrAddrCity":"string","appExamPrefrdName":"text_general","appConfrNumber":"int"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
