interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(PCT/US2014/020588)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Mon Aug 15 22:11:46 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":321},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"PCT/US14/20588","applicants":[{"nameLineOne":"ETHICON ENDO-SURGERY,
        INC.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"CINCINNATI,
        ","geoCode":"OH","country":"(US)","rankNo":"1"}],"applicantsFacet":"{||ETHICON
        ENDO-SURGERY, INC.||||CINCINNATI|OH|US|ORG|1}","appFilingDate":"2014-03-05T00:00:00Z","publicInd":"Y","APP_IND":"5","inventorName":"BRANDON
        J. LLOYD","inventorNameFacet":"BRANDON J. LLOYD","corrAddrGeoRegionCode":"NJ","corrAddrNameLineTwo":"JOHNSON
        & JOHNSON","appLocation":"ELECTRONIC","wipoEarlyPubDate":"2014-10-02T00:00:00Z","id":"PCT/US14/20588","appGrpArtNumber":"3721","appGrpArtNumberFacet":"3721","applIdStr":"PCT/US14/20588","appl_id_txt":"PCT/US14/20588","inventorsFullName":["{BRANDON|J.|LLOYD},{TAYLOR|W.|ARONHALT},{MICHAEL|J.|VENDELY},{EMILY|A.|SCHELLIN},{LAUREN|S.|WEANER}"],"inventorsFullNameFacet":"{BRANDON|J.|LLOYD},{TAYLOR|W.|ARONHALT},{MICHAEL|J.|VENDELY},{EMILY|A.|SCHELLIN},{LAUREN|S.|WEANER}","appSubCls":"176100","LAST_MOD_TS":"2018-07-03T20:29:54Z","transactions":[{"recordDate":"2014-04-01
        00:00:00","code":"P105","description":"Notification of Intntl. Appl. Number
        and Intntl. Filing Date"},{"recordDate":"2014-04-01 00:00:00","code":"P102","description":"Notification
        Concerning Payment of Fees"},{"recordDate":"2014-04-01 00:00:00","code":"ROST","description":"RO
        complete, placed in storage"},{"recordDate":"2014-04-01 00:00:00","code":"MLIB","description":"Record
        Copy Mailed"},{"recordDate":"2014-03-06 00:00:00","code":"L194","description":"Cleared
        by OIPE CSR"},{"recordDate":"2014-03-05 00:00:00","code":"SCAN","description":"IFW
        Scan & PACR Auto Security Review"},{"recordDate":"2014-03-05 00:00:00","code":"RCDT","description":"Receipt
        Date"},{"recordDate":"2014-03-05 00:00:00","code":"BIG.","description":"ENTITY
        STATUS SET TO UNDISCOUNTED (INITIAL DEFAULT SETTING OR STATUS CHANGE)"},{"recordDate":"2014-03-05
        00:00:00","code":"IEXX","description":"Initial Exam Team nn"}],"LAST_INSERT_TIME":"2022-06-07T02:55:53Z","appCls":"227","appStatus":"RO
        PROCESSING COMPLETED-PLACED IN STORAGE","appStatusFacet":"RO PROCESSING COMPLETED-PLACED
        IN STORAGE","appStatus_txt":"RO PROCESSING COMPLETED-PLACED IN STORAGE","corrAddrGeoRegionNA":"NEW
        JERSEY","patentTitle":"FASTENER CARTRIDGE COMPRISING A TISSUE THICKNESS COMPENSATOR
        INCLUDING OPENINGS THEREIN","appStatusDate":"2014-03-31T00:00:00Z","appAttrDockNumber":"END7269WOPCT","inventors":[{"nameLineOne":"LLOYD","nameLineTwo":"BRANDON
        J.","suffix":"","streetOne":"","streetTwo":"","city":"MAINEVILLE, ","geoCode":"OH","country":"(US)","rankNo":"0"},{"nameLineOne":"ARONHALT","nameLineTwo":"TAYLOR
        W.","suffix":"","streetOne":"","streetTwo":"","city":"LOVELAND, ","geoCode":"OH","country":"(US)","rankNo":"0"},{"nameLineOne":"VENDELY","nameLineTwo":"MICHAEL
        J.","suffix":"","streetOne":"","streetTwo":"","city":"LEBANON, ","geoCode":"OH","country":"(US)","rankNo":"0"},{"nameLineOne":"SCHELLIN","nameLineTwo":"EMILY
        A.","suffix":"","streetOne":"","streetTwo":"","city":"CINCINNATI, ","geoCode":"OH","country":"(US)","rankNo":"0"},{"nameLineOne":"WEANER","nameLineTwo":"LAUREN
        S.","suffix":"","streetOne":"","streetTwo":"","city":"CINCINNATI, ","geoCode":"OH","country":"(US)","rankNo":"0"}],"inventorsFacet":"{BRANDON|J.|LLOYD||||MAINEVILLE|OH|US|IND|0},{TAYLOR|W.|ARONHALT||||LOVELAND|OH|US|IND|0},{MICHAEL|J.|VENDELY||||LEBANON|OH|US|IND|0},{EMILY|A.|SCHELLIN||||CINCINNATI|OH|US|IND|0},{LAUREN|S.|WEANER||||CINCINNATI|OH|US|IND|0}","corrAddrStreetLineOne":"ONE
        JOHNSON & JOHNSON PLAZA","firstInventorFile":"Other","appType":"PCT","appTypeFacet":"PCT","corrAddrPostalCode":"08933","appCustNumber":"27777","wipoEarlyPubNumber":"2014158861","appClsSubCls":"227/176100","appClsSubClsFacet":"227/176100","corrAddrNameLineOne":"PHILIP
        S. JOHNSON","firstNamedApplicant":["  ETHICON ENDO-SURGERY, INC."],"firstNamedApplicantFacet":"  ETHICON
        ENDO-SURGERY, INC.","attrnyAddr":[{"applicationId":null,"registrationNo":null,"fullName":"GARNER,
        DEAN L. ","phoneNum":"000-00-0000","regStatus":""},{"applicationId":null,"registrationNo":null,"fullName":"JOHNSON,
        PHILIP S. ","phoneNum":"000-00-0000","regStatus":""}],"parentContinuity":[{"claimApplicationNumberText":"13851703","applicationNumberText":"PCT/US14/20588","filingDate":"03-27-2013","aiaIndicator":"Y","patentNumberText":"9572577","applicationStatus":"Patented","applicationStatusDescription":"This
        application is a Continuation of"}],"corrAddrCustNo":"27777","corrAddrCountryCd":"US","corrAddrCity":"NEW
        BRUNSWICK","appEntityStatus":"UNDISCOUNTED","appConfrNumber":"4336","lastUpdatedTimestamp":"2022-06-08T05:44:43.517Z","appAttrDockNumberFacet":"END7269WOPCT","appEntityStatusFacet":"UNDISCOUNTED","appCustNumberFacet":"27777","_version_":1735044844068274176,"firstInventorFileFacet":"Other","appLocationFacet":"ELECTRONIC"}]}},"queryId":"429ac736-b15b-4d12-95d6-d57ad92fe03c"},"jobStatus":null,"queryId":"429ac736-b15b-4d12-95d6-d57ad92fe03c","page":1,"count":0,"createQueryRequest":{"searchText":"applId:(PCT/US2014/020588)","facet":"false","facetField":null,"facetLimit":null,"facetMissing":null,"facetDate":null,"facetDateGap":null,"facetDateStart":null,"facetDateEnd":null,"facetDateOther":null,"facetDateInclude":null,"mm":null,"sort":null,"qf":"appEarlyPubNumber
        applId appLocation appType appStatus_txt appConfrNumber appCustNumber appGrpArtNumber
        appCls appSubCls appEntityStatus_txt patentNumber patentTitle primaryInventor
        firstNamedApplicant appExamName appExamPrefrdName appAttrDockNumber appPCTNumber
        appIntlPubNumber wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls
        rankAndInventorsList","wt":null,"df":null,"fl":"*","start":"0","fq":[],"rows":null,"parameters":{"qf":"appEarlyPubNumber
        applId appLocation appType appStatus_txt appConfrNumber appCustNumber appGrpArtNumber
        appCls appSubCls appEntityStatus_txt patentNumber patentTitle primaryInventor
        firstNamedApplicant appExamName appExamPrefrdName appAttrDockNumber appPCTNumber
        appIntlPubNumber wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls
        rankAndInventorsList","fl":["*"],"start":"0","fq":[],"rows":25,"facet":"false"}},"links":[{"rel":"self","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c?format=XML"},{"rel":"results","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/results?page=1"},{"rel":"package","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/package?format=XML"},{"rel":"first","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/results?page=1"},{"rel":"next","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/results?page=2"},{"rel":"self","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c?format=JSON"},{"rel":"results","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/results?page=1"},{"rel":"package","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/package?format=JSON"},{"rel":"first","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/results?page=1"},{"rel":"next","href":"https://ped.uspto.gov/api/queries/429ac736-b15b-4d12-95d6-d57ad92fe03c/results?page=2"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
