interactions:
- request:
    body: '{"df": "patentTitle", "qf": "applId", "fl": "*", "fq": [], "searchText":
      "applId:(15384723)", "sort": "applId asc", "facet": "false", "mm": "0%", "start":
      "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Oct 30 15:56:19 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":499},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15384723","totalPtoDays":"0","assignments":[{"reelNumber":"42319","frameNumber":"63","addressNameText":"GARLICK
      & MARKISON","addressLineOneText":"106 E. 6TH STREET, SUITE 900","addressLineTwoText":"AUSTIN,
      TX 78701","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"05-11-2017","receivedDate":"05-10-2017","recordedDate":"05-10-2017","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"TANG,
      YIFAN","execDate":"05-09-2017"}],"assignee":[{"assigneeName":"TESLA MOTORS,
      INC.","streetLineOneText":"3500 DEER CREEK ROAD","streetLineTwoText":"null","cityName":"PALO
      ALTO","countryCode":"CALIFORNIA","postalCode":"94304"}]},{"reelNumber":"46762","frameNumber":"888","addressNameText":"GARLICK
      & MARKISON","addressLineOneText":"106 E. 6TH STREET, SUITE 900","addressLineTwoText":"AUSTIN,
      TX 78701","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"09-03-2018","receivedDate":"08-10-2018","recordedDate":"08-10-2018","pagesCount":"3","converyanceName":"CHANGE
      OF NAME (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"TESLA
      MOTORS, INC.","execDate":"02-01-2017"}],"assignee":[{"assigneeName":"TESLA,
      INC.","streetLineOneText":"3500 DEER CREEK ROAD","streetLineTwoText":"null","cityName":"PALO
      ALTO","countryCode":"CALIFORNIA","postalCode":"94304"}]}],"applicants":[{"nameLineOne":"Tesla
      Motors, Inc.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Palo
      Alto, ","geoCode":"CA","country":"(US)","rankNo":"1"}],"applicantsFacet":"{||Tesla
      Motors, Inc.||||Palo Alto|CA|US|ORG|1}","appFilingDate":"2016-12-20T00:00:00Z","appExamName":"ZANELLI,
      MICHAEL J","appExamNameFacet":"ZANELLI, MICHAEL J","publicInd":"Y","APP_IND":"5","inventorName":"Yifan  Tang","inventorNameFacet":"Yifan  Tang","appEarlyPubDate":"2017-09-07T00:00:00Z","corrAddrGeoRegionCode":"CA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20170253143A1","id":"15384723","appGrpArtNumber":"3661","appGrpArtNumberFacet":"3661","applIdStr":"15384723","appl_id_txt":"15384723","appSubCls":"022000","patentNumber":"10131248","LAST_MOD_TS":"2023-10-29T06:40:52Z","transactions":[{"recordDate":"2022-05-10
      00:00:00","code":"M1551","description":"Payment of Maintenance Fee, 4th Year,
      Large Entity"},{"recordDate":"2018-11-20 00:00:00","code":"PGM/","description":"Recordation
      of Patent Grant Mailed"},{"recordDate":"2018-11-01 00:00:00","code":"EML_NTR","description":"Email
      Notification"},{"recordDate":"2018-10-31 00:00:00","code":"WPIR","description":"Issue
      Notification Mailed"},{"recordDate":"2018-11-20 00:00:00","code":"PTAC","description":"Patent
      Issue Date Used in PTA Calculation"},{"recordDate":"2018-10-[...]
- request:
    body: '{"df": "patentTitle", "qf": "applId", "fl": "*", "fq": [], "searchText":
      "applId:(15384723)", "sort": "applId asc", "facet": "false", "mm": "0%", "start":
      "0", "rows": 20}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Oct 30 15:56:29 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":537},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15384723","totalPtoDays":"0","assignments":[{"reelNumber":"42319","frameNumber":"[...]
[...]
