interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "appEarlyPubNumber:(US20060127129A1)", "sort": null, "facet": "false", "mm":
      "100%", "start": 0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Oct 29 22:28:02 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":375},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"11247241","totalPtoDays":"153","assignments":[{"reelNumber":"17093","frameNumber":"477","addressNameText":"ROYLANCE,
      ABRAMS, BERDO ET AL","addressLineOneText":"1300 19TH STREET, NW","addressLineTwoText":"WASHINGTON,
      DC 20036","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"01-31-2006","receivedDate":"10-20-2005","recordedDate":"10-12-2005","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"JUNG,
      WOO-CHUL","execDate":"10-10-2005"},{"assignorName":"JEONG, HEUNG-SUP","execDate":"10-10-2005"},{"assignorName":"LYU,
      SE-HYUN","execDate":"10-10-2005"}],"assignee":[{"assigneeName":"SAMSUNG ELECTRONICS
      CO., LTD.","streetLineOneText":"416 MAETON-DONG YEONGTONG-GU","streetLineTwoText":"null","cityName":"SUWON-SI
      GYEONGGI-DO","countryCode":"KOREA, REPUBLIC OF","postalCode":"442-742"}]},{"reelNumber":"50747","frameNumber":"80","addressNameText":"JOHN
      P. MURTAUGH/PEARNE & GORDON LLP","addressLineOneText":"1801 EAST 9TH STREET,
      SUITE 1200","addressLineTwoText":"CLEVELAND, OH 44114-3108","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"10-18-2019","receivedDate":"10-17-2019","recordedDate":"10-17-2019","pagesCount":"264","converyanceName":"CONFIRMATORY
      ASSIGNMENT EFFECTIVE NOVEMBER 1, 2018","sequenceNumber":"2511","assignors":[{[...]
