interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(14018930)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Fri Oct 27 18:03:14 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":333},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"14018930","totalPtoDays":"244","assignments":[{"reelNumber":"31169","frameNumber":"926","addressNameText":"CANTOR
        COLBURN LLP","addressLineOneText":"20 CHURCH STREET","addressLineTwoText":"22ND
        FLOOR","addressLineThreeText":"HARTFORD, CT 06103","addressLineFourText":"null","mailDate":"09-11-2013","receivedDate":"09-05-2013","recordedDate":"09-05-2013","pagesCount":"4","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"VELDHUIZEN,
        TODD L.","execDate":"09-04-2013"}],"assignee":[{"assigneeName":"LOGICBLOX,
        INC.","streetLineOneText":"1349 W. PEACHTREE STREET, NW","streetLineTwoText":"SUITE
        1880","cityName":"ATLANTA","countryCode":"GEORGIA","postalCode":"30309"}]},{"reelNumber":"34909","frameNumber":"756","addressNameText":"MICHAEL
        LABLANC","addressLineOneText":"655 W IRVING PARK ROAD","addressLineTwoText":"CHICAGO,
        IL 60613","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"02-09-2015","receivedDate":"02-06-2015","recordedDate":"02-06-2015","pagesCount":"12","converyanceName":"SECURITY
        INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"2","assignors":[{"assignorName":"LOGICBLOX
        INC.","e[...]
