interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Tesla)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: "{\"queryResults\":{\"indexLastUpdatedDate\":\"Tue Aug 09 11:46:50 EDT
        2022\",\"searchResponse\":{\"responseHeader\":{\"zkConnected\":true,\"status\":0,\"QTime\":384},\"response\":{\"numFound\":781,\"start\":0,\"numFoundExact\":true,\"docs\":[{\"corrAddrCountryName\":\"UNITED
        STATES\",\"applId\":\"15668963\",\"assignments\":[{\"reelNumber\":\"43200\",\"frameNumber\":\"264\",\"addressNameText\":\"DENTONS
        US LLP - TESLA\",\"addressLineOneText\":\"P.O. BOX 061080\",\"addressLineTwoText\":\"CHICAGO,
        IL 60606-1080\",\"addressLineThreeText\":\"null\",\"addressLineFourText\":\"null\",\"mailDate\":\"08-07-2017\",\"receivedDate\":\"08-04-2017\",\"recordedDate\":\"08-04-2017\",\"pagesCount\":\"3\",\"converyanceName\":\"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).\",\"sequenceNumber\":\"1\",\"assignors\":[{\"assignorName\":\"CALDERONE,
        JOHN DAVID\",\"execDate\":\"08-03-2017\"}],\"assignee\":[{\"assigneeName\":\"TESLA,
        INC.\",\"streetLineOneText\":\"3500 DEER CREEK\",\"streetLineTwoText\":\"null\",\"cityName\":\"PALO
        ALTO\",\"countryCode\":\"CALIFORNIA\",\"postalCode\":\"94304\"}]}],\"applicants\":[{\"nameLineOne\":\"Tesla,
        Inc.\",\"nameLineTwo\":\" \",\"suffix\":\"\",\"streetOne\":\"\",\"streetTwo\":\"\",\"city\":\"Palo
        Alto, \",\"geoCode\":\"CA\",\"country\":\"()\",\"rankNo\":\"1\"}],\"applicantsFacet\":\"{||Tesla,
        Inc.||||Palo Alto|CA||ORG|1}\",\"appFilingDate\":\"2017-08-04T00:00:00Z\",\"appExamName\":\"DUONG,
        THO V\",\"appExamNameFacet\":\"DUONG, THO V\",\"publicInd\":\"Y\",\"APP_IND\":\"5\",\"inventorName\":\"John
        David Calderone\",\"inventorNameFacet\":\"John David Calderone\",\"appEarlyPubDate\":\"2019-02-07T00:00:00Z\",\"corrAddrGeoRegionCode\":\"CA\",\"appLocation\":\"ELECTRONIC\",\"appEarlyPubNumber\":\"US20190039440A1\",\"id\":\"15668963\",\"appGrpArtNumber\":\"3763\",\"appGrpArtNumberFacet\":\"3763\",\"applIdStr\":\"15668963\",\"appl_id_txt\":\"15668963\",\"appSubCls\":\"041000\",\"LAST_MOD_TS\":\"2022-08-09T05:05:39Z\",\"transactions\":[{\"recordDate\":\"2022-08-09
        00:00:00\",\"code\":\"EML_NTR\",\"description\":\"Email Notification\"},{\"recordDate\":\"2022-08-08
        00:00:00\",\"code\":\"D1935\",\"description\":\"Dispatch to FDC\"},{\"recordDate\":\"2022-08-08
        00:00:00\",\"code\":\"PILS\",\"description\":\"Application Is Considered Ready
        for Issue\"},{\"recordDate\":\"2022-08-09 00:00:00\",\"code\":\"FLRCPT.C\",\"description\":\"Filing
        Receipt - Corrected\"},{\"recordDate\":\"2022-08-05 00:00:00\",\"code\":\"N084\",\"description\":\"Issue
        Fee Payment Verified\"},{\"[...]
[...]
