interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "appCustNumber:(70155)", "sort": null, "facet": "false", "mm": "100%", "start":
      0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: "{\"queryResults\":{\"indexLastUpdatedDate\":\"Fri Oct 27 16:58:44 EDT
      2023\",\"searchResponse\":{\"responseHeader\":{\"zkConnected\":true,\"status\":0,\"QTime\":473},\"response\":{\"numFound\":897,\"start\":0,\"numFoundExact\":true,\"docs\":[{\"corrAddrCountryName\":\"UNITED
      STATES\",\"applId\":\"17832163\",\"appFilingDate\":\"2022-06-03T00:00:00Z\",\"appExamName\":\"MORGAN,
      EMILY M\",\"appExamNameFacet\":\"MORGAN, EMILY M\",\"publicInd\":\"Y\",\"APP_IND\":\"5\",\"inventorName\":\"Wayne
      \ Parris\",\"inventorNameFacet\":\"Wayne  Parris\",\"appEarlyPubDate\":\"2022-12-08T00:00:00Z\",\"corrAddrGeoRegionCode\":\"TX\",\"corrAddrNameLineTwo\":\"INTELLECTUAL
      PROPERTY DEPARTMENT\",\"appLocation\":\"ELECTRONIC\",\"appEarlyPubNumber\":\"US20220386748A1\",\"id\":\"17832163\",\"appGrpArtNumber\":\"3677\",\"appGrpArtNumberFacet\":\"3677\",\"applIdStr\":\"17832163\",\"appl_id_txt\":\"17832163\",\"appSubCls\":\"013000\",\"LAST_MOD_TS\":\"2023-10-25T21:35:39Z\",\"transactions\":[{\"recordDate\":\"2023-10-25
      00:00:00\",\"code\":\"IDSC\",\"description\":\"Information Disclosure Statement
      considered\"},{\"recordDate\":\"2023-10-25 00:00:00\",\"code\":\"FWDX\",\"description\":\"Date
      Forwarded to Examiner\"},{\"recordDate\":\"2023-10-23 00:00:00\",\"code\":\"ELC.\",\"description\":\"Response
      to Election / Restriction Filed\"},{\"recordDate\":\"2023-09-20 00:00:00\",\"code\":\"EML_NTR\",\"description\":\"Email
      Notification\"},{\"recordDate\":\"2023-09-20 00:00:00\",\"code\":\"MEXIN\",\"description\":\"Mail
      Examiner Int[...]
