interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Tesla)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Sun Oct 29 22:00:28 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":452},"response":{"numFound":938,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"17451965","applicants":[{"nameLineOne":"Tesla, Inc.","nameLineTwo":"
        ","suffix":"","streetOne":"","streetTwo":"","city":"Austin, ","geoCode":"TX","country":"(US)","rankNo":"1"}],"applicantsFacet":"{||Tesla,
        Inc.||||Austin|TX|US|ORG|1}","appFilingDate":"2021-10-22T00:00:00Z","appExamName":"SMITH-STEWART,
        DEMETRA R","appExamNameFacet":"SMITH-STEWART, DEMETRA R","publicInd":"Y","APP_IND":"5","inventorName":"Donald
        Benton MacMillen","inventorNameFacet":"Donald Benton MacMillen","appEarlyPubDate":"2022-02-10T00:00:00Z","corrAddrGeoRegionCode":"CA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20220043449A1","id":"17451965","appGrpArtNumber":"3661","appGrpArtNumberFacet":"3661","applIdStr":"17451965","appl_id_txt":"17451965","appSubCls":"023000","LAST_MOD_TS":"2023-10-27T14:15:39Z","transactions":[{"recordDate":"2023-10-20
        00:00:00","code":"CTFR","description":"Final Rejection"},{"recordDate":"2023-07-06
        00:00:00","code":"FWDX","description":"Date Forwarded to Examiner"},{"recordDate":"2023-06-29
        00:00:00","code":"A...","description":"Response after Non-Final Action"},{"recordDate":"2023-03-29
        00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-03-29
        00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-03-29
        00:00:00","code":"ELC_RVW","description":"Elec[...]
