interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000A1
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status_code: 400
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1716395556864\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"Xe2NlUvr48suf8xL0hV13M9rTUiY\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000A1
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/family.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:patent-family legal=\"false\" total-result-count=\"6\">\n        <ops:publication-reference>\n
      \           <document-id document-id-type=\"docdb\">\n                <country>EP</country>\n
      \               <doc-number>1000000</doc-number>\n                <kind>A1</kind>\n
      \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
      family-id=\"19768124\">\n            <publication-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
      \                   <kind>A1</kind>\n                    <date>20000517</date>\n
      \               </document-id>\n                <document-id document-id-type=\"epodoc\">\n
      \                   <doc-number>EP1000000</doc-number>\n                    <date>20000517</date>\n
      \               </document-id>\n            </publication-reference>\n            <application-reference
      doc-id=\"17397285\" is-representative=\"YES\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>99203729</doc-number>\n
      \                   <kind>A</kind>\n                    <date>19991108</date>\n
      \               </document-id>\n            </application-reference>\n            <priority-claim
      sequence=\"1\" kind=\"national\">\n                <document-id document-id-type=\"docdb\">\n
      \                   <country>NL</country>\n                    <doc-number>1010536</doc-number>\n
      \                   <kind>A</kind>\n                    <date>19981112</date>\n
      \               </document-id>\n                <priority-active-indicator>YES</priority-active-indicator>\n
      \           </priority-claim>\n        </ops:family-member>\n        <ops:family-member
      family-id=\"19768124\">\n            <publication-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
      \                   <kind>B1</kind>\n                    <date>20030212</date>\n
      \               </document-id>\n                <[...]
