interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/number-service/application/docdb/MD.20050130.A.20050130/epodoc
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token has expired</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.access_token_expired:
        Access Token expired"'
    status_code: 400
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1702315262850\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"WQr5DcdJamEvalOlAiSFXlA54Dv5\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/number-service/application/docdb/MD.20050130.A.20050130/epodoc
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/numbers.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:meta name=\"status\" value=\"SUCCESS\"/>\n    <ops:meta name=\"version\"
      value=\"11.07.65\"/>\n    <ops:standardization inputFormat=\"docdb\" outputFormat=\"epodoc\">\n
      \       <ops:input>\n            <ops:application-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>MD</country>\n                    <doc-number>20050130</doc-number>\n
      \                   <kind>A</kind>\n                    <date>20050130</date>\n
      \               </document-id>\n            </ops:application-reference>\n        </ops:input>\n
      \       <ops:output>\n            <ops:application-reference>\n                <document-id
      document-id-type=\"epodoc\">\n                    <doc-number>MD20050000130</doc-number>\n
      \                   <kind>A</kind>\n                    <date>20050130</date>\n
      \               </document-id>\n            </ops:application-reference>\n        </ops:output>\n
      \   </ops:standardization>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"03f3f239201110a231bf9266616b0a3f8"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Elapsed-Time:
      - '32'
      X-IndividualQuotaPerHour-Used:
      - '49835'
      X-RegisteredQuotaPerWeek-Used:
      - '1469638'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status_code: 200
version: 1
