interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14591909)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Apr 22 15:50:23 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":341},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","totalPtoDays":"0","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
      MARK A","appExamNameFacet":"CONNOLLY, MARK A","publicInd":"Y","APP_IND":"5","inventorName":"Yechezkal
      Evan Spero","inventorNameFacet":"Yechezkal Evan Spero","appEarlyPubDate":"2016-07-07T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160195856A1","id":"14591909","appGrpArtNumber":"2115","appGrpArtNumberFacet":"2115","applIdStr":"14591909","appl_id_txt":"14591909","appSubCls":"090000","patentNumber":"11651258","LAST_MOD_TS":"2024-04-17T06:21:12Z","transactions":[{"recordDate":"2023-05-16
      00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
      00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
      00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2023-05-16
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2023-05-16
      00:00:00","code":"EPG/","description":"Recordation of Patent eGrant"},{"recordDate":"2023-05-16
      00:00:00","code":"MEPG_NTF","description":"Mail [...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14591909)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Apr 22 15:48:45 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":303},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","totalPtoDays":"0","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
  [...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "firstNamedApplicant:(Caterpillar)", "sort":
      "applId asc", "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Apr 22 13:07:18 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":453},"response":{"numFound":7756,"start":0,"numFoundExact":true,"docs":[{"applId":"06113950","assignments":[{"reelNumber":"4669","frameNumber":"905","addressNameText":"CATERPILLAR
      TRACTOR CO.","addressLineOneText":"100 N.E. ADAMS ST.","addressLineTwoText":"PEORIA,
      ILLINOIS 61629","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"NONE","receivedDate":"","recordedDate":"06-12-1986","pagesCount":"55","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST.","sequenceNumber":"2018","assignors":[{"assignorName":"CATERPILLAR
      TRACTOR CO., A CORP. OF CALIF.","execDate":"05-15-1986"}],"assignee":[{"assigneeName":"CATERPILLAR
      INC., A CORP. OF DE.","streetLineOneText":"100 N.E. ADAMS STREET","streetLineTwoText":"null","cityName":"PEORIA","countryCode":"ILLINOIS","postalCode":"null"}]}],"applicants":[{"nameLineOne":"CATERPILLAR
      TRACTOR CO.","nameLineTwo":"A CORP. OF CALIF.","suffix":"","streetOne":"","streetTwo":"","city":"PEORIA,
      ","geoCode":"IL","country":"(US)","rankNo":"5"}],"applicantsFacet":"{A|CORP.
      OF CALIF.|CATERPILLAR TRACTOR CO.||||PEORIA|IL|US|IND|5}","appFilingDate":"1980-01-21T00:00:00Z","appExamName":"LAZARUS,
      IRA S","appExamNameFacet":"LAZARUS, IRA S","publicInd":"Y","appLocationDate":"2023-01-20T00:00:00Z","APP_IND":"5","inventorName":"GEORGE
      E. HICKS","inventorNameFacet":"GEORGE E. HICKS","corrAddrGeoRegionCode":"IL","corrAddrNameLineTwo":"WOOD
      & DALTON","appLocation":"At National Archives - Contact Records Management at
      RecordsManagement@uspto.gov","id":"06113950","appGrpArtNumber":"3402","appGrpArtNumberFacet":"3402","applIdStr":"06113950","appl_id_txt":"06113950","appSubCls":"00100A","patentNumber":"RE31218","LAST_MOD_TS":"2023-04-29T00:54:12Z","transactions":[{"recordDate":"2001-09-22
      00:00:00","code":"SETS","description":"Set Application Status"},{"recordDate":"1981-03-20
      00:00:00","code":"DOCK","description":"Case Docketed to Examiner in GAU"},{"recordDate":"1983-04-19
      00:00:00","code":"N066","description":"Notice of Balance of Issue Fee Due (PTO-1031)  -
      Charged to Deposit Account"},{"recordDate":"1982-08-09 00:00:00","code":"N084","description":"Issue
      Fee Payment Verified"},{"recordDate":"1982-06-02 00:00:00","code":"MN/=.","description":"Mail
      Notice of Allowance"},{"recordDate":"1982-06-02 00:00:00","code":"N/=.","description":"Notice
      of Allowance Data Verification Completed"},{"recordDate":"1981-03-20 00:00:00","code":"MCTNF","description":"Mail
      Non-Final Rejection"},{"recordDate":"1981-03-20 00:00:00","code":"CTNF","description":"Non-Final
      Rejection"},{"recordDate":"1981-03-20 00:00:00","code":"DOCK","description":"Case
      Docketed to Examiner in GAU"},{"recordDate":"1981-03-20 00:00:00","code":"OIPE","description":"Application
      Dispatched from OIPE"}],"LAST_INSERT_TIME":"2023-04-29T05:45:02Z","appCls":"123","appStatus":"Patented
      Case","appStatusFacet":"Patented Case","appStatus_txt":"Patented Case","patentTitle":"FUEL
      ADDITIVE INJECTION SYSTEM FOR DIESEL ENGINES ","appStatusDate":"1983-04-26T00:00:00Z","inventors":[{"nameLineOne":"HICKS","nameLineTwo":"GEORGE
      E.","suffix":"","streetOne":"","streetTwo":"","city":"PEORIA, ","geoCode":"IL","country":"(US)","rankNo":"1"},{"nameLineOne":"LITHERLAND","nameLineTwo":"JOHN
      W.","suffix":"","streetOne":"","streetTwo":"","city":"PEORIA, ","geoCode":"IL","country":"(US)","rankNo":"2"},{"nameLineOne":"MARTIN","nameLineTwo":"ARLAN
      G.","suffix":"","streetOne":"","streetTwo":"","city":"MORTON, ","geoCode":"IL","country":"(US)","rankNo":"3"},{"nameLineOne":"WILLIAMS","nameLineTwo":"LAWRENCE
      ","suffix":"","streetOne":"","streetTwo":"","city":"PEORIA HTS., ","geoCode":"IL","country":"(US)","rankNo":"4"}],"inventorsFacet":"{GEORGE|E.|HICKS||||PEORIA|IL|US|IND|1},{JOHN|W.|LITHERLAND||||PEORIA|IL|US|IND|2},{ARLAN|G.|MARTIN||||MORTON|IL|US|IND|3},{LAWRENCE||WILLIAMS||||PEORIA
      HTS.|IL|US|IND|4}","corrAddrStreetLineOne":"20 N. WACKER DR.","firstInventorFile":"No","appType":"Re-Issue","appTypeFacet":"Re-Issue","corrAddrPostalCode":"60606","appClsSubCls":"123/00100A","appClsSubClsFacet":"123/00100A","patentIssueDate":"1983-04-26T00:00:00Z","corrAddrNameLineOne":"WEGNER,
      STELLMAN, MC CORD","firstNamedApplicant":["A CORP. OF CALIF. CATERPILLAR TRACTOR
      CO."],"firstNamedApplicantFacet":"A CORP. OF CALIF. CATERPILLAR TRACTOR CO.","attrnyAddr":[{"applicationId":null,"registrationNo":"22070","fullName":"Walters,
      Ralph  ","phoneNum":"760-941-1454","regStatus":"ACTIVE"},{"applicationId":null,"registrationNo":"22810","fullName":"Van
      Santen, William  Jr","phoneNum":"312-876-1800","regStatus":"ADMIN SUSPENDED"},{"applicationId":null,"registrationNo":"25340","fullName":"Hart,
      Frank  ","phoneNum":"918-254-8865","regStatus":"ADMIN SUSPENDED"}],"parentContinuity":[{"claimApplicationNumberText":"05847530","applicationNumberText":"06113950","filingDate":"10-31-1977","aiaIndicator":"N","patentNumberText":"4161160","applicationStatus":"Patented","applicationStatusDescription":"This
      application is a Reissue of"}],"corrAddrCountryCd":"US","corrAddrCity":"CHICAGO","appEntityStatus":"UNDISCOUNTED","appConfrNumber":"6476","lastUpdatedTimestamp":"2023-04-29T20:50:53.528Z","appEntityStatusFacet":"UNDISCOUNTED","_version_":1764545217712619521,"firstInventorFileFacet":"No","appLocationFacet":"At
      National Archives - Contact Records Management at RecordsManagement@uspto.gov","patentNumberFacet":"RE31218"},{"applId":"06167089","assignments":[{"reelNumber":"4669","frameNumber":"905","addressNameText":"CATERPILLAR
      TRACTOR CO.","addressLineOneText":"100 N.E. ADAMS ST.","addressLineTwoText":"PEORIA,
      ILLINOIS 61629","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"NONE","receivedDate":"","recordedDate":"06-12-1986","pagesCount":"55","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST.","sequenceNumber":"2012","assignors":[{"assignorName":"CATERPILLAR
 [...]
[...]
