interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(14591909)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Mon Aug 15 17:35:23 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":323},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
        MARK A","appExamNameFacet":"CONNOLLY, MARK A","publicInd":"Y","APP_IND":"5","inventorName":"Yechezkal
        Evan Spero","inventorNameFacet":"Yechezkal Evan Spero","appEarlyPubDate":"2016-07-07T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160195856A1","id":"14591909","appGrpArtNumber":"2115","appGrpArtNumberFacet":"2115","applIdStr":"14591909","appl_id_txt":"14591909","appSubCls":"090000","LAST_MOD_TS":"2022-08-03T04:10:39Z","transactions":[{"recordDate":"2022-08-03
        00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2022-08-03
        00:00:00","code":"MCTAV","description":"Mail Advisory Action (PTOL - 303)"},{"recordDate":"2022-07-28
        00:00:00","code":"CTAV","description":"Advisory Action (PTOL-303)"},{"recordDate":"2022-07-27
        00:00:00","code":"FWDX","description":"Date Forwarded to Examiner"},{"recordDate":"2022-07-19
        00:00:00","code":"A.NE","description":"Response after Final Action"},{"recordDate":"2022-07-19
        00:00:00","code":"EML_NTR",[...]
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Caterpillar)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Mon Aug 15 17:35:23 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":418},"response":{"numFound":6633,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"13670333","totalPtoDays":"0","assignments":[{"reelNumber":"29251","frameNumber":"707","addressNameText":"BAKER
        & HOSTETLER LLP","addressLineOneText":"1050 CONNECTICUT AVE., NW","addressLineTwoText":"SUITE
        1100","addressLineThreeText":"WASHINGTON, DC 20036","addressLineFourText":"null","mailDate":"11-07-2012","receivedDate":"11-06-2012","recordedDate":"11-06-2012","pagesCount":"3","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"FRIEND,
        PAUL RUSSELL","execDate":"11-02-2012"}],"assignee":[{"assigneeName":"CATERPILLAR
        INC.","streetLineOneText":"100 N.E. ADAMS STREET","streetLineTwoText":"null","cityName":"PEORIA","countryCode":"ILLINOIS","postalCode":"61629"}]}],"applicants":[{"nameLineOne":"CATERPILLAR
        INC.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Peoria,
        ","geoCode":"IL","country":"(US)","rankNo":"2"}],"applicantsFacet":"{||CATERPILLAR
        INC.||||Peoria|IL|US|ORG|2}","appFilingDate":"2012-11-06T00:00:00Z","appExamName":"KOSTAK,
        VICTOR R","appExamNameFacet":"KOSTAK, VICTOR R","publicInd":"Y","APP_IND":"5","inventorName":"Paul
        Russell Friend","inventorNameFacet":"Paul Russell Friend","appEarlyPubDate":"2014-05-08T00:00:00Z","corrAddrGeoRegionCode":"IL","corrAddrNameLineTwo":"Intellectual
        Property Dept.","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20140125818A1","id":"13670333","appGrpArtNumber":"2422","appGrpArtNumberFacet":"2422","applIdStr":"13670333","appl_id_txt":"13670333","appSubCls":"184000","patentNumber":"8773540","LAST_MOD_TS":"2022-07-27T23:50:57Z","transactions":[{"recordDate":"2022-08-15
        00:00:00","code":"EXP.","description":"Expire Patent"},{"recordDate":"2022-02-28
        00:00:00","code":"REM.","description":"Maintenance Fee Reminder Mailed"},{"recordDate":"2017-12-15
        00:00:00","code":"M1551","description":"Payment of Maintenance Fee, 4th Year,
        Large Entity"},{"recordDate":"2016-05-25 00:00:00","code":"C.ADB","description":"Correspondence
        Address Change"},[...]
