interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(14591909)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Mon Jul 10 14:30:33 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":380},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","totalPtoDays":"0","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
        MARK A","appExamNameFacet":"CONNOLLY, MARK A","publicInd":"Y","APP_IND":"5","inventorName":"Yechezkal
        Evan Spero","inventorNameFacet":"Yechezkal Evan Spero","appEarlyPubDate":"2016-07-07T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160195856A1","id":"14591909","appGrpArtNumber":"2115","appGrpArtNumberFacet":"2115","applIdStr":"14591909","appl_id_txt":"14591909","appSubCls":"090000","patentNumber":"11651258","LAST_MOD_TS":"2023-06-06T06:20:58Z","transactions":[{"recordDate":"2023-05-16
        00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
        00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
        00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2023-05-16
        00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2023-05-16
        00:00:00","code":"EPG/","description":"Recordation of Patent eGrant"},{"recordDate":"2023-05-16
        00:00:00","code":"MEPG_NTF","descripti[...]
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Caterpillar)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Mon Jul 10 14:30:33 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":380},"response":{"numFound":7306,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"16870217","assignments":[{"reelNumber":"52613","frameNumber":"59","addressNameText":"CATERPILLAR
        INC.","addressLineOneText":"100 NE ADAMS STREET","addressLineTwoText":"AH
        9510","addressLineThreeText":"PEORIA, IL 61629","addressLineFourText":"null","mailDate":"05-11-2020","receivedDate":"05-08-2020","recordedDate":"05-08-2020","pagesCount":"3","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"ROAT,
        KENNETH MARVIN","execDate":"05-07-2020"}],"assignee":[{"assigneeName":"CATERPILLAR
        INC.","streetLineOneText":"100 NE ADAMS STREET","streetLineTwoText":"null","cityName":"PEORIA","countryCode":"ILLINOIS","postalCode":"61629-9510"}]}],"applicants":[{"nameLineOne":"Caterpillar
        Inc.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Peoria,
        ","geoCode":"IL","country":"()","rankNo":"1"}],"applicantsFacet":"{||Caterpillar
        Inc.||||Peoria|IL||ORG|1}","appFilingDate":"2020-05-08T00:00:00Z","appExamName":"FREJD,
        RUSSELL WARREN","appExamNameFacet":"FREJD, RUSSELL WARREN","publicInd":"Y","APP_IND":"5","inventorName":"Kenneth
        Marvin ROAT","inventorNameFacet":"Kenneth Marvin ROAT","appEarlyPubDate":"2021-11-11T00:00:00Z","corrAddrGeoRegionCode":"IL","corrAddrNameLineTwo":"Intellectual
        Property Department","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20210347411A1","id":"16870217","appGrpArtNumber":"3661","appGrpArtNumberFacet":"3661","applIdStr":"16870217","appl_id_txt":"16870217","appSubCls":"041000","LAST_MOD_TS":"2023-07-06T00:41:08Z","transactions":[{"recordDate":"2023-06-29
        00:00:00","code":"N084","description":"Issue Fee Payment Verified"},{"recordDate":"2023-06-29
        00:00:00","code":"IFEE","description":"Issue Fee Payment Receiv[...]
