interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(14591909)", "sort": null, "facet": "false", "start": 0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Oct 29 23:58:33 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":355},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","totalPtoDays":"0","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
      MARK A","appExamNameFacet":"CONNOLLY, MARK A","publicInd":"Y","APP_IND":"5","inventorName":"Yechezkal
      Evan Spero","inventorNameFacet":"Yechezkal Evan Spero","appEarlyPubDate":"2016-07-07T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160195856A1","id":"14591909","appGrpArtNumber":"2115","appGrpArtNumberFacet":"2115","applIdStr":"14591909","appl_id_txt":"14591909","appSubCls":"090000","patentNumber":"11651258","LAST_MOD_TS":"2023-10-28T06:20:42Z","transactions":[{"recordDate":"2023-05-16
      00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
      00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
      00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2023-05-16
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2023-05-16
      00:00:00","code":"EPG/","description":"Recordation of Patent eGrant"},{"recordDate":"2023-05-16
      00:00:00","code":"MEPG_NTF","description":"Mail [...]
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Caterpillar)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Sun Oct 29 23:58:33 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":597},"response":{"numFound":7501,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"17338025","assignments":[{"reelNumber":"56431","frameNumber":"393","addressNameText":"LAW
      OFFICE OF KURT J. FUGMAN","addressLineOneText":"0N490 CHAPMAN CT","addressLineTwoText":"GENEVA,
      IL 60134","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"06-04-2021","receivedDate":"06-03-2021","recordedDate":"06-03-2021","pagesCount":"7","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"BJERKE,
      NATHAN R.","execDate":"05-28-2021"},{"assignorName":"TANCIN, MICHAEL","execDate":"06-03-2021"},{"assignorName":"SINN,
      ERIC THOMAS","execDate":"06-01-2021"}],"assignee":[{"assigneeName":"CATERPILLAR
      INC","streetLineOneText":"100 NE ADAMS STREET","streetLineTwoText":"AH9510","cityName":"PEORIA","countryCode":"ILLINOIS","postalCode":"61629-9510"}]}],"applicants":[{"nameLineOne":"Caterpillar
      Inc.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Peoria,
      ","geoCode":"IL","country":"()","rankNo":"1"}],"applicantsFacet":"{||Caterpillar
      Inc.||||Peoria|IL||ORG|1}","appFilingDate":"2021-06-03T00:00:00Z","appExamName":"SCOVILLE,
      BLAKE E","appExamNameFacet":"SCOVILLE, BLAKE E","publicInd":"Y","APP_IND":"5","inventorName":"Michael  Tancin","inventorNameFacet":"Michael  Tancin","appEarlyPubDate":"2022-12-08T00:00:00Z","corrAddrGeoRegionCode":"IL","corrAddrNameLineTwo":"Intellectual
      Property Dept.","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20220389690A1","id":"17338025","appGrpArtNumber":"3671","appGrpArtNumberFacet":"3671","applIdStr":"17338025","appl_id_txt":"17338025","appSubCls":"448000","LAST_MOD_TS":"2023-10-29T06:54:00Z","transactions":[{"recordDate":"2023-10-24
      00:00:00","code":"CTNF","description":"Non-Final Rejection"},{"recordDate":"2023-09-19
      00:00:00","code":"RCEX","description":"Request for Continued Examination (RCE)"},[...]
