interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456","foreignPriorityBag":[{"filingDate":"2017-09-27","applicationNumberText":"2017-187096","ipOfficeName":"JAPAN"}]}],"requestIdentifier":"9d571828-ac75-430b-80d0-f2def619ce3d"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - RhjOtHR4IAMFy2Q=
      x-amzn-requestid:
      - 9d571828-ac75-430b-80d0-f2def619ce3d
    status_code: 200
version: 1
