interactions:
- request:
    body: '{"q": "firstNamedApplicant:STMicroelectronics S.A."}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: "{\"count\":74933,\"patentFileWrapperDataBag\":[{\"eventDataBag\":[{\"eventCode\":\"RXLITSR\",\"eventDescriptionText\":\"Reexam
      Litigation Search Conducted\",\"eventDate\":\"2025-09-25\"},{\"eventCode\":\"DOCK\",\"eventDescriptionText\":\"Case
      Docketed to Examiner in GAU\",\"eventDate\":\"2025-09-23\"},{\"eventCode\":\"RXPCOM\",\"eventDescriptionText\":\"Completion
      of Preprocessing - Released to Assigned GAU\",\"eventDate\":\"2025-09-23\"},{\"eventCode\":\"COMP\",\"eventDescriptionText\":\"Application
      Is Now Complete\",\"eventDate\":\"2025-09-24\"},{\"eventCode\":\"MRXN\",\"eventDescriptionText\":\"Reexamination
      Formalities Notice Mailed\",[...]
