interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=ti%3Dplastic
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">ti
      = plastic</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"78617299\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>CA</country>\n
      \                   <doc-number>3237865</doc-number>\n                    <kind>A1</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n            <ops:publication-reference
      system=\"ops.epo.org\" family-id=\"88510860\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>CA</country>\n                    <doc-number>3215798</doc-number>\n
      \                   <kind>A1</kind>\n                </document-id>\n            </ops:publication-reference>\n
      \           <ops:publication-[...]
