interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/documents?proceedingNumber=IPR2022-00037
  response:
    content: "{\"aggregationData\":{},\"results\":[{\"filingPartyCategory\":\"PETITIONER\",\"documentNumber\":\"30\",\"documentName\":\"IPR2022-00037
      - Petitioner Apple's Notice of Appeal.pdf\",\"documentCategory\":\"NOTICE\",\"documentTitleText\":\"Petitioners
      Notice of Appeal\",\"proceedingNumber\":\"IPR2022-00037\",\"documentFilingDate\":\"10-30-2023\",\"documentTypeName\":\"Notice:
      \ notice of appeal\",\"proceedingTypeCategory\":\"AIA Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentSize\":\"3116190\",\"documentIdentifier\":\"170680401\",\"objectUuId\":\"170680401\",\"respondentTechnologyCenterNumber\":\"3700\",\"respondentPartyName\":\"LoganTree
      LP\",\"respondentGroupArtUnitNumber\":\"3713\",\"respondentCounselName\":\"Warden,
      Davidet al\",\"respondentGrantDate\":\"05-09-2000\",\"respondentPatentNumber\":\"6059576\",\"respondentApplicationNumberText\":\"08976228\",\"petitionerPartyName\":\"Apple
      Inc.\",\"petitionerCounselName\":\"Renner, Walteret al\",\"additionalRespondentPartyDataBag\":[]},{\"filingPartyCategory\":\"BOARD\",\"documentNumber\":\"28\",\"documentName\":\"IPR2022-00037;
      IPR2022-00040.pdf\",\"documentCategory\":\"OTHER\",\"documentTitleText\":\"Other:
      \ Hearing transcript\",\"proceedingNumber\":\"IPR2022-00037\",\"documentFilingDate\":\"08-16-2023\",\"documentTypeName\":\"Other:
      \ Hearing transcript\",\"proceedingTypeCategory\":\"AIA Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentSize\":\"339014\",\"documentIdentifier\":\"170639121\",\"ob[...]
