interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/decisions?proceedingNumber=IPR2016-00831
  response:
    content: "{\"aggregationData\":{},\"results\":[{\"proceedingNumber\":\"IPR2016-00831\",\"decisionTypeCategory\":\"Decision\",\"subdecisionTypeCategory\":\"Settlement
      after Institution\",\"documentName\":\"IPR2016-00831 -832 -833 Decision on Motion
      to Terminate.pdf\",\"proceedingTypeCategory\":\"AIA Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentIdentifier\":\"169514971\",\"respondentTechnologyCenterNumber\":\"2800\",\"respondentPatentOwnerName\":\"Silicon
      Genesis Corporation\",\"respondentPartyName\":\"Silicon Genesis Corporation\",\"respondentInventorName\":\"FRANCOIS
      HENLEY\",\"respondentCounselName\":\"Margaux Nair\",\"respondentPatentNumber\":\"6162705\",\"respondentApplicationNumberText\":\"09026118\",\"petitionerPartyName\":\"Commissariat
      a l\u2019Energie Atomique et aux Energies Alternatives\",\"petitionerCounselName\":\"Paul
      McGowan\",\"ocrSearchText\":\"\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\nMicrosoft
      Word - IPR2016-00831 -832 -833 Decision on Motion to Terminate\\n\\n\\nTrials@uspto.gov
      \ Paper No. 39 \\n571-272-7822 Entered:  July 6, 2017 \\n \\n\\n \\n\\n \\n\\n
      \\n \\n \\nUNITED STATES PATENT AND TRADEMARK OFFICE \\n\\n____________ \\n
      \\n\\nBEFORE THE PATENT TRIAL AND APPEAL BOARD \\n____________ \\n\\n \\nCOMMISSARIAT
      \ LENERGIE ATOMIQUE  \\n\\nET AUX ENERGIES ALTERNATIVES, \\nPetitioner, \\n\\n
      \\nv. \\n \\n\\nSILICON GENESIS CORPORATION, \\nPatent Owner. \\n____________
      \\n\\n \\nCase IPR2016-00831 (Patent 6\",\"issueType\":[\"\"],\"boardRulings\":[\"35
      USC 317\",\"37 CFR 42.72\",\"37 CFR 42.74\"],\"decisionDate\":\"07-06-2017\",\"respondentGrantDate\":\"12-19-2000\",\"identifier\":\"a44c5f1557b7b60d00e66604d3668ce442d53f964aa597011cc476b4\",\"additionalRespondentPartyDataBag\":[]}],\"recordTotalQuantity\":1}"
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/decisions?proceedingNumber=IPR2016-00831&recordStartNumber=0&recordTotalQuantity=1&sortOrderCategory=
  response:
    content: "{\"aggregationData\":{},\"results\":[{\"proceedingNumber\":\"IPR2016-00831\",\"decisionTypeCategory\":\"Decision\",\"subdecisionTypeCategory\":\"Settlement
      after Institution\",\"documentName\":\"IPR2016-00831 -832 -833 Decision on Motion
      to Terminate.pdf\",\"pr[...]
