interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordTotalQuantity=25&sortOrderCategory=&recordStartNumber=0
  response:
    body:
      string: '{"aggregationData":{},"results":[{"proceedingFilingDate":"09-23-1998","proceedingStatusCategory":"Decision","proceedingNumber":"1998003162","proceedingLastModifiedDate":"11-02-2020","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"1700","respondentPartyName":"KAPPLER
        et al","respondentGroupArtUnitNumber":"1713","respondentPatentNumber":"6448328","respondentApplicationNumberText":"08453149","decisionDate":"11-27-2001","appellantTechnologyCenterNumber":"1700","appellantPatentOwnerName":"KAPPLER
        et al","appellantPartyName":"KAPPLER et al","appellantGroupArtUnitNumber":"1713","appellantInventorName":"KAPPLER
        et al","appellantCounselName":"PENNIE & EDMONDS","appellantGrantDate":"09-10-2002","appellantPatentNumber":"6448328","appellantApplicationNumberText":"08453149","additionalRespondentPartyDataBag":[]},{"proceedingFilingDate":"06-15-2000","proceedingStatusCategory":"Decision","proceedingNumber":"2000001619","proceedingLastModifiedDate":"06-15-2000","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"2800","respondentPartyName":"APPLETON","respondentGroupArtUnitNumber":"2873","respondentPatentNumber":"6491393","respondentApplicationNumberText":"08977107","decisionDate":"08-30-2002","appellantTechnologyCenterNumber":"2800","appellantPat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/proceedings?partyName=Apple&recordTotalQuantity=25&sortOrderCategory=&recordStartNumber=25
  response:
    body:
      string: '{"aggregationData":{},"results":[{"proceedingFilingDate":"03-13-2014","proceedingStatusCategory":"Decision","proceedingNumber":"2014003542","proceedingLastModifiedDate":"03-31-2014","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REEXAM","respondentTechnologyCenterNumber":"3900","respondentPartyName":"7440772
        et al","respondentGroupArtUnitNumber":"3992","respondentApplicationNumberText":"95001266","decisionDate":"08-26-2015","appellantTechnologyCenterNumber":"3900","appellantPatentOwnerName":"7440772
        et al","appellantPartyName":"7440772 et al","thirdPartyName":"APPLE  INC.","appellantGroupArtUnitNumber":"3992","appellantInventorName":"7440772
        et al","appellantCounselName":"TROP, PRUNER & HU, P.C.","appellantGrantDate":"11-09-2017","appellantApplicationNumberText":"95001266","docketNoticeMailDate":"03-13-2014","additionalRespondentPartyDataBag":[]},{"proceedingFilingDate":"05-01-2014","proceedingStatusCategory":"Decision","proceedingNumber":"2014006124","proceedingLastModifiedDate":"05-06-2014","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REGULAR","respondentTechnologyCenterNumber":"1700","respondentPartyName":"Michael
        P. Appleby et al","respondentGroupArtUnitNumber":"1744","respondentPatentNumber":"10189184","respondentApplicationNumberText":"12504330","decisionDate":"02-28-2017","appellantTechnologyCenterNumber":"1700","appellantPatentOwnerName":"Michael
        P. Appleby et al","appellantPartyName":"Michael P. Appleby et al","appellantGroupArtUnitNumber":"1744","appellantInventorName":"Michael
        P. Appleby et al","appellantCounselName":"Cantor Colburn LLP - Pratt & Whitney","appellantGrantDate":"01-29-2019","appellantPatentNumber":"10189184","appellantApplicationNumberText":"12504330","appellantPublicationDate":"11-05-2009","appellantPublicationNumber":"20090272874A1","docketNoticeMailDate":"05-06-2014","additionalRespondentPartyDataBag":[]},{"proceedingFilingDate":"07-16-2014","proceedingStatusCategory":"Decision","proceedingNumber":"2014007751","proceedingLastModifiedDate":"11-12-2014","proceedingTypeCategory":"Appeal","subproceedingTypeCategory":"REEXAM","respondentTechnologyCenterNumber":"3900","respondentPartyName":"6775417
        et al","respondentGroupArtUnitNumber":"3992","respondentApplicationNumberText":"95000585","decisionDate":"11[...]
