interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/documents?proceedingNumber=IPR2016-00831&recordTotalQuantity=25&sortOrderCategory=
  response:
    body:
      string: "{\"aggregationData\":{},\"results\":[{\"documentNumber\":\"39\",\"documentName\":\"IPR2016-00831
        -832 -833 Decision on Motion to Terminate.pdf\",\"documentCategory\":\"Paper\",\"documentTitleText\":\"DECISION
        - Motion to Terminate\",\"proceedingNumber\":\"IPR2016-00831\",\"documentFilingDate\":\"07-06-2017\",\"documentTypeName\":\"Termination
        - Settlement After Institution\",\"proceedingTypeCategory\":\"AIA Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentIdentifier\":\"169514971\",\"objectUuId\":\"workspace://SpacesStore/4d7af7ba-623e-49fa-ad9e-688ca7274c28;1.0\",\"respondentTechnologyCenterNumber\":\"2800\",\"respondentPatentOwnerName\":\"Silicon
        Genesis Corporation\",\"respondentPartyName\":\"Silicon Genesis Corporation\",\"respondentInventorName\":\"FRANCOIS
        HENLEY\",\"respondentCounselName\":\"Margaux Nair\",\"respondentGrantDate\":\"12-19-2000\",\"respondentPatentNumber\":\"6162705\",\"respondentApplicationNumberText\":\"09026118\",\"petitionerPartyName\":\"Commissariat
        a l\u2019Energie Atomique et aux Energies Alternatives\",\"petitionerCounselName\":\"Paul
        McGowan\",\"additionalRespondentPartyDataBag\":[]},{\"documentNumber\":\"38\",\"documentName\":\"IPR2016-00831
        - Patent Owner Request to Treat Agreement as CBI.pdf\",\"documentCategory\":\"Paper\",\"documentTitleText\":\"Patent
        Owner Request to Treat Agreement as Business Confidential Information\",\"proceedingNumber\":\"IPR2016-00831\",\"documentFilingDate\":\"06-22-2017\",\"documentTypeName\":\"Motion\",\"proceedingTypeCategory\":\"AIA
        Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentIdentifier\":\"169507309\[...]
