interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=G&l=50&s1=%2220090150362%22.PGNR.&OS=DN/20090150362&RS=DN/20090150362
  response:
    body:
      string: "<HTML>\n<HEAD>\n<STYLE TYPE=\"text/css\">\n\tPRE { font-family: \"Times
        New Roman\"; font-size: 12pt; }\n</STYLE>\n<BASE TARGET=\"_top\">\n<TITLE>United
        States Patent Application: 0090150362</TITLE></HEAD>\n<BODY BGCOLOR=\"#FFFFFF\">\n<a
        name=\"top\"></a>\n<center>\n<IMG SRC=\"/netaicon1/PTO/AppFThdr.gif\">\n</center>\n<center>\n<A
        HREF=\"/netahtml/PTO/help/help.html\"><IMG BORDER=\"0\" WIDTH=\"63\" HEIGHT=\"24\"
        \ align=middle SRC=\"/netaicon1/PTO/help.gif\" ALT=\"[Help]\"></A>\n<a href=\"/netahtml/PTO/index.html\"><img
        src=\"/netaicon1/PTO/home.gif\" alt=\"[Home]\" border=\"0\" width=\"63\" height=\"24\"
        align=middle></a>\n<a href=\"/netahtml/PTO/search-bool.html\"><img src=\"/netaicon1/PTO/boolean.gif\"
        alt=\"[Boolean Search]\" border=\"0\" width=\"63\" height=\"24\" align=middle></a>\n<A
        HREF=\"/netahtml/PTO/search-adv.html\"><IMG WIDTH=\"63\" HEIGHT=\"24\" BORDER=\"0\"
        SRC=\"/netaicon1/PTO/manual.gif\" ALT=\"[Manual]\" align=middle></A>\n<a href=\"/netahtml/PTO/srchnum.html\"><img
        src=\"/netaicon1/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" width=\"63\"
        height=\"24\" align=middle></a>\n<A HREF=\"http://www.uspto.gov/go/ptdl/\">\n<IMG
        width=63 height=24 border=0 SRC=\"/netaicon1/PTO/ptdl.gif\" ALT=\"[PTDLs]\"
        align=middle></A>\n</center>\n<center><A  HREF=/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=S&l=50&s1=%2220090150362%22.PGNR.&Query=DN/20090150362><IMG
        ALIGN=MIDDLE SRC=/netaicon1/PTO/hitlist.gif border=0 ALT=[CURR_LIST]></A>\n<a
        href=\"#bottom\"><img src=\"/netaicon1/PTO/bottom.gif\" align=middle border=0></A>\n<br><A
        HREF=\"https://certifiedcopycenter.uspto.gov/other/appft/view.html?backUrl1=http%3A//appft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPG01%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%26r%3D1%26f%3DG%26l%3D50%26s1%3D%25252220090150362%252522.PGNR.%26OS%3DDN%2F20090150362&backLabel1=Back%20to%20Published%20Application%20Number%3A%2020090150362\">\n<img
        border=0 src=\"/netaicon1/PTO/cart.gif\" border=0 alt=\"[Shopping Cart]\"></A>\n<A
        HREF=\"https://certifiedcopycenter.uspto.gov/other/appft/order.html?docNumber=US20090150362&backUrl1=http%3A//appft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPG01%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%26r%3D1%26f%3DG%26l%3D50%26s1%3D%25252220090150362%252522.PGNR.%26OS%3DDN%2F20090150362&backLabel1=Back%20to%20Published%20Application%20Number%3A%2020090150362\">\n<img
        border=0 src=\"/netaicon1/PTO/order.gif\" alt=\"[Order Copy]\"></A>\n</center>\n<CENTER>\n<a
        href=http://pdfaiw.uspto.gov/.aiw?Docid=20090150362&homeurl=http%3A%2F%2Fappft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPG01%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D%25252220090150362%252522.PGNR.%2526OS%3DDN%2F20090150362%2526RS%3DDN%2F20090150362&PageNum=&Rtype=&SectionNum=&idkey=1C1D7F2DDE3D\n><img
        src=\"/netaicon1/PTO/image.gif\" alt=\"[Image]\" border=\"0\" width=\"63\"
        height=\"24\" align=\"middle\"></A>\n</CENTER>\n<p>\n<TABLE border=0>\n<TR><TD
        VALIGN=TOP ALIGN=LEFT width=40>\n&nbsp;\n</TD>\n<TD VALIGN=TOP ALIGN=LEFT
        width=40>\n&nbsp;\n</TD>\n<TD VALIGN=TOP ALIGN=RIGHT WIDTH=50>\n</TD><TD ALIGN=RIGHT
        VALIGN=BOTTOM WIDTH=500><FONT SIZE=-1>( <STRONG>1</STRONG></FONT> <FONT SIZE=-2>of</FONT>
        <STRONG><FONT SIZE=-1>1</STRONG> )</FONT></TD></TR></TABLE>\n<HR>\n<TABLE
        WIDTH=\"100%\">\n<TR>\t<TD ALIGN=\"LEFT\" WIDTH=\"50%\"><B>United States Patent
        Application</B></TD>\n\t<TD ALIGN=\"RIGHT\" WIDTH=\"50%\"><B><B><I>20090150362</I></B>\n</B></TD>\n</TR>\n
        \  <TR><TD VALIGN=\"TOP\" ALIGN=\"LEFT\" WIDTH=\"50%\"><B>Kind Code</B>\n
        \  </TD><TD ALIGN=\"RIGHT\" WIDTH=\"50%\">\n   <B>A1\n</B></TD></TR>\n<TR><TD
        ALIGN=\"LEFT\" WIDTH=\"50%\"><b>\n   \nEvenhaim; Asaf\n </B>\n</TD><TD ALIGN=\"RIGHT\"
        WIDTH=\"50%\"> <B>\nJune 11, 2009\n</B></TD>\n</TR>\n</TABLE><HR>\n<font size=\"+1\">Double
        Blinded Privacy-Safe Distributed Data Mining Protocol\n</font><BR>\n   <BR><CENTER><B>Abstract</B></CENTER>\n
        \  <P>\n A Double Blinded Privacy-Safe Distributed Data Mining Protocol is\n
        \    disclosed, among an aggregator, a data consumer entity having\n     privacy-sensitive
        information, and data source entities having\n     privacy-sensitive information.
        The aggregator does not have access to the\n     privacy-sensitive information
        at either the data consumer entity or the\n     data source entities. The
        aggre[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pdfaiw.uspto.gov/.aiw?Docid=20090150362&homeurl=http%3A%2F%2Fappft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPG01%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D%25252220090150362%252522.PGNR.%2526OS%3DDN%2F20090150362%2526RS%3DDN%2F20090150362&PageNum=&Rtype=&SectionNum=&idkey=1C1D7F2DDE3D
  response:
    body:
      string: ''
    headers:
      Location:
      - https://pdfaiw.uspto.gov/.aiw?Docid=20090150362&homeurl=http%3A%2F%2Fappft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPG01%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D%25252220090150362%252522.PGNR.%2526OS%3DDN%2F20090150362%2526RS%3DDN%2F20090150362&PageNum=&Rtype=&SectionNum=&idkey=1C1D7F2DDE3D
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://pdfaiw.uspto.gov/.aiw?Docid=20090150362&homeurl=http%3A%2F%2Fappft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPG01%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D%25252220090150362%252522.PGNR.%2526OS%3DDN%2F20090150362%2526RS%3DDN%2F20090150362&PageNum=&Rtype=&SectionNum=&idkey=1C1D7F2DDE3D
  response:
    body:
      string: "<!-- AUG 29 2019 edition -->\r\n<!-- PageNum=1  -->\r\n<!-- NumPages=24
        -->\r\n<HTML>\r\n  <head>\r\n    <title>Patent Images</title>\r\n  \r\n    <!--
        USPTO SITE STYLE SHEET START --> \r\n    <link href=\"//www.uspto.gov/styles/usptomaster.css\"
        rel=\"stylesheet\" type=\"text/css\"> \r\n    <!-- USOTO SITE STYLE SHEET
        END --> \r\n  \r\n  </head>\r\n\r\n  <BODY TOPMARGIN=\"0\" leftmargin=\"0\"
        MARGINWIDTH=\"0\" MARGINHEIGHT=\"0\" >\r\n  \r\n    <!-- USPTO NAVIGATION
        START --> \r\n    <script src=\"//www.uspto.gov/styles/scriptmaster.js\" language=\"JavaScript\"
        type=\"text/JavaScript\"></script> \r\n \r\n    <noscript>Javascript required
        to view site-wide navigation bar.&gt;&gt; \r\n        <a href=\"//www.uspto.gov/sitenav.htm\">View
        Alternative Site Navigation</a> \r\n    </noscript> \r\n    <!-- USPTO NAVIGATION
        END --> \r\n\r\n    <!-- BEGIN: USPTO javascript navigation bar --> \r\n    <table
        width=\"100%\" border=\"0\" cellpadding=\"3\" cellspacing=\"0\"> \r\n      <tr>
        \r\n        <td ><img src=\"//www.uspto.gov/images/blank.gif\" alt=\"\" width=\"8\"
        height=\"1\" border=\"0\"></td> \r\n      </tr> \r\n    </table> \r\n    <!--
        \  END: USPTO javascript navigation bar --> \r\n\r\n  <table width=\"100%\"
        border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\r\n  \r\n\t<tr valign=\"top\">\r\n\t<td
        width=\"146\" valign=\"top\" background=\"/templates/tablebackground.gif\">\r\n\t
        \   <table width=\"146\" border=0 cellspacing=0 cellpadding=0>\r\n\t    <tr><td
        valign=\"top\">\r\n\t\t<span style=\"color:#000000\">\r\n        \r\n        <img
        border=\"0\" height=\"50\" src=\"//www.uspto.gov/images/blank.gif\" width=\"146\"><br><br>\r\n
        \           \r\n\t<nobr><big>&nbsp;&nbsp;</big><a href=\"http://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=G&l=50&s1=%2220090150362%22.PGNR.&OS=DN/20090150362&RS=DN/20090150362\"><img
        src=\"/templates/home.gif\" width=\"120\" height=\"21\" border=\"0\" alt=\"go
        to search page\"></a></nobr><br>\r\n\t\r\n\t\t<nobr><big>&nbsp;&nbsp;</big><a
        href=\"//appft1.uspto.gov/netahtml/PTO/help/help.html\"><img src=\"/templates/help.gif\"
        width=\"120\" height=\"21\" border=\"0\" alt=\"go to help page\"></a></nobr><br>\r\n\r\n
        \  \t\t<font face=\"arial, helvetica\" size=\"-1\">\r\n   \t\t<form action=\"/.aiw\"
        method=\"get\">\t  \r\n\t\t<nobr><big>&nbsp;</big><font color=\"#ff0000\">&nbsp;&nbsp;<b><label
        for=\"Go to Page:\">Go to Page: </label></b></font></nobr><br>\r\n\r\n\t\t&nbsp;&nbsp;\r\n\t\t<input
        type=text name=PageNum size=\"4\">\r\n\r\n\t\t<input type=hidden name=docid
        value=\"20090150362\">\r\n\t\t<input type=hidden name=IDKey value=\"1C1D7F2DDE3D\">\r\n\t\t<input
        type=hidden name=HomeUrl value=\"http://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1%26Sect2=HITOFF%26d=PG01%26p=1%26u=%252Fnetahtml%252FPTO%252Fsrchnum.html%26r=1%26f=G%26l=50%26s1=%252220090150362%2522.PGNR.%26OS=DN/20090150362%26RS=DN/20090150362\">\r\n\t\t<input
        type=submit value=\"Go\">\r\n        &nbsp;<br><br><nobr><big>&nbsp;&nbsp;</big>\r\n\t\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pdfaiw.uspto.gov/.aiw?docid=20090150362&SectionNum=1&IDKey=1C1D7F2DDE3D&HomeUrl=http://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1%2526Sect2=HITOFF%2526d=PG01%2526p=1%2526u=%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%2526r=1%2526f=G%2526l=50%2526s1=%25252220090150362%252522.PGNR.%2526OS=DN/20090150362%2526RS=DN/20090150362
  response:
    body:
      string: "<!-- AUG 29 2019 edition -->\r\n<!-- PageNum=1  -->\r\n<!-- Num[...]
[...]
