interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-adv.html&r=0&f=S&l=50&d=PG01&Query=CCL%2F166%2F308.1+AND+APD%2F1%2F%24%2F2015-%3E1%2F%24%2F2021
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE TARGET=\"_top\">\n<TITLE>PreGrant Publication
        Database Search Results: CCL/166/308.1 AND APD/1/$/2015-&gt;1/$/2021 in AppFT
        Database</TITLE></HEAD>\n<BODY BGCOLOR=\"#FFFFFF\">\n<HTML>\n<center>\n<IMG
        SRC=\"/netaicon1/PTO/AppFThdr.gif\">\n</center>\n<center>\n<a name=\"top\"><A
        HREF=\"/netahtml/PTO/help/help.html\"><IMG BORDER=\"0\" WIDTH=\"63\" HEIGHT=\"24\"
        SRC=\"/netaicon1/PTO/help.gif\" ALT=\"[Help]\"></A>\n<a href=\"/netahtml/PTO/index.html\"><img
        src=\"/netaicon1/PTO/home.gif\" alt=\"[Home]\" border=\"0\" width=\"63\" height=\"24\"></a>\n<a
        href=\"/netahtml/PTO/search-bool.html\"><img src=\"/netaicon1/PTO/boolean.gif\"
        alt=\"[Boolean Search]\" border=\"0\" width=\"63\" height=\"24\"></a>\n<A
        HREF=\"/netahtml/PTO/search-adv.html\"><IMG WIDTH=\"63\" HEIGHT=\"24\" BORDER=\"0\"
        SRC=\"/netaicon1/PTO/manual.gif\" ALT=\"[Manual]\"></A>\n<a href=\"/netahtml/PTO/srchnum.html\"><img
        src=\"/netaicon1/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" width=\"63\"
        height=\"24\"></a>\n<A HREF=\"http://www.uspto.gov/go/ptdl/\">\n<IMG width=63
        height=24 border=0 SRC=\"/netaicon1/PTO/ptdl.gif\" ALT=\"[PTDLs]\"></A></center>\n<center><a
        href=\"#bottom\"><img src=\"/netaicon1/PTO/bottom.gif\" align=middle border=0></a>\n<A
        HREF=\"https://certifiedcopycenter.uspto.gov/other/appft/view.html?backUrl1=http%3A//appft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO2%26Sect2%3DHITOFF%26p%3D1%26u%3D%252Fnetahtml%252FPTO%252Fsearch-adv.html%26r%3D0%26f%3DS%26l%3D50%26d%3DPG01%26Query%3DCCL%252F166%252F308.1%252BAND%252BAPD%252F1%252F%2524%252F2015-%253E1%252F%2524%252F2021&backLabel1=Back%20to%20Hit%20List%3A%20CCL/166/308.1+AND+APD/1/$/2015-&gt;1/$/2021\">\n<img
        border=0 src=\"/netaicon1/PTO/cart.gif\" align=middle border=0></A>\n</center>\n<p>\n<i>Searching
        AppFT Database...</i><BR></p>\n<B>Results of Search in AppFT Database for:<BR>
        CCL/166/308.1 AND APD/1/$/2015-&gt;1/$/2021</B>: 41 applications.\n<BR><I>Hits
        <strong>1</strong> through <strong>41\n</strong> out of <strong>41</strong>\n</I><p>\n<BR>\n<form
        action=\"/netacgi/nph-Parser\" method=\"GET\">\n    <INPUT TYPE=\"HIDDEN\"
        NAME=\"Sect1\" VALUE=\"PTO2\">\n    <INPUT TYPE=\"HIDDEN\" NAME=\"Sect2\"
        VALUE=\"HITOFF\">\n    <INPUT TYPE=\"HIDDEN\" NAME=\"u\" VALUE=\"/netahtml/PTO/search-adv.html\">\n
        \   <INPUT TYPE=\"HIDDEN\" NAME=\"r\" VALUE=\"0\">\n    <INPUT TYPE=\"HIDDEN\"
        NAME=\"f\" VALUE=\"S\">\n    <INPUT TYPE=\"HIDDEN\" NAME=\"l\" VALUE=\"50\">\n
        \   <INPUT TYPE=\"HIDDEN\" NAME=\"d\" VALUE=\"PG01\">\n    <INPUT TYPE=\"HIDDEN\"
        NAME=\"OS\" VALUE=\"CCL/166/308.1 AND APD/1/$/2015-&gt;1/$/2021\">\n    <INPUT
        TYPE=\"HIDDEN\" NAME=\"RS\" VALUE=\"(CCL/166/308.1 AND APD/201501$-&gt;202101$)\">\n\n<INPUT
        TYPE=\"HIDDEN\" NAME=\"TD\" VALUE=\"41\">\n<INPUT TYPE=\"HIDDEN\" NAME=\"Srch1\"
        VALUE=\"(166%2F308.1.CCLS. AND %40AD&gt;%3D20150100%3C%3D20210131)\">\n\n<INPUT
        TYPE=submit name=StartAt VALUE=\"Jump To\">\n&nbsp;\n<INPUT size=6 name=\"StartNum\"
        title=\"Jump To\">\n<BR><BR>\n<INPUT type=\"submit\" name=\"Refine\" value=\"Refine
        Search\">\n<INPUT size=50 name=\"Query\" value=\"CCL/166/308.1 AND APD/1/$/2015-&gt;1/$/2021\"
        title=\"query\">\n</FORM>\n<TABLE><TR><TD></TD><TH SCOPE=\"col\">PUB. APP.
        NO.</TH><TH SCOPE=\"col\" align=\"left\">Title</TH></TR>\n<TR><TD valign=top>1</TD>\n<TD
        valign=top><A  HREF=/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-adv.html&r=1&f=G&l=50&d=PG01&S1=(166%2F308.1.CCLS.+AND+%40AD%3E%3D20150100%3C%3D20210131)&OS=CCL/166/308.1+AND+APD/1/$/2015-&gt;1/$/2021&RS=(CCL/166/308.1+AND+APD/201501$-&gt;202101$)>20180023375</A></TD>\n<TD
        valign=top><A  HREF=/netacgi/nph-Parser?Sect1=PTO2&Sect2[...]
