interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=G&l=50&s1=%2220160009839%22.PGNR.&OS=DN/20160009839&RS=DN/20160009839
  response:
    body:
      string: "<HTML>\n<HEAD>\n<STYLE TYPE=\"text/css\">\n\tPRE { font-family: \"Times
        New Roman\"; font-size: 12pt; }\n</STYLE>\n<BASE TARGET=\"_top\">\n<TITLE>United
        States Patent Application: 0160009839</TITLE></HEAD>\n<BODY BGCOLOR=\"#FFFFFF\">\n<a
        name=\"top\"></a>\n<center>\n<IMG SRC=\"/netaicon1/PTO/AppFThdr.gif\">\n</center>\n<center>\n<A
        HREF=\"/netahtml/PTO/help/help.html\"><IMG BORDER=\"0\" WIDTH=\"63\" HEIGHT=\"24\"
        \ align=middle SRC=\"/netaicon1/PTO/help.gif\" ALT=\"[Help]\"></A>\n<a href=\"/netahtml/PTO/index.html\"><img
        src=\"/netaicon1/PTO/home.gif\" alt=\"[Home]\" border=\"0\" width=\"63\" height=\"24\"
        align=middle></a>\n<a href=\"/netahtml/PTO/search-bool.html\"><img src=\"/netaicon1/PTO/boolean.gif\"
        alt=\"[Boolean Search]\" border=\"0\" width=\"63\" height=\"24\" align=middle></a>\n<A
        HREF=\"/netahtml/PTO/search-adv.html\"><IMG WIDTH=\"63\" HEIGHT=\"24\" BORDER=\"0\"
        SRC=\"/netaicon1/PTO/manual.gif\" ALT=\"[Manual]\" align=middle></A>\n<a href=\"/netahtml/PTO/srchnum.html\"><img
        src=\"/netaicon1/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" width=\"63\"
        height=\"24\" align=middle></a>\n<A HREF=\"http://www.uspto.gov/go/ptdl/\">\n<IMG
        width=63 height=24 border=0 SRC=\"/netaicon1/PTO/ptdl.gif\" ALT=\"[PTDLs]\"
        align=middle></A>\n</center>\n<center><A  HREF=/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=S&l=50&s1=%2220160009839%22.PGNR.&Query=DN/20160009839><IMG
        ALIGN=MIDDLE SRC=/netaicon1/PTO/hitlist.gif border=0 ALT=[CURR_LIST]></A>\n<a
        href=\"#bottom\"><img src=\"/netaicon1/PTO/bottom.gif\" align=middle border=0></A>\n<br><A
        HREF=\"https://certifiedcopycenter.uspto.gov/other/appft/view.html?backUrl1=http%3A//appft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPG01%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%26r%3D1%26f%3DG%26l%3D50%26s1%3D%25252220160009839%252522.PGNR.%26OS%3DDN%2F20160009839&backLabel1=Back%20to%20Published%20Application%20Number%3A%2020160009839\">\n<img
        border=0 src=\"/netaicon1/PTO/cart.gif\" border=0 alt=\"[Shopping Cart]\"></A>\n<A
        HREF=\"https://certifiedcopycenter.uspto.gov/other/appft/order.html?docNumber=US20160009839&backUrl1=http%3A//appft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPG01%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%26r%3D1%26f%3DG%26l%3D50%26s1%3D%25252220160009839%252522.PGNR.%26OS%3DDN%2F20160009839&backLabel1=Back%20to%20Published%20Application%20Number%3A%2020160009839\">\n<img
        border=0 src=\"/netaicon1/PTO/order.gif\" alt=\"[Order Copy]\"></A>\n</center>\n<CENTER>\n<a
        href=http://pdfaiw.uspto.gov/.aiw?Docid=20160009839&homeurl=http%3A%2F%2Fappft.uspto.gov%2Fnetacgi%2Fnph-Parser%3FSect1%3DPTO1%2526Sect2%3DHITOFF%2526d%3DPG01%2526p%3D1%2526u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%2526r%3D1%2526f%3DG%2526l%3D50%2526s1%3D%25252220160009839%252522.PGNR.%2526OS%3DDN%2F20160009839%2526RS%3DDN%2F20160009839&PageNum=&Rtype=&SectionNum=&idkey=13FB57008E42\n><img
        src=\"/netaicon1/PTO/image.gif\" alt=\"[Image]\" border=\"0\" width=\"63\"
        height=\"24\" align=\"middle\"></A>\n</CENTER>\n<p>\n<TABLE border=0>\n<TR><TD
        VALIGN=TOP ALIGN=LEFT width=40>\n&nbsp;\n</TD>\n<TD VALIGN=TOP ALIGN=LEFT
        width=40>\n&nbsp;\n</TD>\n<TD VALIGN=TOP ALIGN=RIGHT WIDTH=50>\n</TD><TD ALIGN=RIGHT
        VALIGN=BOTTOM WIDTH=500><FONT SIZE=-1>( <STRONG>1</STRONG></FONT> <FONT SIZE=-2>of</FONT>
        <STRONG><FONT SIZE=-1>1</STRONG> )</FONT></TD></TR></TABLE>\n<HR>\n<TABLE
        WIDTH=\"100%\">\n<TR>\t<TD ALIGN=\"LEFT\" WIDTH=\"50%\"><B>United States Patent
        Application</B></TD>\n\t<TD ALIGN=\"RIGHT\" WIDTH=\"50%\"><B><B><I>20160009839</I></B>\n</B></TD>\n</TR>\n
        \  <TR><TD VALIGN=\"TOP\" ALIGN=\"LEFT\" WIDTH=\"50%\"><B>Kind Code</B>\n
        \  </TD><TD ALIGN=\"RIGHT\" WIDTH=\"50%\">\n   <B>A1\n</B></TD></TR>\n<TR><TD
        ALIGN=\"LEFT\" WIDTH=\"50%\"><b>\n   \nPANNELL; Richard B.\n </B>\n</TD><TD
        ALIGN=\"RIGHT\" WIDTH=\"50%\"> <B>\nJanuary 14, 2016\n</B></TD>\n</TR>\n</TABLE><HR>\n<font
        size=\"+1\">POLYMER PRODUCTS AND MULTI-STAGE POLYMERIZATION PROCESSES FOR
        THE\n     PRODUCTION THEREOF\n</font><BR>\n   <BR><CENTER><B>Abstract</B></CENTER>\n
        \  <P>\n Multi-stage polymerization processes that produce polymers having\n
        \    controlled compositions and molecular weight with improved catalyst\n
        \    productivity are disclosed. An example method for producing a multi-modal\n
        \    polyolefin comprises polymerizing the multi-modal polyolefin in the\n
        \    presence of a metallocene catalyst system in at least a slurry-phase\n
        \    polymerization stage and a gas-phase polymerization stage arranged in\n
        \    series in any order, wherein the multi-modal olefin comprises: (i) a\n
        \    first polyolefin fraction having a density of less than about 940\n     kg/m.sup.3,
        and (ii) a second polyolefin fraction having a density of\n     less than
        about 930 kg/m.sup.3.\n</P>\n   <HR>\n<TABLE WIDTH=\"100%\">\n<TR> <TD VALIGN=\"TOP\"
        ALIGN=\"LEFT\" WIDTH=\"10%\">Inventors:</TD>\n<TD ALIGN=\"LEFT\" WIDTH=\"90%\">\n
        <B>PANNELL; Richard B.</B>; <I>(Houston, TX)</I>\n\n</TD>\n</TR> <TABLE WIDTH=\"100%\">
        <TR><TH scope=\"row\" VALIGN=\"TOP\" ALIGN=\"LEFT\" WIDTH=\"10%\">Applicant:
        </TH><TD ALIGN=\"LEFT\" WIDTH=\"90%\"> <TABLE> <TR> <TH scope=\"column\" ALIGN=\"center\">Name</TH>
        <TH scope=\"column\" ALIGN=\"center\">City</TH> <TH scope=\"column\"\nALIGN=\"center\">State</TH>
        <TH scope=\"column\" ALIGN=\"center\">Country</TH> <TH scope=\"column\" ALIGN=\"center\">Type</TH>
        </TR> <TR> <TD> <B><br>UNIVATION TECHNOLOGIES, LLC</B> </TD><TD> <br>Houston
        </TD><TD ALIGN=\"center\"> <br>TX </TD><TD ALIGN=\"center\">\n<br>US </TD><TD>
        </TD> </TR> </TABLE> <!--\n<AANM>\n~AANM UNIVATION TECHNOLOGIES, LLC\n~AACI
        Houston\n~AAST TX\n~AACO US\n</AANM> --> </TD></TR>\n<TR> <TD VALIGN=\"TOP\"
        ALIGN=\"LEFT\" WIDTH=\"10%\">Assignee:</TD>\n<TD ALIGN=\"LEFT\" WIDTH=\"90%\">\n\n<B>Univation
        Technologies, LLC</B><BR>\n<B>Houston</B><BR>\n<B>TX</B><BR>\n<BR>\n\n</TD>\n</TR>\n
        \  <TR><TD VALIGN=\"TOP\" ALIGN=\"LEFT\" WIDTH=\"10%\" NOWRAP>Family ID:\n
        \  </TD><TD ALIGN=\"LEFT\" WIDTH=\"90%\">\n   <B>50240036\n</B></TD></TR>\n
        \[...]
