interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=ReelFrame&query=18247-405&rows=8&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">461</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">id:18247-405</str>\n
      \   <str name=\"rows\">8</str>\n    <str name=\"wt\">javabin</str>\n    <str
      name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"1\"
      start=\"0\">\n  <doc>\n    <str name=\"id\">18247-405</str>\n    <str name=\"displayId\">018247-0405</str>\n
      \   <str name=\"dtdVersion\">1.0</str>\n    <str name=\"dateProduced\">20140916</str>\n
      \   <str name=\"actionKeyCode\">DA</str>\n    <str name=\"transactionDate\">2019-07-11T17:29:13Z</str>\n
      \   <str name=\"reelNo\">18247</str>\n    <str name=\"frameNo\">405</str>\n
      \   <date name=\"lastUpdateDate\">2008-01-22T11:00:55Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
      \   <date name=\"recordedDate\">2006-09-14T04:00:00Z</date>\n    <str name=\"pageCount\">6</str>\n
      \   <str name=\"conveyanceText\">NUNC PRO TUNC ASSIGNMENT (SEE DOCUMENT FOR
      DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n    <str
      name=\"attorneyDockNum\">103532-0002</str>\n    <str name=\"corrName\">JEFFREY
      H. INGERMAN</str>\n    <str name=\"corrAddress1\">FISH &amp; NEAVE IP GROUP,
      ROPES &amp; GRAY LLP</str>\n    <str name=\"corrAddress2\">1251 AVENUE OF THE
      AMERICAS C3</str>\n    <str name=\"corrAddress3\">NEW YORK, NY 10020-1105</str>\n
      \   <date name=\"patAssignorEarliestExDate\">2006-09-14T04:00:00Z</date>\n    <arr
      name=\"patAssignorName\">\n      <str>REALTIME DATA COMPRESSION SYSTEMS, INC.</str>\n
      \   </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2006-09-14T04:00:00Z</date>\n
      \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>REALTIME DATA LLC</str>\n
      \   </arr>\n    <arr name=\"patAssigneeAddress1\">\n      <str>15 WEST 36TH
      STREET</str>\n    </arr>\n    <arr name=\"patAssigneeAddress2\">\n      <str>NULL</str>\n
      \   </arr>\n    <arr name=\"patAssigneeCity\">\n      <st[...]
[...]
