interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bulkdata.uspto.gov/BDSS-API/products/PTGRXML?fromYear=2023&fromMonth=6&fromDay=1&toYear=2023&toMonth=8&toDay=1
  response:
    content: '{"productLinkPath":"/BDSS-API/products/PTGRXML","productIdentifier":14823,"productShortName":"PTGRXML","productDesc":"Contains
      (JAN 2002 - present) the full text of each patent grant issued weekly (Tuesdays)
      (excludes images/drawings and reexaminations). The file format is eXtensible
      Markup Language (XML) in accordance with the Patent Grant International Common
      Element (ICE) Document Type Definition (DTD).","productTitle":"Patent grant
      full text data/XML","productFrequency":"WEEKLY","productLevel":"PRODUCT","productFromDate":"2002-01-01","productToDate":"2023-11-14","numberOfFiles":1167,"parentProduct":null,"productFiles":[{"fileLinkPath":"/BDSS-API/productFiles/7873311","fileIdentifier":7873311,"fileName":"ipg230606.zip","fileSize":149436143,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2023/ipg230606.zip","fileFromTime":"2023-06-06","fileToTime":"2023-06-06","fileType":"Data","fileReleaseDate":"2023-06-06"},{"fileLinkPath":"/BDSS-API/productFiles/7873286","fileIdentifier":7873286,"fileName":"ipg230613.zip","fileSize":153620452,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2023/ipg230613.zip","fileFromTime":"2023-06-13","fileToTime":"2023-06-13","fileType":"Data","fileReleaseDate":"2023-06-13"},{"fileLinkPath":"/BDSS-API/productFiles/7873313","fileIdentifier":7873313,"fileName":"ipg230620.zip","fileSize":124828553,"fileDownloadUrl":"https://bulkdata.u[...]
