interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bulkdata.uspto.gov/BDSS-API/products/PTGRXML?fromYear=2023&fromMonth=6&fromDay=15&toYear=2023&toMonth=6&toDay=30
  response:
    content: '{"productLinkPath":"/BDSS-API/products/PTGRXML","productIdentifier":14823,"productShortName":"PTGRXML","productDesc":"Contains
      (JAN 2002 - present) the full text of each patent grant issued weekly (Tuesdays)
      (excludes images/drawings and reexaminations). The file format is eXtensible
      Markup Language (XML) in accordance with the Patent Grant International Common
      Element (ICE) Document Type Definition (DTD).","productTitle":"Patent grant
      full text data/XML","productFrequency":"WEEKLY","productLevel":"PRODUCT","productFromDate":"2002-01-01","productToDate":"2023-12-05","numberOfFiles":1170,"parentProduct":null,"productFiles":[{"fileLinkPath":"/BDSS-API/productFiles/7873313","fileIdentifier":7873313,"fileName":"ipg230620.zip","fileSize":124828553,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2023/ipg230620.zip","fileFromTime":"2023-06-20","fileToTime":"2023-06-20","fileType":"Data","fileReleaseDate":"2023-06-20"},{"fileLinkPath":"/BDSS-API/productFiles/7873298","fileIdentifier":7873298,"fileName":"ipg230627.zip","fileSize":143420034,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2023/ipg230627.zip","fileFromTime":"2023-06-27","fileToTime":"2023-06-27","fileType":"Data","fileReleaseDate":"2023-06-27"}]}'
    headers:
      Content-Type:
      - application/json
      X-Cnection:
      - close
    status_code: 200
[...]
