interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14095073)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Tue May 07 15:11:23 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":341},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"14095073","totalPtoDays":"159","assignments":[{"reelNumber":"32351","frameNumber":"952","addressNameText":"TIMOTHY
      F. BLISS","addressLineOneText":"P.O. BOX 741715","addressLineTwoText":"DALLAS,
      TX 75374-1715","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"03-06-2014","receivedDate":"03-05-2014","recordedDate":"03-05-2014","pagesCount":"4","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"BENSON,
      TODD W.","execDate":"06-21-2012"},{"assignorName":"CHEN, TEDDY C.","execDate":"06-21-2012"}],"assignee":[{"assigneeName":"HUNT
      ENERGY ENTERPRISES, L.L.C.","streetLineOneText":"350 N. ST. PAUL STREET","streetLineTwoText":"null","cityName":"DALLAS","countryCode":"TEXAS","postalCode":"75201-4240"}]},{"reelNumber":"32352","frameNumber":"108","addressNameText":"TIMOTHY
      F. BLISS","addressLineOneText":"P.O. BOX 741715","addressLineTwoText":"DALLAS,
      TX 75374-1715","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"03-06-2014","receivedDate":"03-05-2014","recordedDate":"03-05-2014","pagesCount":"4","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"HUNT
      ENER[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14095073)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Tue May 07 15:11:19 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":361},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"14095073","totalPtoDays":"159","assignments":[{"reelNumber":"32351","frameNumber":[...]
