interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(17130468)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Tue May 21 01:46:55 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":353},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"17130468","totalPtoDays":"388","applicants":[{"nameLineOne":"FUJIFILM
      Corporation","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Tokyo,
      ","geoCode":"","country":"(JP)","rankNo":"1"}],"applicantsFacet":"{||FUJIFILM
      Corporation||||Tokyo||JP|ORG|1}","appFilingDate":"2020-12-22T00:00:00Z","appExamName":"JIA,
      XIN","appExamNameFacet":"JIA, XIN","publicInd":"Y","APP_IND":"5","inventorName":"Shoji  KANADA","inventorNameFacet":"Shoji  KANADA","appEarlyPubDate":"2021-04-15T00:00:00Z","corrAddrGeoRegionCode":"VA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20210110206A1","id":"17130468","appGrpArtNumber":"2667","appGrpArtNumberFacet":"2667","applIdStr":"17130468","appl_id_txt":"17130468","appSubCls":"159000","patentNumber":"11797846","LAST_MOD_TS":"2024-05-17T06:55:52Z","transactions":[{"recordDate":"2023-10-24
      00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2023-10-24
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2023-10-24
      00:00:00","code":"MEPG_NTF","description":"Mail Patent eGrant Notification"},{"recordDate":"2023-10-24
      00:00:00","code":"EPG_NTF","description":"Patent eGrant Notification"},{"recordDate":"2023-10-24
      00:00:00","code":"EPG/","description":"Recordation of Patent eGrant"},{"recordDate":"2023-10-05
      00:00:00","code":"EML[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(17130468)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Tue May 21 01:46:55 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":427},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"17130468","totalPtoDays":"388","applicants":[{"nameLineOne":"FUJIFILM
      Corpor[...]
