interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"1\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"75787025\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>DK</country>\n
      \                   <doc-number>3989061</doc-number>\n                    <kind>T3</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n        </ops:search-result>\n
      \   </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0e324b13a235dedc520479f3870dc9a28"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 104.54.160.230
      X-EPO-Forwarded:
      - '[104.54.160.230]'
      X-Elapsed-Time:
      - '9'
      X-IndividualQuotaPerHour-Used:
      - '256845'
      X-RegisteredQuotaPerWeek-Used:
      - '1482212'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/DK3989061T3/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"75787025\" country=\"DK\" doc-number=\"3989061\" kind=\"T3\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>DK</country>\n
      \                       <doc-number>3989061</doc-number>\n                        <kind>T3</kind>\n
      \                       <date>20231106</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>DK3989061T</doc-number>\n
      \                       <date>20231106</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classifications-ipcr>\n
      \                   <classification-ipcr sequence=\"1\">\n                        <text>G06F
      \  9/    30            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"2\">\n                        <text>G06F
      \  9/    38            A I                    </text>\n                    </classification-ipcr>\n
      \               </classifications-ipcr>\n                <patent-classifications>\n
      \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>G</section>\n
      \                       <class>06</class>\n                        <subclass>F</subclass>\n
      \                       <main-group>1</main-group>\n                        <subgroup>03</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
      \                   </patent-classification>\n                    <patent-classification
      sequence=\"2\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>G</section>\n                        <class>06</class>\n
      \                       <subclass>F</subclass>\n                        <main-group>9</main-group>\n
      \                       <subgroup>30018</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>EP</generating-office>\n                    </patent-classification>\n
      \      [...]
