interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/WO2009085664A2/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"40799763\" country=\"WO\" doc-number=\"2009085664\" kind=\"A2\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>WO</country>\n
      \                       <doc-number>2009085664</doc-number>\n                        <kind>A2</kind>\n
      \                       <date>20090709</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>WO2009085664</doc-number>\n
      \                       <date>20090709</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classifications-ipcr>\n
      \                   <classification-ipcr sequence=\"1\">\n                        <text>G06F
      \ 15/    00            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"2\">\n                        <text>G06F
      \ 15/    16            A I                    </text>\n                    </classification-ipcr>\n
      \               </classifications-ipcr>\n                <patent-classifications>\n
      \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>G</section>\n
      \                       <class>06</class>\n                        <subclass>F</subclass>\n
      \                       <main-group>16</main-group>\n                        <subgroup>24578</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
      \                   </patent-classification>\n                    <patent-classification
      sequence=\"2\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>G</section>\n                        <class>06</class>\n
      \                       <subclass>F</subclass>\n                        <main-group>16</main-group>\n
      \                       <subgroup>24578</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>EP</generating-office>\n                    </patent-classification>\n
      \     [...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/WO2009085664.A2/description
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/pub-ftxt-description.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"><ftxt:fulltext-documents
      xmlns=\[...]
