interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"1\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"78114422\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>TW</country>\n
      \                   <doc-number>D218345</doc-number>\n                    <kind>S</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n        </ops:search-result>\n
      \   </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0b72d9ec26fad05366a1be4538920b9e9"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 104.54.160.230
      X-EPO-Forwarded:
      - '[104.54.160.230]'
      X-Elapsed-Time:
      - '11'
      X-IndividualQuotaPerHour-Used:
      - '463768'
      X-RegisteredQuotaPerWeek-Used:
      - '912637'
      X-Throttling-Control:
      - overloaded (images=green:50, inpadoc=green:30, other=green:1000, retrieval=green:50,
        search=yellow:5)
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/TWD218345S/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"78114422\" country=\"TW\" doc-number=\"D218345\" kind=\"S\">\n            <bibliographic-data>\n
      \               <publication-reference>\n                    <document-id document-id-type=\"docdb\">\n
      \                       <country>TW</country>\n                        <doc-number>D218345</doc-number>\n
      \                       <kind>S</kind>\n                        <date>20220421</date>\n
      \                   </document-id>\n                    <document-id document-id-type=\"epodoc\">\n
      \                       <doc-number>TWD218345S</doc-number>\n                        <date>20220421</date>\n
      \                   </document-id>\n                </publication-reference>\n
      \               <patent-classifications/>\n                <application-reference
      doc-id=\"602676171\">\n                    <document-id document-id-type=\"docdb\">\n
      \                       <country>TW</country>\n                        <doc-number>109306816</doc-number>\n
      \                       <kind>F</kind>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>TW20200306816F</doc-number>\n
      \                       <date>20201203</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"original\">\n                        <doc-number>109306816</doc-number>\n
      \                   </document-id>\n                </application-reference>\n
      \               <priority-claims>\n                    <priority-claim sequence=\"1\"
      kind=\"national\">\n                        <document-id document-id-type=\"epodoc\">\n
      \                           <doc-number>US202029737187F</doc-number>\n                            <date>20200605</date>\n
      \                       </document-id>\n                        <document-id
      document-id-type=\"original\">\n                            <doc-number>29/737,187</doc-number>\n
      \                       </document-id>\n                    </priority-claim>\n
      \               </priority-claims>\n                <parties>\n                    <applicants>\n
      \                       <applicant sequence=\"1\" data-format=\"epodoc\">\n
      \                           <applicant-name>\n                                <name>\u7F8E\u5546\u8C37\u6B4C\u6709\u9650\u8CAC\u4EFB\u516C\u53F8</name>\n
      \                           </applicant-name>\n                        </applicant>\n
      \                       <applicant sequence=\"2\" data-format=\"epodoc\">\n
      \                           <applicant-name>\n                                <name>
      GOOGLE LLC\u2002[US]</name>\n                            </applicant-name>\n
      \                       </applicant>\n                        <applicant sequence=\"1\"
      data-format=\"original\">\n                            <applicant-name>\n                                <name>\u7F8E\u5546\u8C37\u6B4C\u6709\u9650\u8CAC\u4EFB\u516C\u53F8,
      </name>\n                            </applicant-name>\n                        </applicant>\n
      \                       <applicant sequence=\"2\" data-format=\"original\">\n
      \                           <applicant-name>\n                                <name>GOOGLE
      LLC</name>\n                            </applicant-name>\n                        </applicant>\n
      \                   </applicants>\n                    <inventors>\n                        <inventor
      sequence=\"1\" data-format=\"epodoc\">\n                            <inventor-name>\n
      \                               <name>REICHERT STEFAN</name>\n                            </inventor-name>\n
      \                       </inventor>\n                        <inventor sequence=\"2\"
      data-format=\"epodoc\">\n                            <inventor-name>\n                                <name>
      BEYER HENRY A</name>\n                            </inventor-name>\n                        </inventor>\n
      \                       <inventor sequence=\"3\" data-format=\"epodoc\">\n                            <inventor-name>\n
      \                               <name> OLSSON MAJ ISABELLE</name>\n                            </inventor-name>\n
      \     [...]
