interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/WO2020081771/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"70284791\" country=\"WO\" doc-number=\"2020081771\" kind=\"A1\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>WO</country>\n
      \                       <doc-number>2020081771</doc-number>\n                        <kind>A1</kind>\n
      \                       <date>20200423</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>WO2020081771</doc-number>\n
      \                       <date>20200423</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classifications-ipcr>\n
      \                   <classification-ipcr sequence=\"1\">\n                        <text>B01D
      \ 39/    00            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"2\">\n                        <text>B01D
      \ 39/    02            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"3\">\n                        <text>B01D
      \ 39/    04            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"4\">\n                        <text>B01D
      \ 39/    06            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"5\">\n                        <text>B01D
      \ 39/    14            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"6\">\n                        <text>B01D
      \ 39/    16            A I                    </text>\n                    </classification-ipcr>\n
      \               </classifications-ipcr>\n                <patent-classifications>\n
      \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>A</section>\n
      \                       <class>61</class>\n                        <subclass>L</subclass>\n
      \                       <main-group>2</main-group>\n                        <subgroup>022</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
      \                   </patent-classification>\n                    <patent-classification
      sequence=\"2\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>B</section>\n                        <class>01</class>\n
      \                       <subclass>D</subclass>\n                        <main-group>39</main-group>\n
      \                       <subgroup>06</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>US</generating-office>\n                    </patent-classification>\n
      \        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/WO2020081771.A1/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-do[...]
