interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23869221, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":500,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":23869221,\"numResults\":500,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"USPAT\",\"countryCodes\":[]}],\"q\":\"\\\"system\\\".TTL.\",\"queryName\":\"\\\"system\\\".TTL.\",\"userEnteredQuery\":\"\\\"system\\\".TTL.\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"system\\\".TTL.\",\"error\":null,\"terms\":[\"\\\"system\\\"\",\"\\\"systems\\\"\"],\"facets\":[],\"pNumber\":null,\"hl_fl\":null},\"duration\":214,\"highlightingTime\":1,\"cursorMarker\":\"AoJwwPXBwYsDPDEwMDAwMDc0MDkyMzIhVVMtVVMtMTE4MDE1ODY=\",\"totalResults\":500,\"numberOfFamilies\":1164408,\"error\":null,\"patents\":[{\"guid\":\"US-11804297-B1\",\"publicationReferenceDocumentNumber\":\"11804297\",\"compositeId\":\"1000002512273!US-US-11804297\",\"publicationReferenceDocumentNumber1\":\"11804297\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-10-31T00:00:00Z\",\"inventionTitle\":\"Computing
      <span term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">system</span> for
      updating or entering multidimensional values\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"Allscripts
      Software, LLC\"],\"assigneeName\":[\"Allscripts Software, LLC\"],\"uspcFullClassificationFlattened\":null,\"ipcCodeFlattened\":\"G16H40/63;G16H10/60\",\"cpcInventiveFlattened\":\"G16H40/63;G16H10/60\",\"cpcAdditionalFlattened\":null,\"applicationFilingDate\":[\"2017-03-13T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":null,\"primaryExaminer\":\"Long;
      Fonya M\",\"assistantExaminer\":[\"Balaj; Anthony\"],\"applicationNumber\":\"15/457212\",\"frontPageStart\":1,\"frontPageEnd\":1,\"drawingsStart\":2,\"drawingsEnd\":10,\"specificationStart\":11,\"specificationEnd\":18,\"claimsStart\":18,\"claimsEnd\":19,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":1,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":19,\"pageCountDisplay\":\"19\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"uspat/US/G97/042/118\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"Eischeid;
      Todd\",\"familyIdentifierCur\":1000002512273,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"USPT\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":null,\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      11804297 B1\",\"derwentAccessionNumber\":null,\"documentSize\":81638,\"score\":3.5561516,\"governmentInterest\":null,\"kindCode\":[\"B1\"],\"urpn\":[\"7772479\",\"8645864\",\"8812992\",\"20060095147\",\"20120054686\",\"20130031497\",\"20130097551\",\"20140313135\",\"20150202533\",\"20150248212\",\"20160019360\"],\"urpnCode\":[\"7772479\",\"8645864\",\"8812992\",\"20060095147\",\"20120054686\",\"20130031497\",\"20130097551\",\"20140313135\",\"20150202533\",\"20150248212\",\"20160019360\"],\"descriptionStart\":11,\"descriptionEnd\":18,\"publicationReferenceDocumentNumberOne\":\"11804297\"},{\"guid\":\"US-11805034-B1\",\"publicationReferenceDocumentNumber\":\"11805034\",\"compositeId\":\"1000003138855!US-US-11805034\",\"publicationReferenceDocumentNumber1\":\"11805034\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-10-31T00:00:00Z\",\"inventionTitle\":\"<span
      term=\\\"\\\"systems\\\"\\\" class=\\\"highlight18\\\">Systems</span> and methods
      for detecting large network flows\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[...]
