interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23892567, "hl_snippets": "2", "op": "OR", "q": "\"6103599\".PN.",
      "queryName": "\"6103599\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"6103599\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
      Forbidden</h1></center>\r\n</body>\r\n</html>\r\n<!-- a padding to disable MSIE
      and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome
      friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly
      error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly error page
      -->\r\n<!-- a padding to disable MSIE and Chrome friendly error page -->\r\n<!--
      a padding to disable MSIE and Chrome friendly error page -->\r\n"
    headers:
      content-type:
      - text/html
    status_code: 403
[...]
