interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23869221, "hl_snippets": "2", "op": "OR", "q": "\"20170370151\".PN.",
      "queryName": "\"20170370151\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20170370151\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23869221,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]}],"q":"\"20170370151\".PN.","queryName":"\"20170370151\".PN.","userEnteredQuery":"\"20170370151\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"20170370151\".PN.","error":null,"terms":["\"20170370151\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":34,"highlightingTime":0,"cursorMarker":"AoJwgOSazeACOjU2MTYzNTg2IVBHLVVTLTIwMTcwMzcwMTUx","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-20170370151-A1","publicationReferenceDocumentNumber":"20170370151","compositeId":"56163586!PG-US-20170370151","publicationReferenceDocumentNumber1":"20170370151","datePublishedKwicHits":null,"datePublished":"2017-12-28T00:00:00Z","inventionTitle":"SYSTEMS
      AND METHODS TO CONTROL DIRECTIONAL DRILLING FOR HYDROCARBON WELLS","type":"US-PGPUB","mainClassificationCode":"1/1","applicantName":["NATIONAL
      OILWELL VARCO, L.P."],"assigneeName":["National Oilwell Varco, L.P."],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"E21B7/04;E21B44/00","cpcInventiveFlattened":"G05B15/02;E21B47/022;E21B44/00;E21B7/04","cpcAdditionalFlattened":null,"applicationFilingDate":["2015-12-29T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2015-02-20T00:00:00Z","2014-12-30T00:00:00Z"],"primaryExaminer":null,"assistantExaminer":null,"applicationNumber":"15/540593","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":13,"specificationStart":14,"specificationEnd":27,"claimsStart":27,"claimsEnd":29,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":29,"pageCountDisplay":"29","previouslyViewed":false,"unused":false,"imageLocation":"us-pgpub/US/2017/0370/151","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"BANIRAZI-MOTLAGH;
      Reza et al.","familyIdentifierCur":56163586,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"PGPB","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      20170370151 A1","derwentAccessionNumber":null,"documentSize":127241,"score":14.639646,"governmentInterest":null,"kindCode":["A1"],"urpn":null,"urpnCode":null,"descriptionStart":14,"descriptionEnd":27,"publicationReferenceDocumentNumberOne":"20170370151"}],"qtime":14}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-20170370151-A1/highlight?queryId=1&source=US-PGPUB&includeSections=true&uniqueId=
  response:
    content: "{\"guid\":\"US-20170370151-A1\",\"publicationReferenceDocumentNumber\":\"20170370151\",\"compositeId\":\"56163586!PG-US-20170370151\",\"publicationReferenceDocumentNumber1\":\"20170370151\",\"datePublishedKwicHits\":null,\"datePubl[...]
