interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/attorney
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"recordAttorney":{"customerNumberCorrespondenceData":{"powerOfAttorneyAddressBag":[{"cityName":"MINNEAPOLIS","geographicRegionName":"MINNESOTA","geographicRegionCode":"MN","countryCode":"US","postalCode":"55440-1022","nameLineOneText":"FISH
      & RICHARDSON P.C. (BO)","countryName":"UNITED STATES","addressLineOneText":"P.O.
      BOX 1022"}],"patronIdentifier":26161},"powerOfAttorneyBag":[{"activeIndicator":"ACTIVE","firstName":"PARVIN","lastName":"GHANE","registrationNumber":"76005","attorneyAddressBag":[{"cityName":"AUSTIN","geographicRegionName":"TEXAS","geographicRegionCode":"TX","countryCode":"US","postalCode":"78701","nameLineOneText":"FISH
      & RICHARDSON P.C.","countryName":"UNITED STATES","addressLineOneText":"111 CONGRESS
      AVENUE","addressLineTwoText":"SUITE 810"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"512-226-8143","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"MATTHEW","lastName":"MATTSON","registrationNumber":"65973","attorneyAddressBag":[{"cityName":"DALLAS","geographicRegionName":"TEXAS","geographicRegionCode":"TX","countryCode":"US","postalCode":"75201","nameLineOneText":"FISH
      & RICHARDSON P.C.","countryName":"UNITED STATES","addressLineOneText":"1717
      MAIN STREET","addressLineTwoText":"SUITE 5000"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"214-747-5070","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"ANDREW","lastName":"PATRICK","registrationNumber":"63471","attorneyAddressBag":[{"cityName":"AUSTIN","geographicRegionName":"TEXAS","geographicRegionCode":"TX","countryCode":"US","postalCode":"78701","nameLineOneText":"FISH
      & RICHARDSON P.C.","countryName":"UNITED STATES","addressLineOneText":"111 CONGRESS
      AVE","addressLineTwoText":"SUITE 2000"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"202-783-5070","telecomTypeCode":"TEL"}],"middleName":"B","registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"VINCENT","lastName":"BEACOM","registrationNumber":"76667","attorneyAddressBag":[{"cityName":"MINNEAPOLIS","geographicRegionName":"MINNESOTA","geographicRegionCode":"MN","countryCode":"US","postalCode":"55402","nameLineOneText":"FISH
      AND RICHARDSON PC","countryName":"UNITED STATES","addressLineOneText":"60 SOUTH
      6TH ST"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"763-213-3914","tele[...]
