interactions:
- request:
    body: '{"q": "firstNamedApplicant:STMicroelectronics S.A."}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: "{\"count\":69708,\"patentFileWrapperDataBag\":[{\"eventDataBag\":[{\"eventCode\":\"EML_NTR\",\"eventDescriptionText\":\"Email
      Notification\",\"eventDate\":\"2025-02-14\"},{\"eventCode\":\"371COMP\",\"eventDescriptionText\":\"371
      Completion Date\",\"eventDate\":\"2025-02-14\"},{\"eventCode\":\"PGPC\",\"eventDescriptionText\":\"Sent
      to Classification Contractor\",\"eventDate\":\"2025-02-13\"},{\"eventCode\":\"FTFS\",\"eventDescriptionText\":\"FITF
      set to YES - revise initial setting\",\"eventDate\":\"2025-02-13\"},{\"eventCode\":\"PTA.RFE\",\"eventDescriptionText\":\"Patent
      Term Adjustment - Ready for Examination\",\"eventDat[...]
