interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456","foreignPriorityBag":[{"filingDate":"2017-09-27","applicationNumberText":"2017-187096","ipOfficeName":"JAPAN"}]}],"requestIdentifier":"dac8390f-1d22-4d11-9612-4e746b4cb26e"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - engg8EpKIAMF-Nw=
      x-amzn-requestid:
      - dac8390f-1d22-4d11-9612-4e746b4cb26e
    status_code: 200
version: 1
