interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentBag":[{"foreignPriorityBag":[{"priorityNumberText":"2017-187096","filingDate":"2017-09-27","countryName":"JAPAN"}]}],"requestIdentifier":"cc10d600-43ed-4549-b8ee-dfff060e2688"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WvXtsEs5IAMFXmg=
      x-amzn-RequestId:
      - cc10d600-43ed-4549-b8ee-dfff060e2688
    status_code: 200
version: 1
