interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/continuity
  response:
    content: '{"count":1,"patentBag":[{"continuityBag":{"parentContinuityBag":[{"parentApplicationStatusCode":161,"claimParentageTypeCode":"NST","claimParentageTypeCodeDescription":"is
      a National Stage Entry of","parentApplicationStatusDescriptionText":"Abandoned  --  Failure
      to Respond to an Office Action","parentApplicationNumberText":"PCT/US15/27322","parentApplicationFilingDate":"2015-04-23","childApplicationNumberText":"15123456"},{"parentApplicationStatusCode":159,"claimParentageTypeCode":"PRO","claimParentageTypeCodeDescription":"Claims
      priority from a provisional application","parentApplicationStatusDescriptionText":"Provisional
      Application Expired","parentApplicationNumberText":"61983088","parentApplicationFilingDate":"2014-04-23","childApplicationNumberText":"PCT/US15/27322"}],"childContinuityBag":[{"childApplicationStatusDescriptionText":"Abandoned  --  Incomplete
      Application (Pre-examination)","claimParentageTypeCode":"CON","childApplicationStatusCode":160,"claimParentageTypeCodeDescription":"is
      a Continuation of","parentApplicationNumberText":"15123456","childApplicationFilingDate":"2018-09-14","childApplicationNumberText":"16132008"}]}}],"requestIdentifier":"c8456e73-afee-4021-802a-9607cbf02aaf"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLiTAGG7oAMFTVQ=
      x-amzn-requestid:
      - c8456e73-afee-4021-802a-9607cbf02aaf
    status_code: 200
version: 1
