interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/assignment
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"assignmentBag":[{"assignmentReceivedDate":"2018-10-25","assignorBag":[{"executionDate":"2018-09-23","assignorName":"WANG,
      MARVIN"}],"reelAndFrameNumber":"047305/0442","frameNumber":442,"assignmentRecordedDate":"2018-10-25","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"BOSTON","geographicRegionCode":"MA","postalCode":"02114","addressLineOneText":"55
      FRUIT STREET"},"assigneeNameText":"THE GENERAL HOSPITAL CORPORATION"}],"assignmentMailedDate":"2018-10-26","reelNumber":47305,"correspondenceAddressBag":[{"addressLineThreeText":"MINNEAPOLIS,
      MN 55440-1022","addressLineOneText":"FISH & RICHARDSON P.C.","correspondentNameText":"J.
      P. FASSE","addressLineTwoText":"P.O.BOX 1022"}],"assignmentDocumentLocationURI":"https://legacy-assignments.uspto.gov/assignments/assignment-pat-047305-0442.pdf"}],"applicationNumberText":"15123456"}],"requestIdentifier":"99fe2977-fcfd-4dcc-abd8-9eb68a451f53"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlPeEq5IAMFuQA=
      x-amzn-requestid:
      - 99fe2977-fcfd-4dcc-abd8-9eb68a451f53
    status_code: 200
version: 1
