interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentBag":[{"foreignPriorityBag":[{"filingDate":"2017-09-27","applicationNumberText":"2017-187096","ipOfficeName":"JAPAN"}]}],"requestIdentifier":"0053bdd8-e403-4b9e-b5bb-577222bda799"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLiTBE8_oAMFhbQ=
      x-amzn-requestid:
      - 0053bdd8-e403-4b9e-b5bb-577222bda799
    status_code: 200
version: 1
