interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"eventDataBag":[{"eventCode":"IDSC","eventDescriptionText":"Information
      Disclosure Statement considered","eventDate":"2020-10-21"},{"eventCode":"PET.","eventDescriptionText":"Petition
      Entered","eventDate":"2020-07-01"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2018-10-10"},{"eventCode":"MABN2","eventDescriptionText":"Mail
      Abandonment for Failure to Respond to Office Action","eventDate":"2018-10-10"},{"eventCode":"ABN2","eventDescriptionText":"Aband.
      for Failure to Respond to O. A.","eventDate":"2018-10-02"},{"eventCode":"ELC_RVW","eventDescriptionTe[...]
