interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/continuity
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"parentContinuityBag":[{"parentApplicationStatusCode":161,"claimParentageTypeCode":"NST","claimParentageTypeCodeDescriptionText":"is
      a National Stage Entry of","parentApplicationStatusDescriptionText":"Abandoned  --  Failure
      to Respond to an Office Action","parentApplicationNumberText":"PCTUS1527322","parentApplicationFilingDate":"2015-04-23","childApplicationNumberText":"15123456"},{"parentApplicationStatusCode":159,"claimParentageTypeCode":"PRO","claimParentageTypeCodeDescriptionText":"Claims
      priority from a provisional application","parentApplicationStatusDescriptionText":"Provisional
      Application Expired","parentApplicationNumberText":"61983088","parentApplicationFilingDate":"2014-04-23","childApplicationNumberText":"PCTUS1527322"}],"childContinuityBag":[{"childApplicationStatusDescriptionText":"Abandoned  --  Incomplete
      Application (Pre-examination)","claimParentageTypeCode":"CON","childApplicationStatusCode":160,"claimParentageTypeCodeDescriptionText":"is
      a Continuation of","parentApplicationNumberText":"15123456","childApplicationFilingDate":"2018-09-14","childApplicationNumberText":"16132008"}],"applicationNumberText":"15123456"}],"requestIdentifier":"64f74de6-40a3-460c-93eb-56a3131f8e35"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlPiGHpIAMFkbQ=
      x-amzn-requestid:
      - 64f74de6-40a3-460c-93eb-56a3131f8e35
    status_code: 200
version: 1
