interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentBag":[{"foreignPriorityBag":[{"priorityNumberText":"2017-187096","filingDate":"2017-09-27","countryName":"JAPAN"}]}],"requestIdentifier":"1aba0f0e-f172-4090-9768-c023a3fb1d55"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XNHaZFTxIAMF-Ng=
      x-amzn-requestid:
      - 1aba0f0e-f172-4090-9768-c023a3fb1d55
    status_code: 200
version: 1
