interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/datasets/products/PTFWPRE?limit=1&includeFiles=true&latest=true
  response:
    content: '{"count":1,"bulkDataProductBag":[{"productIdentifier":"PTFWPRE","productDescriptionText":"Bibliographic
      and assignments static patent data compiled into file sets. The Weekly Datasets
      (10-year increments) can be downloaded in bulk.","productTitleText":"Patent
      File Wrapper (Bulk Datasets) - Weekly","productFrequencyText":"WEEKLY","daysOfWeekText":"SUNDAY","productLabelArrayText":["Patent"],"productDatasetArrayText":["Research"],"productDatasetCategoryArrayText":["Patent
      file wrapper"],"productFromDate":"2001-01-01","productToDate":"2025-12-31","productTotalFileSize":54033601577,"productFileTotalQuantity":3,"lastModifiedDateTime":"2025-02-17
      01:41:00","mimeTypeIdentifierArrayText":["JSON"],"productFileBag":{"count":1,"fileDataBag":[{"fileName":"2011-2020-patent-filewrapper-full-json.zip","fileSize":27890846828,"fileDataFromDate":"2011-01-01","fileDataToDate":"2020-12-31","fileTypeText":"Data","fileDownloadURI":"https://beta-api.uspto.gov/api/v1/datasets/products/files/PTFWPRE/2011-2020-patent-filewrapper-full-json.zip","fileReleaseDate":"2025-02-17
      01:41:00","fileDate":"2025-02-16 00:00:00"}]}}]}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJo-cGxxIAMF5zQ=
      x-amzn-requestid:
      - 6fc6b63c-bcb0-4246-b5f3-e2483c33d036
    status_code: 200
version: 1
