interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/foreign-priority
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456","foreignPriorityBag":[{"filingDate":"2017-09-27","applicationNumberText":"2017-187096","ipOfficeName":"JAPAN"}]}],"requestIdentifier":"a13c7fb5-849a-4787-ad2b-03942578e1e0"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlPjEDCoAMFaqw=
      x-amzn-requestid:
      - a13c7fb5-849a-4787-ad2b-03942578e1e0
    status_code: 200
version: 1
