interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/transactions
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"eventDataBag":[{"eventCode":"M1551","eventDescriptionText":"Payment
      of Maintenance Fee, 4th Year, Large Entity","eventDate":"2024-07-10"},{"eventCode":"IDSC","eventDescriptionText":"Information
      Disclosure Statement considered","eventDate":"2018-09-06"},{"eventCode":"IDSC","eventDescriptionText":"Information
      Disclosure Statement considered","eventDate":"2021-07-09"},{"eventCode":"PGM/","eventDescriptionText":"Recordation
      of Patent Grant Mailed","eventDate":"2021-01-26"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2021-01-07"},{"eventCode":"WPIR","eventDescrip[...]
