interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/15123456/transactions
  response:
    content: '{"code":404,"message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"37406404-cbd9-4522-ac39-3b1170d9efc8"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 37406404-cbd9-4522-ac39-3b1170d9efc8
      x-amz-apigw-id:
      - YLkq3Ea4IAMFwRA=
      x-amzn-requestid:
      - 37406404-cbd9-4522-ac39-3b1170d9efc8
    status_code: 404
version: 1
