interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/adjustment
  response:
    content: '{"count":1,"patentBag":[{"patentTermAdjustmentData":{"applicantDayDelayQuantity":15.0,"overlappingDayQuantity":0.0,"filingDate":"2018-09-06","cDelayQuantity":0.0,"adjustmentTotalQuantity":0.0,"bDelayQuantity":0.0,"grantDate":"2021-01-26","aDelayQuantity":142.0,"nonOverlappingDayQuantity":127.0,"ipOfficeDayDelayQuantity":142.0,"patentTermAdjustmentHistoryDataBag":[{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.5,"caseActionDescriptionText":"PTA
      36 Months","caseActionSequenceNumber":74.5,"actionDate":"2021-01-26"},{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.0,"caseActionDescriptionText":"Patent
      Issue Date Used in PTA Calculation","caseActionSequenceNumber":74.0,"actionDate":"2021-01-26"},{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.0,"caseActionDescriptionText":"Dispatch
      to FDC","caseActionSequenceNumber":72.0,"actionDate":"2020-12-26"},{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.0,"caseActionDescriptionText":"Application
      Is Considered [...]
