interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/number-service/application/original/PCT/GB02/04635.20021011/docdb
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/numbers.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:meta name=\"status\" value=\"pBRE002 pBRE015\"/>\n    <ops:meta name=\"version\"
        value=\"11.07.65\"/>\n    <ops:standardization inputFormat=\"original\" outputFormat=\"docdb\">\n
        \       <ops:input>\n            <ops:application-reference>\n                <document-id
        document-id-type=\"original\">\n                    <doc-number>PCT/GB02/04635</doc-number>\n
        \                   <date>20021011</date>\n                </document-id>\n
        \           </ops:application-reference>\n        </ops:input>\n        <ops:output>\n
        \           <ops:application-reference>\n                <document-id document-id-type=\"docdb\">\n
        \                   <country>GB</country>\n                    <doc-number>0204635</doc-number>\n
        \                   <kind>W</kind>\n                    <date>20021011</date>\n
        \               </document-id>\n            </ops:application-reference>\n
        \       </ops:output>\n    </ops:standardization>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"02cf72625e86337d41a30675253a35cf8"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Elapsed-Time:
      - '75'
      X-IndividualQuotaPerHour-Used:
      - '173517'
      X-RegisteredQuotaPerWeek-Used:
      - '886821'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status:
      code: 200
      message: OK
version: 1
