interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/number-service/application/docdb/JP.2006147056.A.20060526/original
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/numbers.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:meta name=\"status\" value=\"SUCCESS\"/>\n    <ops:meta name=\"version\"
        value=\"11.07.65\"/>\n    <ops:standardization inputFormat=\"docdb\" outputFormat=\"original\">\n
        \       <ops:input>\n            <ops:application-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>JP</country>\n                    <doc-number>2006147056</doc-number>\n
        \                   <kind>A</kind>\n                    <date>20060526</date>\n
        \               </document-id>\n            </ops:application-reference>\n
        \       </ops:input>\n        <ops:output>\n            <ops:application-reference>\n
        \               <document-id document-id-type=\"original\">\n                    <country>JP</country>\n
        \                   <doc-number>2006147056</doc-number>\n                    <kind>A</kind>\n
        \                   <date>20060526</date>\n                </document-id>\n
        \           </ops:application-reference>\n        </ops:output>\n    </ops:standardization>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0eabd73c986de512181a1280ca0bf37e5"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Elapsed-Time:
      - '38'
      X-IndividualQuotaPerHour-Used:
      - '227818'
      X-RegisteredQuotaPerWeek-Used:
      - '1931096'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status:
      code: 200
      message: OK
version: 1
