interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/number-service/application/docdb/MD.20050130.A.20050130/epodoc
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/numbers.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:meta name=\"status\" value=\"SUCCESS\"/>\n    <ops:meta name=\"version\"
        value=\"11.07.65\"/>\n    <ops:standardization inputFormat=\"docdb\" outputFormat=\"epodoc\">\n
        \       <ops:input>\n            <ops:application-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>MD</country>\n                    <doc-number>20050130</doc-number>\n
        \                   <kind>A</kind>\n                    <date>20050130</date>\n
        \               </document-id>\n            </ops:application-reference>\n
        \       </ops:input>\n        <ops:output>\n            <ops:application-reference>\n
        \               <document-id document-id-type=\"epodoc\">\n                    <doc-number>MD20050000130</doc-number>\n
        \                   <kind>A</kind>\n                    <date>20050130</date>\n
        \               </document-id>\n            </ops:application-reference>\n
        \       </ops:output>\n    </ops:standardization>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"03f3f239201110a231bf9266616b0a3f8"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Elapsed-Time:
      - '39'
      X-IndividualQuotaPerHour-Used:
      - '181333'
      X-RegisteredQuotaPerWeek-Used:
      - '894637'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status:
      code: 200
      message: OK
version: 1
