interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/number-service/application/original/JP.(2006-147056).A.20060526/docdb
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/numbers.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:meta name=\"status\" value=\"SUCCESS\"/>\n    <ops:meta name=\"version\"
      value=\"11.07.65\"/>\n    <ops:standardization inputFormat=\"original\" outputFormat=\"docdb\">\n
      \       <ops:input>\n            <ops:application-reference>\n                <document-id
      document-id-type=\"original\">\n                    <country>JP</country>\n
      \                   <doc-number>2006-147056</doc-number>\n                    <kind>A</kind>\n
      \                   <date>20060526</date>\n                </document-id>\n
      \           </ops:application-reference>\n        </ops:input>\n        <ops:output>\n
      \           <ops:application-reference>\n                <document-id document-id-type=\"docdb\">\n
      \                   <country>JP</country>\n                    <doc-number>2006147056</doc-number>\n
      \                   <kind>A</kind>\n                    <date>20060526</date>\n
      \               </document-id>\n            </ops:application-reference>\n        </ops:output>\n
      \   </ops:standardization>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"013ae5887ff2e6621ab43a4ab3d3a91ac"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 104.54.160.230
      X-EPO-Forwarded:
      - '[104.54.160.230]'
      X-Elapsed-Time:
      - '32'
      X-IndividualQuotaPerHour-Used:
      - '1643912'
      X-RegisteredQuotaPerWeek-Used:
      - '1630877'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status_code: 200
version: 1
