interactions:
- request:
    body: criteria=%2A%3A%2A&start=0&rows=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://developer.uspto.gov/ds-api/oa_citations/v2/records
  response:
    content: "{\n  \"responseHeader\":{\n    \"zkConnected\":true,\n    \"status\":0,\n
      \   \"QTime\":404,\n    \"params\":{\n      \"json\":\"{\\\"params\\\":{\\\"q\\\":\\\"*:*\\\",\\\"start\\\":0,\\\"rows\\\":100,\\\"fl\\\":\\\"actionTypeCategory,applicantCitedExaminerReferenceIndicator,createDateTime,createUserIdentifier,examinerCitedReferenceIndicator,groupArtUnitNumber,id,legalSectionCode,obsoleteDocumentIdentifier,officeActionCitationReferenceIndicator,paragraphNumber,parsedReferenceIdentifier,patentApplicationNumber,referenceIdentifier,techCenter,workGroup\\\",\\\"wt\\\":\\\"json\\\",\\\"indent\\\":\\\"on\\\"}}\"}},\n
      \ \"response\":{\"numFound\":69141073,\"start\":0,\"docs\":[\n      {\n        \"id\":\"75e94a544ff8f9aeb49581d9a9ec423a\",\n
      \       \"patentApplicationNumber\":\"15539899\",\n        \"obsoleteDocumentIdentifier\":\"JWUYXBL5RXEAPX3\",\n
      \       \"referenceIdentifier\":\"20150146698\",\n        \"parsedReferenceIdentifier\":\"20150146698\",\n
      \       \"officeActionCitationReferenceIndicator\":true,\n        \"examinerCitedReferenceIndicator\":true,\n
      \       \"applicantCitedExaminerReferenceIndicator\":false,\n        \"actionTypeCategory\":\"rejected\",\n
      \       \"legalSectionCode\":\"102\",\n        \"groupArtUnitNumber\":\"2471\",\n
      \       \"techCenter\":\"2400\",\n        \"workGroup\":\"2470\",\n        \"createUserIdentifier\":\"ETL_SYS\",\n
      \       \"createDateTime\":\"2020-11-03T03:57:50Z\"},\n      {\n        \"id\":\"03050166d7d484ef7cf6b097f42ca656\",\n
      \       \"patentApplicationNumber\":\"15696408\",\n        \"referenceIdentifier\":\"5609494\",\n
      \       \"parsedReferenceIdentifier\":\"5609494\",\n        \"officeActionCitationReferenceIndicator\":false,\n
      \       \"examinerCitedReferenceIndicator\":true,\n        \"applicantCitedExaminerReferenceIndicator\":false,\n
      \       \"groupArtUnitNumber\":\"2831\",\n        \"techCente[...]
