interactions:
- request:
    body: criteria=%2A%3A%2A&start=0&rows=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://developer.uspto.gov/ds-api/oa_actions/v1/records
  response:
    content: "{\n  \"responseHeader\":{\n    \"zkConnected\":true,\n    \"status\":0,\n
      \   \"QTime\":141,\n    \"params\":{\n      \"json\":\"{\\\"params\\\":{\\\"q\\\":\\\"*:*\\\",\\\"start\\\":0,\\\"rows\\\":100,\\\"fl\\\":\\\"accessLevelCategory,applicantFileReference,applicationDeemedWithdrawnDate,applicationStatusNumber,applicationTypeCategory,bodyText,businessAreaCategory,businessEntityStatusCategory,createDateTime,customerNumber,documentActiveIndicator,documentDirectionCategory,effectiveClaimTotalQuantity,effectiveFilingDate,examinationProgramCode,examinerEmployeeNumber,figureQuantity,filingDate,grantDate,groupArtUnitNumber,id,independentClaimTotalQuantity,inventionSubjectMatterCategory,inventionTitle,lastMod[...]
