interactions:
- request:
    body: criteria=patentApplicationNumber%3A%2814574014%29&start=0&rows=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://developer.uspto.gov/ds-api/oa_rejections/v2/records
  response:
    content: "{\n  \"responseHeader\":{\n    \"zkConnected\":true,\n    \"status\":0,\n
      \   \"QTime\":35,\n    \"params\":{\n      \"json\":\"{\\\"params\\\":{\\\"q\\\":\\\"patentApplicationNumber:(14574014)\\\",\\\"start\\\":0,\\\"rows\\\":100,\\\"fl\\\":\\\"actionTypeCategory,aliceIndicator,allowedClaimIndicator,bilskiIndicator,cite102GT1,cite103EQ1,cite103GT3,cite103Max,claimNumberArrayDocument,closingMissing,createDateTime,createUserIdentifier,formParagraphMissing,groupArtUnitNumber,hasObjection,hasRej101,hasRej102,hasRej103,hasRej112,hasRejDP,headerMissing,id,legacyDocumentCodeIdentifier,legalSectionCode,mayoIndicator,myriadIndicator,nationalClass,nationalSubclass,obsoleteDocumentIdentifier,paragraphNumber,patentApplicationNumber,rejectFormMissmatch,signatureType,submissionDate\\\",\\\"wt\\\":\\\"json\\\",\\\"indent\\\":\\\"on\\\"}}\"}},\n
      \ \"response\":{\"numFound\":10,\"start\":0,\"docs\":[\n      {\n        \"id\":\"d56828faecf40e8907c3cdb0e6d9a191\",\n
      \       \"patentApplicationNumber\":\"14574014\",\n        \"obsoleteDocumentIdentifier\":\"IVLC08MNRXEAPX5\",\n
      \       \"groupArtUnitNumber\":\"3763\",\n        \"legacyDocumentCodeIdentifier\":\"CTFR\",\n
      \       \"submissionDate\":\"2016-11-18T05:00:00Z\",\n        \"nationalClass\":\"604\",\n
      \       \"nationalSubclass\":\"028000\",\n        \"headerMissing\":0.0,\n        \"formParagraphMissing\":1.0,\n
      \       \"rejectFormMissmatch\":0.0,\n        \"closingMissing\":0.0,\n        \"hasRej101\":0.0,\n
      \       \"hasRejDP\":1.0,\n        \"hasRej102\":0.0,\n        \"hasRej103\":1.0,\n
      \       \"hasRej112\":0.0,\n        \"hasObjection\":1.0,\n        \"cite102GT1\":0.0,\n
      \       \"cite103GT3\":1.0,\n        \"cite103EQ1\":0.0,\n        \"cite103Max\":6.0,\n
      \       \"signatureType\":3.0,\n        \"actionTypeCategory\":\"rejected\",\n
      \       \"legalSectionCode\":\"nonstatutory double patenting\",\n        \"claimNumberArrayDocument\":[\"1,11,12,13,14,15,16,17,18,19,2,3,33,34,35,36,37,4,40,41,42,43,44,45,46,5,6,7,8\"],\n
      \       \"createUserIdentifier\":\"ETL_SYS\",\n        \"createDateTime\":\"2023-06-02T17:17:19Z\"},\n
      \     {\n        \"id\":\"92e333d5b5a2f9b9294941a4b5d0a5b5\",\n        \"patentApplicationNumber\":\"14574014\",\n
      \       \"obsoleteDocumentIdentifier\":\"IVLC08MNRXEAPX5\",\n        \"groupArtUnitNumber\":\"3763\",\n
      \       \"legacyDocumentCodeIdentifier\":\"CTFR\",\n        \"submissionDate\":\"2016-11-18T05:00:00Z\",\n
      \       \"nationalClass\":\"604\",\n        \"nationalSubclass\":\"028000\",\n
      \       \"headerMissing\":0.0,\n    [...]
