interactions:
- request:
    body: criteria=patentApplicationNumber%3A%2814574014%29&start=0&rows=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://developer.uspto.gov/ds-api/oa_actions/v1/records
  response:
    content: "{\n  \"responseHeader\":{\n    \"zkConnected\":true,\n    \"status\":0,\n
      \   \"QTime\":68,\n    \"params\":{\n      \"json\":\"{\\\"params\\\":{\\\"q\\\":\\\"patentApplicationNumber:(14574014)\\\",\\\"start\\\":0,\\\"rows\\\":100,\\\"fl\\\":\\\"accessLevelCategory,applicantFileReference,applicationDeemedWithdrawnDate,applicationStatusNumber,applicationTypeCategory,bodyText,businessAreaCategory,businessEntityStatusCategory,createDateTime,customerNumber,documentActiveIndicator,documentDirectionCategory,effectiveClaimTotalQuantity,effectiveFilingDate,examinationProgramCode,examinerEmployeeNumber,figureQuantity,filingDate,grantDate,groupArtUnitNumber,id,independentClaimTotalQuantity,inventionSubjectMatterCategory,inventionTitle,lastMod[...]
