interactions:
- request:
    body: criteria=patentApplicationNumber%3A%2814574014%29&start=0&rows=100
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://developer.uspto.gov/ds-api/oa_citations/v2/records
  response:
    content: "{\n  \"responseHeader\":{\n    \"zkConnected\":true,\n    \"status\":0,\n
      \   \"QTime\":56,\n    \"params\":{\n      \"json\":\"{\\\"params\\\":{\\\"q\\\":\\\"patentApplicationNumber:(14574014)\\\",\\\"start\\\":0,\\\"rows\\\":100,\\\"fl\\\":\\\"actionTypeCategory,applicantCitedExaminerReferenceIndicator,createDateTime,createUserIdentifier,examinerCitedReferenceIndicator,groupArtUnitNumber,id,legalSectionCode,obsoleteDocumentIdentifier,officeActionCitationReferenceIndicator,paragraphNumber,parsedReferenceIdentifier,patentApplicationNumber,referenceIdentifier,techCenter,workGroup\\\",\\\"wt\\\":\\\"json\\\",\\\"indent\\\":\\\"on\\\"}}\"}},\n
      \ \"response\":{\"numFound\":10,\"start\":0,\"docs\":[\n      {\n        \"id\":\"fff6fce3fa0b77c4c989081999738052\",\n
      \       \"patentApplicationNumber\":\"14574014\",\n        \"obsoleteDocumentIdentifier\":\"IO07UNHTRXEAPX0\",\n
      \       \"referenceIdentifier\":\"5324286\",\n        \"parsedReferenceIdentifier\":\"5324286\",\n
      \       \"officeActionCitationReferenceIndicator\":true,\n        \"examinerCitedReferenceIndicator\":true,\n
      \       \"applicantCitedExaminerReferenceIndicator\":false,\n        \"actionTypeCategory\":\"rejected\",\n
      \       \"legalSectionCode\":\"103\",\n        \"groupArtUnitNumber\":\"3763\",\n
      \       \"techCenter\":\"3700\",\n        \"workGroup\":\"3760\",\n        \"createUserIdentifier\":\"ETL_SYS\",\n
      \       \"createDateTime\":\"2023-07-04T17:40:41Z\"},\n      {\n        \"id\":\"5493f502b8badcb25e27b5e7580d5ed8\",\n
      \       \"patentApplicationNumber\":\"14574014\",\n        \"obsoleteDocumentIdentifier\":\"IO07UNHTRXEAPX0\",\n
      \       \"referenceIdentifier\":\"6752794\",\n        \"parsedReferenceIdentifier\":\"6752794\",\n
      \       \"officeActionCitationReferenceIndicator\":true,\n        \"examinerCitedReferenceIndicator\":true,\n
      \       \"applicantCitedExaminerReferenceIndicator\":false,\n [...]
