interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23822402, "hl_snippets": "2", "op": "OR", "q": "\"wilson\".ASNM.
      AND \"tennis\".TTL.", "queryName": "\"wilson\".ASNM. AND \"tennis\".TTL.", "highlights":
      "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals": true,
      "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT", "countryCodes":
      []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery": "\"wilson\".ASNM.
      AND \"tennis\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":21,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23822402,"numResults":21,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"wilson\".ASNM.
      AND \"tennis\".TTL.","queryName":"\"wilson\".ASNM. AND \"tennis\".TTL.","userEnteredQuery":"\"wilson\".ASNM.
      AND \"tennis\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"wilson\".ASNM.
      AND \"tennis\".TTL.","error":null,"terms":["\"tennis\"","\"tenni\"","\"wilson\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":81,"highlightingTime":0,"cursorMarker":"AoJwwLXrmKEBNzI0MTE2MTk3IVVTLVVTLTA1MDcxMTI2","totalResults":21,"numberOfFamilies":21,"error":null,"patents":[{"guid":"US-D998455-S","publicationReferenceDocumentNumber":"D998455","compositeId":"D-723095!US-US-D0998455","publicationReferenceDocumentNumber1":"D0998455","datePublishedKwicHits":null,"datePublished":"2023-09-12T00:00:00Z","inventionTitle":"<span
      term=\"\"tennis\"\" class=\"highlight18\">Tennis</span> ball container","type":"USPAT","mainClassificationCode":"D9/430","applicantName":["Wilson
      Sporting Goods Co."],"assigneeName":["Wilson Sporting Goods Co."],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":null,"cpcInventiveFlattened":null,"cpcAdditionalFlattened":null,"applicationFilingDate":["2020-02-04T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Posthauer;
      Catherine S","assistantExaminer":null,"applicationNumber":"D/723095","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":7,"specificationStart":1,"specificationEnd":1,"claimsStart":1,"claimsEnd":1,"abstractStart":0,"abstractEnd":0,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":7,"pageCountDisplay":"7","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/D0/998/455","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Ryan;
      Christopher W. et al.","familyIdentifierCur":null,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      D998455 S","derwentAccessionNumber":null,"documentSize":37697,"score":25.849997,"governmentInterest":null,"kindCode":["S"],"urpn":["1979245","D97588","3738564","3977594","4134531","4359182","D267702","4729505","4850506","D307417","4919306","5020664","D324823","D328168","D367226","5531375","D385186","5762225","D411079","5941476","D457013","6415927","D464880","D464881","D464882","D464883","D472467","6827217","D502646","D545147","D567076","D570682","D616300","D640133","8025206","8025208","8091768","D661449","D672645","D700837","D719824","D756037","D769070","D772055","D772056","D783306","D786668","D822482","D846197","D849530","D893997","D906802","D915201","D920778","D929221","D950375","D950376","D973486","D974169","20080128478","20100301108"],"urpnCode":["1979245","D97588","3738564","3977594","4134531","4359182","D267702","4729505","4850506","D307417","4919306","5020664","D324823","D328168","D367226","5531375","D385186","5762225","D411079","5941476","D457013","6415927","D464880","D464881","D464882","D464883","D472467","6827217","D502646","D545147","D567076","D570682","D616300","D640133","8025206","8025208","8091768","D661449","D672645","D700837","D719824","D756037","D769070","D772055","D772056","D783306","D786668","D822482","D846197","D849530","D893997","D906802","D915201","D920778","D929221","D950375","D950376","D973486","D974169","20080128478","20100301108"],"descriptionStart":1,"descriptionEnd":1,"publicationReferenceDocumentNumberOne":"D0998455"},{"guid":"US-D974910-S","publicationReferenceDocumentNumber":"D974910","compositeId":"D-723103!US-US-D0974910","publicationReferenceDocumentNumber1":"D0974910","datePublishedKwicHits":null,"datePublished":"2023-01-10T00:00:00Z","inventionTitle":"<span
      term=\"\"tennis\"\" class=\"highlight18\">Tennis</span> ball container overcap","type":"USPAT","mainClassificationCode":"D9/454","applicantName":["Wilson
      Sporting Goods Co."],"assigneeName":["Wilson Sporting Goods Co."],"uspc[...]
