interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23834244, "hl_snippets": "2", "op": "OR", "q": "@PD>=20100101<=20101231
      AND \"tennis\".TTL.", "queryName": "@PD>=20100101<=20101231 AND \"tennis\".TTL.",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "@PD>=20100101<=20101231 AND \"tennis\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":21,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23834244,"numResults":21,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"@PD>=20100101<=20101231
      AND \"tennis\".TTL.","queryName":"@PD>=20100101<=20101231 AND \"tennis\".TTL.","userEnteredQuery":"@PD>=20100101<=20101231
      AND \"tennis\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"@PD>=20100101<=20101231
      AND \"tennis\".TTL.","error":null,"terms":["\"tennis\"","@pd","\"tenni\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":67,"highlightingTime":0,"cursorMarker":"AoJwwM+B2KYCNzQxNjQ2MzYwIVVTLVVTLTA3NjU4MjEx","totalResults":21,"numberOfFamilies":21,"error":null,"patents":[{"guid":"US-7841958-B2","publicationReferenceDocumentNumber":"7841958","compositeId":"40899816!US-US-07841958","publicationReferenceDocumentNumber1":"07841958","datePublishedKwicHits":null,"datePublished":"2010-11-30T00:00:00Z","inventionTitle":"Modular
      table <span term=\"\"tennis\"\" class=\"highlight18\">tennis</span> game","type":"USPAT","mainClassificationCode":"473/496","applicantName":null,"assigneeName":["Edison
      Nation, LLC"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"A63B67/04","cpcInventiveFlattened":"A63B67/04","cpcAdditionalFlattened":"A63B2225/09;A63B2210/50;A63B63/08;A63B69/0097;A63B71/06;A63B2225/093","applicationFilingDate":["2009-01-07T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2008-01-07T00:00:00Z","2008-01-15T00:00:00Z"],"primaryExaminer":"Chiu;
      Raleigh W.","assistantExaminer":null,"applicationNumber":"12/349943","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":26,"specificationStart":27,"specificationEnd":35,"claimsStart":35,"claimsEnd":36,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":36,"pageCountDisplay":"36","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/07/841/958","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Fleming;
      Matthew D. et al.","familyIdentifierCur":40899816,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      7841958 B2","derwentAccessionNumber":null,"documentSize":90178,"score":14.5588,"governmentInterest":null,"kindCode":["B2"],"urpn":["2313701","2911217","3622156","3777674","4334681","4765619","4772018","5460365","5575471","6007438","6155939","6379273","6645096"],"urpnCode":["2313701","2911217","3622156","3777674","4334681","4765619","4772018","5460365","5575471","6007438","6155939","6379273","6645096"],"descriptionStart":27,"descriptionEnd":35,"publicationReferenceDocumentNumberOne":"07841958"},{"guid":"US-D627018-S","publicationReferenceDocumentNumber":"D627018","compositeId":"D-362395!US-US-D0627018","publicationReferenceDocumentNumber1":"D0627018","datePublishedKwicHits":null,"datePublished":"2010-11-09T00:00:00Z","inventionTitle":"Table
      <span term=\"\"tennis\"\" class=\"highlight18\">tennis</span> ball","type":"USPAT","mainClassificationCode":"D21/713","applicantName":null,"assigneeName":["Indian
      Industries, Inc."],"uspcFullClassificationFlattened":null,"ipc[...]
[...]
