interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23834244, "hl_snippets": "2", "op": "OR", "q": "\"9140110\".PN.",
      "queryName": "\"9140110\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"9140110\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23834244,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"9140110\".PN.","queryName":"\"9140110\".PN.","userEnteredQuery":"\"9140110\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"9140110\".PN.","error":null,"terms":["\"9140110\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":44,"highlightingTime":0,"cursorMarker":"AoJwgLKW+c8CNzUwNDMxODM4IVVTLVVTLTA5MTQwMTEw","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-9140110-B2","publicationReferenceDocumentNumber":"9140110","compositeId":"50431838!US-US-09140110","publicationReferenceDocumentNumber1":"09140110","datePublishedKwicHits":null,"datePublished":"2015-09-22T00:00:00Z","inventionTitle":"Mobile,
      modular, electrically powered system for use in fracturing underground formations
      using liquid petroleum gas","type":"USPAT","mainClassificationCode":"1/1","applicantName":["Evolution
      Well Services, LLC"],"assigneeName":["EVOLUTION WELL SERVICES, LLC"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"E21B7/12;E21B43/26","cpcInventiveFlattened":"B01F23/43;F04B17/03;F04B1/16;B01F27/05;B01F35/3204;F01D15/10;E21B43/26;E21B43/2607;B01F35/71","cpcAdditionalFlattened":"B01F2101/49;F05D2240/24","applicationFilingDate":["2013-03-14T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2012-10-05T00:00:00Z"],"primaryExaminer":"Buck;
      Matthew","assistantExaminer":["Lembo; Aaron"],"applicationNumber":"13/804906","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":14,"specificationStart":15,"specificationEnd":22,"claimsStart":22,"claimsEnd":24,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":24,"pageCountDisplay":"24","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/09/140/110","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Coli;
      Todd et al.","familyIdentifierCur":50431838,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      9140110 B2","derwentAccessionNumber":null,"documentSize":118876,"score":14.091167,"governmentInterest":null,"kindCode":["B2"],"urpn":["3113620","3901313","4060988","4471619","4557325","4694907","5184456","5248005","5334898","6161386","6167965","6193402","6265786","6298652","6325142","6495929","6773238","6907737","7114322","7128142","7562708","7581379","7589379","7608935","7669657","7677316","7681647","7683499","7717193","7828057","7832257","7845413","7908230","7926562","7958716","8789601","2003/0178195","2005/0248334","2006/0054318","2006/0278394","2007/0029090","2007/0125544","2007/0204991","2007/0277982","2008/0017369","2008/0217024","2008/0264625","2008/0264640","2008/0264649","2009/0084558","2009/0095482","2009/0101410","2009/0120635","2009/0194280","2009/0308602","2010/0000221","2010/0071899","2010/0089589","2010/0310384","2011/0030951","2011/0036584","2011/0067882","2011/0179799","2011/0198089","2012/0085541","2012/0181015","2012/0255734"],"urpnCode":["3113620","3901313","4060988","4471619","4557325","4694907","5184456","5248005","5334898","6161386","6167965","6193402","6265786","6298652","6325142","6495929","6773238","6907737","7114322","7128142","7562708","7581379","7589379","7608935","7669657","7677316","7681647","7683499","7717193","7828057","7832257","7845413","7908230","7926562","7958716","8789601","2003/0178195","2005/0248334","2006/0054318","2006/0278394","2007/0029090","2007/0125544","2007/0204991","2007/0277982","2008/0017369","2008/0217024","2008/0264625","2008/0264640","2008/0264649","2009/0084558","2009/0095482","2009/0101410","2009/0120635","2009/0194280","2009/0308602","2010/0000221","2010/0071899","2010/0089589","2010/0310384","2011/0030951","2011/0036584","2011/0067882","2011/0179799","2011/0198089","2012/0085541","2012/0181015","2012/0255734"],"descriptionStart":15,"descriptionEnd":22,"publicationReferenceDocumentNumberOne":"09140110"}],"qtime":16}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-9140110-B2/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-9140110-B2","publicationReferenceDocumentNumber":"9140110","compositeId":"50431838!US-US-09140110","publicationReferenceDocumentNumber1":"09140110","datePublishedKwicHits":null,"datePublished":"2015-09-22T00:00:00Z","invention[...]
[...]
