interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 1, "hl_snippets": "2", "op": "OR", "q": "(\"6095661\")[PN]",
      "queryName": "(\"6095661\")[PN]", "highlights": "0", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "(\"6095661\")[PN]"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    body:
      string: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":1,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"(\"6095661\")[PN]","queryName":"(\"6095661\")[PN]","userEnteredQuery":"(\"6095661\")[PN]","viewName":"tile","op":"OR","highlights":"0","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
        asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"(\"6095661\")[PN]","error":null,"terms":["\"6095661\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":30,"highlightingTime":0,"cursorMarker":"AoJwgMfu2eABNzIxOTMzMDQ2IVVTLVVTLTA2MDk1NjYx","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-6095661-A","publicationReferenceDocumentNumber":"6095661","compositeId":"21933046!US-US-06095661","publicationReferenceDocumentNumber1":"06095661","datePublishedKwicHits":null,"datePublished":"2000-08-01T00:00:00Z","inventionTitle":"Method
        and apparatus for an L.E.D. flashlight","type":"USPAT","mainClassificationCode":"362/184","applicantName":null,"assigneeName":["PPT
        Vision, Inc."],"uspcFullClassificationFlattened":"362/208;362/183;362/159;315/291;362/249.06;315/312;362/249.05;315/224;362/800;315/360;362/157;315/307;348/E5.038;315/362","ipcCodeFlattened":"H04B10/152","cpcInventiveFlattened":"F21L4/027;H05B45/395;H04B10/564;H05B45/22;H05B45/12;H05B45/20;H05B45/50;H04N5/2354;H04B10/502","cpcAdditionalFlattened":"F21Y2115/10;H05B45/32;Y10S362/802;Y02B20/30;Y10S362/80","applicationFilingDate":["1998-03-19T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"O''Shea;
        Sandra","assistantExaminer":["Zeade; Bertrand"],"applicationNumber":"09/044559","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":12,"specificationStart":13,"specificationEnd":20,"claimsStart":20,"claimsEnd":23,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":24,"certCorrectionEnd":24,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":25,"ptabEnd":28,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":28,"pageCountDisplay":"28","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/06/095/661","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Lebens;
        Gary A. et al.","familyIdentifierCur":21933046,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
        6095661 A","derwentAccessionNumber":null,"documentSize":94880,"score":14.132796,"governmentInterest":null,"kindCode":["A"],"urpn":["4208579","4290095","4346329","4509266","4592147","4820229","4831504","4893815","4962347","4964023","4978857","5015918","5065035","5179335","5279513","5299227","5424927","5838247","5890794"],"urpnCode":["4208579","4290095","4346329","4509266","4592147","4820229","4831504","4893815","4962347","4964023","4978857","5015918","5065035","5179335","5279513","5299227","5424927","5838247","5890794"],"descriptionEnd":20,"publicationReferenceDocumentNumberOne":"06095661","descriptionStart":13}],"qtime":27}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-6095661-A/highlight?queryId=1&source=USPAT&includeSections=True
  response:
    body:
      string: '{"guid":"US-6095661-A","publicationReferenceDocumentNumber":"6095661","compositeId":"21933046!US-US-06095661","publicationReferenceDocumentNumber1":"06095661","datePublishedKwicHits":null,"datePublished":"2000-08-01T00:00:00Z","inventionTitle":"Method
        and apparatus for an L.[...]
