interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23822402, "hl_snippets": "2", "op": "OR", "q": "\"B60N2/5628\".CPC.
      AND @APD>=\"20210101\"<=20210107", "queryName": "\"B60N2/5628\".CPC. AND @APD>=\"20210101\"<=20210107",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"B60N2/5628\".CPC. AND @APD>=\"20210101\"<=20210107"}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23822402,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"B60N2/5628\".CPC.
      AND @APD>=\"20210101\"<=20210107","queryName":"\"B60N2/5628\".CPC. AND @APD>=\"20210101\"<=20210107","userEnteredQuery":"\"B60N2/5628\".CPC.
      AND @APD>=\"20210101\"<=20210107","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"B60N2/5628\".CPC.
      AND @APD>=\"20210101\"<=20210107","error":null,"terms":["@apd","\"b60n2/5628\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":36,"highlightingTime":0,"cursorMarker":"AoJwgNHB3oUDNzY5MjI4MTc1IVVTLVVTLTExNTU0Njk4","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-11554698-B2","publicationReferenceDocumentNumber":"11554698","compositeId":"69228175!US-US-11554698","publicationReferenceDocumentNumber1":"11554698","datePublishedKwicHits":null,"datePublished":"2023-01-17T00:00:00Z","inventionTitle":"Vehicle
      seat","type":"USPAT","mainClassificationCode":"1/1","applicantName":["Toyota
      Jidosha Kabushiki Kaisha"],"assigneeName":["TOYOTA JIDOSHA KABUSHIKI KAISHA"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"B60N2/56","cpcInventiveFlattened":"B60N2/01;B60N2/5628;B60N2/5657","cpcAdditionalFlattened":null,"applicationFilingDate":["2021-01-07T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2019-07-26T00:00:00Z"],"primaryExaminer":"Gabler;
      Philip F","assistantExaminer":null,"applicationNumber":"17/143605","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":7,"specificationStart":8,"specificationEnd":18,"claimsStart":18,"claimsEnd":19,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":19,"pageCountDisplay":"19","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/G98/546/115","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Shiga;
      Kazuyuki","familyIdentifierCur":69228175,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":["2018-08-02T00:00:00Z"],"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      11554698 B2","derwentAccessionNumber":null,"documentSize":107512,"score":15.478243,"governmentInterest":null,"kindCode":["B2"],"urpn":["4258555","5092395","5385382","6059018","7647780","9004993","10479241","20100181061","20110226461","20180117987","20190047449","20190241043","20190337429"],"urpnCode":["4258555","5092395","5385382","6059018","7647780","9004993","10479241","20100181061","20110226461","20180117987","20190047449","20190241043","20190337429"],"descriptionStart":8,"descriptionEnd":18,"publicationReferenceDocumentNumberOne":"11554698"}],"qtime":16}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-11554698-B2/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-11554698-B2","publicationReferenceDocumentNumber":"11554698","compositeId":"69228175!US-US-11554698","publicationReferenceDocumentNumber1":"11554698","datePublishedKwicHits":null,"datePublished":"2023-01-17T00:00:00Z","invent[...]
