interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23830504, "hl_snippets": "2", "op": "OR", "q": "\"6103599\".PN.",
      "queryName": "\"6103599\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"6103599\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23830504,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"6103599\".PN.","queryName":"\"6103599\".PN.","userEnteredQuery":"\"6103599\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"6103599\".PN.","error":null,"terms":["\"6103599\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":36,"highlightingTime":0,"cursorMarker":"AoJwgOj0/eABNzI2NzMyMjIzIVVTLVVTLTA2MTAzNTk5","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-6103599-A","publicationReferenceDocumentNumber":"6103599","compositeId":"26732223!US-US-06103599","publicationReferenceDocumentNumber1":"06103599","datePublishedKwicHits":null,"datePublished":"2000-08-15T00:00:00Z","inventionTitle":"Planarizing
      technique for multilayered substrates","type":"USPAT","mainClassificationCode":"438/459","applicantName":null,"assigneeName":["Silicon
      Genesis Corporation"],"uspcFullClassificationFlattened":"438/770;438/977;438/694;257/E21.568;438/458;257/E21.219","ipcCodeFlattened":"H01L21/70","cpcInventiveFlattened":"H01L21/30604;H01L21/76254","cpcAdditionalFlattened":"Y10S438/977","applicationFilingDate":["1998-06-03T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Mulpuri;
      Savitri","assistantExaminer":null,"applicationNumber":"09/089931","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":6,"specificationStart":7,"specificationEnd":10,"claimsStart":10,"claimsEnd":11,"abstractStart":1,"abstractEnd":2,"bibStart":1,"bibEnd":2,"certCorrectionStart":12,"certCorrectionEnd":12,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":12,"pageCountDisplay":"12","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/06/103/599","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Henley;
      Francois J. et al.","familyIdentifierCur":26732223,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      6103599 A","derwentAccessionNumber":null,"documentSize":55787,"score":14.115894,"governmentInterest":null,"kindCode":["A"],"urpn":["4006340","4566403","4846928","4847792","4853250","4887005","4948458","4952273","4960073","4996077","5010579","5013563","5015353","5133826","5202095","5203960","5234529","5250328","5252178","5273610","5342472","5368710","5370765","5374564","5404079","5405480","5411592","5435880","5487785","5504328","5593622","5822987","5920764"],"urpnCode":["4006340","4566403","4846928","4847792","4853250","4887005","4948458","4952273","4960073","4996077","5010579","5013563","5015353","5133826","5202095","5203960","5234529","5250328","5252178","5273610","5342472","5368710","5370765","5374564","5404079","5405480","5411592","5435880","5487785","5504328","5593622","5822987","5920764"],"descriptionStart":7,"descriptionEnd":10,"publicationReferenceDocumentNumberOne":"06103599"}],"qtime":13}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-6103599-A/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-6103599-A","publicationReferenceDocumentNumber":"6103599","compositeId":"26732223!US-US-06103599","publicationReferenceDocumentNumber1":"06103599","datePublishedKwicHits":null,"datePublished":"2000-08-15T00:00:00Z","inventionTi[...]
[...]
