interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23045014, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":500,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":23045014,\"numResults\":500,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"USPAT\",\"countryCodes\":[]}],\"q\":\"\\\"system\\\".TTL.\",\"queryName\":\"\\\"system\\\".TTL.\",\"userEnteredQuery\":\"\\\"system\\\".TTL.\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"system\\\".TTL.\",\"error\":null,\"terms\":[\"\\\"system\\\"\",\"\\\"systems\\\"\"],\"facets\":[],\"pNumber\":null,\"hl_fl\":null},\"duration\":253,\"highlightingTime\":1,\"cursorMarker\":\"AoJwgN2Mj4kDNzc4MjIxNTA0IVVTLVVTLTExNjkwOTU1\",\"totalResults\":501,\"numberOfFamilies\":1147714,\"error\":null,\"patents\":[{\"guid\":\"US-11690349-B2\",\"publicationReferenceDocumentNumber\":\"11690349\",\"compositeId\":\"47678775!US-US-11690349\",\"publicationReferenceDocumentNumber1\":\"11690349\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-07-04T00:00:00Z\",\"inventionTitle\":\"<span
      term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">System</span> and kit
      for processing a flowable food mass\",\"type\":\"USPAT\",\"mainClassificationCode\":\"426/515\",\"applicantName\":[\"Hochland
      SE\"],\"assigneeName\":[\"Hochland SE\"],\"uspcFullClassificationFlattened\":\"425/308\",\"ipcCodeFlattened\":\"A01J25/12;A01J25/00\",\"cpcInventiveFlattened\":\"A01J25/002;A23C19/08;B65H16/021;A01J25/12\",\"cpcAdditionalFlattened\":\"B65H2701/19;B65H2301/4148\",\"applicationFilingDate\":[\"2018-09-07T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":[\"2013-02-01T00:00:00Z\"],\"primaryExaminer\":\"Kashnikow;
      Erik\",\"assistantExaminer\":[\"Kim; Bryan\"],\"applicationNumber\":\"16/124694\",\"frontPageStart\":1,\"frontPageEnd\":2,\"drawingsStart\":3,\"drawingsEnd\":8,\"specificationStart\":9,\"specificationEnd\":13,\"claimsStart\":13,\"claimsEnd\":14,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":2,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":14,\"pageCountDisplay\":\"14\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"uspat/US/G49/903/116\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"Biggel;
      Andreas et al.\",\"familyIdentifierCur\":47678775,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"USPT\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":[\"2012-02-01T00:00:00Z\"],\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      11690349 B2\",\"derwentAccessionNumber\":null,\"documentSize\":66923,\"score\":3.5430863,\"governmentInterest\":null,\"kindCode\":[\"B2\"],\"urpn\":[\"3479024\",\"3887719\",\"3890886\",\"3900574\",\"4735817\",\"5573805\",\"5601855\",\"6500475\",\"8235372\",\"8464975\",\"20030209027\",\"20070098861\",\"20070131809\",\"20100201065\",\"20100330233\",\"20110226102\",\"20120308679\",\"20130122169\"],\"urpnCode\":[\"3479024\",\"3887719\",\"3890886\",\"3900574\",\"4735817\",\"5573805\",\"5601855\",\"6500475\",\"8235372\",\"8464975\",\"20030209027\",\"20070098861\",\"20070131809\",\"20100201065\",\"20100330233\",\"20110226102\",\"20120308679\",\"20130122169\"],\"descriptionStart\":9,\"descriptionEnd\":13,\"publicationReferenceDocumentNumberOne\":\"11690349\"},{\"guid\":\"US-11693538-B2\",\"publicationReferenceDocumentNumber\":\"11693538\",\"compositeId\":\"48468408!US-US-11693538\",\"publicationReferenceDocumentNumber1\":\"11693538\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-07-04T00:00:00Z\",\"inventionTitle\":\"Method
      for activating a mobile device in a network, and associated display device and
      <span term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">system</span>\",\"type\":\"USPAT\",\"mainClassificationCode\":\"715/753\",\"applicantName\":[\"INTERDIGITAL
      MADISON PATENT HOLDINGS, SAS\"],\"assigneeName\":[\"INTERDIGITAL MADISON PATENT
      HOLDINGS, SAS\"],\"uspcFullClassificationFlattened\":\"715/735\",\"ipcCodeFlattened\":\"G06F3/0484;G06F3/01\",\"cpcInventiveFlattened\":\"G06F3/0346;H04L41/0806;H04L67/02;G06F3/017;G06F3/0304;H04L67/51;H04W8/005;G06F3/0484\",\"cpcAdditionalFlatte[...]
