interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    content: ''
    headers:
      apigw-requestid:
      - PyiV0gJpoAMEMeg=
    status_code: 204
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    content: '{"country":"EP","internal":"false","corrAppNum":"99203729","id":"1000000","type":"publication","list":[{"appNum":"1010536","appDate":910828800000,"pubList":[{"pubCountry":"NL","pubNum":"1010536","pubDate":958348800000,"kindCode":"C2","pubDateStr":"05/15/2000"}],"countryCode":"NL","docList":null,"kindCode":"A","priorityClaimList":[{"country":"NL","docNumber":"1010536","kindCode":"A"}],"appDateStr":"11/12/1998","docListMsg":null,"docNum":{"country":"NL","docNumber":"1010536","format":null,"date":"11/12/1998","kindCode":"A"},"title":null,"applicantNames":null,"ip5":false},{"appNum":"20685698","appDate":913075200000,"pubList":[{"pubCountry":"US","pubNum":"6093011","pubDate":964483200000,"kindCode":"A","pubDateStr":"07/25/2000"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"NL","docNumber":"1010536","kindCode":"A"}],"appDateStr":"12/08/1998","docListMsg":null,"docNum":{"country":"US","docNumber":"20685698","format":null,"date":"12/08/1998","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"99203729"[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    content: ''
    headers:
      apigw-requestid:
      - PyiV3jP0oAMEYCw=
    status_code: 204
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    content: '{"country":"US","internal":"false","corrAppNum":"16123456","id":"16123456","type":"application","list":[{"appNum":"2017187096","appDate":1506470400000,"pubList":[{"pubCountry":"JP","pubNum":"2019061579","pubDate":1555545600000,"kindCode":"A","pubDateStr":"04/18/2019"},{"pubCountry":"JP","pubNum":"6768620","pubDate":1602633600000,"kindCode":"B2","pubDateStr":"10/14/2020"}],"countryCode":"JP","docList":null,"kindCode":"A","priorityClaimList":[{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"09/27/2017","docListMsg":null,"docNum":{"country":"JP","docNumber":"2017187096","format":null,"date":"09/27/2017","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"16123456","appDate":1536192000000,"pubList":[{"pubCountry":"US","pubNum":"20190095759","pubDate":1553731200000,"kindCode":"A1","pubDateStr":"03/28/2019"},{"pubCountry":"US","pubNum":"10902286","pubDate":1611619200000,"kindCode":"B2","pubDateStr":"01/26/2021"}],"countryCode":"US","docList":{"title":"LEARNING
      ASSISTANCE DEVICE, METHOD OF OPERATING LEARNING ASSISTANCE DEVICE, LEARNING
      ASSISTANCE PROGRAM, LEARNING ASSISTANCE SYSTEM, AND TERMINAL DEVICE","docs":[{"docCode":"TRNA","docDesc":"Transmittal
      of New Application","docId":"JLQY2TS1RXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"LET.","docDesc":"Miscellaneous
      Incoming Letter","docId":"JLQY2TS2RXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"PA..","docDesc":"Power
      of Attorney","docId":"JLQY2TUNRXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":2,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"TRAN.LET","docDesc":"Transmittal
      Letter","docId":"JLQY2TUORXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":5,"docCodeDesc":"No
      document group defined for this document","docGroupCode":"unknown","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"IDS","docDesc":"Information
      Disclosure Statement (IDS) Form (SB08)","docId":"JLQY2WZKRXEAPX4","legalDate":1536246506000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Information
      Disclosure","docGroupCode":"3","legalDateStr":"09/06/2018","mimeTypeData":[{"mimeType":"xml","fileNames":["16123456.2018-09-06.JLQY2WZKRXEAPX4.IDS.xml"]}],"shareable":true},{"docCode":"WFEE","docDesc":"Fee
      Worksheet (SB06)","docId":"JLQY2WZLRXEAPX4","legalDate":1536246506000,"docFormat":"PDF","numberOfPages":2,"docCodeDesc":"In-house
      documents including Examiner Notes/Search Results","docGroupCode":"5","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"N417","docDesc":"Electronic
      Filing System Acknowledgment Receipt","docId":"JLQY2WZMRXEAPX4","legalDate[...]
