interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - fDUOMjQSIAMEPSw=
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    body:
      string: '{"country":"EP","internal":"false","corrAppNum":"1000000","id":"1000000","type":"publication","list":[{"appNum":"1010536","appDate":910828800000,"pubList":[{"pubCountry":"NL","pubNum":"1010536","pubDate":958348800000,"kindCode":"C2","pubDateStr":"05/15/2000"}],"countryCode":"NL","docList":null,"kindCode":"A","priorityClaimList":[{"country":"NL","docNumber":"1010536","kindCode":"A"}],"appDateStr":"11/12/1998","docListMsg":null,"docNum":{"country":"NL","docNumber":"1010536","format":null,"date":"11/12/1998","kindCode":"A"},"title":null,"applicantNames":null,"ip5":false},{"appNum":"20685698","appDate":913075200000,"pubList":[{"pubCountry":"US","pubNum":"6093011","pubDate":964483200000,"kindCode":"A","pubDateStr":"07/25/2000"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"NL","docNumber":"1010536","kindCode":"A"}],"appDateStr":"12/08/1998","docListMsg":"org.springframework.web.client.HttpClientErrorException$NotFound:
        404 : \"{\"inputDocNum\":null,\"outputDocNum\":null,\"output-number-type\":null,\"output-number-format\":null,\"numberConversionError\":{\"appId\":null,\"message\":\"Unable
        to convert DocDb Number: US.20685698.A\"}}\"","docNum":{"country":"US","docNumber":"20685698","format":null,"date":"12/08/1998","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"99203729","appDate":942019200000,"pubList":[{"pubCountry":"AT","pubNum":"232441","pubDate":1045267200000,"kindCode":"T","pubDateStr":"02/15/2003"}],"countryCode":"AT","docList":{"title":"Apparatus
        for manufacturing green bricks for the brick manufacturing industry","docs":[{"docCode":"1001","docDesc":"Request
        for grant of a European patent","docId":"EA2JRLI1DHXBS08","legalDate":942019200000,"docFormat":"PDF","numberOfPages":6,"docCodeDesc":"Application
        Documents","docGroupCode":"1","legalDateStr":"11/08/1999","shareable":false},{"docCode":"1002","docDesc":"Designation
        of inventor","docId":"EA2JRLJNDHXBS08","legalDate":942019200000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
        Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"11/08/1999","shareable":false},{"docCode":"SRCH","docDesc":"Letter
        concerning search matters","docId":"EA2JRLJ0DHXBS08","legalDate":942019200000,"docFormat":"PDF","numberOfPages":3,"docCodeDesc":[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - fDWHxiTSoAMEPFw=
    status:
      code: 204
      message: No Content
[...]
