interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bulkdata.uspto.gov/BDSS-API/products/PTGRXML
  response:
    content: '{"productLinkPath":"/BDSS-API/products/PTGRXML","productIdentifier":15375,"productShortName":"PTGRXML","productDesc":"Contains
      (JAN 2002 - present) the full text of each patent grant issued weekly (Tuesdays)
      (excludes images/drawings and reexaminations). The file format is eXtensible
      Markup Language (XML) in accordance with the Patent Grant International Common
      Element (ICE) Document Type Definition (DTD).","productTitle":"Patent grant
      full text data/XML","productFrequency":"WEEKLY","productLevel":"PRODUCT","productFromDate":"2002-01-01","productToDate":"2024-04-23","numberOfFiles":1189,"parentProduct":null,"productFiles":[{"fileLinkPath":"/BDSS-API/productFiles/8061276","fileIdentifier":8061276,"fileName":"ipg230103.zip","fileSize":150889397,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2023/ipg230103.zip","fileFromTime":"2023-01-03","fileToTime":"2023-01-03","fileType":"Data","fileReleaseDate":"2023-01-03"},{"fileLinkPath":"/BDSS-API/productFiles/8061287","fileIdentifier":8061287,"fileName":"ipg230110.zip","fileSize":146670632,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2023/ipg230110.zip","fileFromTime":"2023-01-10","fileToTime":"2023-01-10","fileType":"Data","fileReleaseDate":"2023-01-10"},{"fileLinkPath":"/BDSS-API/productFiles/8061247","fileIdentifier":8061247,"fileName":"ipg230117.zip","fileSize":115279148,"fileDownloadUrl":"https://bulkdata.u[...]
