interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "patentIssueDate:[2023-11-21T00:00:00Z TO
      2023-11-21T23:59:59Z]", "sort": "applId asc", "facet": "false", "mm": "0%",
      "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: "{\"queryResults\":{\"indexLastUpdatedDate\":\"Thu Nov 30 12:52:38 EST
      2023\",\"searchResponse\":{\"responseHeader\":{\"zkConnected\":true,\"status\":0,\"QTime\":981},\"response\":{\"numFound\":7462,\"start\":0,\"numFoundExact\":true,\"docs\":[{\"corrAddrCountryName\":\"UNITED
      STATES\",\"applId\":\"13694742\",\"totalPtoDays\":\"95\",\"appFilingDate\":\"2012-12-28T00:00:00Z\",\"appExamName\":\"ELCHANTI,
      TAREK\",\"appExamNameFacet\":\"ELCHANTI, TAREK\",\"publicInd\":\"Y\",\"APP_IND\":\"5\",\"inventorName\":\"Henry
      Peter Badenhop\",\"inventorNameFacet\":\"Henry Peter Badenhop\",\"appEarlyPubDate\":\"2014-07-03T00:00:00Z\",\"corrAddrGeoRegionCode\":\"NJ\",\"corrAddrNameLineTwo\":\"ERNEST
      D. BUFF AND ASSOCIATES, LLC.\",\"appLocation\":\"ELECTRONIC\",\"appEarlyPubNumber\":\"US20140188616A1\",\"id\":\"13694742\",\"appGrpArtNumber\":\"3682\",\"appGrpArtNumberFacet\":\"3682\",\"applIdStr\":\"13694742\",\"appl_id_txt\":\"13694742\",\"appSubCls\":\"014580\",\"patentNumber\":\"11823232\",\"LAST_MOD_TS\":\"2023-11-29T05:54:32Z\",\"transactions\":[{\"recordDate\":\"2023-11-22
      00:00:00\",\"code\":\"MEPG_NTF\",\"description\":\"Mail Patent eGrant Notification\"},{\"recordDate\":\"2023-11-21
      00:00:00\",\"code\":\"PGM/\",\"description\":\"Recordation of Patent Grant Mailed\"},{\"recordDate\":\"2023-11-21
      00:00:00\",\"code\":\"EPG_NTF\",\"description\":\"Patent eGrant Notification\"},{\"recordDate\":\"2023-11-21
      00:00:00\",\"code\":\"EPG/\",\"description\":\"Recordation of Patent eGrant\"},{\"recordDate\":\"2023-11-01
      00:00:00\",\"code\":\"WPIR\",\"description\":\"Issue Notification Mailed\"},{\"[...]
