interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(15145443)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Thu Nov 30 13:06:39 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":1394},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15145443","assignments":[{"reelNumber":"39569","frameNumber":"974","addressNameText":"BRACEWELL
      LLP","addressLineOneText":"P.O. BOX 61389","addressLineTwoText":"HOUSTON, TX
      77208-1389","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"08-30-2016","receivedDate":"08-29-2016","recordedDate":"08-29-2016","pagesCount":"4","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"OEHRING,
      JARED","execDate":"08-09-2016"}],"assignee":[{"assigneeName":"US WELL SERVICES
      LLC","streetLineOneText":"770 SOUTH POST OAK LANE","streetLineTwoText":"SUITE
      405","cityName":"HOUSTON","countryCode":"TEXAS","postalCode":"77056"}]},{"reelNumber":"42085","frameNumber":"55","addressNameText":"HOGAN
      LOVELLS US LLP BANK OF AMERICA CEN","addressLineOneText":"700 LOUISIANA STREET","addressLineTwoText":"SUITE
      4300","addressLineThreeText":"HOUSTON, TX 77002","addressLineFourText":"null","mailDate":"04-21-2017","receivedDate":"04-20-2017","recordedDate":"04-20-2017","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assig[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(15145443)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Thu Nov 30 13:06:39 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":689},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15145443","assignments":[{"reelNumber":"39569","frameNumber":"974","addressNameTex[...]
