interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "patentNumber:(10544653)", "sort": "applId
      asc", "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed Dec 06 08:44:09 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":700},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15896870","totalPtoDays":"0","assignments":[{"reelNumber":"44989","frameNumber":"263","addressNameText":"ARENT
      FOX LLP","addressLineOneText":"1717 K STREET NW","addressLineTwoText":"WASHINGTON,
      DC 20006","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"02-22-2018","receivedDate":"02-21-2018","recordedDate":"02-21-2018","pagesCount":"2","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"BRANDSDAL,
      VIGGO","execDate":"02-16-2018"},{"assignorName":"VALESTRAND AASHEIM, GEIR","execDate":"02-16-2018"}],"assignee":[{"assigneeName":"FRAC
      TECHNOLOGY AS","streetLineOneText":"BRURASTIEN 48","streetLineTwoText":"null","cityName":"YTRE
      ARNA","countryCode":"NORWAY","postalCode":"5265"}]}],"applicants":[{"nameLineOne":"FRAC
      TECHNOLOGY AS","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Ytre
      Arna, ","geoCode":"","country":"(NO)","rankNo":"1"}],"applicantsFacet":"{||FRAC
      TECHNOLOGY AS||||Ytre Arna||NO|ORG|1}","appFilingDate":"2018-02-14T00:00:00Z","appExamName":"LEMBO,
      AARON LLOYD","appExamNameFacet":"LEMBO, AARON LLOYD","publicInd":"Y","APP_IND":"5","inventorName":"Viggo  Brandsdal","inventorNameFacet":"Viggo  Brandsdal","appEarlyPubDate":"2018-08-16T00:00:00Z","corrAddrGeoRegionCode":"TX","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20180230772A1","id":"15896870","appGrpArtNumber":"3679","appGrpArtNumberFacet":"3679","applIdStr":"15896870","appl_id_txt":"15896870","appSubCls":"308100","patentNumber":"10544653","LAST_MOD_TS":"2023-12-03T21:53:01Z","transactions":[{"recordDate":"2023-07-12
      00:00:00","code":"M1551","description":"Payment of Maintenance Fee, 4th Year,
      Large Entity"},{"recordDate":"2020-01-28 00:00:00","code":"PGM/","description":"Recordation
      of Patent Grant Mailed"},{"recordDate":"2020-01-09 00:00:00","code":"EML_NTR","description":"Email
      Notification"},{"recordDate":"2020-01-08 00:00:00","code":"WPIR","description":"Issue
      Notification Mailed"},{"recordDate":"2020-01-28 00:00:00","code":"PTAC","description":"Patent
      Issue Date Used in PTA Calculation"},{"recordDate":"2019-12-[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "patentNumber:(10544653)", "sort": "applId
      asc", "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed Dec 06 10:23:25 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":594},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15896870","totalPtoDays":"0","assignments":[{"reelNumber":"44989","frameNumber":"2[...]
