interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "firstNamedApplicant:(LogicBlox)", "sort":
      "applId asc", "facet": "false", "mm": "0%", "start": "0", "rows": 4}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed Dec 06 10:24:26 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":577},"response":{"numFound":11,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"13722067","totalPtoDays":"674","assignments":[{"reelNumber":"29511","frameNumber":"506","addressNameText":"CANTOR
      COLBURN LLP","addressLineOneText":"20 CHURCH STREET, 22ND FLOOR","addressLineTwoText":"HARTFORD,
      CT 06103","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"12-21-2012","receivedDate":"12-20-2012","recordedDate":"12-20-2012","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"VELDHUIZEN,
      TODD L.","execDate":"12-20-2012"}],"assignee":[{"assigneeName":"LOGICBLOX, INC.","streetLineOneText":"1349
      W. PEACHTREE STREET, NW, SUITE 1880","streetLineTwoText":"null","cityName":"ATLANTA","countryCode":"GEORGIA","postalCode":"30309"}]},{"reelNumber":"34909","frameNumber":"756","addressNameText":"MICHAEL
      LABLANC","addressLineOneText":"655 W IRVING PARK ROAD","addressLineTwoText":"CHICAGO,
      IL 60613","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"02-09-2015","receivedDate":"02-06-2015","recordedDate":"02-06-2015","pagesCount":"12","converyanceName":"SECURITY
      INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"3","assignors":[{"assignorName":"LOGICBLOX
      INC.","execDate"[...]
