interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/epodoc/EP1000000.A1/full-cycle
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"19768124\" country=\"EP\" doc-number=\"1000000\" kind=\"A1\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>EP</country>\n
      \                       <doc-number>1000000</doc-number>\n                        <kind>A1</kind>\n
      \                       <date>20000517</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>EP1000000</doc-number>\n
      \                       <date>20000517</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classification-ipc>\n
      \                   <text>B28B5/02</text>\n                    <text>B28B7/00</text>\n
      \                   <text>B28B1/29</text>\n                </classification-ipc>\n
      \               <classifications-ipcr>\n                    <classification-ipcr
      sequence=\"1\">\n                        <text>B28B   1/    29            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"2\">\n                        <text>B28B   5/    02            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"3\">\n                        <text>B28B   7/    00            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"4\">\n                        <text>H02P   6/    08            A
      I                    </text>\n                    </classification-ipcr>\n                </classifications-ipcr>\n
      \               <patent-classifications>\n                    <patent-classification
      sequence=\"1\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>B</section>\n                        <class>28</class>\n
      \                       <subclass>B</subclass>\n                        <main-group>1</main-group>\n
      \                       <subgroup>29</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>US</generating-office>\n                    </patent-classification>\n
      \                   <patent-classification sequence=\"2\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>B</section>\n
      \                       <class>28</class>\n                        <subclass>B</subclass>\n
      \                       <main-group>1</main-group>\n                        <subgroup>29</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>EP</generating-office>\[...]
