interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"75787025\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>FI</country>\n
      \                   <doc-number>3989061</doc-number>\n                    <kind>T3</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n            <ops:publication-reference
      system=\"ops.epo.org\" family-id=\"66794074\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>US</country>\n                    <doc-number>2023352018</doc-number>\n
      \                   <kind>A1</kind>\n                </document-id>\n            </ops:publication-reference>\n
      \           <ops:publicati[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"1\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"69188275\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
      \                   <doc-number>D1003906</doc-number>\n                    <kind>S</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n        </ops:search-result>\n
      \   </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0c2f278dc6e7691084d023557c8ea30c6"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Elapsed-Time:
      - '12'
      X-IndividualQuotaPerHour-Used:
      - '837'
      X-RegisteredQuotaPerWeek-Used:
      - '693940'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/USD1003906S/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"69188275\" country=\"US\" doc-number=\"D1003906\" kind=\"S\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>US</country>\n
      \                       <doc-number>D1003906</doc-number>\n                        <kind>S</kind>\n
      \                       <date>20231107</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>USD1003906S</doc-number>\n
      \                       <date>20231107</date>\n                    </document-id>\n
      \               </publication-reference>\n                <patent-classifications/>\n
      \               <application-reference doc-id=\"601388186\">\n                    <document-id
      document-id-type=\"docdb\">\n                        <country>US</country>\n
      \                       <doc-number>201929718429</doc-number>\n                        <kind>F</kind>\n
      \                   </document-id>\n                    <document-id document-id-type=\"epodoc\">\n
      \                       <doc-number>US201929718429F</doc-number>\n                        <date>20191224</date>\n
      \                   </document-id>\n                    <document-id document-id-type=\"original\">\n
      \                       <doc-number>29718429</doc-number>\n                    </document-id>\n
      \               </application-reference>\n                <priority-claims>\n
      \                   <priority-claim sequence=\"1\" kind=\"national\">\n                        <document-id
      document-id-type=\"epodoc\">\n                            <doc-number>US201829665761F</doc-number>\n
      \                           <date>20181005</date>\n                        </document-id>\n
      \                       <document-id document-id-type=\"original\">\n                            <doc-number>29665761</doc-number>\n
      \                       </document-id>\n                    </priority-claim>\n
      \                   <priority-claim sequence=\"2\" kind=\"national\">\n                        <document-id
      document-id-type=\"epodoc\">\n                            <doc-number>US201929718429F</doc-number>\n
      \                           <date>20191224</date>\n                        </document-id>\n
      \                   </priority-claim>\n                </priority-claims>\n
      \               <parties>\n                    <applicants>\n                        <applicant
      sequence=\"1\" data-format=\"epodoc\">\n                            <applicant-name>\n
      \                               <name>GOOGLE LLC\u2002[US]</name>\n                            </applicant-name>\n
      \                       </applicant>\n                        <applicant sequence=\"1\"
      data-format=\"original\">\n                            <applicant-name>\n                                <name>GOOGLE
      LLC</name>\n                            </applicant-name>\n                        </applicant>\n
      \                   </applicants>\n                    <inventors>\n                        <inventor
      sequence=\"1\" data-format=\"epodoc\">\n                            <inventor-name>\n
      \                               <name>GAISER JONATHAN\u2002[US]</name>\n                            </inventor-name>\n
      \                       </inventor>\n                        <inventor sequence=\"2\"
      data-format=\"epodoc\">\n                            <inventor-name>\n                                <name>
      PARMAR SIDDHARTHA\u2002[US]</name>\n                            </inventor-name>\n
      \                       </inventor>\n                        <inventor sequence=\"3\"
      data-format=\"epodoc\">\n                            <inventor-name>\n                                <name>
      THAI JOHN\u2002[CA]</name>\n                            </inventor-n[...]
