interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Tesla%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"4251\">\n        <ops:query syntax=\"CQL\">applicant
      = Tesla</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"69374432\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
      \                   <doc-number>2023352992</doc-number>\n                    <kind>A1</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n            <ops:publication-reference
      system=\"ops.epo.org\" family-id=\"64734376\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>US</country>\n                    <doc-number>2023341042</doc-number>\n
      \                   <kind>A1</kind>\n                </document-id>\n            </ops:publication-reference>\n
      \           <ops:publicati[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-3&q=applicant%3D%22Tesla%22
  response:
    content: "<error><code>403</code><message>This request has been rejected due to
      the violation of Fair Use policy</message><moreInfo>https://www.epo.org/service-support/ordering/fair-use.html</moreInfo>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Rejection-Reason:
      - AnonymousQuotaPerDay
    status_code: 403
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1699475595764\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"wvAM2rCpQr5KGCUy4RG79ECTL4KL\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Tesla%22
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token has expired</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.access_token_expired:
        Access Token expired"'
    status_code: 400
version: 1
