interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Google%22
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token has expired</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.access_token_expired:
        Access Token expired"'
    status_code: 400
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1699546896237\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"XdUfFcADurAz0OA6V3reMo3O22H2\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"1\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"69188275\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
      \                   <doc-number>D1003906</doc-number>\n                    <kind>S</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n        </ops:search-result>\n
      \   </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0c2f278dc6e7691084d023557c8ea30c6"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
      X-Elapsed-Time:
      - '14'
      X-IndividualQuotaPerHour-Used:
      - '57966'
      X-RegisteredQuotaPerWeek-Used:
      - '751069'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/USD1003906S/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"69188275\" country=\"US\" doc-number=\"D1003906\" kind=\"S\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>US</country>\n
      \                       <doc-number>D1003906</doc-number>\n                        <kind>S</kind>\n
      \                       <date>20231107</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>USD1003906S</doc-number>\n
      \                       <date>20231107</date>\n                    </document-id>\n
      \               </publication-reference>\n                <patent-classifications/>\n
      \               <application-reference doc-id=\"601388186\">\n                    <document-id
      document-id-type=\"docdb\">\n                        <country>US</country>\n
      \                       <doc-number>201929718429</doc-number>\n                        <kind>F</kind>\n
      \                   </document-id>\n                    <document-id document-id-type=\"epodoc\">\n
      \                       <doc-number>US201929718429F</doc-number>\n                        <date>20191224</date>\n
      \                   </document-id>\n                    <document-id document-id-type=\"original\">\n
      \                       <doc-number>29718429</doc-number>\n                    </document-id>\n
      \               </application-reference>\n                <priority-claims>\n
      \                   <priority-claim sequence=\"1\" kind=\"national\">\n                        <document-id
      document-id-type=\"epodoc\">\n                            <doc-number>US201829665761F</doc-number>\n
      \                           <date>20181005</date>\n                        </document-id>\n
      \                       <document-id document-id-type=\"original\">\n                            <doc-number>29665761</doc-number>\n
      \                       </document-id>\n                    </priority-claim>\n
      \                   <priority-claim sequence=\"2\" kind=\"national\">\n                        <document-id
      document-id-type=\"epodoc\">\n                            <doc-number>US201929718429F</doc-number>\n
      \                           <date>20191224</date>\n                        </document-id>\n
      \                   </priority-claim>\n                </priority-claims>\n
      \               <parties>\n                    <applicants>\n                        <applicant
      sequence=\"1\" data-format=\"epodoc\">\n                            <applicant-name>\n
      \                               <name>GOOGLE LLC\u2002[US]</name>\n                            </applicant-name>\n
      \                       </applicant>\n                        <applicant sequence=\"1\"
      data-format=\"original\">\n                            <applicant-name>\n                                <name>GOOGLE
      LLC</name>\n                            </applicant-name>\n                        </applicant>\n
      \                   </applicants>\n                    <inventors>\n                        <inventor
      sequence=\"1\" data-format=\"epodoc\">\n                            <inventor-name>\n
      \                               <name>GAISER JONATHAN\u2002[US]</name>\n                            </inventor-name>\n
      \                       </inventor>\n                        <inventor sequence=\"2\"
      data-format=\"epodoc\">\n                            <inventor-name>\n                                <name>
      PARMAR SIDDHARTHA\u2002[US]</name>\n                            </inventor-name>\n
      \                       </inventor>\n                        <inventor sequence=\"3\"
      data-format=\"epodoc\">\n                            <inventor-name>\n                                <name>
      THAI JOHN\u2002[CA]</name>\n                            </inventor-n[...]
