interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bulkdata.uspto.gov/BDSS-API/products/all/latest
  response:
    content: '[{"productLinkPath":"/BDSS-API/products/PTOFFACT","productIdentifier":14799,"productShortName":"PTOFFACT","productDesc":"Contains
      detailed information on 4.4 million Office actions mailed from 2008 through
      June 2017 for 2.2 million publicly viewable patent applications. The data are
      sourced from the text of Non-Final Rejection and Final Rejection Office actions
      issued by patent examiners to applicants during the patent examination process.
      The data files include information on grounds for rejection raised, the claims
      in question, and pertinent prior art.","productTitle":"Patent application Office
      actions data (stata (.dta) and MS Excel (.csv))","productFrequency":"NUMERICAL","productLevel":"PRODUCT","productFromDate":"2017-11-29","productToDate":"2017-11-29","numberOfFiles":9,"parentProduct":null,"productFiles":[{"fileLinkPath":"/BDSS-API/productFiles/7868853","fileIdentifier":7868853,"fileName":"csv.zip","fileSize":666307740,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/office/actions/bigdata/2017/csv.zip","fileFromTime":"2017-11-29","fileToTime":"2017-11-29","fileType":"Data","fileReleaseDate":"2017-11-29"}]},{"productLinkPath":"/BDSS-API/products/PTMNFEE2","productIdentifier":14801,"productShortName":"PTMNFEE2","productDesc":"Contains
      recorded maintenance fee events for patents granted from September 1, 1981 to
      present. Each new weekly file (Tuesday) is cumulative with a file format of
      ASCII.","productTitle":"Patent maintenance fee events and description files","productFrequency":"WEEKLY","productLevel":"PRODUCT","productFromDate":"2018-06-21","productToDate":"2023-[...]
