interactions:
- request:
    body: '-1'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/users/me/session
  response:
    content: '{"userSessionId":23839986,"ipAddress":null,"displayName":"anonymous","deleteIn":false,"userCase":{"caseId":23840155,"userId":23839986,"caseName":"Untitled
      Case","applicationNumber":null},"userPreferences":{},"hostURLs":{"image_server_host":"https://pasr-img.pvt.uspto.gov"},"versions":[{"product":"API","releaseNumber":"2.1.0.3","date":"10.04.2023
      @ 21:20:10 UTC","commitId":"6d029659","collectionName":""},{"product":"SOLR","releaseNumber":"7.6.0","date":"5-4-0","commitId":"","collectionName":"us_patent_grant"}],"documentsLimitInQuery":1000,"sessionTimeOutTime":1800}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 23840155, "hl_snippets": "2", "op": "OR", "q": "\"10000000\".PN.",
      "queryName": "\"10000000\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"10000000\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":23840155,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"10000000\".PN.","queryName":"\"10000000\".PN.","userEnteredQuery":"\"10000000\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"10000000\".PN.","error":null,"terms":["\"10000000\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":66,"highlightingTime":0,"cursorMarker":"AoJwwOnViuQCNzU1NDU2OTYxIVVTLVVTLTEwMDAwMDAw","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-10000000-B2","publicationReferenceDocumentNumber":"10000000","compositeId":"55456961!US-US-10000000","publicationReferenceDocumentNumber1":"10000000","datePublishedKwicHits":null,"datePublished":"2018-06-19T00:00:00Z","inventionTitle":"Coherent
      LADAR using intra-pixel quadrature detection","type":"USPAT","mainClassificationCode":"1/1","applicantName":["Raytheon
      Company"],"assigneeName":["Raytheon Company"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"G01S7/48;G01S7/491","cpcInventiveFlattened":"G01S7/4865;G01S7/4917;G01S7/4914;G01S7/4863","cpcAdditionalFlattened":"G01S17/894","applicationFilingDate":["2015-03-10T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Ratcliffe;
      Luke D","assistantExaminer":null,"applicationNumber":"14/643719","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":8,"specificationStart":9,"specificationEnd":12,"claimsStart":12,"claimsEnd":13,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":13,"pageCountDisplay":"13","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/G00/000/100","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Marron;
      Joseph","familyIdentifierCur":55456961,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      10000000 B2","derwentAccessionNumber":null,"documentSize":50970,"score":14.09872,"governmentInterest":null,"kindCode":["B2"],"urpn":["5093563","5751830","2003/0076485","2006/0227317"],"urpnCode":["5093563","5751830","2003/0076485","2006/0227317"],"descriptionStart":9,"descriptionEnd":12,"publicationReferenceDocumentNumberOne":"10000000"}],"qtime":45}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-10000000-B2/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: "{\"guid\":\"US-10000000-B2\",\"publicationReferenceDocumentNumber\":\"10000000\",\"compositeId\":\"55456961!US-US-10000000\",\"publicationReferenceDocumentNumber1\":\"10000000\",\"datePublishedKwicHits\":null,\"datePublished\":\"2018-06-[...]
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-20200000001-A1/highlight?queryId=1&source=US-PGPUB&includeSections=true&uniqueId=
  response:
    content: "{\"guid\":\"US-20200000001-A1\",\"publicationReferenceDocumentNumber\":\"20200000001\",\"compositeId\":\"60000682!PG-US-20200000001\",\"publicationReferenceDocumentNumber1\":\"20200000001\",\"datePublishedKwicHits\":null,\"datePubl[...]
[...]
