interactions:
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/pubwebapp/
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n
      \   <meta http-equiv=\"Pragma\" content=\"no-cache\">\n    <meta http-equiv=\"Expires\"
      content=\"-1\">\n    <meta http-equiv=\"Cache-Control\" content=\"no-store,
      no-cache, max-age=0\">\n    <title>Patent Public Search | USPTO</title>\n    <link
      rel=\"icon\" type=\"image/png\" href=\"images/favicon_new.png\">\n    <!-- DO
      NOT REMOVE ANY OF COMMENT BELOW (USED BY USMIN) -->\n    <!-- build:css(.tmp)
      styles/main.css -->\n    <link rel=\"stylesheet\" href=\"styles/main.css\">\n
      \   <!-- endbuild -->\n    <script src=\"common/environment.js\"></script>\n</head>\n<body>\n<h1
      class=\"sr-only\">Patent Public Search | USPTO <span class=\"ext-window\"> -
      extended window</span></h1>\n<div class=\"layout\">\n    <div class=\"zone ui-layout-north\"
      data-zone=\"north\"></div>\n    <div class=\"zone ui-layout-west\" data-zone=\"west\"></div>\n
      \   <div class=\"zone ui-layout-center\" data-zone=\"center\"></div>\n    <div
      class=\"zone ui-layout-east\" data-zone=\"east\"></div>\n    <div class=\"zone
      ui-layout-south\" data-zone=\"south\"></div>\n</div>\n\n<!-- build:js({web,.tmp})
      main.js -->\n<!-- Google Analytics script -->\n<script type='text/javascript'
      src=\"common/analytics/googleAnalytics.js\"></script>\n\n<!--BEGIN QUALTRICS
      WEBSITE FEEDBACK SNIPPET-->\n<script type='text/javascript' src=\"common/analytics/qualtricsAnalytics.js\"></script>\n\n<script
      src=\"vendor/require/require.js\"></script>\n<script src=\"main.js\"></script>\n<!--
      endbuild -->\n</body>\n</html>"
    headers:
      content-type:
      - text/html
      etag:
      - '"5b0-61069d5fcf800"'
      last-modified:
      - Fri, 02 Feb 2024 17:56:48 GMT
    status_code: 200
- request:
    body: '-1'
    headers:
      content-type:
      - application/json
      x-access-token:
      - 'null'
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/users/me/session
  response:
    content: '{"userSessionId":25821000,"ipAddress":null,"userCase":{"caseId":25821169,"userId":25821000,"caseName":"Untitled
      Case","applicationNumber":null},"userPreferences":{},"versions":[{"product":"API","releaseNumber":"3.0.0.15","date":"03.02.2024
      @ 08:07:10 UTC","commitId":"3ff94059","collectionName":""},{"product":"SOLR","releaseNumber":"7.6.0","date":"","commitId":"","collectionName":"us_patent_grant"}],"documentsLimitInQuery":1000,"sessionTimeOutTime":1800,"role":"ANONYMOUS_USER","sessionIdentifer":"8448cc60-8807-49aa-8fef-c3b3c41c81da"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4NDQ4Y2M2MC04ODA3LTQ5YWEtOGZlZi1jM2IzYzQxYzgxZGEiLCJ2ZXIiOiIzOThiN2VhOS0xYzZkLTRkZDUtYTllYS03ZDQ1ZDk4MTQyZDAiLCJleHAiOjB9
    status_code: 200
- request:
    body: '{"caseId": 25821169, "hl_snippets": "2", "op": "OR", "q": "\"10000000\".PN.",
      "queryName": "\"10000000\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"10000000\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4NDQ4Y2M2MC04ODA3LTQ5YWEtOGZlZi1jM2IzYzQxYzgxZGEiLCJ2ZXIiOiIzOThiN2VhOS0xYzZkLTRkZDUtYTllYS03ZDQ1ZDk4MTQyZDAiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":25821169,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"10000000\".PN.","queryName":"\"10000000\".PN.","userEnteredQuery":"\"10000000\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"10000000\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["pn"],"aliasCategory":"DOC_IDENTIFIER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"10000000\".PN.","error":null,"terms":["\"10000000\""],"facets":[{"solrField":"document_type","count":1,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '59'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 25821169, "hl_snippets": "2", "op": "OR", "q": "\"10000000\".PN.",
      "queryName": "\"10000000\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"10000000\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4NDQ4Y2M2MC04ODA3LTQ5YWEtOGZlZi1jM2IzYzQxYzgxZGEiLCJ2ZXIiOiIzOThiN2VhOS0xYzZkLTRkZDUtYTllYS03ZDQ1ZDk4MTQyZDAiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":25821169,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"10000000\".PN.","queryName":"\"10000000\".PN.","userEnteredQuery":"\"10000000\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"10000000\".PN.","error":null,"terms":["\"10000000\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":15,"highlightingTime":0,"cursorMarker":"AoJwwOnViuQCNzU1NDU2OTYxIVVTLVVTLTEwMDAwMDAw","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-10000000-B2","publicationReferenceDocumentNumber":"10000000","compositeId":"55456961!US-US-10000000","publicationReferenceDocumentNumber1":"10000000","datePublishedKwicHits":null,"datePublished":"2018-06-19T00:00:00Z","inventionTitle":"Coherent
      LADAR using intra-pixel quadrature detection","type":"USPAT","mainClassificationCode":"1/1","applicantName":["Raytheon
      Company"],"assigneeName":["Raytheon Company"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"G01S7/48;G01S7/491","cpcInventiveFlattened":"G01S7/4865;G01S7/4917;G01S7/4914;G01S7/4863","cpcAdditionalFlattened":"G01S17/894","applicationFilingDate":["2015-03-10T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Ratcliffe;
      Luke D","assistantExaminer":null,"applicationNumber":"14/643719","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":8,"specificationStart":9,"specificationEnd":12,"claimsStart":12,"claimsEnd":13,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":13,"pageCountDisplay":"13","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/G00/000/100","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Marron;
      Joseph","familyIdentifierCur":55456961,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      10000000 B2","derwentAccessionNumber":null,"documentSize":50970,"score":14.173923,"governmentInterest":null,"kindCode":["B2"],"urpn":["5093563","5751830","2003/0076485","2006/0227317"],"urpnCode":["5093563","5751830","2003/0076485","2006/0227317"],"descriptionStart":9,"descriptionEnd":12,"publicationReferenceDocumentNumberOne":"10000000"}],"qtime":9}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '58'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiI4NDQ4Y2M2MC04ODA3LTQ5YWEtOGZlZi1jM2IzYzQxYzgxZGEiLCJ2ZXIiOiIzOThiN2VhOS0xYzZkLTRkZDUtYTllYS03ZDQ1ZDk4MTQyZDAiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-10000000-B2/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"timestamp":"2024-04-04T15:25:38.002+00:00","status":404,"error":"Not
      Found","message":"","path":"/dirsearch-public/patents/US-10000000-B2/highlight"}'
    headers:
      content-type:
      - application/json
    status_code: 404
[...]
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiI4NDQ4Y2M2MC04ODA3LTQ5YWEtOGZlZi1jM2IzYzQxYzgxZGEiLCJ2ZXIiOiIzOThiN2VhOS0xYzZkLTRkZDUtYTllYS03ZDQ1ZDk4MTQyZDAiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/internal/patents/US-10000000-B2/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: "{\"guid\":\"US-10000000-B2\",\"publicationReferenceDocumentNumber[...]
