interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ptab-api/documents?proceedingNumber=IPR2016-00831&recordStartNumber=0&recordTotalQuantity=3&sortOrderCategory=documentNumber
  response:
    content: "{\"aggregationData\":{},\"results\":[{\"filingPartyCategory\":\"PETITIONER\",\"documentNumber\":\"1\",\"documentName\":\"705
      Petition FINAL.pdf\",\"documentCategory\":\"Paper\",\"documentTitleText\":\"Petition
      for Inter Partes Review of U.S. Patent No. 6,162,705\",\"proceedingNumber\":\"IPR2016-00831\",\"documentFilingDate\":\"04-01-2016\",\"documentTypeName\":\"Petition\",\"proceedingTypeCategory\":\"AIA
      Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentIdentifier\":\"169264136\",\"objectUuId\":\"workspace://SpacesStore/eb6c3f1a-a327-43d0-9cde-ddeb5080a8f8;1.0\",\"respondentTechnologyCenterNumber\":\"2800\",\"respondentPatentOwnerName\":\"Silicon
      Genesis Corporation\",\"respondentPartyName\":\"Silicon Genesis Corporation\",\"respondentInventorName\":\"FRANCOIS
      HENLEY\",\"respondentCounselName\":\"Margaux Nair\",\"respondentGrantDate\":\"12-19-2000\",\"respondentPatentNumber\":\"6162705\",\"respondentApplicationNumberText\":\"09026118\",\"petitionerPartyName\":\"Commissariat
      a l\u2019Energie Atomique et aux Energies Alternatives\",\"petitionerCounselName\":\"Paul
      McGowan\",\"additionalRespondentPartyDataBag\":[]},{\"filingPartyCategory\":\"PETITIONER\",\"documentNumber\":\"1001\",\"documentName\":\"1001-
      US6162705.pdf\",\"documentCategory\":\"Exhibits\",\"documentTitleText\":\"U.S.
      Patent No. 6,162,705\",\"proceedingNumber\":\"IPR2016-00831\",\"documentFilingDate\":\"04-01-2016\",\"documentTypeName\":\"EXHIBIT\",\"proceedingTypeCategory\":\"AIA
      Trial\",\"subproceedingTypeCategory\":\"IPR\",\"documentIdentifier\":\"169264152\",\"objectUuId\":\"workspace://SpacesStore/9b33f11d-8a5b-49[...]
