interactions:
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(14591909)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Tue Aug 09 17:33:48 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":316},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
        MARK A","appExamNameFacet":"CONNOLLY, MARK A","publicInd":"Y","APP_IND":"5","inventorName":"Yechezkal
        Evan Spero","inventorNameFacet":"Yechezkal Evan Spero","appEarlyPubDate":"2016-07-07T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160195856A1","id":"14591909","appGrpArtNumber":"2115","appGrpArtNumberFacet":"2115","applIdStr":"14591909","appl_id_txt":"14591909","appSubCls":"090000","LAST_MOD_TS":"2022-08-03T04:10:39Z","transactions":[{"recordDate":"2022-08-03
        00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2022-08-03
        00:00:00","code":"MCTAV","description":"Mail Advisory Action (PTOL - 303)"},{"recordDate":"2022-07-28
        00:00:00","code":"CTAV","description":"Advisory Action (PTOL-303)"},{"recordDate":"2022-07-27
        00:00:00","code":"FWDX","description":"Date Forwarded to Examiner"},{"recordDate":"2022-07-19
        00:00:00","code":"A.NE","description":"Response after Final Action"},{"recordDate":"2022-07-19
        00:00:00","code":"EML_NTR",[...]
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "firstNamedApplicant:(Caterpillar)", "sort": null, "facet": "false", "mm": "100%",
      "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Tue Aug 09 17:33:48 EDT 2022","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":419},"response":{"numFound":6633,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"16534866","assignments":[{"reelNumber":"50002","frameNumber":"495","addressNameText":"BOOKOFF
        MCANDREWS, PLLC","addressLineOneText":"2020 K STREET, NW","addressLineTwoText":"SUITE
        400","addressLineThreeText":"WASHINGTON, DC 20006","addressLineFourText":"null","mailDate":"08-09-2019","receivedDate":"08-08-2019","recordedDate":"08-08-2019","pagesCount":"8","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"RATHOD,
        CHANDRASEN R.","execDate":"08-02-2019"},{"assignorName":"RECKER, ROGER L.","execDate":"08-06-2019"},{"assignorName":"PICKERILL,
        ROBERT J.","execDate":"08-02-2019"},{"assignorName":"GRAHAM, SUSAN M.","execDate":"08-05-2019"},{"assignorName":"KEELE,
        SCOTT","execDate":"08-06-2019"},{"assignorName":"YANIAK, THOMAS J.","execDate":"08-02-2019"}],"assignee":[{"assigneeName":"CATERPILLAR
        INC.","streetLineOneText":"510 LAKE COOK ROAD, SUITE 100","streetLineTwoText":"null","cityName":"DEERFIELD","countryCode":"ILLINOIS","postalCode":"60015"}]}],"applicants":[{"nameLineOne":"Caterpillar
        Inc.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Deerfield,
        ","geoCode":"IL","country":"(US)","rankNo":"1"}],"applicantsFacet":"{||Caterpillar
        Inc.||||Deerfield|IL|US|ORG|1}","appFilingDate":"2019-08-07T00:00:00Z","appExamName":"CASTONGUAY,
        EMILY G","appExamNameFacet":"CASTONGUAY, EMILY G","publicInd":"Y","APP_IND":"5","inventorName":"Chandrasen
        R. RATHOD","inventorNameFacet":"Chandrasen R. RATHOD","appEarlyPubDate":"2021-02-11T00:00:00Z","corrAddrGeoRegionCode":"IL","corrAddrNameLineTwo":"Intellectual
        Property Department","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20210039728A1","id":"16534866","appGrpArtNumber":"3617","appGrpArtNumberFacet":"3617","applIdStr":"16534866","appl_id_txt":"16534866","appSubCls":"136000","LAST_MOD_TS":"2022-08-09T07:55:39Z","transactions":[{"recordDate":"2022-08-08
        00:00:00","code":"N/=.","description":"Notice of Allowance Data Verification
        Completed"},{"recordDate":"2022-08-02 00:00:00","code":"AFAC","description":"Aft[...]
