interactions:
- request:
    body: '{"q": "applicationMetaData.customerNumber:(31625)", "filters": [], "rangeFilters":
      [], "sort": [], "fields": ["applicationNumberText"], "pagination": {"offset":
      0, "limit": 25}, "facets": []}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":2553,"patentFileWrapperDataBag":[{"applicationNumberText":"18677502"},{"applicationNumberText":"18666455"},{"applicationNumberText":"18654730"},{"applicationNumberText":"18650950"},{"applicationNumberText":"18704773"},{"applicationNumberText":"18638146"},{"applicationNumberText":"18702206"},{"applicationNumberText":"18634634"},{"applicationNumberText":"18632001"},{"applicationNumberText":"18627225"},{"applicationNumberText":"18620828"},{"applicationNumberText":"18695190"},{"applicationNumberText":"18605074"},{"applicationNumberText":"18691763"},{"applicationNumberText":"18691341"},{"applicationNumberText":"18689735"},{"applicationNumberText":"18597645"},{"applicationNumberText":"18597584"},{"applicationNumberText":"18687512"},{"applicationNumberText":"18685697"},{"applicationNumberText":"18436290"},{"applicationNumberText":"18430098"},{"applicationNumberText":"18427309"},{"applicationNumberText":"18422983"},{"applicationNumberText":"18421382"}],"requestIdentifier":"3faf3a5c-101a-42e2-a1b6-c2fd59773435"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en7ZFETroAMFRjQ=
      x-amzn-requestid:
      - 3faf3a5c-101a-42e2-a1b6-c2fd59773435
    status_code: 200
version: 1
