interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"grantDocumentMetaData":{"productIdentifier":"PTGRXML","zipFileName":"ipg210126.zip","fileCreateDateTime":"2024-09-30T15:32:22","xmlFileName":"16123456_10902286.xml","fileLocationURI":"https://beta-api.uspto.gov/api/v1/datasets/products/files/PTGRXML-SPLT/2021/ipg210126/16123456_10902286.xml"},"eventDataBag":[{"eventCode":"M1551","eventDescriptionText":"Payment
      of Maintenance Fee, 4th Year, Large Entity","eventDate":"2024-07-10"},{"eventCode":"IDSC","eventDescriptionText":"Information
      Disclosure Statement considered","eventDate":"2018-09-06"},{"eventCode":"IDSC","eventDescriptionText":"Information
      Disclosure Statement considered","eventDate":"2021-07-09"},{"eventCode":"PGM/","eventDescriptionText":"Recordation
      of Patent Grant Mailed","eventDate":"2021-01-26"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2021-01-07"},{"eventCode":"WPIR","eventDescrip[...]
