interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"grantDocumentMetaData":{"productIdentifier":"PTGRXML","zipFileName":"ipg150818.zip","fileCreateDateTime":"2024-09-29T13:10:12","xmlFileName":"14230558_09111608.xml","fileLocationURI":"https://beta-api.uspto.gov/api/v1/datasets/products/files/PTGRXML-SPLT/2015/ipg150818/14230558_09111608.xml"},"eventDataBag":[{"eventCode":"TRIALPET","eventDescriptionText":"Petition
      Requesting Trial","eventDate":"2024-09-10"},{"eventCode":"M1552","eventDescriptionText":"Payment
      of Maintenance Fee, 8th Year, Large Entity","eventDate":"2023-02-20"},{"eventCode":"M1551","eventDescriptionText":"Payment
      of Maintenance Fee, 4th Year, Large Entity","eventDate":"2019-02-18"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2016-07-21"},{"eventCode":"PA..","eventDescriptionText":"Change
      in Power of Attorney (May Include Associate POA)","eventDate":"2016-07-2[...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558/application-data
  response:
    content: '{"message":"Missing Authentication Token"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlZ2FtjoAMF2sw=
      x-amzn-errortype:
      - MissingAuthenticationTokenException
      x-amzn-requestid:
      - 49394eb9-59e2-4cfe-b458-11b7612c4cbe
    status_code: 403
version: 1
