interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"bace2e3a-5d52-4251-9695-ec8cd581262f"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlP2F4CoAMFzpw=
      x-amzn-requestid:
      - bace2e3a-5d52-4251-9695-ec8cd581262f
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456","correspondenceAddressBag":[{"cityName":"Vienna","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22180-7371","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"2600
      Park Tower Drive","addressLineTwoText":"Suite 600"}]}],"requestIdentifier":"fd81a68f-b4c5-4ac3-94a0-0b61cb50858d"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlP3HAwoAMF79g=
      x-amzn-requestid:
      - fd81a68f-b4c5-4ac3-94a0-0b61cb50858d
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:(16123456)", "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"d477181c-53ca-4f8b-a9f1-16aeb4e29b78"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlhLHvzoAMFz1w=
      x-amzn-requestid:
      - d477181c-53ca-4f8b-a9f1-16aeb4e29b78
    status_code: 200
version: 1
