interactions:
- request:
    body: '{"fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11057599,"patentFileWrapperDataBag":[{"applicationNumberText":"29989499"},{"applicationNumberText":"29989558"},{"applicationNumberText":"18727105"},{"applicationNumberText":"19051130"},{"applicationNumberText":"90019846"},{"applicationNumberText":"90019847"},{"applicationNumberText":"90019848"},{"applicationNumberText":"90019845"},{"applicationNumberText":"18727121"},{"applicationNumberText":"29989210"},{"applicationNumberText":"18721311"},{"applicationNumberText":"19049415"},{"applicationNumberText":"90019843"},{"applicationNumberText":"19048889"},{"applicationNumberText":"18838050"},{"applicationNumberText":"19048527"},{"applicationNumberText":"90019842"},{"applicationNumberText":"29988859"},{"applicationNumberText":"18860460"},{"applicationNumberText":"18834314"},{"applicationNumberText":"19048595"},{"applicationNumberText":"18289940"},{"applicationNumberText":"19047970"},{"applicationNumberText":"90019835"},{"applicationNumberText":"18574109"}],"requestIdentifier":"a9761034-3e74-4a3d-86bf-236b67dc4c2c"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlPrHhaoAMFQJQ=
      x-amzn-requestid:
      - a9761034-3e74-4a3d-86bf-236b67dc4c2c
    status_code: 200
version: 1
