interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"26213dfc-2f46-49ec-99e3-b79af1130dfe"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WvXuNHkcoAMFQ2g=
      x-amzn-RequestId:
      - 26213dfc-2f46-49ec-99e3-b79af1130dfe
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "pagination": {"offset": 0, "limit":
      1}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"Y","applicationStatusCode":150,"applicationTypeCode":"UTL","filingDate":"2018-09-06","assignmentBag":[{"assignmentReceivedDate":"2018-09-07","assignorBag":[{"executionDate":"2018-07-11","assignorName":"KANADA,
      SHOJI"}],"frameNumber":"0108","pageNumber":3,"reelNumber/frameNumber":"046816/0108","assignmentRecordedDate":"2018-09-07","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"TOKYO","geographicRegionCode":"JPX","postalCode":"106-8620","addressLineOneText":"26-30,
      NISHIAZABU 2-CHOME, MINATO-KU"},"assigneeNameText":"FUJIFILM CORPORATION"}],"assignmentMailedDate":"2018-09-10","reelNumber":"046816","correspondenceAddress":[{"addressLineOneText":"8110
      GATEHOUSE ROAD, SUITE 100E","correspondentNameText":"BIRCH, STEWART, KOLASCH
      & BIRCH, LLP","addressLineTwoText":"FALLS CHURCH, VA 22042"}]}],"class/subclass":"382/159","recordAttorney":{"attorneyBag":[{"activeIndicator":"ACTIVE","firstName":"CHENG
      KANG","lastName":"HSU","registrationNumber":"61007","attorneyAddressBag":[{"cityName":"FALLS
      CHURCH","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042","nameLineOneText":"BIRCH,
      STEWART, KOLASCH & BIRCH LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      GATEHOUSE ROAD, SUITE 100 EAST","addressLineTwoText":"P.O. BOX 747"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"703-205-8000","usageTypeCategory":"TEL"}],"registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"TOYOHIKO","lastName":"KONNO","registrationNumber":"68859","attorneyAddressBag":[{"cityName":"FALLS
      CHURCH","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042-124","nameLineOneText":"BIRCH,
      STEWART, KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      GATEHOUSE ROAD","addressLineTwoText":"SUITE 100 EAST"}],"telecommunicationAddressBag":[{"telecommunicatio[...]
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/documents
  response:
    content: '{"documentBag": [{"applicationNumberText": "16123456", "officialDate":
      "2018-09-06T15:08:26.000-0400", "documentIdentifier": "JLQY2WZNRXEAPX4", "documentCode":
      "ADS", "documentCodeDescriptionText": "Application Data Sheet", "directionCategory":
      "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier": "PDF", "downloadUrl":
      "https://beta-api.uspto.gov/api/v1/download/applications/16123456/JLQY2WZNRXEAPX4.pdf",
      "pageTotalQuantity": 8}]}, {"applicationNumberText": "16123456", "officialDate":
      "2018-09-06T15:08:25.000-0400", "documentIdentifier": "JLXS0Y2CLXEAPX3", "documentCode":
      "TRNA", "documentCodeDescriptionText": "Transmittal of New Application", "directionCategory":
      "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier": "PDF", "downloadUrl":
      "https://beta-api.uspto.gov/api/v1/download/applications/16123456/JLXS0Y2CLXEAPX3.pdf",
      "pageTotalQuantity": 2}]}, {"applicationNumberText": "16123[...]
