interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"eventDataBag":[{"eventCode":"TRIALPET","eventDescriptionText":"Petition
      Requesting Trial","eventDate":"2024-09-10"},{"eventCode":"M1552","eventDescriptionText":"Payment
      of Maintenance Fee, 8th Year, Large Entity","eventDate":"2023-02-20"},{"eventCode":"M1551","eventDescriptionText":"Payment
      of Maintenance Fee, 4th Year, Large Entity","eventDate":"2019-02-18"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2016-07-21"},{"eventCode":"PA..","eventDescriptionText":"Change
      in Power of Attorney (May Include Associate POA)","eventDate":"2016-07-2[...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558/meta-data
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationMetaData":{"firstInventorToFileIndicator":"N","applicationStatusCode":150,"applicationTypeCode":"UTL","entityStatusData":{"smallEntityStatusIndicator":false,"businessEntityStatusCategory":"Regular
      Undiscounted"},"filingDate":"2014-03-31","class/subclass":"72/106","nationalStageIndicator":false,"firstInventorName":"Scott
      C. Best","cpcClassificationBag":["G11C7/222","G11C11/4076","G11C7/04","G06F13/1689"],"effectiveFilingDate":"2014-03-31","publicationDateBag":["2014-08-14"],"publicationSequenceNumberBag":["0226420"],"earliestPublicationDate":"2014-08-14","applicationTypeLabelName":"Utility","applicationStatusDate":"2015-07-29","class":"72","applicationTypeCategory":"REGULAR","inventorBag":[{"firstName":"Scott","lastName":"Best","countryCode":"US","inventorNameText":"Scott
      C. Best","middleName":"C.","correspondenceAddressBag":[{"cityName":"Sunnyvale","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","addressLineOneText":"1050 Enterprise
      Way, Suite 700","postalAddressCategory":"postal"},{"cityName":"Palo Alto","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","postalAddressCategory":"residence"}]}],"applicationStatusDescriptionText":"Patented
      Case","patentNumber":"9111608","grantDate":"2015-08-18","customerNumber":69090,"groupArtUnitNumber":"2864","earliestPublicationNumber":"US20140226420A1","inventionTitle":"STROBE-OFFSET
      CONTROL CIRCUIT","applicationConfirmationNumber":9057,"examinerNameText":"BARBEE,
      MANUEL L","subclass":"106","publicationCategoryBag":["Granted/Issued","Pre-Grant
      Publications - PGPub"]},"applicationNumberText":"14230558"}],"requestIdentifier":"73bff74b-4190-4ca7-bd34-ff535fea6cba"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en01oHhMIAMFzbA=
      x-amzn-requestid:
      - 73bff74b-4190-4ca7-bd34-ff535fea6cba
    status_code: 200
version: 1
