interactions:
- request:
    body: '{"fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11543399,"patentBag":[{"applicationNumberText":"90019513"},{"applicationNumberText":"18288529"},{"applicationNumberText":"18666323"},{"applicationNumberText":"18009549"},{"applicationNumberText":"18560431"},{"applicationNumberText":"90019512"},{"applicationNumberText":"18556119"},{"applicationNumberText":"18662935"},{"applicationNumberText":"18553308"},{"applicationNumberText":"90019510"},{"applicationNumberText":"17913768"},{"applicationNumberText":"17791917"},{"applicationNumberText":"18044319"},{"applicationNumberText":"17927753"},{"applicationNumberText":"90019509"},{"applicationNumberText":"18552609"},{"applicationNumberText":"18659875"},{"applicationNumberText":"96050039"},{"applicationNumberText":"90019508"},{"applicationNumberText":"18267650"},{"applicationNumberText":"18248329"},{"applicationNumberText":"18659502"},{"applicationNumberText":"18658719"},{"applicationNumberText":"18657390"},{"applicationNumberText":"18281221"}],"requestIdentifier":"a6a93c5a-09d6-4b1b-bd5f-22f0968ee525"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLkq4HbBoAMFsOw=
      x-amzn-requestid:
      - a6a93c5a-09d6-4b1b-bd5f-22f0968ee525
    status_code: 200
version: 1
