interactions:
- request:
    body: '{"q": "inventionTitle:(Hair Dryer)", "rangeFilters": [{"field": "filingDate",
      "valueFrom": "2020-01-01", "valueTo": "2024-05-03"}], "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":699,"patentBag":[{"applicationNumberText":"35519933"},{"applicationNumberText":"35519938"},{"applicationNumberText":"35519769"},{"applicationNumberText":"35519947"},{"applicationNumberText":"35519302"},{"applicationNumberText":"35519293"},{"applicationNumberText":"35519384"},{"applicationNumberText":"29906702"},{"applicationNumberText":"29906704"},{"applicationNumberText":"29916113"},{"applicationNumberText":"29906700"},{"applicationNumberText":"29906701"},{"applicationNumberText":"18247524"},{"applicationNumberText":"35519201"},{"applicationNumberText":"29904561"},{"applicationNumberText":"35519453"},{"applicationNumberText":"29912491"},{"applicationNumberText":"29902676"},{"applicationNumberText":"29902405"},{"applicationNumberText":"29901951"},{"applicationNumberText":"29911485"},{"applicationNumberText":"18279629"},{"applicationNumberText":"29911079"},{"applicationNumberText":"29900731"},{"applicationNumberText":"35518492"}],"requestIdentifier":"12787052-a99c-4445-8c73-dbcdbc989e6b"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XNKXwFsNoAMFlTQ=
      x-amzn-requestid:
      - 12787052-a99c-4445-8c73-dbcdbc989e6b
    status_code: 200
version: 1
