interactions:
- request:
    body: '{"q": "inventionTitle:(Hair Dryer)", "rangeFilters": [{"field": "filingDate",
      "valueFrom": "2020-01-01", "valueTo": "2025-02-17"}], "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"code":"404","message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"4ee84848-045f-47bd-a371-f5fa46e74c15"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 4ee84848-045f-47bd-a371-f5fa46e74c15
      x-amz-apigw-id:
      - GJlQCEW9oAMFglQ=
      x-amzn-requestid:
      - 4ee84848-045f-47bd-a371-f5fa46e74c15
    status_code: 404
version: 1
