interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"46269172-86e9-48da-a5dc-b7ef504db7a0"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlP5GnuoAMFpwg=
      x-amzn-requestid:
      - 46269172-86e9-48da-a5dc-b7ef504db7a0
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456","correspondenceAddressBag":[{"cityName":"Vienna","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22180-7371","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"2600
      Park Tower Drive","addressLineTwoText":"Suite 600"}]}],"requestIdentifier":"fea3f157-4dfa-4bfa-8314-d3175cbedfb5"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlP7HwhIAMFn3A=
      x-amzn-requestid:
      - fea3f157-4dfa-4bfa-8314-d3175cbedfb5
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/continuity
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"childContinuityBag":[{"firstInventorToFileIndicator":true,"childApplicationStatusDescriptionText":"Patented
      Case","claimParentageTypeCode":"DIV","childApplicationStatusCode":150,"claimParentageTypeCodeDescriptionText":"is
      a Division of","childPatentNumber":"11797846","parentApplicationNumberText":"16123456","childApplicationFilingDate":"2020-12-22","childApplicationNumberText":"17130468"}],"applicationNumberText":"16123456"}],"requestIdentifier":"9071bfed-c5fa-44b6-b115-e5dd5bd06152"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GJlhMFElIAMFpwg=
      x-amzn-requestid:
      - 9071bfed-c5fa-44b6-b115-e5dd5bd06152
    status_code: 200
version: 1
