interactions:
- request:
    body: '{"fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":8955286,"patentFileWrapperDataBag":[{"applicationNumberText":"18688644"},{"applicationNumberText":"90019670"},{"applicationNumberText":"90019668"},{"applicationNumberText":"90019667"},{"applicationNumberText":"90019664"},{"applicationNumberText":"18793792"},{"applicationNumberText":"90019666"},{"applicationNumberText":"18886785"},{"applicationNumberText":"18682036"},{"applicationNumberText":"90019661"},{"applicationNumberText":"90019659"},{"applicationNumberText":"18684223"},{"applicationNumberText":"18572292"},{"applicationNumberText":"18031115"},{"applicationNumberText":"90019660"},{"applicationNumberText":"18691340"},{"applicationNumberText":"18885445"},{"applicationNumberText":"18691921"},{"applicationNumberText":"18683445"},{"applicationNumberText":"18682325"},{"applicationNumberText":"90019657"},{"applicationNumberText":"18883981"},{"applicationNumberText":"90019658"},{"applicationNumberText":"18846603"},{"applicationNumberText":"18846515"}],"requestIdentifier":"98f2695b-933d-44d2-a86d-d38b7466e5ed"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en2q2E7OIAMF5-A=
      x-amzn-requestid:
      - 98f2695b-933d-44d2-a86d-d38b7466e5ed
    status_code: 200
version: 1
