interactions:
- request:
    body: '{"q": "applicationNumberText:(14230558)", "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"14230558"}],"requestIdentifier":"708e7065-32d4-4884-a7e1-af43c113047a"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XNNxbG-zoAMFwyA=
      x-amzn-requestid:
      - 708e7065-32d4-4884-a7e1-af43c113047a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"N","applicationStatusCode":150,"applicationTypeCode":"UTL","filingDate":"2014-03-31","assignmentBag":[{"assignmentReceivedDate":"2014-03-31","assignorBag":[{"executionDate":"2004-08-19","assignorName":"BEST,
      SCOTT C."}],"frameNumber":"0453","pageNumber":3,"reelNumber/frameNumber":"032567/0453","assignmentRecordedDate":"2014-03-31","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"SUNNYVALE","geographicRegionCode":"CA
      ","postalCode":"94089","addressLineOneText":"1050 ENTERPRISE WAY, SUITE 700"},"assigneeNameText":"RAMBUS
      INC."}],"assignmentMailedDate":"2014-04-01","reelNumber":"032567","correspondenceAddress":[{"addressLineOneText":"1050
      ENTERPRISE WAY #700","correspondentNameText":"TARISA WAIN","addressLineTwoText":"SUNNYVALE,
      CA 94089"}]}],"class/subclass":"72/106","recordAttorney":{"attorneyBag":[{"activeIndicator":"ACTIVE","firstName":"JOSE","lastName":"MONIZ","registrationNumber":"50192","attorneyAddressBag":[{"cityName":"SUNNYVALE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"RAMBUS
      INC.","countryName":"UNITED STATES","addressLineOneText":"1050 ENTERPRISE WAY,
      SUITE 700"},{"cityName":"SUNNYVALE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"RAMBUS
      INC.","countryName":"UNITED STATES","addressLineOneText":"1050 ENTERPRISE WAY,
      SUITE 700"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"408-462-8336","usageTypeCategory":"TEL"},{"telecommunicationNumber":"5153346883","usageTypeCategory":"FAX"}],"registeredPractitionerCategory":"AGENT"},{"activeIndicator":"ACTIVE","firstName":"SUNITA","lastName":"ADLURI","registrationNumber":"78032","attorneyAddressBag":[{"cityName":"WASHINGTON","geographicRegionName":"DISTRICT
      OF COLUMBIA","geographicRegionCode":"DC","countryCode":"US","postalCode":"20005","nameLineOneText":"BANNER
      & WITCOFF","countryName":"UNITED STATES","addressLineOneText":"1100 13TH STREET
      NW","addressLineTwoText":"SUITE 1200"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"202-824-3000","usageTypeCategory":"TEL"}],"registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"CHRISTOPHER","lastName":"KOSH","registrationNumber":"42760","attorneyAddressBag":[{"cityName":"SUNNYVALE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"RAMBUS,
      INC.","countryName":"UNITED STATES","addressLineOneText":"1050 ENTERPRISE WAY","addressLineTwoText":"SUITE
      700"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"408-462-8903","usageTypeCategory":"TEL"}],"registeredPractitionerCategory":"ATTNY"}],"customerNumber":{"powerOfAttorneyAddressBag":[{"cityName":"San
      Jose","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"95134","nameLineOneText":"RAMBUS
      INC.","nameLineTwoText":"C/O Ann Williams","countryName":"UNITED STATES","addressLineOneText":"4453
      North First Street","addressLineTwoText":"Suite 100"}],"patronIdentifier":"69090.0000000000"}},"applicationNumberText":"14230558","nationalStageIndicator":false,"firstInventorName":"Scott
      C. Best","cpcClassificationBag":["G11C7/222","G11C11/4076","G11C7/04","G06F13/1689"],"effectiveFilingDate":"2014-03-31","publicationDateBag":["2014-08-14"],"publicationSequenceNumberBag":["0226420"],"earliestPublicationDate":"2014-08-14","applicationTypeLabelName":"Utility","applicationStatusDate":"2015-07-29","class":"72","applicationTypeCategory":"REGULAR","inventorBag":[{"firstName":"Scott","lastName":"Best","countryCode":"US","inventorNameText":"Scott
      C. Best","middleName":"C.","correspondenceAddressBag":[{"cityName":"Palo Alto","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","postalAddressCategory":"residence"},{"cityName":"Sunnyvale","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","addressLineOneText":"1050 Enterprise
      Way, Suite 700","postalAddressCategory":"postal"}]}],"patentTermAdjustmentData":{"applicantDayDelayQuantity":0.0,"overlappingDayQuantity":0.0,"filingDate":"2014-03-31","cDelayQuantity":0.0,"adjustmentTotalQuantity":0.0,"bDelayQuantity":0.0,"grantDate":"2015-08-18","aDelayQuantity":0.0,"nonOverlappingDayQuantity":0.0,"ipOfficeDayDelayQuantity":0.0,"patentTermAdjustmentHistoryDataBag":[{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.5,"caseActionDescriptionText":"PTA
      36 Months","caseActionSequenceNumber":46.5,"actionDate":"2015-08-18"},{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.0,"caseActionDescriptionText":"Patent
      Issue Date Used in PTA Calculation","caseActionSequenceNumber":46.0,"actionDate":"2015-08-18"},{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.0,"caseActionDescriptionText":"Dispatch
      to FDC","caseActionSequenceNumber":44.0,"actionDate":"2015-07-14"},{"applicantDayDelayQuantity":0.0,"startSequenceNumber":0.0,"caseActionDescriptionText":"Application
      Is Considered [...]
[...]
- request:
    body: '{"q": "applicationNumberText:(14230558)", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"N","filingDate":"2014-03-31","inventorBag":[{"firstName":"Scott","lastName":"Best","countryCode":"US","inventorNameText":"Scott
      C. Best","middleName":"C.","correspondenceAddressBag":[{"cityName":"Palo Alto","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","postalAddressCategory":"residence"},{"cityName":"Sunnyvale","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","addressLineOneText":"1050 Enterprise
      Way, Suite 700","postalAddressCategory":"postal"}]}],"businessEntityStatusCategory":"Regular
      Undiscounted","customerNumber":69090,"groupArtUnitNumber":"2864","applicationNumberText":"14230558","earliestPublicationNumber":"US
      2014-0226420 A1","inventionTitle":"STROBE-OFFSET CONTROL CIRCUIT","correspondenceAddressBag":[{"cityName":"San
      Jose","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"95134","nameLineOneText":"RAMBUS
      INC.","nameLineTwoText":"C/O Ann Williams","countryName":"UNITED STATES","addressLineOneText":"4453
      North First Street","addressLineTwoText":"Suite 100"}],"firstInventorName":"Scott
      C. Best","cpcClassificationBag":["G11C7/222","G11C11/4076","G11C7/04","G06F13/1689"],"applicationConfirmationNumber":9057}],"requestIdentifier":"428482ae-f25a-43a9-b0dc-e91d74479d15"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XNODxEtXoAMF7bw=
      x-amzn-requestid:
      - 428482ae-f25a-43a9-b0dc-e91d74479d15
    status_code: 200
version: 1
