interactions:
- request:
    body: '{"q": "customerNumber:(31625)", "fields": ["applicationNumberText"], "pagination":
      {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"code":"404","message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"f55da6ee-eab7-4141-af10-9972df5a58d8"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - f55da6ee-eab7-4141-af10-9972df5a58d8
      x-amz-apigw-id:
      - GJlQGF__oAMF4VQ=
      x-amzn-requestid:
      - f55da6ee-eab7-4141-af10-9972df5a58d8
    status_code: 404
version: 1
