interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24144949, "hl_snippets": "2", "op": "OR", "q": "\"6103599\".PN.",
      "queryName": "\"6103599\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"6103599\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":24144949,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"6103599\".PN.","queryName":"\"6103599\".PN.","userEnteredQuery":"\"6103599\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"6103599\".PN.","error":null,"terms":["\"6103599\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":28,"highlightingTime":0,"cursorMarker":"AoJwgOj0/eABNzI2NzMyMjIzIVVTLVVTLTA2MTAzNTk5","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-6103599-A","publicationReferenceDocumentNumber":"6103599","compositeId":"26732223!US-US-06103599","publicationReferenceDocumentNumber1":"06103599","datePublishedKwicHits":null,"datePublished":"2000-08-15T00:00:00Z","inventionTitle":"Planarizing
      technique for multilayered substrates","type":"USPAT","mainClassificationCode":"438/459","applicantName":null,"assigneeName":["Silicon
      Genesis Corporation"],"uspcFullClassificationFlattened":"438/770;438/977;438/694;257/E21.568;438/458;257/E21.219","ipcCodeFlattened":"H01L21/70","cpcInventiveFlattened":"H01L21/30604;H01L21/76254","cpcAdditionalFlattened":"Y10S438/977","applicationFilingDate":["1998-06-03T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Mulpuri;
      Savitri","assistantExaminer":null,"applicationNumber":"09/089931","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":6,"specificationStart":7,"specificationEnd":10,"claimsStart":10,"claimsEnd":11,"abstractStart":1,"abstractEnd":2,"bibStart":1,"bibEnd":2,"certCorrectionStart":12,"certCorrectionEnd":12,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":12,"pageCountDisplay":"12","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/06/103/599","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Henley;
      Francois J. et al.","familyIdentifierCur":26732223,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      6103599 A","derwentAccessionNumber":null,"documentSize":55787,"score":14.083128,"governmentInterest":null,"kindCode":["A"],"urpn":["4006340","4566403","4846928","4847792","4853250","4887005","4948458","4952273","4960073","4996077","5010579","5013563","5015353","5133826","5202095","5203960","5234529","5250328","5252178","5273610","5342472","5368710","5370765","5374564","5404079","5405480","5411592","5435880","5487785","5504328","5593622","5822987","5920764"],"urpnCode":["4006340","4566403","4846928","4847792","4853250","4887005","4948458","4952273","4960073","4996077","5010579","5013563","5015353","5133826","5202095","5203960","5234529","5250328","5252178","5273610","5342472","5368710","5370765","5374564","5404079","5405480","5411592","5435880","5487785","5504328","5593622","5822987","5920764"],"descriptionStart":7,"descriptionEnd":10,"publicationReferenceDocumentNumberOne":"06103599"}],"qtime":12}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(09089931)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Dec 11 11:50:05 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":1424},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"applId":"09089931","assignments":[{"reelNumber":"9218","frameNumber":"376","addressNameText":"TOWNSEND
      AND TOWNSEND AND CREW LLP","addressLineOneText":"RICHARD T. OGAWA","addressLineTwoText":"TWO
      EMBARCADERO CENTER, 8TH FLOOR","addressLineThreeText":"SAN FRANCISCO, CA 94111-3834","addressLineFourText":"null","mailDate":"08-11-1998","receivedDate":"06-10-1998","recordedDate":"06-03-1998","pagesCount":"4","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"HENLEY,
      FRANCOIS J.","execDate":"05-05-1998"},{"assignorName":"CHEUNG, NATHAN","execDate":"05-04-1998"}],"assignee":[{"assigneeName":"SILICON
      GENESIS CORPORATION","streetLineOneText":"null","streetLineTwoText":"590 DIVISION
      STREET","cityName":"CAMPBELL","countryCode":"CALIFORNIA","postalCode":"95008"}]}],"appFilingDate":"1998-06-03T00:00:00Z","appExamName":"MULPURI,
      SAVITRI","appExamNameFacet":"MULPURI, SAVITRI","publicInd":"Y","appLocationDate":"2018-06-23T00:00:00Z","APP_IND":"5","inventorName":"FRANCOIS
      J. HENLEY","inventorNameFacet":"FRANCOIS J. HENLEY","corrAddrGeoRegionCode":"CA","corrAddrNameLineTwo":"TOWNSEND
      AND TOWNSEND AND CREW","appLocation":"FILE REPOSITORY (FRANCONIA)","id":"09089931","appGrpArtNumber":"2812","appGrpArtNumberFacet":"2812","applIdStr":"09089931","appl_id_txt":"09089931","appSubCls":"459000","patentNumber":"6103599","LAST_MOD_TS":"2022-11-04T15:13:59Z","transactions":[{"recordDate":"2017-07-06
      00:00:00","code":"TRIALFWD","description":"Termination or Final Written Decision"},{"recordDate":"2016-09-28
      00:00:00","code":"TRIALGRT","description":"Request for Trial Granted"},{"recordDate":"2016-04-01
      00:00:00","code":"TRIALPET","description":"Petition Requesting Trial"},{"recordDate":"2003-12-08
      00:00:00","code":"BIG.","description":"ENTITY STATUS SET TO UNDISCOUNTED (INITIAL
      DEFAULT SETTING OR STATUS CHANGE)"},{"recordDate":"2000-05-26 00:00:00","code":"SENT","description":"Workflow
      - File Sent to Co[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(09089931)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Dec 11 11:50:05 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":751},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"applId":"09089931","assignments":[{"reelNumber":"9218","frameNumber":"376","addressNameText":"TOWNSEND
      AND TOWNSEND AND CREW LLP"[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/09089931
  response:
    content: ''
    headers:
      apigw-requestid:
      - PyhNMgFNIAMEaVw=
    status_code: 204
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/09089931
  response:
    content: '{"country":"US","internal":"false","corrAppNum":"09089931","id":"09089931","type":"application","list":[{"appNum":"09089931","appDate":896832000000,"pubList":[{"pubCountry":"US","pubNum":"6103599","pubDate":966297600000,"kindCode":"A","pubDateStr":"08/15/2000"}],"countryCode":"US","docList":{"title":"PLANARIZING
      TECHNIQUE FOR MULTILAYERED SUBSTRATES","docs":[{"docCode":"LET.","docDesc":"Miscellaneous
      Incoming Letter","docId":"DG2XJF46PACRPHX","legalDate":896832000000,"docFormat":"PDF","numberOfPages":28,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"06/03/1998","mimeTypeData":null,"shareable":false},{"docCode":"EBCC.AD","docDesc":"Notice
      of Change of Address Place in File Wrapper Due to Electronic Business Center(EBC)
      Customer Number Update","docId":"FIHEBSL3PPOPPY5","legalDate":1215561600000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"In-house
      documents including Examiner Notes/Search Results","docGroupCode":"5","legalDateStr":"07/09/2008","mimeTypeData":null,"shareable":false},{"docCode":"TRIAL.REQ.G","docDesc":"Request
      for Trial Granted","docId":"ITX2I3ISRXEAPX1","legalDate":1475062028000,"docFormat":"PDF","numberOfPages":16,"docCodeDesc":"No
      document group defined for this document","docGroupCode":"unknown","legalDateStr":"09/28/2016","mimeTypeData":null,"shareable":false},{"docCode":"TRIAL.TRMFWD","docDesc":"Trial
      Termination or Final Written Decision","docId":"J510VYV9RXEAPX1","legalDate":1499332186000,"docFormat":"PDF","numberOfPages":4,"docCodeDesc":"No
      document group defined for this document","docGroupCode":"unknown","legalDateStr":"07/06/2017","mimeTypeData":null,"shareable":false},{"docCode":"SOL.NTC.SUIT","docDesc":"Report
      on the filing or determination of an action regarding a patent","docId":"J5BD3XUYRXEAPX0","legalDate":1500475776000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"07/19/2017","mimeTypeData":null,"shareable":false}],"country":"US","docNumber":"8993198.A","message":null,"applicantNames":["HENLEY,
      FRANCOIS J.","CHEUNG, NATHAN "],"oaIndCount":0,"officeActionDocs":[]},"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"09089931","kindCode":"A"},{"country":"US","docNumber":"60053770","kindCode":"P"}],"appDateStr":"06/03/1998","docListMsg":null,"docNum":{"country":"US","docNumber":"8993198","format":null,"date":"06/03/1998","kindCode":"A"},"title":"PLANARIZING
      TECHNIQUE FOR MULTILAYERED SUBSTRATES","applicantNames":["HENLEY, FRANCOIS J.","CHEUNG,
      NATHAN "],"ip5":true}]}'
    headers:
      apigw-requestid:
      - PyTU_ifHoAMES-A=
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=ApplicationNumber&query=09089931&rows=1&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">111</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">applNum:09089931</str>\n
      \   <str name=\"rows\">1</str>\n    <str name=\"wt\">javabin</str>\n    <str
      name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"1\"
      start=\"0\">\n  <doc>\n    <str name=\"id\">9218-376</str>\n    <str name=\"displayId\">009218-0376</str>\n
      \   <str name=\"dtdVersion\">1.0</str>\n    <str name=\"dateProduced\">20140916</str>\n
      \   <str name=\"actionKeyCode\">DA</str>\n    <str name=\"transactionDate\">2019-07-11T04:24:21Z</str>\n
      \   <str name=\"reelNo\">9218</str>\n    <str name=\"frameNo\">376</str>\n    <date
      name=\"lastUpdateDate\">2000-09-05T04:00:00Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
      \   <date name=\"recordedDate\">1998-06-03T04:00:00Z</date>\n    <str name=\"pageCount\">4</str>\n
      \   <str name=\"conveyanceText\">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT
      FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n    <str
      name=\"corrName\">TOWNSEND AND TOWNSEND AND CREW LLP</str>\n    <str name=\"corrAddress1\">RICHARD
      T. OGAWA</str>\n    <str name=\"corrAddress2\">TWO EMBARCADERO CENTER, 8TH FLOOR</str>\n
      \   <str name=\"corrAddress3\">SAN FRANCISCO, CA 94111-3834</str>\n    <date
      name=\"patAssignorEarliestExDate\">1998-05-04T04:00:00Z</date>\n    <arr name=\"patAssignorName\">\n
      \     <str>HENLEY, FRANCOIS J.</str>\n      <str>CHEUNG, NATHAN</str>\n    </arr>\n
      \   <arr name=\"patAssignorExDate\">\n      <date>1998-05-05T04:00:00Z</date>\n
      \     <date>1998-05-04T04:00:00Z</date>\n    </arr>\n    <arr name=\"patAssignorDateAck\">\n
      \     <str>0001-01-01T00:00:00Z</str>\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>SILICON GENESIS CORPORATION</str>\n
      \   <[...]
