interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24359768, "hl_snippets": "2", "op": "OR", "q": "\"20090150362\".PN.",
      "queryName": "\"20090150362\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20090150362\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":24359768,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]}],"q":"\"20090150362\".PN.","queryName":"\"20090150362\".PN.","userEnteredQuery":"\"20090150362\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"20090150362\".PN.","error":null,"terms":["\"20090150362\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":31,"highlightingTime":0,"cursorMarker":"AoJwgKWn5qECOjQyMjg4MTk4IVBHLVVTLTIwMDkwMTUwMzYy","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-20090150362-A1","publicationReferenceDocumentNumber":"20090150362","compositeId":"42288198!PG-US-20090150362","publicationReferenceDocumentNumber1":null,"datePublishedKwicHits":null,"datePublished":"2009-06-11T00:00:00Z","inventionTitle":"Double
      Blinded Privacy-Safe Distributed Data Mining Protocol","type":"US-PGPUB","mainClassificationCode":"1/1","applicantName":null,"assigneeName":["EPAS"],"uspcFullClassificationFlattened":"707/999.003;707/E17.014","ipcCodeFlattened":"G06F17/30","cpcInventiveFlattened":"G06F21/6254;G16H10/20;G16H50/70","cpcAdditionalFlattened":"Y04S40/20","applicationFilingDate":["2008-12-23T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2006-08-02T00:00:00Z"],"primaryExaminer":null,"assistantExaminer":null,"applicationNumber":"12/342091","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":12,"specificationStart":13,"specificationEnd":24,"claimsStart":24,"claimsEnd":24,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":24,"pageCountDisplay":"24","previouslyViewed":false,"unused":false,"imageLocation":"us-pgpub/US/2009/0150/362","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Evenhaim;
      Asaf","familyIdentifierCur":42288198,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"PGPB","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      20090150362 A1","derwentAccessionNumber":null,"documentSize":95497,"score":14.631035,"governmentInterest":null,"kindCode":["A1"],"urpn":null,"urpnCode":null,"descriptionStart":13,"descriptionEnd":24,"publicationReferenceDocumentNumberOne":null}],"qtime":17}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-20090150362-A1/highlight?queryId=1&source=US-PGPUB&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-20090150362-A1","publicationReferenceDocumentNumber":"20090150362","compositeId":"42288198!PG-US-20090150362","publicationReferenceDocumentNumber1":null,"datePublishedKwicHits":null,"datePublished":"2009-06-11T00:00:00Z[...]
- request:
    body: '{"caseId": 24359768, "pageKeys": ["us-pgpub/US/2009/0150/362/00000001.tif",
      "us-pgpub/US/2009/0150/362/00000002.tif", "us-pgpub/US/2009/0150/362/00000003.tif",
      "us-pgpub/US/2009/0150/362/00000004.tif", "us-pgpub/US/2009/0150/362/00000005.tif",
      "us-pgpub/US/2009/0150/362/00000006.tif", "us-pgpub/US/2009/0150/362/00000007.tif",
      "us-pgpub/US/2009/0150/362/00000008.tif", "us-pgpub/US/2009/0150/362/00000009.tif",
      "us-pgpub/US/2009/0150/362/00000010.tif", "us-pgpub/US/2009/0150/362/00000011.tif",
      "us-pgpub/US/2009/0150/362/00000012.tif", "us-pgpub/US/2009/0150/362/00000013.tif",
      "us-pgpub/US/2009/0150/362/00000014.tif", "us-pgpub/US/2009/0150/362/00000015.tif",
      "us-pgpub/US/2009/0150/362/00000016.tif", "us-pgpub/US/2009/0150/362/00000017.tif",
      "us-pgpub/US/2009/0150/362/00000018.tif", "us-pgpub/US/2009/0150/362/00000019.tif",
      "us-pgpub/US/2009/0150/362/00000020.tif", "us-pgpub/US/2009/0150/362/00000021.tif",
      "us-pgpub/US/2009/0150/362/00000022.tif", "us-pgpub/US/2009/0150/362/00000023.tif",
      "us-pgpub/US/2009/0150/362/00000024.tif"], "patentGuid": "US-20090150362-A1",
      "saveOrPrint": "save", "source": "US-PGPUB"}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/print/imageviewer
  response:
    content: '1253575'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '["1253575"]'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/print/print-process
  response:
    content: '[{"createBy":"estapp","createDt":"2024-01-11T16:01:39","modifyBy":"estapp","modifyDt":"2024-01-11T16:01:41","printProcessId":1253575,"caseId":24359768,"pdfName":"US-20090150362-A1_US-PGPUB_1704988901114.pdf","printParams":"{\"caseId\":24359768,\"patentGuid\":\"US-20090150362-A1\",\"source\":\"US-PGPUB\",\"saveOrPrint\":\"save\"}","printStatus":"COMPLETED"}]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/print/save/US-20090150362-A1_US-PGPUB_1704988901114.pdf
  response:
    content: !!binary |
      JVBERi0xLjcKJeLjz9MKNSAwIG9iago8PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDQ1Pj5z
      dHJlYW0KeJwr5DK1MFIwAEJzUwM9I2MFQ1MFIzM9c3OF5Fwufc9cQwWXfK5ALgCZ3wf8CmVuZHN0
      cmVhbQplbmRvYmoKNCAwIG9iago8PC9Db250ZW50cyA1IDAgUi9NZWRpYUJveFswIDAgNjEyIDc5
      Ml0[...]
