interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24144949, "hl_snippets": "2", "op": "OR", "q": "\"5439055\".PN.",
      "queryName": "\"5439055\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"5439055\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":24144949,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"5439055\".PN.","queryName":"\"5439055\".PN.","userEnteredQuery":"\"5439055\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"5439055\".PN.","error":null,"terms":["\"5439055\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":28,"highlightingTime":0,"cursorMarker":"AoJwgIXBi7wBNzIxOTI0NzkzIVVTLVVTLTA1NDM5MDU1","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-5439055-A","publicationReferenceDocumentNumber":"5439055","compositeId":"21924793!US-US-05439055","publicationReferenceDocumentNumber1":"05439055","datePublishedKwicHits":null,"datePublished":"1995-08-08T00:00:00Z","inventionTitle":"Control
      of particulate flowback in subterranean wells","type":"USPAT","mainClassificationCode":"166/280.2","applicantName":null,"assigneeName":["Dowell,
      a Division of Schlumberger Technology Corp."],"uspcFullClassificationFlattened":"166/292;166/295;166/283","ipcCodeFlattened":"E21B43/267;E21B43/26","cpcInventiveFlattened":"C09K8/70;C09K8/68;C09K8/665;E21B43/267;C09K8/80;E21B43/26","cpcAdditionalFlattened":"C09K2208/08","applicationFilingDate":["1994-03-08T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["1993-04-05T00:00:00Z"],"primaryExaminer":"Suchfield;
      George A.","assistantExaminer":null,"applicationNumber":"08/207976","frontPageStart":1,"frontPageEnd":8,"drawingsStart":0,"drawingsEnd":0,"specificationStart":2,"specificationEnd":9,"claimsStart":9,"claimsEnd":11,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":11,"pageCountDisplay":"11","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/05/439/055","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Card;
      Roger J. et al.","familyIdentifierCur":21924793,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      5439055 A","derwentAccessionNumber":null,"documentSize":75006,"score":13.588966,"governmentInterest":null,"kindCode":["A"],"urpn":["2952318","3593798","3891565","4109721","4623021","4665988","5222558","5330005"],"urpnCode":["2952318","3593798","3891565","4109721","4623021","4665988","5222558","5330005"],"descriptionStart":2,"descriptionEnd":9,"publicationReferenceDocumentNumberOne":"05439055"}],"qtime":14}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-5439055-A/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{"guid":"US-5439055-A","publicationReferenceDocumentNumber":"5439055","compositeId":"21924793!US-US-05439055","publicationReferenceDocumentNumber1":"05439055","datePublishedKwicHits":null,"datePublished":"1995-08-08T00:00:00Z","inventionTi[...]
