interactions:
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiI0NmUwMmM2Ni1lMGI2LTRhMDgtOGE0Ni1hMGM0NTMzZTVjZjgiLCJ2ZXIiOiJmODdmMmYyMi1mODM0LTRiY2EtYmMyNS0xMzAzMzhkZGE5MDAiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/pubwebapp/
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n
      \   <meta http-equiv=\"Pragma\" content=\"no-cache\">\n    <meta http-equiv=\"Expires\"
      content=\"-1\">\n    <meta http-equiv=\"Cache-Control\" content=\"no-store,
      no-cache, max-age=0\">\n    <title>Patent Public Search | USPTO</title>\n    <link
      rel=\"icon\" type=\"image/png\" href=\"images/favicon_new.png\">\n    <!-- DO
      NOT REMOVE ANY OF COMMENT BELOW (USED BY USMIN) -->\n    <!-- build:css(.tmp)
      styles/main.css -->\n    <link rel=\"stylesheet\" href=\"styles/main.css\">\n
      \   <!-- endbuild -->\n    <script src=\"common/environment.js\"></script>\n</head>\n<body>\n<h1
      class=\"sr-only\">Patent Public Search | USPTO <span class=\"ext-window\"> -
      extended window</span></h1>\n<div class=\"layout\">\n    <div class=\"zone ui-layout-north\"
      data-zone=\"north\"></div>\n    <div class=\"zone ui-layout-west\" data-zone=\"west\"></div>\n
      \   <div class=\"zone ui-layout-center\" data-zone=\"center\"></div>\n    <div
      class=\"zone ui-layout-east\" data-zone=\"east\"></div>\n    <div class=\"zone
      ui-layout-south\" data-zone=\"south\"></div>\n</div>\n\n<!-- build:js({web,.tmp})
      main.js -->\n<!-- Google Analytics script -->\n<script type='text/javascript'
      src=\"common/analytics/googleAnalytics.js\"></script>\n\n<!--BEGIN QUALTRICS
      WEBSITE FEEDBACK SNIPPET-->\n<script type='text/javascript' src=\"common/analytics/qualtricsAnalytics.js\"></script>\n\n<script
      src=\"vendor/require/require.js\"></script>\n<script src=\"main.js\"></script>\n<!--
      endbuild -->\n</body>\n</html>"
    headers:
      content-type:
      - text/html
      etag:
      - '"5b0-61069d5fcf800"'
      last-modified:
      - Fri, 02 Feb 2024 17:56:48 GMT
    status_code: 200
- request:
    body: '-1'
    headers:
      content-type:
      - application/json
      x-access-token:
      - 'null'
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/users/me/session
  response:
    content: '{"userSessionId":25825345,"ipAddress":null,"userCase":{"caseId":25825514,"userId":25825345,"caseName":"Untitled
      Case","applicationNumber":null},"userPreferences":{},"versions":[{"product":"API","releaseNumber":"3.0.0.15","date":"03.02.2024
      @ 08:07:10 UTC","commitId":"3ff94059","collectionName":""},{"product":"SOLR","releaseNumber":"7.6.0","date":"","commitId":"","collectionName":"us_patent_grant"}],"documentsLimitInQuery":1000,"sessionTimeOutTime":1800,"role":"ANONYMOUS_USER","sessionIdentifer":"4cee7883-e616-42a6-8f40-f51924089703"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI0Y2VlNzg4My1lNjE2LTQyYTYtOGY0MC1mNTE5MjQwODk3MDMiLCJ2ZXIiOiI5MTFhMzlmOC1hNGE1LTQ5ZTItYTdmYy03NjJjZTZkZmMwMDQiLCJleHAiOjB9
    status_code: 200
- request:
    body: '{"caseId": 25825514, "hl_snippets": "2", "op": "OR", "q": "\"6103599\".PN.",
      "queryName": "\"6103599\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}, {"databaseName": "USPAT",
      "countryCodes": []}, {"databaseName": "USOCR", "countryCodes": []}], "searchType":
      1, "ignorePersist": true, "userEnteredQuery": "\"6103599\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI0Y2VlNzg4My1lNjE2LTQyYTYtOGY0MC1mNTE5MjQwODk3MDMiLCJ2ZXIiOiI5MTFhMzlmOC1hNGE1LTQ5ZTItYTdmYy03NjJjZTZkZmMwMDQiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":25825514,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]},{"databaseName":"USPAT","countryCodes":[]},{"databaseName":"USOCR","countryCodes":[]}],"q":"\"6103599\".PN.","queryName":"\"6103599\".PN.","userEnteredQuery":"\"6103599\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"6103599\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["pn"],"aliasCategory":"DOC_IDENTIFIER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"6103599\".PN.","error":null,"terms":["\"6103599\""],"facets":[{"solrField":"document_type","count":1,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '59'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 25825514, "hl_snippets": "2", "op": "OR", "q": "\"6103599\".PN.",
      "queryName": "\"6103599\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}, {"databaseName": "USPAT",
      "countryCodes": []}, {"databaseName": "USOCR", "countryCodes": []}], "searchType":
      1, "ignorePersist": true, "userEnteredQuery": "\"6103599\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI0Y2VlNzg4My1lNjE2LTQyYTYtOGY0MC1mNTE5MjQwODk3MDMiLCJ2ZXIiOiI5MTFhMzlmOC1hNGE1LTQ5ZTItYTdmYy03NjJjZTZkZmMwMDQiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":25825514,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]},{"databaseName":"USPAT","countryCodes":[]},{"databaseName":"USOCR","countryCodes":[]}],"q":"\"6103599\".PN.","queryName":"\"6103599\".PN.","userEnteredQuery":"\"6103599\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"6103599\".PN.","error":null,"terms":["\"6103599\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":22,"highlightingTime":0,"cursorMarker":"AoJwgOj0/eABNzI2NzMyMjIzIVVTLVVTLTA2MTAzNTk5","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-6103599-A","publicationReferenceDocumentNumber":"6103599","compositeId":"26732223!US-US-06103599","publicationReferenceDocumentNumber1":"06103599","datePublishedKwicHits":null,"datePublished":"2000-08-15T00:00:00Z","inventionTitle":"Planarizing
      technique for multilayered substrates","type":"USPAT","mainClassificationCode":"438/459","applicantName":null,"assigneeName":["Silicon
      Genesis Corporation"],"uspcFullClassificationFlattened":"438/770;438/977;438/694;257/E21.568;438/458;257/E21.219","ipcCodeFlattened":"H01L21/70","cpcInventiveFlattened":"H01L21/30604;H01L21/76254","cpcAdditionalFlattened":"Y10S438/977","applicationFilingDate":["1998-06-03T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Mulpuri;
      Savitri","assistantExaminer":null,"applicationNumber":"09/089931","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":6,"specificationStart":7,"specificationEnd":10,"claimsStart":10,"claimsEnd":11,"abstractStart":1,"abstractEnd":2,"bibStart":1,"bibEnd":2,"certCorrectionStart":12,"certCorrectionEnd":12,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":12,"pageCountDisplay":"12","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/06/103/599","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Henley;
      Francois J. et al.","familyIdentifierCur":26732223,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      6103599 A","derwentAccessionNumber":null,"documentSize":55787,"score":13.667167,"governmentInterest":null,"kindCode":["A"],"urpn":["4006340","4566403","4846928","4847792","4853250","4887005","4948458","4952273","4960073","4996077","5010579","5013563","5015353","5133826","5202095","5203960","5234529","5250328","5252178","5273610","5342472","5368710","5370765","5374564","5404079","5405480","5411592","5435880","5487785","5504328","5593622","5822987","5920764"],"urpnCode":["4006340","4566403","4846928","4847792","4853250","4887005","4948458","4952273","4960073","4996077","5010579","5013563","5015353","5133826","5202095","5203960","5234529","5250328","5252178","5273610","5342472","5368710","5370765","5374564","5404079","5405480","5411592","5435880","5487785","5504328","5593622","5822987","5920764"],"descriptionStart":7,"descriptionEnd":10,"publicationReferenceDocumentNumberOne":"06103599"}],"qtime":11}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '58'
    status_code: 200
[...]
