interactions:
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 24144949, "hl_snippets": "2", "op": "OR", "q": "\"11555621\".PN.",
      "queryName": "\"11555621\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"11555621\".PN."}}'
    headers:
      content-type:
      - application/json
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":24144949,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"11555621\".PN.","queryName":"\"11555621\".PN.","userEnteredQuery":"\"11555621\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"11555621\".PN.","error":null,"terms":["\"11555621\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":30,"highlightingTime":0,"cursorMarker":"AoJwgNHB3oUDNzg0OTIyNzgwIVVTLVVTLTExNTU1NjIx","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-11555621-B1","publicationReferenceDocumentNumber":"11555621","compositeId":"84922780!US-US-11555621","publicationReferenceDocumentNumber1":"11555621","datePublishedKwicHits":null,"datePublished":"2023-01-17T00:00:00Z","inventionTitle":"Adapter
      for modular catalytic monoliths","type":"USPAT","mainClassificationCode":"1/1","applicantName":["The
      United States of America, as represented by the Secretary of the Navy"],"assigneeName":["The
      United States of America, as represented by the Secretary of the Navy"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"F24F13/28;F01N3/10","cpcInventiveFlattened":"B63G8/36;B01D53/86;F01N3/10;B63J2/04;F24F8/167","cpcAdditionalFlattened":"B01D2255/30;B01D2255/92;B01D2255/1025;B01D2255/20715;B01D2257/108;B01D2259/4566;B01D2257/404;B01D2255/1023;B01D2255/106;B01D2255/1026;B01D2257/502;F24F13/28;B01D2258/06;B01D2255/1021","applicationFilingDate":["2020-03-30T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2020-02-27T00:00:00Z","2019-04-05T00:00:00Z"],"primaryExaminer":"Duong;
      Tom P","assistantExaminer":null,"applicationNumber":"16/834313","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":9,"specificationStart":10,"specificationEnd":16,"claimsStart":16,"claimsEnd":16,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":16,"pageCountDisplay":"16","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/G21/556/115","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Gulian;
      Franklin J. et al.","familyIdentifierCur":84922780,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      11555621 B1","derwentAccessionNumber":null,"documentSize":69788,"score":14.085245,"governmentInterest":["STATEMENT
      OF GOVERNMENT INTEREST\n(1) The invention described herein may be manufactured
      and used by or for the Government of the United States of America for governmental
      purposes without payment of any royalties thereon or therefor."],"kindCode":["B1"],"urpn":["4916001","8066950","20050042151","20060080967","20170159529"],"urpnCode":["4916001","8066950","20050042151","20060080967","20170159529"],"descriptionStart":10,"descriptionEnd":16,"publicationReferenceDocumentNumberOne":"11555621"}],"qtime":15}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-11555621-B1/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: "{\"guid\":\"US-11555621-B1\",\"publicationReferenceDocumentNumber\":\"11555621\",\"compositeId\":\"84922780!US-US-11555621\",\"publicationReferenceDocumentNumber1\":\"11555621\",\"datePublishedKwicHits\":null,\"datePublished\":\"2023-01-[...]
