interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=OwnerName&query=test_query&rows=5&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">2</int>\n  <lst name=\"params\">\n    <str name=\"q\">patAssigneeName:(test_query)</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"rows\">5</str>\n
      \   <str name=\"wt\">javabin</str>\n    <str name=\"version\">2</str>\n  </lst>\n</lst>\n<result
      name=\"response\" numFound=\"0\" start=\"0\">\n</result>\n<lst name=\"facet_counts\">\n
      \ <lst name=\"facet_queries\">\n    <int name=\"conveyanceText:&quot;AS[...]
