interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=6103599.PN.&OS=PN/6103599&RS=PN/6103599
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE target=\"_top\">\n<TITLE>United States Patent:
        6103599</TITLE></HEAD>\n<!-BUF1=6103599\nBUF7=2000\nBUF8=42107\nBUF9=/1/\nBUF51=6\n-->\n<BODY
        bgcolor=\"#FFFFFF\">\n<A name=\"top\"></A>\n<CENTER>\n<IMG src=\"/netaicon/PTO/patfthdr.gif\"
        alt=\"[US Patent & Trademark Office, Patent Full Text and Image Database]\">\n<BR>\n<TABLE>\n<TR><TD
        align=\"center\">\n<A href=\"/netahtml/PTO/index.html\"><IMG src=\"/netaicon/PTO/home.gif\"
        alt=\"[Home]\" border=\"0\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/search-bool.html\"><IMG
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/search-adv.htm\"><IMG border=\"0\" src=\"/netaicon/PTO/manual.gif\"
        ALT=\"[Manual Search]\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/srchnum.htm\"><IMG
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/help/help.htm\"><IMG border=\"0\" valign=\"middle\" src=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</TD></TR>\n<TR><TD align=\"center\">\n<A href=\"#bottom\"><IMG
        src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" valign=\"middle\" border=\"0\"></A>\n</TD></TR>\n
        \  <TR><TD align=\"center\">\n   <A href=\"https://certifiedcopycenter.uspto.gov/other/patft/view.html?backUrl1=http%3A//patft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPALL%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%26r%3D1%26f%3DG%26l%3D50%26s1%3D6103599.PN.%26OS%3DPN%2F6103599&backLabel1=Back%20to%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2FPTO%2Fsearch-adv.htm&r=0&p=1&f=S&l=50&Query=REF%2F6103599&d=PTXT
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE TARGET=\"_top\">\n<TITLE>Patent Database Search
        Results: REF/6103599 in US Patent Collection</TITLE>\n<script language=\"javascript\">\nvar
        clicked = false;\n// Shamelessly adapted from http://www.randomsnippets.com/2008/02/21/how-to-dynamically-add-form-elements-via-javascript/
        09-04-14. jh\nfunction addInput(divName,btnName,btnLabel) {\n   var newdiv
        = document.createElement('div');\n   newdiv.innerHTML = \"<input type='hidden'
        name='\" + btnName +\n\t\t\t\"' value='\" + btnLabel + \"'>\";\n   divName.appendChild(newdiv);\n}\n//
        -- 09-04-14.\nfunction check(form1,formBtn) {\n   // if submitted by <enter>
        key, add a submit button lookalike to prevent\n   // 1003 errs from BRS. 9-4-14
        jh\n   if (!clicked)\n      addInput (form1,formBtn.name,formBtn.value);\n
        \  return true;\n}\nfunction unesc(){\n   srchForm.Srch1.value = unescape(srchForm.Srch1.value);\n
        \  if (srchForm.Srch2)\n      srchForm.Srch2.value = unescape(srchForm.Srch2.value);\n}\nfunction
        unesc2(){\n   srchForm2.Srch1.value = unescape(srchForm2.Srch1.value);\n   if
        (srchForm2.Srch2)\n      srchForm2.Srch2.value = unescape(srchForm2.Srch2.value);\n}\nfunction
        decod(){\n   document.title = decodeURIComponent(document.title);\n   refine.Query.value
        = decodeURIComponent(refine.Query.value);\n   var x = document.getElementById(\"srchtext\").childNodes[0];\n
        \  x.data = decodeURIComponent(x.data);\n}\n</script>\n</HEAD>\n<BODY BGCOLOR=\"#FFFFFF\"
        onload=\"decod()\">\n<center>\n<IMG SRC=\"/netaicon/PTO/patfthdr.gif\" alt=\"[US
        Patent & Trademark Office, Patent Full Text and Image Database]\">\n<br>\n<a
        name=\"top\">\n<table>\n<tr><td>\n<a href=\"/netahtml/PTO/index.html\"><img
        src=\"/netaicon/PTO/home.gif\" alt=\"[Home]\" border=\"0\"></a>\n<a href=\"/netahtml/PTO/search-bool.html\"><img
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\"></a>\n<A
        HREF=\"/netahtml/PTO/search-adv.htm\"><img src=\"/netaicon/PTO/manual.gif\"
        alt=\"[Manual Search]\" border=\"0\"></A>\n<a href=\"/netahtml/PTO/srchnum.htm\"><img
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\"></a>\n<A
        HREF=\"/netahtml/PTO/help/help.htm\"><IMG BORDER=\"0\"SRC=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</td></tr>\n</table>\n<A HREF=/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2FPTO%2Fsearch-adv.htm&r=0&p=2&f=S&l=50&d=PTXT&S1=6103599.UREF.&Page=Next&OS=REF/6103599&RS=REF/6103599><IMG
        ALIGN=MIDDLE SRC=/netaicon/PTO/nextlist.gif border=0 ALT=[NEXT_LIST]></A>\n<a
        href=\"#bottom\"><img src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" align=middle
        border=\"0\"></a>\n<A HREF=\"https://certifiedcopycenter.uspto.gov/other/patft/view.html?backUrl1=http%3A//patft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO2%26Sect2%3DHITOFF%26u%3D%252Fnetahtml%252FPTO%252Fsearch-adv.htm%26r%3D0%26p%3D1%26f%3DS%26l%3D50%26Query%3DREF%252F6103599%26d%3DPTXT&backLabel1=Back%20to%20Document%3A%20REF/6103599\"><img
        src=\"/netaicon/PTO/cart.gif\" align=middle border=0 alt=\"[View Shopping
        Cart]\"></A>\n</center>\n<p>\n<i>Searching US Patent Collection...</i><BR></p>\n<B>Results
        of Search in US Patent Collection db for:<BR> <span id=\"srchtext\">REF/6103599</span></B>:
        135 patents.\n<BR><I>Hits <strong>1</strong> through <strong>50\n</strong>
        out of <strong>135</strong>\n</I><p>\n\n<BR>\n<form name=\"srchForm\" action=\"/netacgi/nph-Parser\"
        method=\"GET\" onsubmit=\"unesc()\">\n    <INPUT TYPE=\"HIDDEN\" NAME=\"Sect1\"
        VALUE=\"PTO2\">\n    <INPUT TYPE=\"HIDDEN\" NAME=\"Sect2\" VALUE=\"HITOFF\">\n
        \   <INPUT TYPE=\"HIDDEN\" NAME=\"u\" VALUE=\"/netahtml/PTO/search-adv.htm\">\n
        \   <INPUT TYPE=\"HIDDEN\" NAME=\"r\" VALUE=\"0\">\n    <INPUT TYPE=\"HIDDEN\"
        NAME=\"f\" VALUE=\"S\">\n    <INPUT TYPE=\"HIDDEN\" NAME=\"l\" VALUE=\"50\">\n
        \   <INPUT TYPE=\"HIDDEN\" NAME=\"d\" VALUE=\"PTXT\">\n    <INPUT TYPE=\"HIDDEN\"
        NAME=\"OS\" VALUE=\"RE[...]
