interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=9945180.PN.&OS=PN/9945180&RS=PN/9945180
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE target=\"_top\">\n<TITLE>United States Patent:
        9945180</TITLE></HEAD>\n<!-BUF1=9945180\nBUF7=2018\nBUF8=93928\nBUF9=/1/\nBUF51=9\n-->\n<BODY
        bgcolor=\"#FFFFFF\">\n<A name=\"top\"></A>\n<CENTER>\n<IMG src=\"/netaicon/PTO/patfthdr.gif\"
        alt=\"[US Patent & Trademark Office, Patent Full Text and Image Database]\">\n<BR>\n<TABLE>\n<TR><TD
        align=\"center\">\n<A href=\"/netahtml/PTO/index.html\"><IMG src=\"/netaicon/PTO/home.gif\"
        alt=\"[Home]\" border=\"0\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/search-bool.html\"><IMG
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/search-adv.htm\"><IMG border=\"0\" src=\"/netaicon/PTO/manual.gif\"
        ALT=\"[Manual Search]\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/srchnum.htm\"><IMG
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/help/help.htm\"><IMG border=\"0\" valign=\"middle\" src=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</TD></TR>\n<TR><TD align=\"center\">\n<A href=\"#bottom\"><IMG
        src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" valign=\"middle\" border=\"0\"></A>\n</TD></TR>\n
        \  <TR><TD align=\"center\">\n   <A href=\"https://certifiedcopycenter.uspto.gov/other/patft/view.html?backUrl1=http%3A//patft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPALL%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%26r%3D1%26f%3DG%26l%3D50%26s1%3D9945180.PN.%26OS%3DPN%2F9945180&backLabel1=Back%20to%[...]
