interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
        = Google</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"82706022\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11409812</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"64050784\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11409412</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \      [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/US11409812B1/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
        family-id=\"82706022\" country=\"US\" doc-number=\"11409812\" kind=\"B1\">\n
        \           <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>US</country>\n
        \                       <doc-number>11409812</doc-number>\n                        <kind>B1</kind>\n
        \                       <date>20220809</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>US11409812</doc-number>\n
        \                       <date>20220809</date>\n                    </document-id>\n
        \               </publication-reference>\n                <classifications-ipcr>\n
        \                   <classification-ipcr sequence=\"1\">\n                        <text>G06F
        \ 16/    51            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"2\">\n                        <text>G06F
        \ 16/   903            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"3\">\n                        <text>G06F
        \ 16/    93            A I                    </text>\n              [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    body:
      string: "<error><code>403</code><message>This request has been rejected due
        to the violation of Fair Use policy</message><moreInfo>https://www.epo.org/service-support/ordering/fair-use.html</moreInfo>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Rejection-Reason:
      - AnonymousQuotaPerDay
    status:
      code: 403
      message: Forbidden
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n
        \ \"token_type\": \"BearerToken\",\n  \"issued_at\": \"1674072148695\",\n
        \ \"client_id\": \"XRSKXZUZjTWDfOHvig79oYUn4IqMf2bt\",\n  \"access_token\":
        \"XxrgJApQJ8Ec81AeNsBmJewTSNF8\",\n  \"application_name\": \"a2dd7045-d0a4-4046-be5f-4be39eb8a7ec\",\n
        \ \"scope\": \"core\",\n  \"expires_in\": \"1199\",\n  \"refresh_count\":
        \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
    status:
      code: 200
      message: OK
version: 1
