interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
        = Google</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"82706022\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11409812</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"64050784\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11409412</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \      [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/US11409812B1/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
        family-id=\"82706022\" country=\"US\" doc-number=\"11409812\" kind=\"B1\">\n
        \           <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>US</country>\n
        \                       <doc-number>11409812</doc-number>\n                        <kind>B1</kind>\n
        \                       <date>20220809</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>US11409812</doc-number>\n
        \                       <date>20220809</date>\n                    </document-id>\n
        \               </publication-reference>\n                <classifications-ipcr>\n
        \                   <classification-ipcr sequence=\"1\">\n                        <text>G06F
        \ 16/    51            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"2\">\n                        <text>G06F
        \ 16/   903            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"3\">\n                        <text>G06F
        \ 16/    93            A I                    </text>\n              [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/11409812/biblio
  response:
    body:
      string: "<error><code>403</code><message>This request has been rejected due
        to the violation of Fair Use policy</message><moreInfo>https://www.epo.org/service-support/ordering/fair-use.html</moreInfo>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Rejection-Reason:
      - AnonymousQuotaPerDay
    status:
      code: 403
      message: Forbidden
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n
        \ \"token_type\": \"BearerToken\",\n  \"issued_at\": \"1673552859765\",\n
        \ \"client_id\": \"XRSKXZUZjTWDfOHvig79oYUn4IqMf2bt\",\n  \"access_token\":
        \"iIx7MxlFNvxj9NVagZrtkteHwAm7\",\n  \"application_name\": \"a2dd7045-d0a4-4046-be5f-4be39eb8a7ec\",\n
        \ \"scope\": \"core\",\n  \"expires_in\": \"1199\",\n  \"refresh_count\":
        \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/family/publication/docdb/US11409812B1
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/family.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:patent-family legal=\"false\" total-result-count=\"13\">\n        <ops:publication-reference>\n
        \           <document-id document-id-type=\"docdb\">\n                <country>US</country>\n
        \               <doc-number>11409812</doc-number>\n                <kind>B1</kind>\n
        \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
        family-id=\"82706022\">\n            <publication-reference>\n                <document-id
        document-id-typ[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/US11409812B1/images
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/pub-inquiry.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:document-inquiry>\n        <ops:publication-reference>\n            <document-id
        document-id-type=\"docdb\">\n                <country>US</country>\n                <doc-number>11409812</doc-number>\n
        \               <kind>B1</kind>\n            </document-id>\n        </ops:publication-reference>\n
        \       <ops:inquiry-result>\n            <publication-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>US</country>\n                    <doc-number>11409812</doc-number>\n
        \                   <kind>B1</kind>\n                </document-id>\n            </publication-reference>\n
        \           <ops:document-instance system=\"ops.epo.org\" number-of-pages=\"14\"
        desc=\"Drawing\" link=\"published-data/images/US/11409812/B1/thumbnail\">\n
        \               <ops:document-format-options>\n                    <ops:document-format>application/pdf</ops:document-format>\n
        \                   <ops:document-format>application/tiff</ops:document-format>\n
        \               </ops:document-format-options>\n                <ops:document-section
        name=\"DRAWINGS\" start-page=\"1\"/>\n            </ops:document-instance>\n
        \           <ops:document-instance system=\"ops.epo.org\" number-of-pages=\"32\"
        desc=\"FullDocument\" link=\"published-data/images/US/11409812/B1/fullimage\">\n
        \               <ops:document-format-options>\n                    <ops:document-format>application/pdf</ops:document-format>\n
        \                   <ops:document-format>application/tiff</ops:document-format>\n
        \               </ops:document-format-options>\n                <ops:document-section
        name=\"ABSTRACT\" start-page=\"1\"/>\n                <ops:document-section
        name=\"BIBLIOGRAPHY\" start-page=\"1\"/>\n                <ops:document-section
        name=\"CLAIMS\" start-page=\"30\"/>\n                <ops:document-section
        name=\"DESCRIPTION\" start-page=\"19\"/>\n                <ops:document-section
        name=\"DRAWINGS\" start-page=\"5\"/>\n            </ops:document-instance>\n
        \       </ops:inquiry-result>\n    </ops:document-inquiry>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0e9e9bf2f274b28ee58b5a6fbfc41c16b"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Elapsed-Time:
      - '47'
      X-IndividualQuotaPerHour-Used:
      - '32814'
      X-RegisteredQuotaPerWeek-Used:
      - '32509'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/legal/publication/docdb/US11409812B1
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/legal.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:pa[...]
[...]
