interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?q=applicant%3D%22Google%22%2C&Range=1-2
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
        = Google</ops:query>\n        <ops:range begin=\"1\" end=\"2\"/>\n        <ops:search-result>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"63208906\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11403667</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"62386969\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>2022244910</doc-number>\n                    <kind>A1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \       </ops:search-result>\n    </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"06d7e0447b1e585489a93e8c9d814e52b"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 170.55.186.235
      X-EPO-Forwarded:
      - '[170.55.186.235]'
      X-Elapsed-Time:
      - '10'
      X-IndividualQuotaPerHour-Used:
      - '314396'
      X-RegisteredQuotaPerWeek-Used:
      - '1027700'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/US11403667B1/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
        family-id=\"63208906\" country=\"US\" doc-number=\"11403667\" kind=\"B1\">\n
        \           <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>US</country>\n
        \                       <doc-number>11403667</doc-number>\n                        <kind>B1</kind>\n
        \                       <date>20220802</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>US11403667</doc-number>\n
        \                       <date>20220802</date>\n                    </document-id>\n
        \               </publication-reference>\n                <classifications-ipcr>\n
        \                   <classification-ipcr sequence=\"1\">\n                        <text>G06Q
        \ 30/    02            A I                    </text>\n                    </classification-ipcr>\n
        \               </classifications-ipcr>\n                <patent-classifications>\n
        \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
        office=\"EP\" scheme=\"CPCI\"/>\n                        <section>G</section>\n
        \                       <class>06</class>\n                        <subclass>Q</subclass>\n
        \                       <main-group>30</main-group>\n                        <subgroup>0251</subgroup>\n
        \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
        \                   </patent-classification>\n                    <patent-classification
        sequence=\"2\">\n                        <classification-scheme office=\"EP\"
        scheme=\"CPCI\"/>\n                        <section>G</section>\n                        <class>06</class>\n
        \                       <subclass>Q</subclass>\n                        <main-group>30</main-group>\n
        \                       <subgroup>0251</subgroup>\n                        <classification-value>I</classification-value>\n
        \                       <generating-office>EP</generating-office>\n                    </patent-classification>\n
        \               </patent-classifications>\n                <application-reference
        doc-id=\"577233976\">\n                    <document-id document-id-type=\"docdb\">\n
        \                       <country>US</country>\n                        <doc-number>202016854580</doc-number>\n
        \                       <kind>A</kind>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>US202016854580</doc-number>\n
        \                       <date>20200421</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"original\">\n                        <doc-number>16854580</doc-number>\n
        \                   </document-id>\n                </application-reference>\n
        \               <priority-claims>\n                    <priority-claim sequence=\"1\"
        kind=\"national\">\n                        <document-id document-id-type=\"epodoc\">\n
        \                           <doc-number>US201313826615</doc-number>\n                            <date>20130314</date>\n
        \                       </document-id>\n                        <document-id
        document-id-type=\"original\">\n                            <doc-number>13826615</doc-number>\n
        \                       </document-id>\n                    </p[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?q=applicant%3D%22Google%22%2C&Range=1-100
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token has expired</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.access_token_expired:
        Access Token expired"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n
        \ \"token_type\": \"BearerToken\",\n  \"issued_at\": \"1660591332005\",\n
        \ \"client_id\": \"XRSKXZUZjTWDfOHvig79oYUn4IqMf2bt\",\n  \"access_token\":
        \"t2JJX2jG7DseeKjGxVzyK5my1Pqa\",\n  \"application_name\": \"a2dd7045-d0a4-4046-be5f-4be39eb8a7ec\",\n
        \ \"scope\": \"core\",\n  \"expires_in\": \"1199\",\n  \"refresh_count\":
        \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 104.54.160.230
      X-EPO-Forwarded:
      - '[104.54.160.230]'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xli[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/11409812/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<fault
        xmlns=\"http://ops.epo.org\">\n    <code>CLIENT.WrongReferenceFormatting</code>\n
        \   <message>At least one reference in the request has a wrong value for data-format:
        A docdb reference requires at least a country and a number.</message>\n</fault>\n"
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=UTF-8
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 104.54.160.230
      X-EPO-Forwarded:
      - '[104.54.160.230]'
      X-IndividualQuotaPerHour-Used:
      - '251605'
      X-RegisteredQuotaPerWeek-Used:
      - '476936'
      X-Throttling-Control:
      - busy (images=green:100, inpadoc=green:45, other=green:1000, retrieval=green:100,
        search=green:15)
    status:
      code: 404
      message: Not Found
[...]
