interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
        = Google</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"48999846\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11798034</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"65633229\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>11798009</doc-number>\n                    <kind>B1</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \      [...]
[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
      \           <ops:[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/US11798034B1/biblio
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
        family-id=\"48999846\" country=\"US\" doc-number=\"11798034\" kind=\"B1\">\n
        \           <bibliographic-data>\n                <publication-reference>\n
        \                   <document-id document-id-type=\"docdb\">\n                        <country>US</country>\n
        \                       <doc-number>11798034</doc-number>\n                        <kind>B1</kind>\n
        \                       <date>20231024</date>\n                    </document-id>\n
        \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>US11798034</doc-number>\n
        \                       <date>20231024</date>\n                    </document-id>\n
        \               </publication-reference>\n                <classifications-ipcr>\n
        \                   <classification-ipcr sequence=\"1\">\n                        <text>G06Q
        \ 30/    02            A I                    </text>\n                    </classification-ipcr>\n
        \                   <classification-ipcr sequence=\"2\">\n                        <text>G06Q
        \ 30/  0251            A I                    </text>\n                    </classification-ipcr>\n
        \               </classifications-ipcr>\n                <patent-classifications>\n
        \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
        office=\"EP\" scheme=\"CPCI\"/>\n                        <section>G</section>\n
        \                       <class>06</class>\n                        <subclass>Q</subclass>\n
        \                       <main-group>30</main-group>\n                        <subgroup>02</subgroup>\n
        \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
        \                   </patent-classification>\n                    <patent-classification
        sequence=\"2\">\n                        <classification-scheme office=\"EP\"
        scheme=\"CPCI\"/>\n                        <section>G</section>\n                        <class>06</class>\n
        \                       <subclass>Q</subclass>\n                        <main-group>30</main-group>\n
        \                       <subgroup>02</subgroup>\n                        <classification-value>I</classification-value>\n
        \                       <generating-office>EP</generating-office>\n                    </patent-classification>\n
       [...]
