interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/EP3082535A1/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"52434945\" country=\"EP\" doc-number=\"3082535\" kind=\"A1\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>EP</country>\n
      \                       <doc-number>3082535</doc-number>\n                        <kind>A1</kind>\n
      \                       <date>20161026</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>EP3082535</doc-number>\n
      \                       <date>20161026</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classifications-ipcr>\n
      \                   <classification-ipcr sequence=\"1\">\n                        <text>A47K
      \  5/    12            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"2\">\n                        <text>A47K
      \  5/   122            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"3\">\n                        <text>B05B
      \  9/    00            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"4\">\n                        <text>B05B
      \  9/    08            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"5\">\n                        <text>B05B
      \ 12/    12            A I                    </text>\n                    </classification-ipcr>\n
      \               </classifications-ipcr>\n                <patent-classifications>\n
      \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>A</section>\n
      \                       <class>47</class>\n                        <subclass>K</subclass>\n
      \                       <main-group>5</main-group>\n                        <subgroup>1211</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>KR</generating-office>\n
      \                   </patent-classification>\n                    <patent-classification
      sequence=\"2\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>A</section>\n                        <class>47</class>\n
      \                       <subclass>K</subclass>\n                        <main-group>5</main-group>\n
      \                       <subgroup>1211</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>US</generating-office>\n                    </patent-classification>\n
      \       [...]
