interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14018930)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed May 01 00:57:07 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":357},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"applId":"14018930","applicants":[{"nameLineOne":"LogicBlox,
      Inc.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Atlanta,
      ","geoCode":"GA","country":"()","rankNo":"0"}],"applicantsFacet":"{||LogicBlox,
      Inc.||||Atlanta|GA||ORG|0}","appFilingDate":"2013-09-05T00:00:00Z","appExamName":"HOFFLER,
      RAHEEM","appExamNameFacet":"HOFFLER, RAHEEM","publicInd":"Y","APP_IND":"1","inventorName":"Todd
      L. Veldhuizen","inventorNameFacet":"Todd L. Veldhuizen","appEarlyPubDate":"2014-03-27T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20140089292A1","id":"14018930","appGrpArtNumber":"2155","appGrpArtNumberFacet":"2155","applIdStr":"14018930","appl_id_txt":"14018930","appSubCls":"714000","patentNumber":"9177026","LAST_MOD_TS":"2024-04-30T22:43:31Z","transactions":[{"recordDate":"2023-04-19
      00:00:00","code":"M1552","description":"Payment of Maintenance Fee, 8th Year,
      Large Entity"},{"recordDate":"2019-06-26 00:00:00","code":"EML_NTR","description":"Email
      Notification"},{"recordDate":"2019-06-26 00:00:00","code":"PA..","description":"Change
      in Power of Attorney (May Include Associate POA)"},{"recordDate":"2019-06-25
      00:00:00","code":"C.AD","description":"Correspondence Address Change"},{"recordDate":"2019-04-03
      00:00:00","code":"M1551","description":"Payment of Maintenance Fee, 4th Year,
   [...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14018930)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Wed May 01 00:56:44 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":350},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"applId":"14018930","applicants":[{"nameLineOne":"LogicBlox,
      Inc.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","ci[...]
