interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14095073)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Thu May 02 10:20:08 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":735},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"applId":"14095073","applicants":[{"nameLineOne":"HUNT
      ADVANCED DRILLING TECHNOLOGIES, L.L.C.","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Dallas,
      ","geoCode":"TX","country":"()","rankNo":"0"}],"applicantsFacet":"{||HUNT ADVANCED
      DRILLING TECHNOLOGIES, L.L.C.||||Dallas|TX||ORG|0}","appFilingDate":"2013-12-03T00:00:00Z","appExamName":"MICHENER,
      BLAKE E","appExamNameFacet":"MICHENER, BLAKE E","publicInd":"Y","APP_IND":"1","inventorName":"TODD
      W. BENSON","inventorNameFacet":"TODD W. BENSON","appEarlyPubDate":"2014-05-15T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20140131102A1","id":"14095073","appGrpArtNumber":"3676","appGrpArtNumberFacet":"3676","applIdStr":"14095073","appl_id_txt":"14095073","appSubCls":"061000","patentNumber":"9347308","LAST_MOD_TS":"2024-04-30T22:21:24Z","transactions":[{"recordDate":"2023-11-08
      00:00:00","code":"M1552","description":"Payment of Maintenance Fee, 8th Year,
      Large Entity"},{"recordDate":"2020-10-01 00:00:00","code":"EML_NTR","description":"Email
      Notification"},{"recordDate":"2020-10-01 00:00:00","code":"PA..","description":"Change
      in Power of Attorney (May Include Associate POA)"},{"recordDate":"2020-09-29
      00:00:00","code":"C.AD","description":"Correspondence Address Change"},{"recordDate":"2019-11-08
      00:00:00","code":"M1551","description":"Payment of Maintenance Fee, 4th Year,
   [...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14095073)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Thu May 02 10:20:08 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":518},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"applId":"14095073","applicants":[{"nameLineOne":"HUNT
      ADVANCED DRILLING TECHNOLOGIES, L.L.C.","nameLineTwo":" ","suffix":"","stre[...]
