interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(14971450 OR 15332765 OR 13441334
      OR 15332709 OR 14542000)", "sort": "applId asc", "facet": "false", "mm": "0%",
      "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Thu May 02 10:20:08 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":515},"response":{"numFound":5,"start":0,"numFoundExact":true,"docs":[{"applId":"13441334","appFilingDate":"2012-04-06T00:00:00Z","appExamName":"HARCOURT,
      BRAD","appExamNameFacet":"HARCOURT, BRAD","publicInd":"Y","APP_IND":"1","inventorName":"Todd  Coli","inventorNameFacet":"Todd  Coli","appEarlyPubDate":"2012-10-11T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20120255734A1","id":"13441334","appGrpArtNumber":"3676","appGrpArtNumberFacet":"3676","applIdStr":"13441334","appl_id_txt":"13441334","appSubCls":"305100","patentNumber":"9366114","LAST_MOD_TS":"2024-04-30T22:21:24Z","transactions":[{"recordDate":"2023-11-29
      00:00:00","code":"M1552","description":"Payment of Maintenance Fee, 8th Year,
      Large Entity"},{"recordDate":"2019-12-02 00:00:00","code":"M1551","description":"Payment
      of Maintenance Fee, 4th Year, Large Entity"},{"recordDate":"2016-06-14 00:00:00","code":"PGM/","description":"Recordation
      of Patent Grant Mailed"},{"recordDate":"2016-05-26 00:00:00","code":"EML_NTR","description":"Email
      Notification"},{"recordDate":"2016-05-25 00:00:00","code":"WPIR","description":"Issue
      Notification Mailed"},{"recordDate"[...]
