interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(15145443)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Apr 22 13:07:18 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":334},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15145443","totalPtoDays":"0","assignments":[],"applicants":[{"nameLineOne":"US
      Well Services LLC","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Houston,
      ","geoCode":"TX","country":"(US)","rankNo":"1"}],"applicantsFacet":"{||US Well
      Services LLC||||Houston|TX|US|ORG|1}","appFilingDate":"2016-05-03T00:00:00Z","appExamName":"MACDONALD,
      STEVEN A","appExamNameFacet":"MACDONALD, STEVEN A","publicInd":"Y","APP_IND":"5","inventorName":"Robert  Kurtz","inventorNameFacet":"Robert  Kurtz","appEarlyPubDate":"2016-11-03T00:00:00Z","corrAddrGeoRegionCode":"TX","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160319650A1","id":"15145443","appGrpArtNumber":"3674","appGrpArtNumberFacet":"3674","applIdStr":"15145443","appl_id_txt":"15145443","appSubCls":"065100","patentNumber":"11959371","LAST_MOD_TS":"2024-04-21T14:20:46Z","transactions":[{"recordDate":"2024-04-16
      00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2024-04-16
      00:00:00","code":"MEPG_NTF","description":"Mail Patent eGrant Notification"},{"recordDate":"2024-04-16
      00:00:00","code":"EPG_NTF","description":"Patent eGrant Notification"},{"recordDate":"2024-04-16
      00:00:00","code":"EPG/","description":"Recordation of Patent eGrant"},{"recordDate":"2024-03-28
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2024-03-27
      00:00:00","code":"WPI[...]
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(15145443)", "sort": "applId asc",
      "facet": "false", "mm": "0%", "start": "0", "rows": 1}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Mon Apr 22 15:48:45 EDT 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":333},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"15145443","totalPtoDays":"0","assignments":[],"applicants":[{"nameLineOne":"US
   [...]
