interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - EKdTpjsEoAMEPpw=
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    body:
      string: '{"country":"US","internal":"false","corrAppNum":"16123456","id":"16123456","type":"application","list":[{"appNum":"2017187096","appDate":1506470400000,"pubList":[{"pubCountry":"JP","pubNum":"2019061579","pubDate":1555545600000,"kindCode":"A","pubDateStr":"04/18/2019"},{"pubCountry":"JP","pubNum":"6768620","pubDate":1602633600000,"kindCode":"B2","pubDateStr":"10/14/2020"}],"countryCode":"JP","docList":null,"kindCode":"A","priorityClaimList":[{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"09/27/2017","docListMsg":null,"docNum":{"country":"JP","docNumber":"2017187096","format":null,"date":"09/27/2017","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"16123456","appDate":1536192000000,"pubList":[{"pubCountry":"US","pubNum":"20190095759","pubDate":1553731200000,"kindCode":"A1","pubDateStr":"03/28/2019"},{"pubCountry":"US","pubNum":"10902286","pubDate":1611619200000,"kindCode":"B2","pubDateStr":"01/26/2021"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"09/06/2018","docListMsg":null,"docNum":{"country":"US","docNumber":"201816123456","format":null,"date":"09/06/2018","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"17130468","appDate":1608595200000,"pubList":[{"pubCountry":"US","pubNum":"20210110206","pubDate":1618444800000,"kindCode":"A1","pubDateStr":"04/15/2021"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"16123456","kindCode":"A"},{"country":"US","docNumber":"17130468","kindCode":"A"},{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"12/22/2020","docListMsg":null,"docNum":{"country":"US","docNumber":"202017130468","format":null,"date":"12/22/2020","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true}]}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - EKdTzi3PoAMEPtQ=
    status:
      code: 200
      message: OK
version: 1
