interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16740760
  response:
    content: ''
    headers:
      apigw-requestid:
      - Nn641hTcoAMEPrA=
    status_code: 204
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16740760
  response:
    content: '{"country":"US","internal":"true","corrAppNum":"16740760","id":"16740760","type":"application","list":[{"appNum":"17329039","appDate":1621814400000,"pubList":[{"pubCountry":"US","pubNum":"20210280004","pubDate":1631145600000,"kindCode":"A1","pubDateStr":"09/09/2021"},{"pubCountry":"US","pubNum":"11527129","pubDate":1670889600000,"kindCode":"B2","pubDateStr":"12/13/2022"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"17329039","kindCode":"A"},{"country":"US","docNumber":"16740760","kindCode":"A"},{"country":"US","docNumber":"15083993","kindCode":"A"},{"country":"US","docNumber":"11553130","kindCode":"A"}],"appDateStr":"05/24/2021","docListMsg":null,"docNum":{"country":"US","docNumber":"17329039","format":"original","date":"05/24/2021","kindCode":"A"},"title":"SYSTEM
      AND METHOD FOR WIRELESS GAMING WITH LOCATION DETERMINATION","applicantNames":["INTERACTIVE
      GAMES LLC"],"ip5":true},{"appNum":"11553130","appDate":1161820800000,"pubList":[{"pubCountry":"US","pubNum":"20080102956","pubDate":1209600000000,"kindCode":"A1","pubDateStr":"05/01/2008"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"11553130","kindCode":"A"}],"appDateStr":"10/26/2006","docListMsg":null,"docNum":{"country":"US","docNumber":"11553130","format":"original","date":"10/26/2006","kindCode":"A"},"title":"SYSTEM
      AND METHOD FOR WIRELESSS GAMING [...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/17193105
  response:
    content: ''
    headers:
      apigw-requestid:
      - Nn65fjYkoAMEPkw=
    status_code: 204
version: 1
