interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    content: ''
    headers:
      apigw-requestid:
      - NhrjZgROIAMEPjg=
    status_code: 204
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    content: '{"country":"US","internal":"false","corrAppNum":"16123456","id":"16123456","type":"application","list":[{"appNum":"2017187096","appDate":1506470400000,"pubList":[{"pubCountry":"JP","pubNum":"2019061579","pubDate":1555545600000,"kindCode":"A","pubDateStr":"04/18/2019"},{"pubCountry":"JP","pubNum":"6768620","pubDate":1602633600000,"kindCode":"B2","pubDateStr":"10/14/2020"}],"countryCode":"JP","docList":null,"kindCode":"A","priorityClaimList":[{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"09/27/2017","docListMsg":null,"docNum":{"country":"JP","docNumber":"2017187096","format":null,"date":"09/27/2017","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"16123456","appDate":1536192000000,"pubList":[{"pubCountry":"US","pubNum":"20190095759","pubDate":1553731200000,"kindCode":"A1","pubDateStr":"03/28/2019"},{"pubCountry":"US","pubNum":"10902286","pubDate":1611619200000,"kindCode":"B2","pubDateStr":"01/26/2021"}],"countryCode":"US","docList":{"title":"LEARNING
      ASSISTANCE DEVICE, METHOD OF OPERATING LEARNING ASSISTANCE DEVICE, LEARNING
      ASSISTANCE PROGRAM, LEARNING ASSISTANCE SYSTEM, AND TERMINAL DEVICE","docs":[{"docCode":"TRNA","docDesc":"Transmittal
      of New Application","docId":"JLQY2TS1RXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"LET.","docDesc":"Miscellaneous
      Incoming Letter","docId":"JLQY2TS2RXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"PA..","docDesc":"Power
      of Attorney","docId":"JLQY2TUNRXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":2,"docCodeDesc":"Written
      Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"TRAN.LET","docDesc":"Transmittal
      Letter","docId":"JLQY2TUORXEAPX0","legalDate":1536246505000,"docFormat":"PDF","numberOfPages":5,"docCodeDesc":"No
      document group defined for this document","docGroupCode":"unknown","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"IDS","docDesc":"Information
      Disclosure Statement (IDS) Form (SB08)","docId":"JLQY2WZKRXEAPX4","legalDate":1536246506000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Information
      Disclosure","docGroupCode":"3","legalDateStr":"09/06/2018","mimeTypeData":[{"mimeType":"xml","fileNames":["16123456.2018-09-06.JLQY2WZKRXEAPX4.IDS.xml"]}],"shareable":true},{"docCode":"WFEE","docDesc":"Fee
      Worksheet (SB06)","docId":"JLQY2WZLRXEAPX4","legalDate":1536246506000,"docFormat":"PDF","numberOfPages":2,"docCodeDesc":"In-house
      documents including Examiner Notes/Search Results","docGroupCode":"5","legalDateStr":"09/06/2018","mimeTypeData":null,"shareable":false},{"docCode":"N417","docDesc":"Electronic
      Filing System(EFS) Acknowledgment Receipt","docId":"JLQY2WZMRXEAPX4","lega[...]
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(16123456)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Sat Oct 28 11:24:01 EDT 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":426},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"16123456","totalPtoDays":"127","assignments":[{"reelNumber":"46816","frameNumber":"108","addressNameText":"BIRCH,
        STEWART, KOLASCH & BIRCH, LLP","addressLineOneText":"8110 GATEHOUSE ROAD,
        SUITE 100E","addressLineTwoText":"FALLS CHURCH, VA 22042","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"09-10-2018","receivedDate":"09-07-2018","recordedDate":"09-07-2018","pagesCount":"3","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"KANADA,
        SHOJI","execDate":"07-11-2018"}],"assignee":[{"assigneeName":"FUJIFILM CORPORATION","streetLineOneText":"26-30,
        NISHIAZABU 2-CHOME, MINATO-KU","streetLineTwoText":"null","cityName":"TOKYO","countryCode":"JAPAN","postalCode":"106-8620"}]}],"applicants":[{"nameLineOne":"FUJIFILM
        Corporation","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Tokyo,
        ","geoCode":"","country":"(JP)","rankNo":"1"}],"applicantsFacet":"{||FUJIFILM
        Corporation||||Tokyo||JP|ORG|1}","appFilingDate":"2018-09-06T00:00:00Z","appExamName":"SABOURI,
        MAZDA","appExamNameFacet":"SABOURI, MAZDA","publicInd":"Y","APP_IND":"5","inventorName":"Shoji  KANADA","inventorNameFacet":"Shoji  KANADA","appEarlyPubDate":"2019-03-28T00:00:00Z","corrAddrGeoRegionCode":"VA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20190095759A1","id":"16123456","appGrpArtNumber":"2641","appGrpArtNumberFacet":"2641","applIdStr":"16123456","appl_id_txt":"16123456","appSubCls":"159000","patentNumber":"10902286","LAST_MOD_TS":"2023-10-27T14:20:48Z","transactions":[{"recordDate":"2018-09-06
        00:00:00","code":"IDSC","description":"Information Disclosure Statement considered"},{"recordDate":"2021-07-09
        00:00:00","code":"IDSC","description":"Information Disclosure Statement considered"},{"recordDate":"2021-01-26
        00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2021-01-07
        00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2021-01-06
        00:00:00","code":"WPIR","description":"Issue Notification Mailed"},{"recordDate":"2021-01-26
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=ApplicationNumber&query=16123456&rows=20&start=0&sort=&facet=False
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
        \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n
        \ <int name=\"QTime\">144</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
        \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
        name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">applNum:16123456</str>\n
        \   <str name=\"rows\">20</str>\n    <str name=\"wt\">javabin</str>\n    <str
        name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"1\"
        start=\"0\">\n  <doc>\n    <str name=\"id\">46816-108</str>\n    <str name=\"displayId\">046816-0108</str>\n
        \   <str name=\"reelNo\">46816</str>\n    <str name=\"frameNo\">108</str>\n
        \   <date name=\"lastUpdateDate\">2021-01-26T07:00:52Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
        \   <date name=\"recordedDate\">2018-09-07T05:00:00Z</date>\n    <str name=\"pageCount\">3</str>\n
        \   <str name=\"conveyanceText\">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT
        FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
        \   <str name=\"attorneyDockNum\">1982-1042PUS1</str>\n    <str name=\"corrName\">BIRCH,
        STEWART, KOLASCH &amp; BIRCH, LLP</str>\n    <str name=\"corrAddress1\">8110
        GATEHOUSE ROAD, SUITE 100E</str>\n    <str name=\"corrAddress2\">FALLS CHURCH,
        VA 22042</str>\n    <date name=\"patAssignorEarliestExDate\">2018-07-11T05:00:00Z</date>\n
        \   <arr name=\"patAssignorName\">\n      <str>KANADA, SHOJI</str>\n    </arr>\n
        \   <arr name=\"patAssignorExDate\">\n      <date>2018-07-11T05:00:00Z</date>\n
        \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
        \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>FUJIFILM CORPORATION</str>\n
        \   </arr>\n    <arr name=\"patAssigneeAddress1\">\n      <str>26-30, NISHIAZABU
        2-CHOME, MINATO-KU</str>\n    </arr>\n    <arr n[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - NhrjpjHHIAMEPFQ=
    status:
      code: 204
      message: No Content
[...]
