interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16740760
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - EKgadgvaoAMEYYw=
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16740760
  response:
    body:
      string: '{"country":"US","internal":"false","corrAppNum":"16740760","id":"16740760","type":"application","list":[{"appNum":"11553130","appDate":1161820800000,"pubList":[{"pubCountry":"US","pubNum":"20080102956","pubDate":1209600000000,"kindCode":"A1","pubDateStr":"05/01/2008"},{"pubCountry":"US","pubNum":"9306952","pubDate":1459814400000,"kindCode":"B2","pubDateStr":"04/05/2016"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"11553130","kindCode":"A"}],"appDateStr":"10/26/2006","docListMsg":null,"docNum":{"country":"US","docNumber":"55313006","format":null,"date":"10/26/2006","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"15083993","appDate":1459209600000,"pubList":[{"pubCountry":"US","pubNum":"20160321864","pubDate":1478131200000,"kindCode":"A1","pubDateStr":"11/03/2016"},{"pubCountry":"US","pubNum":"10535221","pubDate":1578960000000,"kindCode":"B2","pubDateStr":"01/14/2020"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"15083993","kindCode":"A"},{"country":"US","docNumber":"11553130","kindCode":"A"}],"appDateStr":"03/29/2016","docListMsg":nu[...]
[...]
