interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16740760
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - Nhri2hfqoAMEPIg=
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16740760
  response:
    body:
      string: '{"country":"US","internal":"false","corrAppNum":"16740760","id":"16740760","type":"application","list":[{"appNum":"11553130","appDate":1161820800000,"pubList":[{"pubCountry":"US","pubNum":"20080102956","pubDate":1209600000000,"kindCode":"A1","pubDateStr":"05/01/2008"},{"pubCountry":"US","pubNum":"9306952","pubDate":1459814400000,"kindCode":"B2","pubDateStr":"04/05/2016"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"11553130","kindCode":"A"}],"appDateStr":"10/26/2006","docListMsg":null,"docNum":{"country":"US","docNumber":"55313006","format":null,"date":"10/26/2006","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"15083993","appDate":1459209600000,"pubList":[{"pubCountry":"US","pubNum":"20160321864","pubDate":1478131200000,"kindCode":"A1","pubDateStr":"11/03/2016"},{"pubCountry":"US","pubNum":"10535221","pubDate":1578960000000,"kindCode":"B2","pubDateStr":"01/14/2020"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"15083993","kindCode":"A"},{"country":"US","docNumber":"11553130","kindCode":"A"}],"appDateStr":"03/29/2016","docListMsg":null,"docNum":{"country":"US","docNumber":"201615083993","format":null,"date":"03/29/2016","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"16740760","appDate":1578873600000,"pubList":[{"pubCountry":"US","pubNum":"20200152002","pubDate":1589414400000,"kindCode":"A1","pubDateStr":"05/14/2020"},{"pubCountry":"US","pubNum":"11017628","pubDate":1621900800000,"kindCode":"B2","pubDateStr":"05/25/2021"}],"countryCode":"US","docList":{"title":"SYSTEM
        AND METHOD FOR WIRELESS GAMING WITH LOCATION DETERMINATION","docs":[{"docCode":"SPEC","docDesc":"Specification","docId":"K5CRL1QNRXEAPX2","legalDate":1578921116000,"docFormat":"PDF","numberOfPages":62,"docCodeDesc":"Application
        Documents","docGroupCode":"1","legalDateStr":"01/13/2020","mimeTypeData":null,"shareable":false},{"docCode":"DRW","docDesc":"Drawings-only
        black and white line drawings","docId":"K5CRL1QORXEAPX2","legalDate":1578921116000,"docFormat":"PDF","numberOfPages":5,"docCodeDesc":"Application
        Documents","docGroupCode":"1","legalDateStr":"01/13/2020","mimeTypeData":null,"shareable":false},{"docCode":"WFEE","docDesc":"Fee
        Worksheet (SB06)","docId":"K5CRL1QQRXEAPX2","legalDate":1578921116000,"docFormat":"PDF","numberOfPages":2,"docCodeDesc":"In-house
        documents including Examiner Notes/Search Results","docGroupCode":"5","legalDateStr":"01/13/2020","mimeTypeData":null,"shareable":false},{"docCode":"N417","docDesc":"Electronic
        Filing System(EFS) Acknowledgment Receipt","docId":"K5CRL1QRRXEAPX2","legalDate":1578921116000,"docFormat":"PDF","numberOfPages":3,"docCodeDesc":"Office
        Actions Communications","docGroupCode":"2","legalDateStr":"01/13/2020","mimeTypeData":null,"shareable":false},{"docCode":"SPEC","docDesc":"Specification","docId":"K5FB7BZKLXEAPX4","legalDate":1578921116000,"docFormat":"PDF","numberOfPages":60,"docCodeDesc":"Application
        Documents","docGroupCode":"1","legalDateStr":"01/13/2020","mimeTypeData":[{"mimeType":"xml","fileNames":["16740760.2020-01-13.K5FB7BZKLXEAPX4.SPEC.xml"]}],"shareable":false},{"docCode":"CLM","docDesc":"Claims","docId":"K5FB7BZLLXEAPX4","legalDate":1578921116000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Application
        Documents","docGroupCode":"1","legalDateStr":"01/13/2020","mimeTypeData":[{"mimeType":"xml","fileNames":["16740760.2020-01-13.K5FB7BZLLXEAPX4.CLM.xml"]}],"shareable":true},{"docCode":"ABST","docDesc":"Abstract","docId":"K5FB7BZMLXEAPX4","legalDate":1578921116000,"docForm[...]
[...]
