interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - fDX1AhbgIAMESrg=
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    body:
      string: '{"country":"US","internal":"false","corrAppNum":"16123456","id":"16123456","type":"application","list":[{"appNum":"2017187096","appDate":1506470400000,"pubList":[{"pubCountry":"JP","pubNum":"2019061579","pubDate":1555545600000,"kindCode":"A","pubDateStr":"04/18/2019"},{"pubCountry":"JP","pubNum":"6768620","pubDate":1602633600000,"kindCode":"B2","pubDateStr":"10/14/2020"}],"countryCode":"JP","docList":null,"kindCode":"A","priorityClaimList":[{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"09/27/2017","docListMsg":null,"docNum":{"country":"JP","docNumber":"2017187096","format":null,"date":"09/27/2017","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"16123456","appDate":1536192000000,"pubList":[{"pubCountry":"US","pubNum":"20190095759","pubDate":1553731200000,"kindCode":"A1","pubDateStr":"03/28/2019"},{"pubCountry":"US","pubNum":"10902286","pubDate":1611619200000,"kindCode":"B2","pubDateStr":"01/26/2021"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"09/06/2018","docListMsg":null,"docNum":{"country":"US","docNumber":"201816123456","format":null,"date":"09/06/2018","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"17130468","appDate":1608595200000,"pubList":[{"pubCountry":"US","pubNum":"20210110206","pubDate":1618444800000,"kindCode":"A1","pubDateStr":"04/15/2021"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"US","docNumber":"16123456","kindCode":"A"},{"country":"US","docNumber":"17130468","kindCode":"A"},{"country":"JP","docNumber":"2017187096","kindCode":"A"}],"appDateStr":"12/22/2020","docListMsg":null,"docNum":{"country":"US","docNumber":"202017130468","format":null,"date":"12/22/2020","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true}]}'
    headers:
      Content-Type:
      - application/json
      apigw-requestid:
      - fDX1AizWIAMES8g=
    status:
      code: 200
      message: OK
- request:
    body: '{"qf": "appEarlyPubNumber applId appLocation appType appStatus_txt appConfrNumber
      appCustNumber appGrpArtNumber appCls appSubCls appEntityStatus_txt patentNumber
      patentTitle primaryInventor firstNamedApplicant appExamName appExamPrefrdName
      appAttrDockNumber appPCTNumber appIntlPubNumber wipoEarlyPubNumber pctAppType
      firstInventorFile appClsSubCls rankAndInventorsList", "fl": "*", "fq": [], "searchText":
      "applId:(16123456)", "sort": null, "facet": "false", "start": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    body:
      string: '{"queryResults":{"indexLastUpdatedDate":"Fri Jan 20 04:37:18 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":404},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
        STATES","applId":"16123456","totalPtoDays":"127","assignments":[{"reelNumber":"46816","frameNumber":"108","addressNameText":"BIRCH,
        STEWART, KOLASCH & BIRCH, LLP","addressLineOneText":"8110 GATEHOUSE ROAD,
        SUITE 100E","addressLineTwoText":"FALLS CHURCH, VA 22042","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"09-10-2018","receivedDate":"09-07-2018","recordedDate":"09-07-2018","pagesCount":"3","converyanceName":"ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"KANADA,
        SHOJI","execDate":"07-11-2018"}],"assignee":[{"assigneeName":"FUJIFILM CORPORATION","streetLineOneText":"26-30,
        NISHIAZABU 2-CHOME, MINATO-KU","streetLineTwoText":"null","cityName":"TOKYO","countryCode":"JAPAN","postalCode":"106-8620"}]}],"applicants":[{"nameLineOne":"FUJIFILM
        Corporation","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Tokyo,
        ","geoCode":"","country":"(JP)","rankNo":"1"}],"applicantsFacet":"{||FUJIFILM
        Corporation||||Tokyo||JP|ORG|1}","appFilingDate":"2018-09-06T00:00:00Z","appExamName":"SABOURI,
        MAZDA","appExamNameFacet":"SABOURI, MAZDA","publicInd":"Y","APP_IND":"5","inventorName":"Shoji  KANADA","inventorNameFacet":"Shoji  KANADA","appEarlyPubDate":"2019-03-28T00:00:00Z","corrAddrGeoRegionCode":"VA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20190095759A1","id":"16123456","appGrpArtNumber":"2641","appGrpArtNumberFacet":"2641","applIdStr":"16123456","appl_id_txt":"16123456","appSubCls":"159000","patentNumber":"10902286","LAST_MOD_TS":"2023-01-19T05:52:43Z","transactions":[{"recordDate":"2018-09-06
        00:00:00","code":"IDSC","description":"Information Disclosure Statement considered"},{"recordDate":"2021-07-09
        00:00:00","code":"IDSC","description":"Information Disclosure Statement considered"},{"recordDate":"2021-01-26
        00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2021-01-07
        00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2021-01-06
        00:00:00","code":"WPIR","description":"Issue Notification Mailed"},{"recordDate":"2021-01-26
[...]
[...]
- request:
    body: '"27611"'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/users/me/session
  response:
    body:
      string: '{"userSessionId":2168601,"ipAddress":null,"displayName":"anonymous","deleteIn":false,"userCase":{"caseId":2168779,"userId":2168601,"caseName":"Untitled
        Case","applicationNumber":null},"userPreferences":{},"hostURLs":{"image_server_host":"https://pasr-img.pvt.uspto.gov"},"versions":[{"product":"API","releaseNumber":"2.0.0.1","date":"13.12.2022
        @ 15:09:41 UTC","commitId":"801fde86","collectionName":""},{"product":"SOLR","releaseNumber":"7.6.0","date":"5-4-0","commitId":"","collectionName":"us_patent_grant"}],"documentsLimitInQuery":1000,"sessionTimeOutTime":1800}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 2168779, "hl_snippets": "2", "op": "OR", "q": "\"20190095759\".PN.",
      "queryName": "\"20190095759\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20190095759\".PN."}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    body:
      string: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":2168779,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]}],"q":"\"20190095759\".PN.","queryName":"\"20190095759\".PN.","userEnteredQuery":"\"20190095759\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
        asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"20190095759\".PN.","error":null,"terms":["\"20190095759\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":34,"highlightingTime":0,"cursorMarker":"AoJwwJTm4OkCOjY1ODA3Njk2IVBHLVVTLTIwMTkwMDk1NzU5","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-20190095759-A1","publicationReferenceDocumentNumber":"20190095759","compositeId":"65807696!PG-US-20190095759","publicationReferenceDocumentNumber1":"20190095759","datePublishedKwicHits":null,"datePublished":"2019-03-28T00:00:00Z","inventionTitle":"LEARNING
        ASSISTANCE DEVICE, METHOD OF OPERATING LEARNING ASSISTANCE DEVICE, LEARNING
        ASSISTANCE PROGRAM, LEARNING ASSISTANCE SYSTEM, AND TERMINAL DEVICE","type":"US-PGPUB","mainClassificationCode":"1/1","applicantName":["FUJIFILM
        Corporation"],"assigneeName":["FUJIFILM Corporation"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"G06K9/62;G16H30/20","cpcInventiveFlattened":"G06F18/2178;G06N3/042;G06V10/774;G06N3/045;G06V10/7784;G16H50/70;G06N3/08;G16H30/20;G06F18/214;G06F18/217;G16H30/40;G06N20/00","cpcAdditionalFlattened":null,"applicationFilingDate":["2018-09-06T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":null,"assistantExaminer":null,"applicationNumber":"16/123456","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":10,"specificationStart":11,"specificationEnd":19,"claimsStart":19,"claimsEnd":21,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":21,"pageCountDisplay":"21","previouslyViewed":false,"unused":false,"imageLocation":"us-pgpub/US/2019/0095/759","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"KANADA;
        Shoji","familyIdentifierCur":65807696,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"PGPB","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":["2017-09-27T00:00:00Z"],"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
        20190095759 A1","derwentAccessionNumber":null,"documentSize":84795,"score":13.732954,"governmentInterest":null,"kindCode":["A1"],"urpn":null,"urpnCode":null,"publicationReferenceDocumentNumberOne":"20190095759","descriptionStart":11,"descriptionEnd":19}],"qtime":30}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-20190095759-A1/highlight?queryId=1&source=US-PGPUB&includeSections=True
  response:
    body:
      string: "{\"guid\":\"US-20190095759-A1\",\"publicationReferenceDocumentNumber\":\"20190095759\",\"compositeId\":\"65807696!PG-US-20190095759\",\"publicationReferenceDocumentNumber1\":\"20190095759\",\"datePublishedKwicHits\":null,\"datePublished\":\"2019-03-28T00:00:00Z\",\"invention[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/patents/US-10902286-B2/highlight?queryId=1&source=USPAT&includeSections=True
  response:
    body:
      string: "{\"guid\":\"US-10902286-B2\",\"publicationReferenceDocumentNumber\":\"10902286\",\"compositeId\":\"65807696!US-US-10902286\",\"publicationReferenceDocumentNumber1\":\"10902286\",\"datePublishedKwicHits\":null,\"datePublished\":\"2021-01-26T00:00:00Z\",\"inventionTitle\":\"Learning[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=ApplicationNumber&query=16123456&rows=20&start=0&sort=&facet=False
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
        \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n
        \ <int name=\"QTime\">12618</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
        \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
        name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">applNum:16123456</str>\n
        \   <str name=\"rows\">20</str>\n    <str name=\"wt\">javabin</str>\n    <str
        name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"1\"
        start=\"0\">\n  <doc>\n    <str name=\"id\">46816-108</str>\n    <str name=\"displayId\">046816-0108</str>\n
        \   <str name=\"reelNo\">46816</str>\n    <str name=\"frameNo\">108</str>\n
        \   <date name=\"lastUpdateDate\">2021-01-26T07:00:52Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
        \   <date name=\"recordedDate\">2018-09-07T05:00:00Z</date>\n    <str name=\"pageCount\">3</str>\n
        \   <str name=\"conveyanceText\">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT
        FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
        \   <str name=\"attorneyDockNum\">1982-1042PUS1</str>\n    <str name=\"corrName\">BIRCH,
        STEWART, KOLASCH &amp; BIRCH, LLP</str>\n    <str name=\"corrAddress1\">8110
        GATEHOUSE ROAD, SUITE 100E</str>\n    <str name=\"corrAddress2\">FALLS CHURCH,
        VA 22042</str>\n    <date name=\"patAssignorEarliestExDate\">2018-07-11T05:00:00Z</date>\n
        \   <arr name=\"patAssignorName\">\n      <str>KANADA, SHOJI</str>\n    </arr>\n
        \   <arr name=\"patAssignorExDate\">\n      <date>2018-07-11T05:00:00Z</date>\n
        \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
        \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>FUJIFILM CORPORATION</str>\n
        \   </arr>\n    <arr name=\"patAssigneeAddress1\">\n      <str>26-30, NISHIAZABU
        2-CHOME, MINATO-KU</str>\n    </arr>\n    <arr n[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - fDZaFgJWIAMEMdg=
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    body:
      string: '{"country":"EP","internal":"false","corrAppNum":"1000000","id":"1000000","type":"publication","list":[{"appNum":"1010536","appDate":910828800000,"pubList":[{"pubCountry":"NL","pubNum":"1010536","pubDate":958348800000,"kindCode":"C2","pubDateStr":"05/15/2000"}],"countryCode":"NL","docList":null,"kindCode":"A","priorityClaimList":[{"country":"NL","docNumber":"1010536","kindCode":"A"}],"appDateStr":"11/12/1998","docListMsg":null,"docNum":{"country":"NL","docNumber":"1010536","format":null,"date":"11/12/1998","kindCode":"A"},"title":null,"applicantNames":null,"ip5":false},{"appNum":"20685698","appDate":913075200000,"pubList":[{"pubCountry":"US","pubNum":"6093011","pubDate":964483200000,"kindCode":"A","pubDateStr":"07/25/2000"}],"countryCode":"US","docList":null,"kindCode":"A","priorityClaimList":[{"country":"NL","docNumber":"1010536","kindCode":"A"}],"appDateStr":"12/08/1998","docListMsg":"org.springframework.web.client.HttpClientErrorException$NotFound:
        404 : \"{\"inputDocNum\":null,\"outputDocNum\":null,\"output-number-type\":null,\"output-number-format\":null,\"numberConversionError\":{\"appId\":null,\"message\":\"Unable
        to convert DocDb Number: US.20685698.A\"}}\"","docNum":{"country":"US","docNumber":"20685698","format":null,"date":"12/08/1998","kindCode":"A"},"title":null,"applicantNames":null,"ip5":true},{"appNum":"99203729","appDate":942019200000,"pubList":[{"pubCountry":"AT","pubNum":"232441","pubDate":1045267200000,"kindCode":"T","pubDateStr":"02/15/2003"}],"countryCode":"AT","docList":{"title":"Apparatus
        for manufacturing green bricks for the brick manufacturing industry","docs":[{"docCode":"1001","docDesc":"Request
        for grant of a European patent","docId":"EA2JRLI1DHXBS08","legalDate":942019200000,"docFormat":"PDF","numberOfPages":6,"docCodeDesc":"Application
        Documents","docGroupCode":"1","legalDateStr":"11/08/1999","shareable":false},{"docCode":"1002","docDesc":"Designation
        of inventor","docId":"EA2JRLJNDHXBS08","legalDate":942019200000,"docFormat":"PDF","numberOfPages":1,"docCodeDesc":"Written
        Arguments, Opinions, Incoming amendments, Papers received from applicants","docGroupCode":"4","legalDateStr":"11/08/1999","shareable":false},{"docCode":"SRCH","docDesc":"Letter
        concerning search matters","docId":"EA2JRLJ0DHXBS08","legalDate":942019200000,"docFormat":"PDF","numberOfPages":3,"docCodeDesc":[...]
[...]
