interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    content: ''
    headers:
      apigw-requestid:
      - OCzWoivFIAMEYtA=
    status_code: 204
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/publication/EP/1000000
  response:
    content: "{\"country\":\"EP\",\"internal\":\"true\",\"corrAppNum\":null,\"id\":\"1000000\",\"type\":\"publication\",\"list\":[{\"appNum\":\"99203729\",\"appDate\":942019200000,\"pubList\":[{\"pubCountry\":\"EP\",\"pubNum\":\"1000000\",\"pubDate\":958521600000,\"kindCode\":\"A1\",\"pubDateStr\":\"05/17/2000\"},{\"pubCountry\":\"EP\",\"pubNum\":\"1000000\",\"pubDate\":1045008000000,\"kindCode\":\"B1\",\"pubDateStr\":\"02/12/2003\"}],\"countryCode\":\"EP\",\"docList\":null,\"kindCode\":\"A\",\"priorityClaimList\":[{\"country\":\"NL\",\"docNumber\":\"1010536\",\"kindCode\":\"A\"}],\"appDateStr\":\"11/08/1999\",\"docListMsg\":null,\"docNum\":{\"country\":\"EP\",\"docNumber\":\"99203729\",\"format\":\"docdb\",\"date\":\"11/08/1999\",\"kindCode\":\"A\"},\"title\":\"Apparatus
      for manufacturing green bricks for the brick manufacturing industry\",\"applicantNames\":[\"BOER
      BEHEER NIJMEGEN BV DE\"],\"ip5\":true},{\"appNum\":\"20685698\",\"appDate\":913075200000,\"pubList\":[{\"pubCountry\":\"US\",\"pubNum\":\"6093011\",\"pubDate\":964483200000,\"kindCode\":\"A\",\"pubDateStr\":\"07/25/2000\"}],\"countryCode\":\"US\",\"docList\":null,\"kindCode\":\"A\",\"priorityClaimList\":[{\"country\":\"NL\",\"docNumber\":\"1010536\",\"kindCode\":\"A\"}],\"appDateStr\":\"12/08/1998\",\"docListMsg\":null,\"docNum\":{\"country\":\"US\",\"docNumber\":\"20685698\",\"format\":\"original\",\"date\":\"12/08/1998\",\"ki[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: OPTIONS
    uri: https://gd-api2.uspto.gov/patent-family/svc/family/application/US/16123456
  response:
    content: ''
    headers:
      apigw-requestid:
      - OCzWpg-JoAMEMTw=
    status_code: 204
[...]
