interactions:
- request:
    body: '{"df": "patentTitle", "qf": "", "fl": "*", "fq": [], "searchText": "applId:(14591909)",
      "sort": "applId asc", "facet": "false", "mm": "0%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Tue Nov 07 12:51:37 EST 2023","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":411},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"ISRAEL","applId":"14591909","totalPtoDays":"0","appFilingDate":"2015-01-07T00:00:00Z","appExamName":"CONNOLLY,
      MARK A","appExamNameFacet":"CONNOLLY, MARK A","publicInd":"Y","APP_IND":"5","inventorName":"Yechezkal
      Evan Spero","inventorNameFacet":"Yechezkal Evan Spero","appEarlyPubDate":"2016-07-07T00:00:00Z","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20160195856A1","id":"14591909","appGrpArtNumber":"2115","appGrpArtNumberFacet":"2115","applIdStr":"14591909","appl_id_txt":"14591909","appSubCls":"090000","patentNumber":"11651258","LAST_MOD_TS":"2023-11-06T05:20:59Z","transactions":[{"recordDate":"2023-05-16
      00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
      00:00:00","code":"ELC_RVW","description":"Electronic Review"},{"recordDate":"2023-05-16
      00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2023-05-16
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2023-05-16
      00:00:00","code":"EPG/","description":"Recordation of Patent eGrant"},{"recordDate":"2023-05-16
      00:00:00","code":"MEPG_NTF","description":"Mail [...]
