interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bulkdata.uspto.gov/BDSS-API/products/PTGRXML
  response:
    content: '{"productLinkPath":"/BDSS-API/products/PTGRXML","productIdentifier":14823,"productShortName":"PTGRXML","productDesc":"Contains
      (JAN 2002 - present) the full text of each patent grant issued weekly (Tuesdays)
      (excludes images/drawings and reexaminations). The file format is eXtensible
      Markup Language (XML) in accordance with the Patent Grant International Common
      Element (ICE) Document Type Definition (DTD).","productTitle":"Patent grant
      full text data/XML","productFrequency":"WEEKLY","productLevel":"PRODUCT","productFromDate":"2002-01-01","productToDate":"2023-12-05","numberOfFiles":1170,"parentProduct":null,"productFiles":[{"fileLinkPath":"/BDSS-API/productFiles/7874186","fileIdentifier":7874186,"fileName":"ipg220104.zip","fileSize":134174669,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2022/ipg220104.zip","fileFromTime":"2022-01-04","fileToTime":"2022-01-04","fileType":"Data","fileReleaseDate":"2022-01-04"},{"fileLinkPath":"/BDSS-API/productFiles/7874210","fileIdentifier":7874210,"fileName":"ipg220111.zip","fileSize":108564859,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/grant/redbook/fulltext/2022/ipg220111.zip","fileFromTime":"2022-01-11","fileToTime":"2022-01-11","fileType":"Data","fileReleaseDate":"2022-01-11"},{"fileLinkPath":"/BDSS-API/productFiles/7874196","fileIdentifier":7874196,"fileName":"ipg220118.zip","fileSize":106226357,"fileDownloadUrl":"https://bulkdata.u[...]
