interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=10000000.PN.&OS=PN/10000000&RS=PN/10000000
  response:
    body:
      string: "<HTML>\n<HEAD>\n<BASE target=\"_top\">\n<TITLE>United States Patent:
        10000000</TITLE></HEAD>\n<!-BUF1=10000000\nBUF7=2018\nBUF8=38138\nBUF9=/1/\nBUF51=1\n-->\n<BODY
        bgcolor=\"#FFFFFF\">\n<A name=\"top\"></A>\n<CENTER>\n<IMG src=\"/netaicon/PTO/patfthdr.gif\"
        alt=\"[US Patent & Trademark Office, Patent Full Text and Image Database]\">\n<BR>\n<TABLE>\n<TR><TD
        align=\"center\">\n<A href=\"/netahtml/PTO/index.html\"><IMG src=\"/netaicon/PTO/home.gif\"
        alt=\"[Home]\" border=\"0\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/search-bool.html\"><IMG
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/search-adv.htm\"><IMG border=\"0\" src=\"/netaicon/PTO/manual.gif\"
        ALT=\"[Manual Search]\" valign=\"middle\"></A>\n<A href=\"/netahtml/PTO/srchnum.htm\"><IMG
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" valign=\"middle\"></A>\n<A
        href=\"/netahtml/PTO/help/help.htm\"><IMG border=\"0\" valign=\"middle\" src=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</TD></TR>\n<TR><TD align=\"center\">\n<A href=\"#bottom\"><IMG
        src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" valign=\"middle\" border=\"0\"></A>\n</TD></TR>\n
        \  <TR><TD align=\"center\">\n   <A href=\"https://certifiedcopycenter.uspto.gov/other/patft/view.html?backUrl1=http%3A//patft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPALL%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.htm%26r%3D1%26f%3DG%26l%3D50%26s1%3D10000000.PN.%26OS%3DPN%2F10000000&backLabel1=Back%20t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://appft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=G&l=50&s1=%2220200000001%22.PGNR.&OS=DN/20200000001&RS=DN/20200000001
  response:
    body:
      string: "<HTML>\n<HEAD>\n<STYLE TYPE=\"text/css\">\n\tPRE { font-family: \"Times
        New Roman\"; font-size: 12pt; }\n</STYLE>\n<BASE TARGET=\"_top\">\n<TITLE>United
        States Patent Application: 0200000001</TITLE></HEAD>\n<BODY BGCOLOR=\"#FFFFFF\">\n<a
        name=\"top\"></a>\n<center>\n<IMG SRC=\"/netaicon1/PTO/AppFThdr.gif\">\n</center>\n<center>\n<A
        HREF=\"/netahtml/PTO/help/help.html\"><IMG BORDER=\"0\" WIDTH=\"63\" HEIGHT=\"24\"
        \ align=middle SRC=\"/netaicon1/PTO/help.gif\" ALT=\"[Help]\"></A>\n<a href=\"/netahtml/PTO/index.html\"><img
        src=\"/netaicon1/PTO/home.gif\" alt=\"[Home]\" border=\"0\" width=\"63\" height=\"24\"
        align=middle></a>\n<a href=\"/netahtml/PTO/search-bool.html\"><img src=\"/netaicon1/PTO/boolean.gif\"
        alt=\"[Boolean Search]\" border=\"0\" width=\"63\" height=\"24\" align=middle></a>\n<A
        HREF=\"/netahtml/PTO/search-adv.html\"><IMG WIDTH=\"63\" HEIGHT=\"24\" BORDER=\"0\"
        SRC=\"/netaicon1/PTO/manual.gif\" ALT=\"[Manual]\" align=middle></A>\n<a href=\"/netahtml/PTO/srchnum.html\"><img
        src=\"/netaicon1/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" width=\"63\"
        height=\"24\" align=middle></a>\n<A HREF=\"http://www.uspto.gov/go/ptdl/\">\n<IMG
        width=63 height=24 border=0 SRC=\"/netaicon1/PTO/ptdl.gif\" ALT=\"[PTDLs]\"
        align=middle></A>\n</center>\n<center><A  HREF=/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=S&l=50&s1=%2220200000001%22.PGNR.&Query=DN/20200000001><IMG
        ALIGN=MIDDLE SRC=/netaicon1/PTO/hitlist.gif border=0 ALT=[CURR_LIST]></A>\n<a
        href=\"#bottom\"><img src=\"/netaicon1/PTO/bottom.gif\" align=middle border=0></A>\n<br><A
        HREF=\"https://certifiedcopycenter.uspto.gov/other/appft/view.html?backUrl1=http%3A//appft.uspto.gov/netacgi/nph-Parser?Sect1%3DPTO1%26Sect2%3DHITOFF%26d%3DPG01%26p%3D1%26u%3D%25252Fnetahtml%25252FPTO%25252Fsrchnum.html%26r%3D1%26f%3DG%26l%3D50%26s1%3D%25252220200000001%252522.PGNR.%26OS%3DDN%2F20200000001&backLabel1=Back%20to%20Published%20Application%20Number%3A%2020200000001\">\n<img
        border=0 src=\"/netaicon1/PTO/cart.gif\" border=0 alt=\"[Shopping Cart]\"></A>\n<A
        [...]
