interactions:
- request:
    body: '{"caseId": 85524327, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI1NjY0YTM2Ni00YTU4LTQ0MjgtYWNiMS02ZDA1MTBiMDFiYjUiLCJ2ZXIiOiI3M2Q1ZjhkZi03ZjFjLTQ1NjMtODk5Mi1jNzM4ZjY3M2M1MmYiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/api/searches/counts
  response:
    content: '{"id":null,"caseId":85524327,"userId":null,"numResults":1513284,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"system\".TTL.","queryName":"\"system\".TTL.","userEnteredQuery":"\"system\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"system\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["default"],"aliasCategory":"OTHER"},{"id":2,"name":"\"systems\"","nodeType":"TERM","parentId":1,"relation":"PLURAL","aliases":["default"],"aliasCategory":"OTHER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"system\".TTL.","error":null,"terms":["\"system\"","\"systems\""],"facets":[{"solrField":"document_type","count":1513284,"id":"USPAT"}],"anchorDocIds":null,"querySource":null,"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '32'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 85524327, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI1NjY0YTM2Ni00YTU4LTQ0MjgtYWNiMS02ZDA1MTBiMDFiYjUiLCJ2ZXIiOiI3M2Q1ZjhkZi03ZjFjLTQ1NjMtODk5Mi1jNzM4ZjY3M2M1MmYiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/api/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":500,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":85524327,\"userId\":null,\"numResults\":500,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"USPAT\",\"countryCodes\":[]}],\"q\":\"\\\"system\\\".TTL.\",\"queryName\":\"\\\"system\\\".TTL.\",\"userEnteredQuery\":\"\\\"system\\\".TTL.\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"system\\\".TTL.\",\"error\":null,\"terms\":[\"\\\"system\\\"\",\"\\\"systems\\\"\"],\"facets\":[],\"anchorDocIds\":null,\"querySource\":null,\"pNumber\":null,\"hl_fl\":null},\"duration\":343,\"highlightingTime\":1,\"cursorMarker\":\"AoJwgMusiZYDPDEwMDAwMDg0OTg3MzUhVVMtVVMtMTIyNzE5MzI=\",\"totalResults\":500,\"numberOfFamilies\":1234274,\"error\":null,\"patents\":[{\"guid\":\"US-12271745-B1\",\"publicationReferenceDocumentNumber\":\"12271745\",\"compositeId\":\"1000003422950!US-US-12271745\",\"publicationReferenceDocumentNumber1\":\"12271745\",\"datePublishedKwicHits\":null,\"datePublished\":\"2025-04-08T00:00:00Z\",\"inventionTitle\":\"Method
      and <span term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">system</span>
      for reconciling user interactions\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"STATE
      FARM MUTUAL AUTOMOBILE INSURANCE COMPANY\"],\"assigneeName\":[\"State Farm Mutual
      Automobile Insurance Company\"],\"uspcFullClassificationFlattened\":null,\"ipcCodeFlattened\":\"G06F9/451;G06F3/0481\",\"cpcInventiveFlattened\":\"G06F3/04847;G06F8/34;G06F8/36;G06F9/452;G06F9/451;G06F3/0484;G06F3/0481;G06Q10/06\",\"cpcAdditionalFlattened\":null,\"applicationFilingDate\":[\"2018-06-06T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":[\"2017-07-21T00:00:00Z\"],\"primaryExaminer\":\"Bashore;
      William L\",\"assistantExaminer\":[\"Muhebbullah; Sajeda\"],\"applicationNumber\":\"16/001629\",\"frontPageStart\":1,\"frontPageEnd\":2,\"drawingsStart\":3,\"drawingsEnd\":9,\"specificationStart\":10,\"specificationEnd\":23,\"claimsStart\":23,\"claimsEnd\":25,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":2,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":25,\"pageCountDisplay\":\"25\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"uspat/US/G45/717/122\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"VanAntwerp;
      John M. et al.\",\"familyIdentifierCur\":1000003422950,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"USPT\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":null,\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      12271745 B1\",\"derwentAccessionNumber\":null,\"documentSize\":165121,\"score\":1.671355,\"governmentInterest\":null,\"kindCode\":[\"B1\"],\"urpn\":[\"5640501\",\"6314415\",\"7752092\",\"7818341\",\"8533584\",\"9086914\",\"10979539\",\"11069001\",\"11601529\",\"11936760\",\"2002/0161911\",\"2004/0015578\",\"2004/0163037\",\"2004/0230636\",\"2006/0005140\",\"2006/0069605\",\"2006/0074735\",\"2006/0161272\",\"2007/0271521\",\"2008/0077530\",\"2008/0154935\",\"2011/0004590\",\"2011/0282941\",\"2012/0303756\",\"2013/0036367\",\"2013/0152001\",\"2013/0158964\",\"2013/0159228\",\"2013/0173719\",\"2014/0047028\",\"2014/0122497\",\"2014/0229898\",\"2014/0258336\",\"2015/0074615\",\"2016/0132696\",\"2016/0147729\",\"2016/0147828\",\"2016/0259534\",\"2016/0275627\",\"2016/0283889\",\"2017/0039046\",\"2017/0132200\",\"2017/0161855\",\"2017/0220963\",\"2017/0264566\",\"2017/0315782\",\"2017/0315789\",\"2017/0316363\",\"2017/0322782\",\"2017/0344895\",\"2017/0357627\",\"2018/0108093\",\"2018/0210619\",\"2018/0321830\",\"2019/0355351\",\"2022/0286531\",\"2023/0141866\",\"2023/0208943\",\"2024/0223679\"],\"urpnCode\":[\"5640501\",\"6314415\",\"7752092\",\"7818341\",\"8533584\",\"9086914\",\"10979539\",\"11069001\",\"11601529\",\"11936760\",\"2002/0161911\",\"2004/0015578\",\"2004/0163037\",\"2004/0230636\",\"2006/0005140\",\"2006/0069605\",\"2006/0074735\",\"2006/0161272\",\"2007/0271521\",\"2008/0077530\",\"2008/0154935\",\"2011/0004590\",\"2011/0282941\",\"2012/0303756\",\"2013/0036367\",\"2013/0152001\",\"2013/0158964\",\"2013/0159228\",\"2013/0173719\",\"2014/0047028\",\"2014/0122497\",\"2014/0229898\",\"2014/0258336\",\"2015/0074615\",\"2016/0132696\",\"2016/0147729\",\"2016/0147828\",\"2016/0259534\",\"2016/0275627\",\"2016/0283889\",\"2017/0039046\",\"2017/0132200\",\"2017/0161855\",\"2017/0220963\",\"2017/0264566\",\"2017/0315782\",\"2017/0315789\",\"2017/0316363\",\"2017/0322782\",\"2017/0344895\",\"2017/0357627\",\"2018/0108093\",\"2018/0210619\",\"2018/0321830\",\"2019/0355351\",\"2022/0286531\",\"2023/0141866\",\"2023/0208943\",\"2024/0223679\"],\"descriptionStart\":10,\"descriptionEnd\":23,\"publicationReferenceDocumentNumberOne\":\"12271745\"},{\"guid\":\"US-12271878-B1\",\"publicationReferenceDocumentNumber\":\"12271878\",\"compositeId\":\"1000003706883!US-US-12271878\",\"publicationReferenceDocumentNumber1\":\"12271878\",\"datePublishedKwicHits\":null,\"datePublished\":\"2025-04-08T00:00:00Z\",\"inventionTitle\":\"<span
      term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">System</span> for generation
      of smart content\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"INTUIT
      [...]
