interactions:
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101", "queryName": "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "US-PGPUB",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101", "queryName": "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "US-PGPUB",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":27914878,"userId":null,"numResults":41,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]}],"q":"\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101","queryName":"\"166/308.1\".CCLS. AND @APD>=20150101<=20210101","userEnteredQuery":"\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"166/308.1\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["ccls"],"aliasCategory":"CLASSIFICATION"},{"id":4,"name":"@apd","nodeType":"RANGE","parentId":0,"relation":"REGULAR","aliases":["apd"],"aliasCategory":"DATE_INT"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101","error":null,"terms":["\"166/308.1\"","@apd"],"facets":[{"solrField":"document_type","count":41,"id":"US-PGPUB"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101", "queryName": "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "US-PGPUB",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101"}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"166/308.1\".CCLS.
      AND @APD>=20150101<=20210101", "queryName": "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "US-PGPUB",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"166/308.1\".CCLS. AND @APD>=20150101<=20210101"}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":41,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":27914878,\"userId\":null,\"numResults\":41,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"US-PGPUB\",\"countryCodes\":[]}],\"q\":\"\\\"166/308.1\\\".CCLS.
      AND @APD>=20150101<=20210101\",\"queryName\":\"\\\"166/308.1\\\".CCLS. AND @APD>=20150101<=20210101\",\"userEnteredQuery\":\"\\\"166/308.1\\\".CCLS.
      AND @APD>=20150101<=20210101\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"166/308.1\\\".CCLS.
      AND @APD>=20150101<=20210101\",\"error\":null,\"terms\":[\"\\\"166/308.1\\\"\",\"@apd\"],\"facets\":[],\"pNumber\":null,\"hl_fl\":null},\"duration\":38,\"highlightingTime\":0,\"cursorMarker\":\"AoJwwJOHuM4COjUzNDk0OTk5IVBHLVVTLTIwMTUwMTkyNjg4\",\"totalResults\":41,\"numberOfFamilies\":41,\"error\":null,\"patents\":[{\"guid\":\"US-20180023351-A1\",\"publicationReferenceDocumentNumber\":\"20180023351\",\"compositeId\":\"48226817!PG-US-20180023351\",\"publicationReferenceDocumentNumber1\":\"20180023351\",\"datePublishedKwicHits\":null,\"datePublished\":\"2018-01-25T00:00:00Z\",\"inventionTitle\":\"INCREASING
      HYDROCARBON RECOVERY FROM RESERVOIRS\",\"type\":\"US-PGPUB\",\"mainClassificationCode\":\"166/308.1\",\"applicantName\":[\"Statoil
      Petroleum AS\"],\"assigneeName\":[\"Statoil Petroleum AS\"],\"uspcFullClassificationFlattened\":\"166/185;166/52;166/316;166/242.1\",\"ipcCodeFlattened\":\"E21B17/18;E21B43/25\",\"cpcInventiveFlattened\":\"E21B34/06;E21B17/18;E21B43/2605;E21B43/255;E21B33/124;E21B43/14;E21B43/26\",\"cpcAdditionalFlattened\":null,\"applicationFilingDate\":[\"2017-10-02T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":[\"2015-09-21T00:00:00Z\",\"2014-03-21T00:00:00Z\"],\"primaryExaminer\":null,\"assistantExaminer\":null,\"applicationNumber\":\"15/722320\",\"frontPageStart\":1,\"frontPageEnd\":1,\"drawingsStart\":2,\"drawingsEnd\":7,\"specificationStart\":8,\"specificationEnd\":13,\"claimsStart\":13,\"claimsEnd\":14,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":1,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":14,\"pageCountDisplay\":\"14\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"us-pgpub/US/2018/0023/351\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"KJ\xD8RHOLT;
      Halvor et al.\",\"familyIdentifierCur\":48226817,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"PGPB\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":[\"2013-03-21T00:00:00Z\"],\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      20180023351 A1\",\"derwentAccessionNumber\":null,\"documentSize\":65016,\"score\":12.731159,\"governmentInterest\":null,\"kindCode\":[\"A1\"],\"urpn\":null,\"urpnCode\":null,\"descriptionStart\":8,\"descriptionEnd\":13,\"publicationReferenceDocumentNumberOne\":\"20180023351\"},{\"guid\":\"US-20180023375-A1\",\"publicationReferenceDocumentNumber\":\"20180023375\",\"compositeId\":\"56789834!PG-US-20180023375\",\"publicationReferenceDocumentNumber1\":\"20180023375\",\"datePublishedKwicHits\":null,\"datePublished\":\"2018-01-25T00:00:00Z\",\"inventionTitle\":\"VERTICAL
      DRILLING AND FRACTURING METHODOLOGY\",\"type\":\"US-PGPUB\",\"mainClassificationCode\":\"166/308.1\",\"applicantName\":[\"SCHLUMBERGER
      TECHNOLOGY CORPORATION\"],\"assigneeName\"[...]
[...]
