interactions:
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"20160009839\".PN.",
      "queryName": "\"20160009839\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20160009839\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"20160009839\".PN.",
      "queryName": "\"20160009839\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20160009839\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":27914878,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]}],"q":"\"20160009839\".PN.","queryName":"\"20160009839\".PN.","userEnteredQuery":"\"20160009839\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"20160009839\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["pn"],"aliasCategory":"DOC_IDENTIFIER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"20160009839\".PN.","error":null,"terms":["\"20160009839\""],"facets":[{"solrField":"document_type","count":1,"id":"US-PGPUB"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"20160009839\".PN.",
      "queryName": "\"20160009839\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20160009839\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"20160009839\".PN.",
      "queryName": "\"20160009839\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20160009839\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":27914878,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"US-PGPUB","countryCodes":[]}],"q":"\"20160009839\".PN.","queryName":"\"20160009839\".PN.","userEnteredQuery":"\"20160009839\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"20160009839\".PN.","error":null,"terms":["\"20160009839\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":17,"highlightingTime":0,"cursorMarker":"AoJwgNHbntICOjUwMjQwMDM2IVBHLVVTLTIwMTYwMDA5ODM5","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-20160009839-A1","publicationReferenceDocumentNumber":"20160009839","compositeId":"50240036!PG-US-20160009839","publicationReferenceDocumentNumber1":"20160009839","datePublishedKwicHits":null,"datePublished":"2016-01-14T00:00:00Z","inventionTitle":"POLYMER
      PRODUCTS AND MULTI-STAGE POLYMERIZATION PROCESSES FOR THE PRODUCTION THEREOF","type":"US-PGPUB","mainClassificationCode":"526/64","applicantName":["UNIVATION
      TECHNOLOGIES, LLC"],"assigneeName":["Univation Technologies, LLC"],"uspcFullClassificationFlattened":"526/89","ipcCodeFlattened":"C08F210/16","cpcInventiveFlattened":"C08F210/16;C08F210/16;C08F2/001","cpcAdditionalFlattened":"C08F210/16;C08F210/14;C08F2500/05;C08F2500/08;C08F2500/12;C08F2500/26","applicationFilingDate":["2014-02-21T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":["2013-03-15T00:00:00Z"],"primaryExaminer":null,"assistantExaminer":null,"applicationNumber":"14/775837","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":6,"specificationStart":7,"specificationEnd":16,"claimsStart":16,"claimsEnd":17,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":17,"pageCountDisplay":"17","previouslyViewed":false,"unused":false,"imageLocation":"us-pgpub/US/2016/0009/839","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"PANNELL;
      Richard B.","familyIdentifierCur":50240036,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"PGPB","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      20160009839 A1","derwentAccessionNumber":null,"documentSize":85270,"score":14.624292,"governmentInterest":null,"kindCode":["A1"],"urpn":null,"urpnCode":null,"descriptionStart":7,"descriptionEnd":16,"publicationReferenceDocumentNumberOne":"20160009839"}],"qtime":11}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/internal/patents/US-20160009839-A1/highlight?queryId=1&source=US-PGPUB&includeSections=true&uniqueId=
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
version: 1
