interactions:
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"D645062\".PN.",
      "queryName": "\"D645062\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"D645062\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"D645062\".PN.",
      "queryName": "\"D645062\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"D645062\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":27914878,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"D645062\".PN.","queryName":"\"D645062\".PN.","userEnteredQuery":"\"D645062\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"d645062\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["pn"],"aliasCategory":"DOC_IDENTIFIER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"D645062\".PN.","error":null,"terms":["\"d645062\""],"facets":[{"solrField":"document_type","count":1,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"D645062\".PN.",
      "queryName": "\"D645062\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"D645062\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"D645062\".PN.",
      "queryName": "\"D645062\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"D645062\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":27914878,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"D645062\".PN.","queryName":"\"D645062\".PN.","userEnteredQuery":"\"D645062\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"D645062\".PN.","error":null,"terms":["\"d645062\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":16,"highlightingTime":0,"cursorMarker":"AoJwgKmFsLICN0QtMzgwMDQ2IVVTLVVTLUQwNjQ1MDYy","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-D645062-S","publicationReferenceDocumentNumber":"D645062","compositeId":"D-380046!US-US-D0645062","publicationReferenceDocumentNumber1":"D0645062","datePublishedKwicHits":null,"datePublished":"2011-09-13T00:00:00Z","inventionTitle":"Gripping
      arm","type":"USPAT","mainClassificationCode":"D15/28","applicantName":null,"assigneeName":["LaValley
      Industries, LLC"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":null,"cpcInventiveFlattened":null,"cpcAdditionalFlattened":null,"applicationFilingDate":["2010-11-30T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Goodwin;
      Mark","assistantExaminer":null,"applicationNumber":"D/380046","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":8,"specificationStart":1,"specificationEnd":1,"claimsStart":1,"claimsEnd":1,"abstractStart":0,"abstractEnd":0,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":8,"pageCountDisplay":"8","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/D0/645/062","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"LaValley;
      Jason et al.","familyIdentifierCur":null,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      D645062 S","derwentAccessionNumber":null,"documentSize":18552,"score":14.104598,"governmentInterest":null,"kindCode":["S"],"urpn":["3986619","4304433","4595066","4743056","4744596","D323169","5931238","5975605","6220807","6280119","6543555","7052060","7322406","2006/0137910","2007/0114069","2007/0296229","2008/0036229","2009/0057019","2010/0164243","2010/0307827","2010/0308609","2011/0081224"],"urpnCode":["3986619","4304433","4595066","4743056","4744596","D323169","5931238","5975605","6220807","6280119","6543555","7052060","7322406","2006/0137910","2007/0114069","2007/0296229","2008/0036229","2009/0057019","2010/0164243","2010/0307827","2010/0308609","2011/0081224"],"descriptionStart":1,"descriptionEnd":1,"publicationReferenceDocumentNumberOne":"D0645062"}],"qtime":10}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/internal/patents/US-D645062-S/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
version: 1
