interactions:
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"tennis\".TTL.
      AND @PD>=20100101<=20100227", "queryName": "\"tennis\".TTL. AND @PD>=20100101<=20100227",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"tennis\".TTL. AND @PD>=20100101<=20100227"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"tennis\".TTL.
      AND @PD>=20100101<=20100227", "queryName": "\"tennis\".TTL. AND @PD>=20100101<=20100227",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"tennis\".TTL. AND @PD>=20100101<=20100227"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":27914878,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"tennis\".TTL.
      AND @PD>=20100101<=20100227","queryName":"\"tennis\".TTL. AND @PD>=20100101<=20100227","userEnteredQuery":"\"tennis\".TTL.
      AND @PD>=20100101<=20100227","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"tennis\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["default"],"aliasCategory":"OTHER"},{"id":4,"name":"\"tenni\"","nodeType":"TERM","parentId":1,"relation":"PLURAL","aliases":["default"],"aliasCategory":"OTHER"},{"id":5,"name":"@pd","nodeType":"RANGE","parentId":0,"relation":"REGULAR","aliases":["pd"],"aliasCategory":"DATE_INT"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"tennis\".TTL.
      AND @PD>=20100101<=20100227","error":null,"terms":["\"tennis\"","\"tenni\"","@pd"],"facets":[{"solrField":"document_type","count":1,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27914878, "hl_snippets": "2", "op": "OR", "q": "\"tennis\".TTL.
      AND @PD>=20100101<=20100227", "queryName": "\"tennis\".TTL. AND @PD>=20100101<=20100227",
      "highlights": "1", "qt": "brs", "spellCheck": false, "viewName": "tile", "plurals":
      true, "britishEquivalents": true, "databaseFilters": [{"databaseName": "USPAT",
      "countryCodes": []}], "searchType": 1, "ignorePersist": true, "userEnteredQuery":
      "\"tennis\".TTL. AND @PD>=20100101<=20100227"}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":27914878,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"tennis\".TTL.
      AND @PD>=20100101<=20100227","queryName":"\"tennis\".TTL. AND @PD>=20100101<=20100227","userEnteredQuery":"\"tennis\".TTL.
      AND @PD>=20100101<=20100227","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"tennis\".TTL.
      AND @PD>=20100101<=20100227","error":null,"terms":["\"tennis\"","\"tenni\"","@pd"],"facets":[],"pNumber":null,"hl_fl":null},"duration":30,"highlightingTime":0,"cursorMarker":"AoJwwM+B2KYCNzQxNjQ2MzYwIVVTLVVTLTA3NjU4MjEx","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-7658211-B1","publicationReferenceDocumentNumber":"7658211","compositeId":"41646360!US-US-07658211","publicationReferenceDocumentNumber1":"07658211","datePublishedKwicHits":null,"datePublished":"2010-02-09T00:00:00Z","inventionTitle":"<span
      term=\"\"tennis\"\" class=\"highlight18\">Tennis</span> ball recharging apparatus
      method","type":"USPAT","mainClassificationCode":"141/11","applicantName":null,"assigneeName":null,"uspcFullClassificationFlattened":"141/83;141/63;141/69;206/213.1;141/95;141/51","ipcCodeFlattened":"B65B1/20","cpcInventiveFlattened":"A63B39/025","cpcAdditionalFlattened":"A63B2102/02","applicationFilingDate":["2007-06-19T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Maust;
      Timothy L.","assistantExaminer":null,"applicationNumber":"11/820423","frontPageStart":1,"frontPageEnd":1,"drawingsStart":2,"drawingsEnd":2,"specificationStart":3,"specificationEnd":7,"claimsStart":7,"claimsEnd":8,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":1,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":8,"pageCountDisplay":"8","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/07/658/211","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Dirst;
      William F.","familyIdentifierCur":41646360,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      7658211 B1","derwentAccessionNumber":null,"documentSize":48353,"score":14.414438,"governmentInterest":null,"kindCode":["B1"],"urpn":["1207813","4019629","4020948","4046491","4073120","4086743","4101029","4124117","4161247","4165770","4248275","4372095","5002196","5397018","5593157","5615596","5730286"],"urpnCode":["1207813","4019629","4020948","4046491","4073120","4086743","4101029","4124117","4161247","4165770","4248275","4372095","5002196","5397018","5593157","5615596","5730286"],"descriptionStart":3,"descriptionEnd":7,"publicationReferenceDocumentNumberOne":"07658211"}],"qtime":11}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiJlZDAxMDYzMi04YTI0LTQzM2EtOTE2Zi00YjEzMjliMTY2OWMiLCJ2ZXIiOiI0YjMxZDc0NC1mYzgzLTRiNTAtYWQ2OC1mMjQ1YjUwYzkxZWMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/internal/patents/US-7658211-B1/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
version: 1
