interactions:
- request:
    body: '{"caseId": 27922406, "hl_snippets": "2", "op": "OR", "q": "\"7752445\".PN.",
      "queryName": "\"7752445\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"7752445\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlYzZmYTVkOC03NWZiLTQ5ZTktODFjMS0wZjI1MWY1NmRiZGUiLCJ2ZXIiOiIxOTAzNDQ1Yi1jMWRmLTQyYTEtODJmYi05ZDdiNWJmMWI0NDgiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":27922406,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"7752445\".PN.","queryName":"\"7752445\".PN.","userEnteredQuery":"\"7752445\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"7752445\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["pn"],"aliasCategory":"DOC_IDENTIFIER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"7752445\".PN.","error":null,"terms":["\"7752445\""],"facets":[{"solrField":"document_type","count":1,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27922406, "hl_snippets": "2", "op": "OR", "q": "\"7752445\".PN.",
      "queryName": "\"7752445\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"7752445\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlYzZmYTVkOC03NWZiLTQ5ZTktODFjMS0wZjI1MWY1NmRiZGUiLCJ2ZXIiOiIxOTAzNDQ1Yi1jMWRmLTQyYTEtODJmYi05ZDdiNWJmMWI0NDgiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27922406, "hl_snippets": "2", "op": "OR", "q": "\"7752445\".PN.",
      "queryName": "\"7752445\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"7752445\".PN."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlYzZmYTVkOC03NWZiLTQ5ZTktODFjMS0wZjI1MWY1NmRiZGUiLCJ2ZXIiOiIxOTAzNDQ1Yi1jMWRmLTQyYTEtODJmYi05ZDdiNWJmMWI0NDgiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":1,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":27922406,"userId":null,"numResults":1,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"7752445\".PN.","queryName":"\"7752445\".PN.","userEnteredQuery":"\"7752445\".PN.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"7752445\".PN.","error":null,"terms":["\"7752445\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":17,"highlightingTime":0,"cursorMarker":"AoJwgKrD0qkCNzM0NzQ3NTMxIVVTLVVTLTA3NzUyNDQ1","totalResults":1,"numberOfFamilies":1,"error":null,"patents":[{"guid":"US-7752445-B2","publicationReferenceDocumentNumber":"7752445","compositeId":"34747531!US-US-07752445","publicationReferenceDocumentNumber1":"07752445","datePublishedKwicHits":null,"datePublished":"2010-07-06T00:00:00Z","inventionTitle":"System
      and method for authentication of a hardware token","type":"USPAT","mainClassificationCode":"713/173","applicantName":null,"assigneeName":["International
      Business Machines Corporation"],"uspcFullClassificationFlattened":"713/172;726/20;713/168;726/9;713/156","ipcCodeFlattened":"H04L29/00;G06F12/14","cpcInventiveFlattened":"G06F21/445;G06F21/34;G06F21/33","cpcAdditionalFlattened":"G06F2221/2103","applicationFilingDate":["2005-02-22T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Zand;
      Kambiz","assistantExaminer":["Powers; William S"],"applicationNumber":"11/063095","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":14,"specificationStart":15,"specificationEnd":20,"claimsStart":20,"claimsEnd":21,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":21,"pageCountDisplay":"21","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/07/752/445","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Satoh;
      Masakazu","familyIdentifierCur":34747531,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":["2004-02-27T00:00:00Z"],"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      7752445 B2","derwentAccessionNumber":null,"documentSize":67115,"score":14.098439,"governmentInterest":null,"kindCode":["B2"],"urpn":["5307411","5315657","5544246","5701343","6834795","6983364","6988250","6990471","7036738","7069440","7275160","2003/0037264","2004/0031856"],"urpnCode":["5307411","5315657","5544246","5701343","6834795","6983364","6988250","6990471","7036738","7069440","7275160","2003/0037264","2004/0031856"],"descriptionStart":15,"descriptionEnd":20,"publicationReferenceDocumentNumberOne":"07752445"}],"qtime":10}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-access-token:
      - eyJzdWIiOiJlYzZmYTVkOC03NWZiLTQ5ZTktODFjMS0wZjI1MWY1NmRiZGUiLCJ2ZXIiOiIxOTAzNDQ1Yi1jMWRmLTQyYTEtODJmYi05ZDdiNWJmMWI0NDgiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/dirsearch-public/internal/patents/US-7752445-B2/highlight?queryId=1&source=USPAT&includeSections=true&uniqueId=
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
[...]
