interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/legal/publication/docdb/EP1000000A1
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/legal.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:patent-family legal=\"true\" total-result-count=\"6\">\n        <ops:publication-reference>\n
      \           <document-id document-id-type=\"docdb\">\n                <country>EP</country>\n
      \               <doc-number>1000000</doc-number>\n                <kind>A1</kind>\n
      \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
      family-id=\"19768124\">\n            <publication-reference>\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
      \                   <kind>A1</kind>\n                    <date>20000517</date>\n
      \               </document-id>\n                <document-id document-id-type=\"epodoc\">\n
      \                   <doc-number>EP1000000</doc-number>\n                    <date>20000517</date>\n
      \               </document-id>\n            </publication-reference>\n            <application-reference
      doc-id=\"17397285\" is-representative=\"YES\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>99203729</doc-number>\n
      \                   <kind>A</kind>\n                    <date>19991108</date>\n
      \               </document-id>\n            </application-reference>\n            <priority-claim
      sequence=\"1\" kind=\"national\">\n                <document-id document-id-type=\"docdb\">\n
      \                   <country>NL</country>\n                    <doc-number>1010536</doc-number>\n
      \                   <kind>A</kind>\n                    <date>19981112</date>\n
      \               </document-id>\n                <priority-active-indicator>YES</priority-active-indicator>\n
      \           </priority-claim>\n            <ops:legal code=\"17Q \" desc=\"FIRST
      EXAMINATION REPORT DESPATCHED\" infl=\"+\" dateMigr=\"00010101\">\n                <ops:pre
      line=\"00001\">EP    99203729A 2002-06-0517Q +FIRST EXAMINATION REPORT DESPATCHED
      Effective DATE 20020423</ops:pre>\n                <ops:L001EP desc=\"Country
      Code\">EP</ops:L001EP>\n                <ops:L002EP desc=\"Filing / Published
      Document\">F</ops:L002EP>\n                <ops:L003EP desc=\"Document Number\">
      \   99203729</ops:L003EP>\n                <ops:L004EP desc=\"Kind Code\">A</ops:L004EP>\n
      \               <ops:L005EP desc=\"IPR Type\">PI</ops:L005EP>\n                <ops:L007EP
      desc=\"Gazette DATE\">2002-06-05</ops:L007EP>\n                <ops:L008EP desc=\"Legal
      Event Code 1\">17Q</ops:L008EP>\n                <ops:L018EP desc=\"DATE last
      exchanged\">2003-01-01</ops:L018EP>\n                <ops:L019EP desc=\"DATE
      first created\">2003-01-31</ops:L019EP>\n                <ops:L500EP>\n                    <ops:L525EP
      desc=\"Effective DATE\">20020423</ops:L525EP>\n                </ops:L500EP>\n
      \           </ops:legal>\n            <ops:legal code=\"AK  \" desc=\"DESIGNATED
      CONTRACTING STATES\" infl=\"+\" dateMigr=\"00010101\">\n                <ops:pre
      line=\"00001\">EP    99203729A 2003-02-12AK  +DESIGNATED CONTRACTING STATES
      Designated State(s) AT BE CH CY DE DK ES FI FR GB GR IE IT LI LU MC NL PT SE</ops:pre>\n
      \               <ops:L001EP desc=\"Country Code\">EP</ops:L001EP>\n                <ops:L002EP
      desc=\"Filing / Published Document\">F</ops:L002EP>\n                <ops:L003EP
      desc=\"Document Number\">    99203729</ops:L003EP>\n                <ops:L004EP
      desc=\"Kind Code\">A</ops:L004EP>\n                <ops:L005EP desc=\"IPR Type\">PI</ops:L005EP>\n
      \               <ops:L007EP desc=\"Gazette DATE\">2003-02-12</ops:L007EP>\n
      \               <ops:L008EP desc=\"Legal Event Code 1\">AK</ops:L008EP>\n                <ops:L018EP
      desc=\"DATE last exchanged\">0001-01-01</ops:L018EP>\n                <ops:L019EP
      desc=\"DATE first created\">2003-02-20</ops:L019EP>\n                <ops:L500EP>\n
      \                   <ops:L507EP desc=\"Designated State(s)\">AT BE CH CY DE
      DK ES FI FR GB GR IE IT LI LU MC NL PT SE</ops:L507EP>\n                </ops:L500EP>\n
      \           </ops:legal>\n            <ops:legal code=\"REG \" desc=\"REFERENCE
      TO A NATIONAL CODE\" infl=\" \" dateMigr=\"00010101\">\n                <ops:pre
      line=\"00001\">EP    99203729A 2003-02-14REG  REFERENCE TO A NATIONAL CODE Ref
      Country Code CH</ops:pre>\n                <ops:pre line=\"00002\">EP    99203729A
      2003-02-14REG  REFERENCE TO A NATIONAL CODE Ref Legal Event Code EP</ops:pre>\n
      \               <ops:L001EP desc=\"Country Code\">EP</ops:L001EP>\n                <ops:L002EP
      desc=\"Filing / Published Document\">F</ops:L002EP>\n                <ops:L003EP
      desc=\"Document Number\">    99203729</ops:L003EP>\n                <ops:L004EP
      desc=\"Kind Code\">A</ops:L004EP>\n                <ops:L005EP desc=\"IPR Type\">PI</ops:L005EP>\n
      \               <ops:L007EP desc=\"Gazette DATE\">2003-02-14</ops:L007EP>\n
      \               <ops:L008EP desc=\"Legal Event Code 1\">REG</ops:L008EP>\n                <ops:L018EP
      desc=\"DATE last exchanged\">2003-02-27</ops:L018EP>\n                <ops:L019EP
      desc=\"DATE first created\">2003-02-25</ops:L019EP>\n                <ops:L500EP>\n
      \                   <ops:L501EP desc=\"Ref Country Code\">CH</ops:L501EP>\n
      \                   <ops:L502EP desc=\"Ref Legal Event Code\" descData=\"EUROPEAN
      PATENT TAKES EFFECT AS A NATIONAL PATENT IN CH/LI\" infl=\"+\">EP</ops:L502EP>\n
      \               </ops:L500EP>\n            </ops:legal>\n            <ops:legal
      code=\"REF \" desc=\"CORRESPONDS TO:\" infl=\" \" dateMigr=\"00010101\">\n                <ops:pre
      line=\"00001\">EP    99203729A 2003-03-20REF  CORRESPONDS TO: Ref Document Number
      69905327</ops:pre>\n                <ops:pre line=\"00002\">EP    99203729A
  [...]
