interactions:
- request:
    body: '{"df": "patentTitle", "qf": "appEarlyPubNumber applId appLocation appType
      appStatus_txt appConfrNumber appCustNumber appGrpArtNumber appCls appSubCls
      appEntityStatus_txt patentNumber patentTitle inventorName firstNamedApplicant
      appExamName appExamPrefrdName appAttrDockNumber appPCTNumber appIntlPubNumber
      wipoEarlyPubNumber pctAppType firstInventorFile appClsSubCls rankAndInventorsList",
      "fl": "*", "fq": [], "searchText": "applId:(16123456)", "sort": "applId asc",
      "facet": "false", "mm": "100%", "start": "0"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://ped.uspto.gov/api/queries
  response:
    content: '{"queryResults":{"indexLastUpdatedDate":"Thu Jan 04 15:27:35 EST 2024","searchResponse":{"responseHeader":{"zkConnected":true,"status":0,"QTime":368},"response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[{"corrAddrCountryName":"UNITED
      STATES","applId":"16123456","totalPtoDays":"127","assignments":[{"reelNumber":"46816","frameNumber":"108","addressNameText":"BIRCH,
      STEWART, KOLASCH & BIRCH, LLP","addressLineOneText":"8110 GATEHOUSE ROAD, SUITE
      100E","addressLineTwoText":"FALLS CHURCH, VA 22042","addressLineThreeText":"null","addressLineFourText":"null","mailDate":"09-10-2018","receivedDate":"09-07-2018","recordedDate":"09-07-2018","pagesCount":"3","converyanceName":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","sequenceNumber":"1","assignors":[{"assignorName":"KANADA,
      SHOJI","execDate":"07-11-2018"}],"assignee":[{"assigneeName":"FUJIFILM CORPORATION","streetLineOneText":"26-30,
      NISHIAZABU 2-CHOME, MINATO-KU","streetLineTwoText":"null","cityName":"TOKYO","countryCode":"JAPAN","postalCode":"106-8620"}]}],"applicants":[{"nameLineOne":"FUJIFILM
      Corporation","nameLineTwo":" ","suffix":"","streetOne":"","streetTwo":"","city":"Tokyo,
      ","geoCode":"","country":"(JP)","rankNo":"1"}],"applicantsFacet":"{||FUJIFILM
      Corporation||||Tokyo||JP|ORG|1}","appFilingDate":"2018-09-06T00:00:00Z","appExamName":"SABOURI,
      MAZDA","appExamNameFacet":"SABOURI, MAZDA","publicInd":"Y","APP_IND":"5","inventorName":"Shoji  KANADA","inventorNameFacet":"Shoji  KANADA","appEarlyPubDate":"2019-03-28T00:00:00Z","corrAddrGeoRegionCode":"VA","appLocation":"ELECTRONIC","appEarlyPubNumber":"US20190095759A1","id":"16123456","appGrpArtNumber":"2641","appGrpArtNumberFacet":"2641","applIdStr":"16123456","appl_id_txt":"16123456","appSubCls":"159000","patentNumber":"10902286","LAST_MOD_TS":"2024-01-03T21:20:49Z","transactions":[{"recordDate":"2018-09-06
      00:00:00","code":"IDSC","description":"Information Disclosure Statement considered"},{"recordDate":"2021-07-09
      00:00:00","code":"IDSC","description":"Information Disclosure Statement considered"},{"recordDate":"2021-01-26
      00:00:00","code":"PGM/","description":"Recordation of Patent Grant Mailed"},{"recordDate":"2021-01-07
      00:00:00","code":"EML_NTR","description":"Email Notification"},{"recordDate":"2021-01-06
      00:00:00","code":"WPIR","description":"Issue Notification Mailed"},{"recordDate":"2021-01-26
      00[...]
