interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=PatentNumber&query=9534285&rows=8&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">189</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
      \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
      name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">patNum:9534285</str>\n
      \   <str name=\"rows\">8</str>\n    <str name=\"wt\">javabin</str>\n    <str
      name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"4\"
      start=\"0\">\n  <doc>\n    <str name=\"id\">60613-72</str>\n    <str name=\"displayId\">060613-0072</str>\n
      \   <str name=\"reelNo\">60613</str>\n    <str name=\"frameNo\">72</str>\n    <date
      name=\"lastUpdateDate\">2023-11-28T07:00:06Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
      \   <date name=\"recordedDate\">2022-07-08T05:00:00Z</date>\n    <str name=\"pageCount\">111</str>\n
      \   <str name=\"conveyanceText\">SECURITY INTEREST (SEE DOCUMENT FOR DETAILS).</str>\n
      \   <str name=\"assignmentRecordHasImages\">Y</str>\n    <str name=\"attorneyDockNum\">1735218
      PAT A</str>\n    <str name=\"corrName\">JAY DASILVA</str>\n    <str name=\"corrAddress1\">1025
      CONNECTICUT AVE., NW, STE. 712</str>\n    <str name=\"corrAddress2\">COGENCY
      GLOBAL INC.</str>\n    <str name=\"corrAddress3\">WASHINGTON, DC 20036</str>\n
      \   <date name=\"patAssignorEarliestExDate\">2022-07-06T05:00:00Z</date>\n    <arr
      name=\"patAssignorName\">\n      <str>ENTEGRIS, INC.</str>\n      <str>ENTEGRIS
      GP, INC.</str>\n      <str>POCO GRAPHITE, INC.</str>\n      <str>CMC MATERIALS,
      INC.</str>\n      <str>INTERNATIONAL TEST SOLUTIONS, LLC</str>\n      <str>QED
      TECHNOLOGIES INTERNATIONAL, INC.</str>\n    </arr>\n    <arr name=\"patAssignorExDate\">\n
      \     <date>2022-07-06T05:00:00Z</date>\n      <date>2022-07-06T05:00:00Z</date>\n
      \     <date>2022-07-06T05:00:00Z</date>\n      <date>2022-07-06T05:00:00Z</date>\n
      \     <date>2022-07-06T05:00:00Z</date>\n      <date>2022-07-06T05:00:00Z</date>\n
      \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
      \     <str>0001-01-01T00:00:00Z</str>\n      <str>0001-01-01T00:00:00Z</str>\n
      \     <str>0001[...]
