interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bulkdata.uspto.gov/BDSS-API/products/byname/Assignment?hierarchy=false&maxFiles=20
  response:
    content: '[{"productLinkPath":"/BDSS-API/products/PASDL","productIdentifier":16253,"productShortName":"PASDL","productDesc":"Contains
      daily (front file) patent assignment text (no drawings/images) for CY2024 derived
      from patent assignment recordations made at the USPTO. The file format is eXtensible
      Markup Language (XML) in accordance with the Patent Assignment Daily XML (PADX)
      Version 0.3 Document Type Definition (DTD).","productTitle":"Patent assignment
      daily XML (front file)","productFrequency":"DAILY","productLevel":"PRODUCT","productFromDate":"2014-09-30","productToDate":"2024-05-20","numberOfFiles":142,"parentProduct":null,"productFiles":[{"fileLinkPath":"/BDSS-API/productFiles/8286944","fileIdentifier":8286944,"fileName":"ad20240101.zip","fileSize":48809,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/assignment/ad20240101.zip","fileFromTime":"2024-01-01","fileToTime":"2024-01-01","fileType":"Data","fileReleaseDate":"2024-01-01"},{"fileLinkPath":"/BDSS-API/productFiles/8286955","fileIdentifier":8286955,"fileName":"ad20240102.zip","fileSize":19401736,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/patent/assignment/ad20240102.zip","fileFromTime":"2024-01-02","fileToTime":"2024-01-02","fileType":"Data","fileReleaseDate":"2024-01-02"},{"fileLinkPath":"/BDSS-API/productFiles/8286764","fileIdentifier":8286764,"fileName":"ad20240103.zip","fileSize":49668,"fileDownloadUrl":"https://bulkdata.uspto.gov/data/paten[...]
