interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/PCT%2FUS07%2F19317
  response:
    content: '{"code":404,"message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"566763dc-2c36-4ddd-a3a9-7ae413a56c33"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 566763dc-2c36-4ddd-a3a9-7ae413a56c33
      x-amz-apigw-id:
      - en6caGuXIAMFRPA=
      x-amzn-requestid:
      - 566763dc-2c36-4ddd-a3a9-7ae413a56c33
    status_code: 404
[...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/PCT%2FUS20%2F67535
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"eventDataBag":[{"eventCode":"MP210","eventDescriptionText":"Mail
      International Search Report","eventDate":"2021-03-29"},{"eventCode":"P237","eventDescriptionText":"ISA
      Written Opinion","eventDate":"2021-03-20"},{"eventCode":"P210","eventDescriptionText":"International
      Search Report Ready to be Mailed","eventDate":"2021-03-20"},{"eventCode":"PCTFR","eventDescriptionText":"PCT
      Formality Review","eventDate":"2021-03-20"},{"eventCode":"CTSF","eventDescriptionText":"PCT
      - Chapter 1 P210 / P237 (Full count)","eventDate":"2021-03-17"},{"eventCode":"210I","eventDescriptionText":"210I[...]
