interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"73c94cd3-eb95-4fa1-a48d-2f467b4fad1f"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsWGTQoAMFfUg=
      x-amzn-requestid:
      - 73c94cd3-eb95-4fa1-a48d-2f467b4fad1f
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"Y","filingDate":"2018-09-06","inventorBag":[{"firstName":"Shoji","lastName":"KANADA","inventorNameText":"Shoji
      KANADA","correspondenceAddressBag":[{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"KANADA,
      Shoji","countryName":"JAPAN","postalAddressCategory":"residence"},{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"Shoji  KANADA","countryName":"JAPAN","addressLineOneText":"c/o
      FUJIFILM Corporation","addressLineTwoText":"7-3, Akasaka 9-chome, Minato-ku","postalAddressCategory":"postal"}]}],"businessEntityStatusCategory":"Regular
      Undiscounted","firstApplicantName":"FUJIFILM Corporation","customerNumber":2292,"groupArtUnitNumber":"2641","applicationNumberText":"16123456","earliestPublicationNumber":"US
      2019-0095759 A1","inventionTitle":"LEARNING ASSISTANCE DEVICE, METHOD OF OPERATING
      LEARNING ASSISTANCE DEVICE, LEARNING ASSISTANCE PROGRAM, LEARNING ASSISTANCE
      SYSTEM, AND TERMINAL DEVICE","correspondenceAddressBag":[{"cityName":"Falls
      Church","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042-1248","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      Gatehouse Road","addressLineTwoText":"Suite 100 East"}],"firstInventorName":"Shoji
      KANADA","cpcClassificationBag":["G06N3/08","G16H30/20","G16H50/70","G16H30/40","G06N20/00","G06V10/7784","G06V10/774","G06F18/2178","G06N3/042","G06F18/217","G06F18/214","G06N3/045"],"applicationConfirmationNumber":7051,"docketNumber":"1982-1042PUS1"}],"requestIdentifier":"2a33cfc0-6038-46d1-8dda-a09f39e3b70c"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsXEV4IAMFrnQ=
      x-amzn-requestid:
      - 2a33cfc0-6038-46d1-8dda-a09f39e3b70c
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/documents
  response:
    content: '{"documentBag": [{"applicationNumberText": "16123456", "officialDate":
      "2018-09-06T15:08:26.000-0400", "documentIdentifier": "JLQY2WZNRXEAPX4", "documentCode":
      "ADS", "documentCodeDescriptionText": "Application Data Sheet", "directionCategory":
      "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier": "PDF", "downloadUrl":
      "https://beta-api.uspto.gov/api/v1/download/applications/16123456/JLQY2WZNRXEAPX4.pdf",
      "pageTotalQuantity": 8}]}, {"applicationNumberText": "16123456", "officialDate":
      "2018-09-06T15:08:25.000-0400", "documentIdentifier": "JLXS0Y2CLXEAPX3", "documentCode":
      "TRNA", "documentCodeDescriptionText": "Transmittal of New Application", "directionCategory":
      "INCOMING", "downloadOptionBag": [{"mimeTypeIdentifier": "PDF", "downloadUrl":
      "https://beta-api.uspto.gov/api/v1/download/applications/16123456/JLXS0Y2CLXEAPX3.pdf",
      "pageTotalQuantity": 2}]}, {"applicationNumberText": "16123[...]
