interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/PCT%2FUS07%2F19317
  response:
    content: '{"count":1,"patentBag":[{"applicationStatusCode":218,"applicationTypeCode":"?","filingDate":"2007-09-05","recordAttorney":{"attorneyBag":[{"activeIndicator":"ACTIVE","firstName":"DAVID","lastName":"HEISER","registrationNumber":"31366","attorneyAddressBag":[{"cityName":"SMYRNA","geographicRegionName":"DELAWARE","geographicRegionCode":"DE","countryCode":"US","postalCode":"19977","countryName":"UNITED
      STATES","addressLineOneText":"116 PEBBLE CREEK DRIVE"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"443-243-5472","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"ATTNY"}]},"applicationNumberText":"PCT/US07/19317","pctPublicationDate":"2008-03-13","firstInventorName":"ALLEN
      C. SIEVERT","applicationTypeLabelName":"PCT","applicationStatusDate":"2019-02-08","class":"570","applicationTypeCategory":"PCT","eventDataBag":[{"eventCode":"RCDT","eventDescriptionText":"Receipt
      Date","eventDate":"2007-09-05"},{"eventCode":"IEXX","eventDescriptionText":"Initial
      Exam Team nn","eventDate":"2007-09-10"},{"eventCode":"MLIB","eventDescriptionText":"Record
      Copy Mailed","eventDate":"2007-11-26"},{"eventCode":"P102","eventDescriptionText":"Notification
      Concerning Payment of Fees","eventDate":"2007-11-26"},{"eventCode":"P105","eventDescriptionText":"Notification
      of Intntl. Appl. Number and Intntl. Filing Date","eventDate":"2007-11-26"},{"eventCode":"ROST","eventDescriptionText":"RO
      complete, placed in storage","eventDate":"2017-01-01"}],"inventorBag":[{"firstName":"ALLEN","lastName":"SIEVERT","countryCode":"US","inventorNameText":"ALLEN
      C. SIEVERT","middleName":"C.","correspondenceAddressBag":[{"cityName":"ELKTON","geographicRegionName":"MARYLAND","geographicRegionCode":"MD","countryCode":"US","postalCode":"21921","nameLineOneText":"215
      RHETT LANE","countryName":"UNITED STATES"}]}],"patentTermAdjustmentData":{},"applicationStatusDescriptionText":"RO
      PROCESSING COMPLETED-PLACED IN STORAGE ","businessEntityStatusCategory":"Regular
      Undiscounted","continuityBag":{"parentContinuityBag":[{"parentApplicationStatusCode":218,"claimParentageTypeCode":"PRO","claimParentageTypeCodeDescription":"Claims
      priority from a provisional application","parentApplicationStatusDescriptionText":"RO
      PROCESSING COMPLETED-PLACED IN STORAGE","parentApplicationNumberText":"60842609","parentApplicationFilingDate":"2006-09-05","childApplicationNumberText":"PCT/US07/19317"}],"childContinuityBag":[{"firstInventorToFileIndicator":false,"childApplicationStatusDescriptionText":"Patent
      Expired Due to NonPayment of Maintenance Fees Under 37 CFR 1.362","claimParentageTypeCode":"NST","childApplicationStatusCode":250,"claimParentageTypeCodeDescription":"is
      a National Stage Entry of","childPatentNumber":"8053613","parentApplicationNumberText":"PCT/US07/19317","childApplicationFilingDate":"2009-02-17","childApplicationNumberText":"12377761"}]},"applicantBag":[{"applicantNameText":"E.
      I. DU PONT DE NEMOURS AND COMPANY","correspondenceAddressBag":[{"cityName":"WILMINGTON","geographicRegionName":"DELAWARE","geographicRegionCode":"DE","countryCode":"US","postalCode":"19898","nameLineOneText":"1007
      MARKET STREET","countryName":"UNITED STATES"}]}],"firstApplicantName":"E. I.
      DU PONT DE NEMOURS AND COMPANY","customerNumber":23906,"groupArtUnitNumber":"1621","inventionTitle":"PROCESSES
      FOR PRODUCING 1,2,3,3,3-PENTAFLUOROPROPENE AND PRECURSORS THEREOF","pctPublicationNumber":"WO
      2008/030442","correspondenceAddressBag":[{"cityName":"WILMINGTON","geographicRegionName":"DELAWARE","geographicRegionCode":"DE","countryCode":"US","postalCode":"19805","nameLineOneText":"DAVID
      E. HEISER","nameLineTwoText":"E. I. DU PONT DE NEMOURS AND COMPANY","countryName":"UNITED
      STATES","addressLineOneText":"LEGAL PATENT RECORDS CENTER","addressLineTwoText":"4417
      LANCASTER PIKE"}],"foreignPriorityBag":[{"filingDate":"2006-09-05","applicationNumberText":"60842609","ipOfficeName":"UNITED
      STATES"}],"applicationConfirmationNumber":7383,"smallEntityStatusIndicator":false,"publicationCategoryBag":["Other"],"docketNumber":"FL1264PCT"}],"requestIdentifier":"617f5356-24d4-4cf4-b502-f5348f849fcb"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLh2jEiVIAMFe2w=
      x-amzn-requestid:
      - 617f5356-24d4-4cf4-b502-f5348f849fcb
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/PCT%2FUS07%2F19317
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"eventDataBag":[{"eventCode":"ROST","eventDescriptionText":"RO
      complete, placed in storage","eventDate":"2017-01-01"},{"eventCode":"P105","eventDescriptionText":"Notification
      of Intntl. Appl. Number and Intntl. Filing Date","eventDate":"2007-11-26"},{"eventCode":"P102","eventDescriptionText":"Notification
      Concerning Payment of Fees","eventDate":"2007-11-26"},{"eventCode":"MLIB","eventDescriptionText":"Record
      Copy Mailed","eventDate":"2007-11-26"},{"eventCode":"RCDT","eventDescriptionText":"Receipt
      Date","eventDate":"2007-09-05"},{"eventCode":"IEXX","eventDescriptionText":"Initial
      Exam Team nn","eventDate":"2007-09-10"}],"applicationMetaData":{"applicationStatusCode":218,"applicationTypeCode":"?","entityStatusData":{"smallEntityStatusIndicator":false,"businessEntityStatusCategory":"Regular
      Undiscounted"},"filingDate":"2007-09-05","inventorBag":[{"firstName":"ALLEN","lastName":"SIEVERT","countryCode":"US","inventorNameText":"ALLEN
      C. SIEVERT","middleName":"C.","correspondenceAddressBag":[{"cityName":"ELKTON","geographicRegionName":"MARYLAND","geographicRegionCode":"MD","countryCode":"US","nameLineOneText":"215
      RHETT LANE","countryName":"UNITED STATES"}]}],"applicationStatusDescriptionText":"RO
      PROCESSING COMPLETED-PLACED IN STORAGE","applicantBag":[{"applicantNameText":"E.
      I. DU PONT DE NEMOURS AND COMPANY","correspondenceAddressBag":[{"cityName":"WILMINGTON","geographicRegionName":"DELAWARE","geographicRegionCode":"DE","countryCode":"US","nameLineOneText":"1007
      MARKET STREET","countryName":"UNITED STATES","postalAddressCategory":"postal"}]}],"firstApplicantName":"E.
      I. DU PONT DE NEMOURS AND COMPANY","customerNumber":23906,"groupArtUnitNumber":"1621","inventionTitle":"PROCESSES
      FOR PRODUCING 1,2,3,3,3-PENTAFLUOROPROPENE AND PRECURSORS THEREOF","pctPublicationNumber":"WO2008030442","pctPublicationDate":"2008-03-13","firstInventorName":"ALLEN
      C. SIEVERT","applicationConfirmationNumber":7383,"effectiveFilingDate":"2007-09-05","applicationTypeLabelName":"PCT","publicationCategoryBag":["Other"],"applicationStatusDate":"2019-02-08","class":"570","docketNumber":"FL1264PCT","applicationTypeCategory":"PCT"},"parentContinuityBag":[{"parentApplicationStatusCode":218,"claimParentageTypeCode":"PRO","claimParentageTypeCodeDescriptionText":"Claims
      priority from a provisional application","parentApplicationStatusDescriptionText":"RO
      PROCESSING COMPLETED-PLACED IN STORAGE","parentApplicationNumberText":"60842609","parentApplicationFilingDate":"2006-09-05","childApplicationNumberText":"PCTUS0719317"}],"lastIngestionDateTime":"2025-08-29T07:59:40","childContinuityBag":[{"firstInventorToFileIndicator":false,"childApplicationStatusDescriptionText":"Patent
      Expired Due to NonPayment of Maintenance Fees Under 37 CFR 1.362","claimParentageTypeCode":"NST","childApplicationStatusCode":250,"claimParentageTypeCodeDescriptionText":"is
      a National Stage Entry of","childPatentNumber":"8053613","parentApplicationNumberText":"PCTUS0719317","childApplicationFilingDate":"2009-02-17","childApplicationNumberText":"12377761"}],"recordAttorney":{"powerOfAttorneyBag":[{"activeIndicator":"ACTIVE","firstName":"DAVID","lastName":"HEISER","registrationNumber":"31366","attorneyAddressBag":[{"cityName":"SMYRNA","geographicRegionName":"DELAWARE","geographicRegionCode":"DE","countryCode":"US","postalCode":"19977","countryName":"UNITED
      STATES","addressLineOneText":"116 PEBBLE CREEK DRIVE"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"443-243-5472","telecomTypeCode":"TEL"}],"middleName":"E.","registeredPractitionerCategory":"ATTNY"}]},"applicationNumberText":"PCTUS0719317","correspondenceAddressBag":[{"cityName":"WILMINGTON","geographicRegionName":"DELAWARE","geographicRegionCode":"DE","countryCode":"US","postalCode":"19805","nameLineOneText":"DAVID
      E. HEISER","nameLineTwoText":"E. I. DU PONT DE NEMOURS AND COMPANY","countryName":"UNITED
      STATES","addressLineOneText":"LEGAL PATENT RECORDS CENTER","addressLineTwoText":"4417
      LANCASTER PIKE"}],"foreignPriorityBag":[{"filingDate":"2006-09-05","applicationNumberText":"60842609","ipOfficeName":"US"}]}],"requestIdentifier":"8637bef7-838f-4067-a7d8-d6cac0dbe394"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - UQHyUHINoAMFYPA=
      x-amzn-requestid:
      - 8637bef7-838f-4067-a7d8-d6cac0dbe394
    status_code: 200
version: 1
