interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"f4ae7e19-bb60-415c-95a0-2da73068e764"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XGsg2Fx5oAMFqcQ=
      x-amzn-requestid:
      - f4ae7e19-bb60-415c-95a0-2da73068e764
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"Y","filingDate":"2018-09-06","inventorBag":[{"firstName":"Shoji","lastName":"KANADA","inventorNameText":"Shoji
      KANADA","correspondenceAddressBag":[{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"KANADA,
      Shoji","countryName":"JAPAN","postalAddressCategory":"residence"},{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"Shoji  KANADA","countryName":"JAPAN","addressLineOneText":"c/o
      FUJIFILM Corporation","addressLineTwoText":"7-3, Akasaka 9-chome, Minato-ku","postalAddressCategory":"postal"}]}],"businessEntityStatusCategory":"Regular
      Undiscounted","firstApplicantName":"FUJIFILM Corporation","customerNumber":2292,"groupArtUnitNumber":"2641","applicationNumberText":"16123456","earliestPublicationNumber":"US
      2019-0095759 A1","inventionTitle":"LEARNING ASSISTANCE DEVICE, METHOD OF OPERATING
      LEARNING ASSISTANCE DEVICE, LEARNING ASSISTANCE PROGRAM, LEARNING ASSISTANCE
      SYSTEM, AND TERMINAL DEVICE","correspondenceAddressBag":[{"cityName":"Falls
      Church","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042-1248","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      Gatehouse Road","addressLineTwoText":"Suite 100 East"}],"firstInventorName":"Shoji
      KANADA","cpcClassificationBag":["G06N3/08","G16H30/20","G16H50/70","G16H30/40","G06N20/00","G06V10/7784","G06V10/774","G06F18/2178","G06N3/042","G06F18/217","G06F18/214","G06N3/045"],"applicationConfirmationNumber":7051,"docketNumber":"1982-1042PUS1"}],"requestIdentifier":"0fb6de3f-3ee1-46e4-bd54-921b32f7f8b0"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XGsg5ECooAMFRUA=
      x-amzn-requestid:
      - 0fb6de3f-3ee1-46e4-bd54-921b32f7f8b0
    status_code: 200
- request:
    body: ''
    headers:
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/continuity
  response:
    content: '{"count":1,"patentBag":[{"continuityBag":{"childContinuityBag":[{"applicationStatusCode":150,"claimParentageTypeCode":"DIV","aiaIndicator":true,"filingDate":"2020-12-22","applicationStatusDescriptionText":"Patented
      Case","claimParentageTypeCodeDescription":"is a Division of","parentApplicationNumberText":"16123456","patentNumber":"11797846","childApplicationNumberText":"17130468"}]}}],"requestIdentifier":"83eb5164-fb10-44d5-bcd5-72b0bf6e13fa"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XGsg7ELVoAMF_ig=
      x-amzn-requestid:
      - 83eb5164-fb10-44d5-bcd5-72b0bf6e13fa
    status_code: 200
version: 1
