interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"6a1060ef-db20-4e6d-bd9b-8676527281b4"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en4eYG0moAMFgog=
      x-amzn-requestid:
      - 6a1060ef-db20-4e6d-bd9b-8676527281b4
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationMetaData.firstInventorToFileIndicator",
      "applicationMetaData.filingDate", "applicationMetaData.inventorBag", "applicationMetaData.customerNumber",
      "applicationMetaData.groupArtUnitNumber", "applicationMetaData.inventionTitle",
      "correspondenceAddressBag", "applicationMetaData.applicationConfirmationNumber",
      "applicationMetaData.docketNumber", "applicationNumberText", "applicationMetaData.firstInventorName",
      "applicationMetaData.firstApplicantName", "applicationMetaData.cpcClassificationBag",
      "applicationMetaData.entityStatusData.businessEntityStatusCategory", "applicationMetaData.earliestPublicationNumber",
      "applicationMetaData.earliestPublicationDate"], "pagination": {"offset": 0,
      "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"applicationMetaData":{"firstInventorToFileIndicator":"Y","entityStatusData":{"businessEntityStatusCategory":"Regular
      Undiscounted"},"filingDate":"2018-09-06","inventorBag":[{"firstName":"Shoji","lastName":"KANADA","inventorNameText":"Shoji
      KANADA","correspondenceAddressBag":[{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"Shoji  KANADA","countryName":"JAPAN","addressLineOneText":"c/o
      FUJIFILM Corporation","addressLineTwoText":"7-3, Akasaka 9-chome, Minato-ku","postalAddressCategory":"postal"},{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"KANADA,
      Shoji","countryName":"JAPAN","postalAddressCategory":"residence"}]}],"firstApplicantName":"FUJIFILM
      Corporation","customerNumber":2292,"groupArtUnitNumber":"2641","earliestPublicationNumber":"US20190095759A1","inventionTitle":"LEARNING
      ASSISTANCE DEVICE, METHOD OF OPERATING LEARNING ASSISTANCE DEVICE, LEARNING
      ASSISTANCE PROGRAM, LEARNING ASSISTANCE SYSTEM, AND TERMINAL DEVICE","firstInventorName":"Shoji
      KANADA","cpcClassificationBag":["G06N3/08","G16H30/20","G16H50/70","G16H30/40","G06N20/00","G06V10/7784","G06V10/774","G06F18/2178","G06N3/042","G06F18/217","G06F18/214","G06N3/045"],"applicationConfirmationNumber":7051,"earliestPublicationDate":"2019-03-28","docketNumber":"1982-1042PUS1"},"applicationNumberText":"16123456","correspondenceAddressBag":[{"cityName":"Falls
      Church","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042-1248","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      Gatehouse Road","addressLineTwoText":"Suite 100 East"}]}],"requestIdentifier":"1965c2b2-e078-4168-8bb1-cacf2f545f3e"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en4eaF4NoAMFvMQ=
      x-amzn-requestid:
      - 1965c2b2-e078-4168-8bb1-cacf2f545f3e
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456/continuity
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"childContinuityBag":[{"firstInventorToFileIndicator":true,"childApplicationStatusDescriptionText":"Patented
      Case","claimParentageTypeCode":"DIV","childApplicationStatusCode":150,"claimParentageTypeCodeDescription":"is
      a Division of","childPatentNumber":"11797846","parentApplicationNumberText":"16123456","childApplicationFilingDate":"2020-12-22","childApplicationNumberText":"17130468"}],"applicationNumberText":"16123456"}],"requestIdentifier":"9d71435e-6b4b-44b1-a29e-247672d82d78"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en1HYHNEIAMFhyA=
      x-amzn-requestid:
      - 9d71435e-6b4b-44b1-a29e-247672d82d78
    status_code: 200
version: 1
