interactions:
- request:
    body: '{"q": "inventionTitle:(Hair Dryer)", "rangeFilters": [{"field": "filingDate",
      "valueFrom": "2020-01-01", "valueTo": "2024-05-22"}], "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":4081,"patentBag":[{"applicationNumberText":"18283924"},{"applicationNumberText":"18695537"},{"applicationNumberText":"29931488"},{"applicationNumberText":"29931489"},{"applicationNumberText":"29931490"},{"applicationNumberText":"18551286"},{"applicationNumberText":"35520490"},{"applicationNumberText":"29927368"},{"applicationNumberText":"29927366"},{"applicationNumberText":"29927367"},{"applicationNumberText":"18294305"},{"applicationNumberText":"18422701"},{"applicationNumberText":"18422684"},{"applicationNumberText":"29925080"},{"applicationNumberText":"18419319"},{"applicationNumberText":"18290788"},{"applicationNumberText":"29924549"},{"applicationNumberText":"18580936"},{"applicationNumberText":"35519938"},{"applicationNumberText":"35519933"},{"applicationNumberText":"35520235"},{"applicationNumberText":"18414179"},{"applicationNumberText":"18413787"},{"applicationNumberText":"18410892"},{"applicationNumberText":"29908133"}],"requestIdentifier":"e5a961db-0864-4edf-8d06-3deaeb4151d1"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsYFLvIAMFzLw=
      x-amzn-requestid:
      - e5a961db-0864-4edf-8d06-3deaeb4151d1
    status_code: 200
version: 1
