interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"52664b12-ac37-43bc-b60d-9a622cadcd72"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsMGHOoAMFnOw=
      x-amzn-requestid:
      - 52664b12-ac37-43bc-b60d-9a622cadcd72
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"6729562d-5d84-46c2-b764-54503155d974"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsNG3yIAMFo8w=
      x-amzn-requestid:
      - 6729562d-5d84-46c2-b764-54503155d974
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/16123456
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"Y","applicationStatusCode":150,"applicationTypeCode":"UTL","filingDate":"2018-09-06","assignmentBag":[{"assignmentReceivedDate":"2018-09-07","assignorBag":[{"executionDate":"2018-07-11","assignorName":"KANADA,
      SHOJI"}],"frameNumber":108,"pageNumber":3,"reelNumber/frameNumber":"046816/0108","assignmentRecordedDate":"2018-09-07","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"TOKYO","geographicRegionCode":"JPX","postalCode":"106-8620","addressLineOneText":"26-30,
      NISHIAZABU 2-CHOME, MINATO-KU"},"assigneeNameText":"FUJIFILM CORPORATION"}],"assignmentMailedDate":"2018-09-10","reelNumber":46816,"correspondenceAddress":[{"addressLineOneText":"8110
      GATEHOUSE ROAD, SUITE 100E","correspondentNameText":"BIRCH, STEWART, KOLASCH
      & BIRCH, LLP","addressLineTwoText":"FALLS CHURCH, VA 22042"}]}],"class/subclass":"382/159","recordAttorney":{"attorneyBag":[{"activeIndicator":"ACTIVE","firstName":"CATHERINE","lastName":"VOISINET","registrationNumber":"52327","attorneyAddressBag":[{"cityName":"FALLS
      CHURCH","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      GATEHOUSE RD.","addressLineTwoText":"SUITE 100 EAST"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"703-205-8000","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"CHENG
      KANG","lastName":"HSU","registrationNumber":"61007","attorneyAddressBag":[{"cityName":"FALLS
      CHURCH","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042","nameLineOneText":"BIRCH,
      STEWART, KOLASCH & BIRCH LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      GATEHOUSE ROAD, SUITE 100 EAST","addressLineTwoText":"P.O. BOX 747"}],"telecommunicationAddressBag":[{"t[...]
