interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"N","applicationStatusCode":150,"applicationTypeCode":"UTL","filingDate":"2014-03-31","assignmentBag":[{"assignmentReceivedDate":"2014-03-31","assignorBag":[{"executionDate":"2004-08-19","assignorName":"BEST,
      SCOTT C."}],"frameNumber":453,"pageNumber":3,"reelNumber/frameNumber":"032567/0453","assignmentRecordedDate":"2014-03-31","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"SUNNYVALE","geographicRegionCode":"CA","postalCode":"94089","addressLineOneText":"1050
      ENTERPRISE WAY, SUITE 700"},"assigneeNameText":"RAMBUS INC."}],"assignmentMailedDate":"2014-04-01","reelNumber":32567,"correspondenceAddress":[{"addressLineOneText":"1050
      ENTERPRISE WAY #700","correspondentNameText":"TARISA WAIN","addressLineTwoText":"SUNNYVALE,
      CA 94089"}]},{"assignmentReceivedDate":"2023-10-13","assignorBag":[{"executionDate":"2023-09-28","assignorName":"RAMBUS
      INC."}],"frameNumber":338,"pageNumber":13,"reelNumber/frameNumber":"065229/0338","assignmentRecordedDate":"2023-10-13","conveyanceText":"ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).","assigneeBag":[{"assigneeAddress":{"cityName":"CAPE
      CORAL","geographicRegionCode":"FL","postalCode":"33914","addressLineOneText":"4921
      SW 11TH AVE"},"assigneeNameText":"K.MIZRA LLC"}],"assignmentMailedDate":"2023-10-17","reelNumber":65229,"correspondenceAddress":[{"addressLineThreeText":"MINNEAPOLIS,
      MN 55402-2438","addressLineOneText":"333 S. 7TH STREET","correspondentNameText":"IAN
      D. MACKINNON","addressLineTwoText":"SUITE 2700"}]}],"class/subclass":"72/106","recordAttorney":{"attorneyBag":[{"activeIndicator":"ACTIVE","firstName":"SUNITA","lastName":"ADLURI","registrationNumber":"78032","attorneyAddressBag":[{"cityName":"WASHINGTON","geographicRegionName":"DISTRICT
      OF COLUMBIA","geographicRegionCode":"DC","countryCode":"US","postalCode":"20005","nameLineOneText":"BANNER
      & WITCOFF","countryName":"UNITED STATES","addressLineOneText":"1100 13TH STREET
      NW","addressLineTwoText":"SUITE 1200"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"202-824-3000","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"ATTNY"},{"activeIndicator":"ACTIVE","firstName":"JOSE","lastName":"MONIZ","registrationNumber":"50192","attorneyAddressBag":[{"cityName":"SUNNYVALE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"RAMBUS
      INC.","countryName":"UNITED STATES","addressLineOneText":"1050 ENTERPRISE WAY,
      SUITE 700"},{"cityName":"SUNNYVALE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"RAMBUS
      INC.","countryName":"UNITED STATES","addressLineOneText":"1050 ENTERPRISE WAY,
      SUITE 700"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"408-462-8336","telecomTypeCode":"TEL"},{"telecommunicationNumber":"5153346883","telecomTypeCode":"FAX"}],"registeredPractitionerCategory":"AGENT"},{"activeIndicator":"ACTIVE","firstName":"CHRISTOPHER","lastName":"KOSH","registrationNumber":"42760","attorneyAddressBag":[{"cityName":"SUNNYVALE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"RAMBUS,
      INC.","countryName":"UNITED STATES","addressLineOneText":"1050 ENTERPRISE WAY","addressLineTwoText":"SUITE
      700"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"408-462-8903","telecomTypeCode":"TEL"}],"registeredPractitionerCategory":"ATTNY"}],"customerNumber":{"powerOfAttorneyAddressBag":[{"cityName":"San
      Jose","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"95134","nameLineOneText":"RAMBUS
      INC.","nameLineTwoText":"C/O Ann Williams","countryName":"UNITED STATES","addressLineOneText":"4453
      North First Street","addressLineTwoText":"Suite 100"}],"patronIdentifier":"69090.0000000000"}},"applicationNumberText":"14230558","nationalStageIndicator":false,"firstInventorName":"Scott
      C. Best","cpcClassificationBag":["G11C7/222","G11C11/4076","G11C7/04","G06F13/1689"],"effectiveFilingDate":"2014-03-31","publicationDateBag":["2014-08-14"],"publicationSequenceNumberBag":["0226420"],"earliestPublicationDate":"2014-08-14","applicationTypeLabelName":"Utility","applicationStatusDate":"2015-07-29","class":"72","applicationTypeCategory":"REGULAR","eventDataBag":[{"eventCode":"IEXX","eventDescriptionText":"Initial
      Exam Team nn","eventDate":"2014-03-31"},{"eventCode":"BIG.","eventDescriptionText":"Entity
      Status Set To Undiscounted (Initial Default Setting or Status Change)","eventDate":"2014-03-31"},{"eventCode":"ELC_RVW","eventDescriptionText":"Electronic
      Review","eventDate":"2014-04-23"},{"eventCode":"EML_NTR","eventDescriptionText":"Email
      Notification","eventDate":"2014-04-23"},{"eventCode":"EML_NTF","eventDescriptionText":"Email
      Notification","eventDate":"2014-04-23"},{"eventCode":"FLRCPT.O","eventDescri[...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/14230558/application-data
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"N","filingDate":"2014-03-31","inventorBag":[{"firstName":"Scott","lastName":"Best","countryCode":"US","inventorNameText":"Scott
      C. Best","middleName":"C.","correspondenceAddressBag":[{"cityName":"Palo Alto","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","postalAddressCategory":"residence"},{"cityName":"Sunnyvale","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"94089","nameLineOneText":"Scott
      C. Best","countryName":"UNITED STATES","addressLineOneText":"1050 Enterprise
      Way, Suite 700","postalAddressCategory":"postal"}]}],"applicationStatusDescriptionText":"Patented
      Case","businessEntityStatusCategory":"Regular Undiscounted","patentNumber":"9111608","grantDate":"2015-08-18","customerNumber":69090,"groupArtUnitNumber":"2864","applicationNumberText":"14230558","earliestPublicationNumber":"US
      2014-0226420 A1","inventionTitle":"STROBE-OFFSET CONTROL CIRCUIT","correspondenceAddressBag":[{"cityName":"San
      Jose","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"95134","nameLineOneText":"RAMBUS
      INC.","nameLineTwoText":"C/O Ann Williams","countryName":"UNITED STATES","addressLineOneText":"4453
      North First Street","addressLineTwoText":"Suite 100"}],"firstInventorName":"Scott
      C. Best","cpcClassificationBag":["G11C7/222","G11C11/4076","G11C7/04","G06F13/1689"],"applicationConfirmationNumber":9057,"earliestPublicationDate":"2014-08-14","applicationTypeLabelName":"Utility","publicationCategoryBag":["Granted/Issued","Pre-Grant
      Publications - PGPub"],"applicationStatusDate":"2015-07-29"}],"requestIdentifier":"4480dae8-70b8-4208-b58e-cec0968c0862"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLiP1F5WIAMF6IA=
      x-amzn-requestid:
      - 4480dae8-70b8-4208-b58e-cec0968c0862
    status_code: 200
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/14230558
  response:
    content: '{"count":1,"patentFileWrapperDataBag":[{"grantDocumentMetaData":{"productIdentifier":"PTGRXML","zipFileName":"ipg150818.zip","fileCreateDateTime":"2024-09-29T13:10:12","xmlFileName":"14230558_09111608.xml","fileLocationURI":"https://api.uspto.gov/api/v1/datasets/products/files/PTGRXML-SPLT/2015/ipg150818/14230558_09111608.xml"},"eventDataBag":[{"eventCode":"TRIALFWD","eventDescriptionText":"Termination
      or Final Written Decision","eventDate":"2025-03-14"},{"eventCode":"TRIALGRT","eventDescriptionText":"Request
      for Trial Granted","eventDate":"2025-03-05"},{"eventCode":"TRIALPET","eventDescriptionText":"Petition
      Requesting Trial","eventDate":"2024-09-10"},{"eventCode":"M1552","eventDescriptionText":"[...]
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/14230558/application-data
  response:
    content: '{"message":"Missing Authentication Token"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - UQIQQHCYIAMFfgw=
      x-amzn-errortype:
      - MissingAuthenticationTokenException
      x-amzn-requestid:
      - 7f54564d-c913-43b9-83f9-06698e4219df
    status_code: 403
[...]
