interactions:
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"applicationNumberText":"16123456"}],"requestIdentifier":"00407ab7-8330-4048-9148-50e9161af7fe"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XNKXkHRboAMF7Yw=
      x-amzn-requestid:
      - 00407ab7-8330-4048-9148-50e9161af7fe
    status_code: 200
- request:
    body: '{"q": "applicationNumberText:16123456", "fields": ["firstInventorToFileIndicator",
      "filingDate", "inventorBag", "customerNumber", "groupArtUnitNumber", "inventionTitle",
      "correspondenceAddressBag", "applicationConfirmationNumber", "docketNumber",
      "applicationNumberText", "firstInventorName", "firstApplicantName", "cpcClassificationBag",
      "businessEntityStatusCategory", "earliestPublicationNumber"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":1,"patentBag":[{"firstInventorToFileIndicator":"Y","filingDate":"2018-09-06","inventorBag":[{"firstName":"Shoji","lastName":"KANADA","inventorNameText":"Shoji
      KANADA","correspondenceAddressBag":[{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"KANADA,
      Shoji","countryName":"JAPAN","postalAddressCategory":"residence"},{"cityName":"Tokyo","countryCode":"JP","nameLineOneText":"Shoji  KANADA","countryName":"JAPAN","addressLineOneText":"c/o
      FUJIFILM Corporation","addressLineTwoText":"7-3, Akasaka 9-chome, Minato-ku","postalAddressCategory":"postal"}]}],"businessEntityStatusCategory":"Regular
      Undiscounted","firstApplicantName":"FUJIFILM Corporation","customerNumber":2292,"groupArtUnitNumber":"2641","applicationNumberText":"16123456","earliestPublicationNumber":"US
      2019-0095759 A1","inventionTitle":"LEARNING ASSISTANCE DEVICE, METHOD OF OPERATING
      LEARNING ASSISTANCE DEVICE, LEARNING ASSISTANCE PROGRAM, LEARNING ASSISTANCE
      SYSTEM, AND TERMINAL DEVICE","correspondenceAddressBag":[{"cityName":"Falls
      Church","geographicRegionName":"VIRGINIA","geographicRegionCode":"VA","countryCode":"US","postalCode":"22042-1248","nameLineOneText":"BIRCH
      STEWART KOLASCH & BIRCH, LLP","countryName":"UNITED STATES","addressLineOneText":"8110
      Gatehouse Road","addressLineTwoText":"Suite 100 East"}],"firstInventorName":"Shoji
      KANADA","cpcClassificationBag":["G06N3/08","G16H30/20","G16H50/70","G16H30/40","G06N20/00","G06V10/7784","G06V10/774","G06F18/2178","G06N3/042","G06F18/217","G06F18/214","G06N3/045"],"applicationConfirmationNumber":7051,"docketNumber":"1982-1042PUS1"}],"requestIdentifier":"4e902cf2-46c1-4359-800e-e93bb61f0af3"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XNKXlFf_oAMF8og=
      x-amzn-requestid:
      - 4e902cf2-46c1-4359-800e-e93bb61f0af3
    status_code: 200
[...]
