interactions:
- request:
    body: '{"q": "customerNumber:(31625)", "fields": ["applicationNumberText"], "pagination":
      {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":3045,"patentBag":[{"applicationNumberText":"18415062"},{"applicationNumberText":"18482547"},{"applicationNumberText":"18478156"},{"applicationNumberText":"18474891"},{"applicationNumberText":"18461871"},{"applicationNumberText":"90019241"},{"applicationNumberText":"18453427"},{"applicationNumberText":"18453057"},{"applicationNumberText":"18450866"},{"applicationNumberText":"90019236"},{"applicationNumberText":"18447727"},{"applicationNumberText":"18446676"},{"applicationNumberText":"18366813"},{"applicationNumberText":"18360629"},{"applicationNumberText":"18353474"},{"applicationNumberText":"18351142"},{"applicationNumberText":"PCT/US23/69770"},{"applicationNumberText":"18343852"},{"applicationNumberText":"18341221"},{"applicationNumberText":"18338555"},{"applicationNumberText":"18336529"},{"applicationNumberText":"18331261"},{"applicationNumberText":"PCT/US23/24572"},{"applicationNumberText":"18321125"},{"applicationNumberText":"PCT/US23/22846"}],"requestIdentifier":"6576142e-0d83-4e77-8670-5f26f0ccf1dd"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsaFasIAMF_fw=
      x-amzn-requestid:
      - 6576142e-0d83-4e77-8670-5f26f0ccf1dd
    status_code: 200
- request:
    body: '{"q":"customerNumber:(31625)","fields":["applicationNumberText"],"pagination":{"offset":0,"limit":25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"code":"404","message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"80e16ab9-d9eb-41c7-a239-348079f46f4e"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 80e16ab9-d9eb-41c7-a239-348079f46f4e
      x-amz-apigw-id:
      - UQHyWG43oAMFuVg=
      x-amzn-requestid:
      - 80e16ab9-d9eb-41c7-a239-348079f46f4e
    status_code: 404
version: 1
