interactions:
- request:
    body: '{"q": "patentNumber:(6013599)", "fields": ["applicationNumberText"], "pagination":
      {"offset": 0, "limit": 25}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"code":404,"message":"Not Found","detailedMessage":"No matching records
      found, refine your search criteria and try again","requestIdentifier":"45e767db-52c7-4a75-a7c2-1a908e27401a"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 45e767db-52c7-4a75-a7c2-1a908e27401a
      x-amz-apigw-id:
      - XNLLpHCGoAMFUyQ=
      x-amzn-requestid:
      - 45e767db-52c7-4a75-a7c2-1a908e27401a
    status_code: 404
version: 1
