interactions:
- request:
    body: '{"fields": ["applicationNumberText"]}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11469842,"patentBag":[{"applicationNumberText":"90019421"},{"applicationNumberText":"96050025"},{"applicationNumberText":"18254067"},{"applicationNumberText":"90019413"},{"applicationNumberText":"18253941"},{"applicationNumberText":"90019411"},{"applicationNumberText":"90019412"},{"applicationNumberText":"18457687"},{"applicationNumberText":"90019409"},{"applicationNumberText":"18280929"},{"applicationNumberText":"18257756"},{"applicationNumberText":"90019410"},{"applicationNumberText":"90019402"},{"applicationNumberText":"90019408"},{"applicationNumberText":"90019407"},{"applicationNumberText":"90019404"},{"applicationNumberText":"18434409"},{"applicationNumberText":"90019405"},{"applicationNumberText":"90019403"},{"applicationNumberText":"90019401"},{"applicationNumberText":"90019400"},{"applicationNumberText":"18270480"},{"applicationNumberText":"18681062"},{"applicationNumberText":"90019397"},{"applicationNumberText":"18254336"}],"requestIdentifier":"4ce9a8d8-e02c-4aa7-8efc-7155b03d89a6"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - XGsgSGIiIAMFRrA=
      x-amzn-requestid:
      - 4ce9a8d8-e02c-4aa7-8efc-7155b03d89a6
    status_code: 200
version: 1
