interactions:
- request:
    body: '{"q": "applicationMetaData.inventionTitle:(Hair Dryer)", "filters": [],
      "rangeFilters": [{"field": "applicationMetaData.filingDate", "valueFrom": "2020-01-01",
      "valueTo": "2024-09-24"}], "sort": [], "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 25}, "facets": []}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":4017,"patentFileWrapperDataBag":[{"applicationNumberText":"35522034"},{"applicationNumberText":"35522062"},{"applicationNumberText":"35522140"},{"applicationNumberText":"18259712"},{"applicationNumberText":"18259715"},{"applicationNumberText":"35521763"},{"applicationNumberText":"35521482"},{"applicationNumberText":"35521857"},{"applicationNumberText":"18678610"},{"applicationNumberText":"18678680"},{"applicationNumberText":"29944716"},{"applicationNumberText":"18675982"},{"applicationNumberText":"29943742"},{"applicationNumberText":"18670995"},{"applicationNumberText":"18670374"},{"applicationNumberText":"35521107"},{"applicationNumberText":"18710925"},{"applicationNumberText":"18666486"},{"applicationNumberText":"29942458"},{"applicationNumberText":"29941807"},{"applicationNumberText":"18660711"},{"applicationNumberText":"29941165"},{"applicationNumberText":"18708013"},{"applicationNumberText":"35522227"},{"applicationNumberText":"18653609"}],"requestIdentifier":"b28ab327-ba78-4859-be48-8277a5a55ce7"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - en6cWHkwoAMF3OA=
      x-amzn-requestid:
      - b28ab327-ba78-4859-be48-8277a5a55ce7
    status_code: 200
version: 1
