interactions:
- request:
    body: '{"fields": ["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11543599,"patentBag":[{"applicationNumberText":"18565537"},{"applicationNumberText":"90019513"},{"applicationNumberText":"18288529"},{"applicationNumberText":"18666323"},{"applicationNumberText":"18009549"},{"applicationNumberText":"18556119"},{"applicationNumberText":"18560431"},{"applicationNumberText":"90019512"},{"applicationNumberText":"18557096"},{"applicationNumberText":"18553308"},{"applicationNumberText":"18662935"},{"applicationNumberText":"90019509"},{"applicationNumberText":"90019510"},{"applicationNumberText":"17913768"},{"applicationNumberText":"17791917"},{"applicationNumberText":"18044319"},{"applicationNumberText":"17927753"},{"applicationNumberText":"18552609"},{"applicationNumberText":"18659875"},{"applicationNumberText":"96050039"},{"applicationNumberText":"90019508"},{"applicationNumberText":"18267650"},{"applicationNumberText":"18248329"},{"applicationNumberText":"18659502"},{"applicationNumberText":"18658719"}],"requestIdentifier":"500808eb-77bd-40ad-a97c-9d6f18f7b620"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - YLmsJG3xIAMFvWg=
      x-amzn-requestid:
      - 500808eb-77bd-40ad-a97c-9d6f18f7b620
    status_code: 200
- request:
    body: '{"fields":["applicationNumberText"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":12545920,"patentFileWrapperDataBag":[{"applicationNumberText":"96050116"},{"applicationNumberText":"90015674"},{"applicationNumberText":"90015671"},{"applicationNumberText":"90015678"},{"applicationNumberText":"90015677"},{"applicationNumberText":"19386825"},{"applicationNumberText":"90015679"},{"applicationNumberText":"90015675"},{"applicationNumberText":"18974370"},{"applicationNumberText":"90015676"},{"applicationNumberText":"19385153"},{"applicationNumberText":"19115188"},{"applicationNumberText":"90015669"},{"applicationNumberText":"90015667"},{"applicationNumberText":"19383436"},{"applicationNumberText":"90015666"},{"applicationNumberText":"18876456"},{"applicationNumberText":"90015665"},{"applicationNumberText":"19380055"},{"applicationNumberText":"90015508"},{"applicationNumberText":"18862137"},{"applicationNumberText":"90015659"},{"applicationNumberText":"90015658"},{"applicationNumberText":"19133615"},{"applicationNumberText":"90015657"}],"requestIdentifier":"5baf9083-8c66-4089-b3ac-bdde228d2a3a"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - UQHyHHtBIAMFvDw=
      x-amzn-requestid:
      - 5baf9083-8c66-4089-b3ac-bdde228d2a3a
    status_code: 200
version: 1
