interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/datasets/products/search?productTitle=Patent&offset=0&limit=2&facets=false&includeFiles=false&latest=false
  response:
    content: '{"count":2,"bulkDataProductBag":[{"productIdentifier":"APPDT","productDescriptionText":"Contains
      the full text, images/drawings, and complex work units (tables, mathematical
      expressions, chemical structures, and genetic sequence data) of each patent
      application (non-provisional utility and plant) published weekly (Thursdays)
      from March 15, 2001 to present.","productTitleText":"Patent Application Full
      Text Data with Embedded TIFF Images (Application Red Book based on WIPO ST.36)","productFrequencyText":"WEEKLY","daysOfWeekText":"THURSDAY","productLabelArrayText":["Patent"],"productDatasetArrayText":["Authoritative"],"productDatasetCategoryArrayText":["Patent
      Application"],"productFromDate":"2001-03-15","productToDate":"2025-02-13","productTotalFileSize":3788926555439,"productFileTotalQuantity":1869,"lastModifiedDateTime":"2025-02-18
      12:02:00","mimeTypeIdentifierArrayText":["XML"]},{"productIdentifier":"GZLST","productDescriptionText":"Contains
      bibliographic (front page) information, a representative claim, and a drawing
      (if applicable) of each patent grant issued that week (Tuesdays). Includes U.S.
      Patent and Trademark Office Notices which provide important information and
      changes in rules concerning both patents and trademarks.","productTitleText":"Patent
      Official Gazettes","productFrequencyText":"WEEKLY","daysOfWeekText":"TUESDAY","productLabelArrayText":["Patent"],"productDatasetArrayText":["Authoritative"],"productDatasetCategoryArrayText":["Patent
      official gazettes"],"productFromDate":"2002-07-02","productToDate":"2025-02-18","productTotalFileSize":233012128603,"productFileTotalQuantity":1183,"lastModifiedDateTime":"2025-02-18
      12:02:00","mimeTypeIdentifierArrayText":["HTML"]}]}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMOu2FL8IAMFVsA=
      x-amzn-requestid:
      - 2369ec01-175e-49e5-b128-a6dbe3da1e7b
    status_code: 200
[...]
