interactions:
- request:
    body: '{"rangeFilters": [{"field": "applicationMetaData.filingDate", "valueFrom":
      "2023-01-01", "valueTo": "2023-12-31"}], "fields": ["applicationNumberText"],
      "pagination": {"offset": 0, "limit": 1}, "facets": ["applicationMetaData.applicationTypeLabelName",
      "applicationMetaData.applicationStatusCode"]}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":483328,"patentFileWrapperDataBag":[{"applicationNumberText":"63616719"}],"facets":{"applicationMetaData.applicationStatusCode":[{"value":"30","count":231954},{"value":"150","count":99754},{"value":"159","count":50384},{"value":"41","count":35819},{"value":"93","count":15004},{"value":"71","count":13243},{"value":"61","count":10566},{"value":"161","count":7018},{"value":"95","count":3059},{"value":"19","count":3053},{"value":"140","count":2011},{"value":"90","count":1653},{"value":"40","count":1473},{"value":"83","count":1241},{"value":"160","count":1148},{"value":"164","count":688},{"value":"94","count":664},{"value":"168","count[...]
[...]
