interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/datasets/products/search?offset=0&limit=5&facets=false&includeFiles=false&latest=false&labels=PATENT%2CTRADEMARK&fileTypes=JSON%2CXML
  response:
    content: "{\"count\":5,\"bulkDataProductBag\":[{\"productIdentifier\":\"APPDT\",\"productDescriptionText\":\"Contains
      the full text, images/drawings, and complex work units (tables, mathematical
      expressions, chemical structures, and genetic sequence data) of each patent
      application (non-provisional utility and plant) published weekly (Thursdays)
      from March 15, 2001 to present.\",\"productTitleText\":\"Patent Application
      Full Text Data with Embedded TIFF Images (Application Red Book based on WIPO
      ST.36)\",\"productFrequencyText\":\"WEEKLY\",\"daysOfWeekText\":\"THURSDAY\",\"productLabelArrayText\":[\"Patent\"],\"productDatasetArrayText\":[\"Authoritative\"],\"productDatasetCategoryArrayText\":[\"Patent
      Application\"],\"productFromDate\":\"2001-03-15\",\"productToDate\":\"2025-02-13\",\"productTotalFileSize\":3788926555439,\"productFileTotalQuantity\":1869,\"lastModifiedDateTime\":\"2025-02-18
      12:02:00\",\"mimeTypeIdentifierArrayText\":[\"XML\"]},{\"productIdentifier\":\"PTGRAPS\",\"productDescriptionText\":\"Contains
      the concatenated full-text of each patent grant document issued weekly (Tuesdays)
      from January 1, 1976 to present (excludes images/drawings). This is the subset
      of the Patent Grant Full Text Data with Embedded TIFF Images.\",\"productTitleText\":\"Patent
      Grant Full-Text Data (No Images) - APS\",\"productFrequencyText\":\"YEARLY\",\"productLabelArrayText\":[\"Patent\"],\"productDatasetArray[...]
