interactions:
- request:
    body: '{"q": "applicationMetaData.applicationTypeLabelName:Utility", "fields":
      ["applicationNumberText"], "pagination": {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":8554634,"patentFileWrapperDataBag":[{"applicationNumberText":"18727105"}],"requestIdentifier":"f2f3a022-875e-4b80-83c0-460ebe2d49b3"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMMxKFZMIAMFtog=
      x-amzn-requestid:
      - f2f3a022-875e-4b80-83c0-460ebe2d49b3
    status_code: 200
[...]
- request:
    body: '{"filters": [{"name": "applicationMetaData.applicationStatusDescriptionText",
      "value": ["Patented Case"]}], "fields": ["applicationNumberText"], "pagination":
      {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":4673980,"patentFileWrapperDataBag":[{"applicationNumberText":"29977557"}],"requestIdentifier":"3884df00-b8d0-4723-a74c-d33dfb54fa2d"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMMxNEbvoAMFlKQ=
      x-amzn-requestid:
      - 3884df00-b8d0-4723-a74c-d33dfb54fa2d
    status_code: 200
[...]
- request:
    body: '{"sort": [{"field": "applicationMetaData.filingDate", "order": "Desc"}],
      "fields": ["applicationNumberText"], "pagination": {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11059305,"patentFileWrapperDataBag":[{"applicationNumberText":"29989499"}],"requestIdentifier":"15472015-fd94-4e24-b4f5-d77c2e62db34"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMMxPGo7oAMFQ-Q=
      x-amzn-requestid:
      - 15472015-fd94-4e24-b4f5-d77c2e62db34
    status_code: 200
- request:
    body: '{"sort": [{"field": "applicationMetaData.filingDate", "order": "Desc"}],
      "fields": ["applicationNumberText"], "pagination": {"offset": 0, "limit": 5}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11059305,"patentFileWrapperDataBag":[{"applicationNumberText":"29989499"},{"applicationNumberText":"29989558"},{"applicationNumberText":"18727105"},{"applicationNumberText":"19051130"},{"applicationNumberText":"90019846"}],"requestIdentifier":"5e970ab2-94a1-46b6-a58c-346b5a0b4d0f"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMMxQE8KIAMFjzg=
      x-amzn-requestid:
      - 5e970ab2-94a1-46b6-a58c-346b5a0b4d0f
    status_code: 200
version: 1
