interactions:
- request:
    body: '{"q": "applicationMetaData.applicationTypeLabelName:Utility", "fields":
      ["applicationNumberText"], "pagination": {"offset": 0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":8554634,"patentFileWrapperDataBag":[{"applicationNumberText":"18727105"}],"requestIdentifier":"151c7a72-e466-4540-9d37-cdd7f0cdfdca"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMOg4FPxIAMF0SQ=
      x-amzn-requestid:
      - 151c7a72-e466-4540-9d37-cdd7f0cdfdca
    status_code: 200
- request:
    body: '{"q": "applicationMetaData.applicationTypeLabelName:Utility", "fields":
      ["applicationNumberText", "applicationMetaData.filingDate", "applicationMetaData.applicationStatusDescriptionText"],
      "pagination": {"offset": 0, "limit": 5}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":8554634,"patentFileWrapperDataBag":[{"applicationMetaData":{"filingDate":"2025-02-12","applicationStatusDescriptionText":"Sent
      to Classification contractor"},"applicationNumberText":"18727105"},{"applicationMetaData":{"filingDate":"2025-02-11","applicationStatusDescriptionText":"Sent
      to Classification contractor"},"applicationNumberText":"18727121"},{"applicationMetaData":{"filingDate":"2025-02-10","applicationStatusDescriptionText":"Docketed
      New Case - Ready for Examination"},"applicationNumberText":"18721311"},{"applicationMetaData":{"filingDate":"2025-02-07","applicationStatusDescriptionText":"Sent
      to Classification contractor"},"applicationNumberText":"18838050"},{"applicationMetaData":{"filingDate":"2025-02-07","applicationStatusDescriptionText":"Sent
      to Classification contractor"},"applicationNumberText":"18860460"}],"requestIdentifier":"1c36549e-c025-4941-848d-d7310d1d5702"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMOg6HJrIAMFmew=
      x-amzn-requestid:
      - 1c36549e-c025-4941-848d-d7310d1d5702
    status_code: 200
version: 1
