interactions:
- request:
    body: '{"q": "applicationMetaData.applicationTypeLabelName:Utility", "rangeFilters":
      [{"field": "applicationMetaData.filingDate", "valueFrom": "2023-01-01", "valueTo":
      "2023-01-31"}], "fields": ["applicationNumberText"], "pagination": {"offset":
      0, "limit": 1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":32437,"patentFileWrapperDataBag":[{"applicationNumberText":"18019071"}],"requestIdentifier":"3900fe38-f6e9-422b-a19c-96ffd807b156"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMOg7HrkIAMF3sA=
      x-amzn-requestid:
      - 3900fe38-f6e9-422b-a19c-96ffd807b156
    status_code: 200
- request:
    body: '{"q": "applicationMetaData.applicationTypeLabelName:Utility", "rangeFilters":
      [{"field": "applicationMetaData.filingDate", "valueFrom": "2023-01-01", "valueTo":
      "2023-01-31"}], "pagination": {"offset": 0, "limit": 5}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: "{\"count\":32437,\"patentFileWrapperDataBag\":[{\"eventDataBag\":[{\"eventCode\":\"M844\",\"eventDescriptionText\":\"Information
      Disclosure Statement (IDS) Filed\",\"eventDate\":\"2023-01-31\"},{\"eventCode\":\"EML_NTR\",\"eventDescriptionText\":\"Email
      Notification\",\"eventDate\":\"2023-09-29\"},{\"eventCode\":\"PG-ISSUE\",\"eventDescriptionText\":\"PG-Pub
      Issue Notification\",\"eventDate\":\"2023-09-29\"},{\"eventCode\":\"CCRDY\",\"eventDescriptionText\":\"Application
      ready for PDX access by participating foreign offices\",\"eventDate\":\"2023-09-28\"},{\"eventCode\":\"RQPR\",\"eventDescriptionText\":\"Request
      for Foreign Priority (Priority Pa[...]
