interactions:
- request:
    body: '{"fields": ["applicationNumberText"], "pagination": {"offset": 0, "limit":
      1}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11059305,"patentFileWrapperDataBag":[{"applicationNumberText":"29989499"}],"requestIdentifier":"e966ce7c-1294-47c4-8f27-82ba2253f27a"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMOgyEvPoAMFUdg=
      x-amzn-requestid:
      - e966ce7c-1294-47c4-8f27-82ba2253f27a
    status_code: 200
- request:
    body: '{"fields": ["applicationNumberText"], "pagination": {"offset": 0, "limit":
      10}}'
    headers:
      X-API-KEY:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    content: '{"count":11059305,"patentFileWrapperDataBag":[{"applicationNumberText":"29989499"},{"applicationNumberText":"29989558"},{"applicationNumberText":"18727105"},{"applicationNumberText":"19051130"},{"applicationNumberText":"90019846"},{"applicationNumberText":"90019847"},{"applicationNumberText":"90019848"},{"applicationNumberText":"18727121"},{"applicationNumberText":"29989210"},{"applicationNumberText":"90019845"}],"requestIdentifier":"3faaed6b-e523-40e3-a230-78a0a12cbcea"}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - GMOgzH7yoAMFuSQ=
      x-amzn-requestid:
      - 3faaed6b-e523-40e3-a230-78a0a12cbcea
    status_code: 200
version: 1
