interactions:
- request:
    body: ''
    headers:
      X-API-KEY:
      - REDACTED
    method: GET
    uri: https://beta-api.uspto.gov/api/v1/datasets/products/search?productTitle=Patent&offset=0&limit=5&facets=true&includeFiles=true&latest=true
  response:
    content: "{\"count\":5,\"bulkDataProductBag\":[{\"productIdentifier\":\"APPDT\",\"productDescriptionText\":\"Contains
      the full text, images/drawings, and complex work units (tables, mathematical
      expressions, chemical structures, and genetic sequence data) of each patent
      application (non-provisional utility and plant) published weekly (Thursdays)
      from March 15, 2001 to present.\",\"productTitleText\":\"Patent Application
      Full Text Data with Embedded TIFF Images (Application Red Book based on WIPO
      ST.36)\",\"productFrequencyText\":\"WEEKLY\",\"daysOfWeekText\":\"THURSDAY\",\"productLabelArrayText\":[\"Patent\"],\"productDatasetArrayText\":[\"Authoritative\"],\"productDatasetCategoryArrayText\":[\"Patent
      Application\"],\"productFromDate\":\"2001-03-15\",\"productToDate\":\"2025-02-13\",\"productTotalFileSize\":3788926555439,\"productFileTotalQuantity\":1869,\"lastModifiedDateTime\":\"2025-02-13
      00:02:00\",\"mimeTypeIdentifierArrayText\":[\"XML\"],\"productFileBag\":{\"count\":1,\"fileDataBag\":[{\"fileName\":\"I20250213.tar\",\"fileSize\":5473483264,\"fileDataFromDate\":\"2025-02-13\",\"fileDataToDate\":\"2025-02-13\",\"fileTypeText\":\"Data\",\"fileDownloadURI\":\"https://beta-api.uspto.gov/api/v1/datasets/products/files/APPDT/2025/I20250213.tar\",\"fileReleaseDate\":\"2025-02-13
      00:02:00\",\"fileLastModifiedDateTime\":\"2025-02-18 12:02:00\"}]}},{\"productIdentifier\":\"GZLST\",\"productDescriptionText\":\"Contains
      bibliographic (front page) information, a representative claim, and a drawing
      (if applicable) of each patent grant issued that week (Tuesdays). Includes U.S.
      Patent and Trademark Office Notices which provide important information and
      changes in rules concerning both patents and trademarks.\",\"productTitleText\":\"Patent
      Official Gazettes\",\"productFrequencyText\":\"W[...]
