interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=OwnerName&query=Scientific+Drilling&rows=20&start=0&sort=&facet=False
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
        \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n
        \ <int name=\"QTime\">107</int>\n  <lst name=\"params\">\n    <str name=\"q\">patAssigneeName:(Scientific
        Drilling)</str>\n    <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n
        \   <str name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"rows\">20</str>\n
        \   <str name=\"wt\">javabin</str>\n    <str name=\"version\">2</str>\n  </lst>\n</lst>\n<result
        name=\"response\" numFound=\"61\" start=\"0\">\n  <doc>\n    <str name=\"id\">54924-669</str>\n
        \   <str name=\"displayId\">054924-0669</str>\n    <str name=\"reelNo\">54924</str>\n
        \   <str name=\"frameNo\">669</str>\n    <date name=\"lastUpdateDate\">2022-06-23T06:00:26Z</date>\n
        \   <str name=\"purgeIndicator\">N</str>\n    <date name=\"recordedDate\">2021-01-14T04:00:00Z</date>\n
        \   <str name=\"pageCount\">3</str>\n    <str name=\"conveyanceText\">ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
        \   <str name=\"attorneyDockNum\">SDI.186001</str>\n    <str name=\"corrName\">ADOLPH
        LOCKLAR</str>\n    <str name=\"corrAddress1\">238 S. EGRET BAY BLVD. # 386</str>\n
        \   <str name=\"corrAddress2\">LEAGUE CITY, TX 77573</str>\n    <date name=\"patAssignorEarliestExDate\">2021-01-05T04:00:00Z</date>\n
        \   <arr name=\"patAssignorName\">\n      <str>VOLGMANN, MARCO</str>\n      <str>SZASZ,
        FLORIAN</str>\n    </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2021-01-05T04:00:00Z</date>\n
        \     <date>2021-01-05T04:00:00Z</date>\n    </arr>\n    <arr name=\"patAssignorDateAck\">\n
        \     <str>0001-01-01T00:00:00Z</str>\n      <str>0001-01-01T00:00:00Z</str>\n
        \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>SCIENTIFIC DRILLING
        INTERNATIONAL, INC.</st[...]
