interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=OwnerName&query=Borealis&rows=20&start=0&sort=&facet=False
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
        \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n
        \ <int name=\"QTime\">228</int>\n  <lst name=\"params\">\n    <str name=\"q\">patAssigneeName:(Borealis)</str>\n
        \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
        name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"rows\">20</str>\n
        \   <str name=\"wt\">javabin</str>\n    <str name=\"version\">2</str>\n  </lst>\n</lst>\n<result
        name=\"response\" numFound=\"1674\" start=\"0\">\n  <doc>\n    <str name=\"id\">59608-361</str>\n
        \   <str name=\"displayId\">059608-0361</str>\n    <str name=\"reelNo\">59608</str>\n
        \   <str name=\"frameNo\">361</str>\n    <date name=\"lastUpdateDate\">2022-07-21T06:00:51Z</date>\n
        \   <str name=\"purgeIndicator\">N</str>\n    <date name=\"recordedDate\">2022-04-15T04:00:00Z</date>\n
        \   <str name=\"pageCount\">3</str>\n    <str name=\"conveyanceText\">ASSIGNMENT
        OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
        \   <str name=\"attorneyDockNum\">758197</str>\n    <str name=\"corrName\">LEYDIG
        VOIT &amp; MAYER, LTD</str>\n    <str name=\"corrAddress1\">TWO PRUDENTIAL
        PLAZA, SUITE 4900</str>\n    <str name=\"corrAddress2\">180 NORTH STETSON
        AVENUE</str>\n    <str name=\"corrAddress3\">CHICAGO, IL 60601-6745</str>\n
        \   <date name=\"patAssignorEarliestExDate\">2022-04-08T04:00:00Z</date>\n
        \   <arr name=\"patAssignorName\">\n      <str>GARD, REINHOLD</str>\n    </arr>\n
        \   <arr name=\"patAssignorExDate\">\n      <date>2022-04-08T04:00:00Z</date>\n
        \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
        \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>BOREALIS AG</str>\n
        \   </arr>\n    <arr name=\"patAssigneeAddress1\">\n      <str>IZD TOWER WAGRAMERSTRASSE
        17-19</str>\n    </arr>\n    <arr name=\"patAssi[...]
