interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=OwnerName&query=Scientific%20Drilling&rows=8&start=0&sort=ExecutionDate%2Bdesc&facet=false
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
      \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n  <int
      name=\"QTime\">325</int>\n  <lst name=\"params\">\n    <str name=\"q\">patAssigneeName:(Scientific
      Drilling)</str>\n    <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n
      \   <str name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"rows\">8</str>\n
      \   <str name=\"wt\">javabin</str>\n    <str name=\"version\">2</str>\n  </lst>\n</lst>\n<result
      name=\"response\" numFound=\"65\" start=\"0\">\n  <doc>\n    <str name=\"id\">62575-879</str>\n
      \   <str name=\"displayId\">062575-0879</str>\n    <str name=\"reelNo\">62575</str>\n
      \   <str name=\"frameNo\">879</str>\n    <date name=\"lastUpdateDate\">2023-10-03T06:00:05Z</date>\n
      \   <str name=\"purgeIndicator\">N</str>\n    <date name=\"recordedDate\">2023-02-02T04:00:00Z</date>\n
      \   <str name=\"pageCount\">3</str>\n    <str name=\"conveyanceText\">ASSIGNMENT
      OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).</str>\n    <str name=\"assignmentRecordHasImages\">Y</str>\n
      \   <str name=\"attorneyDockNum\">SDI.186002</str>\n    <str name=\"corrName\">EWING
      &amp; JONES, PLLC</str>\n    <str name=\"corrAddress1\">238 S. EGRET BAY BLVD.
      # 386</str>\n    <str name=\"corrAddress2\">LEAGUE CITY, TX 77573</str>\n    <date
      name=\"patAssignorEarliestExDate\">2023-01-31T04:00:00Z</date>\n    <arr name=\"patAssignorName\">\n
      \     <str>VOLGMANN, MARCO</str>\n      <str>SZASZ, FLORIAN</str>\n    </arr>\n
      \   <arr name=\"patAssignorExDate\">\n      <date>2023-01-31T04:00:00Z</date>\n
      \     <date>2023-01-31T04:00:00Z</date>\n    </arr>\n    <arr name=\"patAssignorDateAck\">\n
      \     <str>0001-01-01T00:00:00Z</str>\n      <str>0001-01-01T00:00:00Z</str>\n
      \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>SCIENTIFIC DRILLING
      INTERNATIONAL, INC.</str>[...]
