interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?filter=PatentNumber&query=8789601&rows=20&start=0&sort=
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n\n<lst name=\"responseHeader\">\n
        \ <bool name=\"zkConnected\">true</bool>\n  <int name=\"status\">0</int>\n
        \ <int name=\"QTime\">55</int>\n  <lst name=\"params\">\n    <str name=\"q\">*:*</str>\n
        \   <str name=\"qt\">/apisearch</str>\n    <str name=\"start\">0</str>\n    <str
        name=\"sort\">patAssignorEarliestExDate desc</str>\n    <str name=\"fq\">patNum:8789601</str>\n
        \   <str name=\"rows\">20</str>\n    <str name=\"wt\">javabin</str>\n    <str
        name=\"version\">2</str>\n  </lst>\n</lst>\n<result name=\"response\" numFound=\"9\"
        start=\"0\">\n  <doc>\n    <str name=\"id\">57434-429</str>\n    <str name=\"displayId\">057434-0429</str>\n
        \   <str name=\"reelNo\">57434</str>\n    <str name=\"frameNo\">429</str>\n
        \   <date name=\"lastUpdateDate\">2022-04-07T06:01:04Z</date>\n    <str name=\"purgeIndicator\">N</str>\n
        \   <date name=\"recordedDate\">2021-06-30T04:00:00Z</date>\n    <str name=\"pageCount\">19</str>\n
        \   <str name=\"conveyanceText\">SECURITY INTEREST (SEE DOCUMENT FOR DETAILS).</str>\n
        \   <str name=\"assignmentRecordHasImages\">Y</str>\n    <str name=\"attorneyDockNum\">072765/561694</str>\n
        \   <str name=\"corrName\">ALSTON &amp; BIRD LLP</str>\n    <str name=\"corrAddress1\">ONE
        SOUTH AT THE PLAZA</str>\n    <str name=\"corrAddress2\">101 SOUTH TRYON STREET,
        SUITE 4000</str>\n    <str name=\"corrAddress3\">CHARLOTTE, NC 28280-4000</str>\n
        \   <date name=\"patAssignorEarliestExDate\">2021-06-24T04:00:00Z</date>\n
        \   <arr name=\"patAssignorName\">\n      <str>U.S. WELL SERVICES, LLC</str>\n
        \   </arr>\n    <arr name=\"patAssignorExDate\">\n      <date>2021-06-24T04:00:00Z</date>\n
        \   </arr>\n    <arr name=\"patAssignorDateAck\">\n      <str>0001-01-01T00:00:00Z</str>\n
        \   </arr>\n    <arr name=\"patAssigneeName\">\n      <str>WILMINGTON SAVINGS
        FUND SOCIETY, FSB</str>\n    </arr>\n    <arr name=\"patAssigneeAddress1\">\n
        \     <str>500 DELAWARE AVENUE, 11TH FLOOR</str>\n [...]
[...]
