interactions:
- request:
    body: '{"caseId": 27922612, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDU5MTBmMC1kMzBhLTQ5ZmEtOGE1Ny1jMjRjNWU4ZjNiOGUiLCJ2ZXIiOiJhNDVjMWVhMy1kM2QxLTQzNTQtYmQyMC0wM2JiYjZmODUyMGUiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":27922612,"userId":null,"numResults":1444301,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"system\".TTL.","queryName":"\"system\".TTL.","userEnteredQuery":"\"system\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"system\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["default"],"aliasCategory":"OTHER"},{"id":2,"name":"\"systems\"","nodeType":"TERM","parentId":1,"relation":"PLURAL","aliases":["default"],"aliasCategory":"OTHER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"system\".TTL.","error":null,"terms":["\"system\"","\"systems\""],"facets":[{"solrField":"document_type","count":1444301,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '2'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 27922612, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJlZDU5MTBmMC1kMzBhLTQ5ZmEtOGE1Ny1jMjRjNWU4ZjNiOGUiLCJ2ZXIiOiJhNDVjMWVhMy1kM2QxLTQzNTQtYmQyMC0wM2JiYjZmODUyMGUiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{"numFound":500,"perPage":500,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":27922612,"userId":null,"numResults":500,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"system\".TTL.","queryName":"\"system\".TTL.","userEnteredQuery":"\"system\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
      asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"\"system\".TTL.","error":null,"terms":["\"system\"","\"systems\""],"facets":[],"pNumber":null,"hl_fl":null},"duration":109,"highlightingTime":2,"cursorMarker":"AoJwgJKQhI8DPDEwMDAwMDc3NzgyMzIhVVMtVVMtMTE5NjgwMzk=","totalResults":500,"numberOfFamilies":1187954,"error":null,"patents":[{"guid":"US-11966793-B1","publicationReferenceDocumentNumber":"11966793","compositeId":"1000002958195!US-US-11966793","publicationReferenceDocumentNumber1":"11966793","datePublishedKwicHits":null,"datePublished":"2024-04-23T00:00:00Z","inventionTitle":"<span
      term=\"\"systems\"\" class=\"highlight18\">Systems</span> and methods to extend
      an interactive space across multiple platforms","type":"USPAT","mainClassificationCode":"1/1","applicantName":["Meta
      View, Inc."],"assigneeName":["Campfire 3D, Inc."],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"G06F9/54;G06F13/10","cpcInventiveFlattened":"G06F13/102;G06F9/541;G06F3/04815;H04L41/08;H04L67/125","cpcAdditionalFlattened":"A63F2300/1087;G06F2203/04802","applicationFilingDate":["2017-10-18T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Khan;
      Atta","assistantExaminer":null,"applicationNumber":"15/787564","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":6,"specificationStart":7,"specificationEnd":15,"claimsStart":15,"claimsEnd":16,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":16,"pageCountDisplay":"16","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/G93/667/119","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Jansen;
      Paulo et al.","familyIdentifierCur":1000002958195,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
      11966793 B1","derwentAccessionNumber":null,"documentSize":102190,"score":4.9845862,"governmentInterest":null,"kindCode":["B1"],"urpn":["8730156","9983697","20020158905","20090070093","20100177931","20120229454","20120249741","20130104084","20130117377","20130297690","20140111547","20140152558","20140198101","20140204002","20140225812","20140267637","20140306891","20150371441","20160005229","20170060230","20170161957","20170235143","20170236463","20170243403","20170336941"],"urpnCode":["8730156","9983697","20020158905","20090070093","20100177931","20120229454","20120249741","20130104084","20130117377","20130297690","20140111547","20140152558","20140198101","20140204002","20140225812","20140267637","20140306891","20150371441","20160005229","20170060230","20170161957","20170235143","20170236463","20170243403","20170336941"],"descriptionStart":7,"descriptionEnd":15,"publicationReferenceDocumentNumberOne":"11966793"},{"guid":"US-11966953-B1","publicationReferenceDocumentNumber":"11966953","compositeId":"1000004214026!US-US-11966953","publicationReferenceDocumentNumber1":"11966953","datePublishedKwicHits":null,"datePublished":"2024-04-23T00:00:00Z","inventionTitle":"<span
      term=\"\"system\"\" class=\"highlight18\">System</span> and method for product
      usage evaluation and prediction","type":"USPAT","mainClassificationCode":"1/1","applicantName":["Intuit
      Inc."],"assigneeName":["Intu[...]
