interactions:
- request:
    body: '{"caseId": 28621613, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4ZGIzNjdkOS1lZjc1LTRiNDQtYjA1ZS1mZDVjMzk3NjM1YzUiLCJ2ZXIiOiI2MDlhMWNhMi1hOGM0LTQxMWQtOTlkYy02NTYzZGVhMDNiZTEiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"caseId": 28621613, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4ZGIzNjdkOS1lZjc1LTRiNDQtYjA1ZS1mZDVjMzk3NjM1YzUiLCJ2ZXIiOiI2MDlhMWNhMi1hOGM0LTQxMWQtOTlkYy02NTYzZGVhMDNiZTEiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{"id":null,"caseId":28621613,"userId":null,"numResults":1449394,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"\"system\".TTL.","queryName":"\"system\".TTL.","userEnteredQuery":"\"system\".TTL.","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"\"system\"","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["default"],"aliasCategory":"OTHER"},{"id":2,"name":"\"systems\"","nodeType":"TERM","parentId":1,"relation":"PLURAL","aliases":["default"],"aliasCategory":"OTHER"}],"termRelationship":[]},"hl":false,"fl":null,"originalQuery":"\"system\".TTL.","error":null,"terms":["\"system\"","\"systems\""],"facets":[{"solrField":"document_type","count":1449394,"id":"USPAT"}],"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '0'
    status_code: 200
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 28621613, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4ZGIzNjdkOS1lZjc1LTRiNDQtYjA1ZS1mZDVjMzk3NjM1YzUiLCJ2ZXIiOiI2MDlhMWNhMi1hOGM0LTQxMWQtOTlkYy02NTYzZGVhMDNiZTEiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"start": 0, "pageCount": 500, "sort": "date_publ desc", "docFamilyFiltering":
      "familyIdFiltering", "searchType": 1, "familyIdEnglishOnly": true, "familyIdFirstPreferred":
      "US-PGPUB", "familyIdSecondPreferred": "USPAT", "familyIdThirdPreferred": "FPRS",
      "showDocPerFamilyPref": "showEnglish", "queryId": 0, "tagDocSearch": false,
      "query": {"caseId": 28621613, "hl_snippets": "2", "op": "OR", "q": "\"system\".TTL.",
      "queryName": "\"system\".TTL.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "USPAT", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"system\".TTL."}}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI4ZGIzNjdkOS1lZjc1LTRiNDQtYjA1ZS1mZDVjMzk3NjM1YzUiLCJ2ZXIiOiI2MDlhMWNhMi1hOGM0LTQxMWQtOTlkYy02NTYzZGVhMDNiZTEiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/searchWithBeFamily
  response:
    content: "{\"numFound\":500,\"perPage\":500,\"page\":0,\"totalPages\":0,\"hlSnippets\":0,\"sort\":null,\"query\":{\"id\":null,\"caseId\":28621613,\"userId\":null,\"numResults\":500,\"ignorePersist\":true,\"fq\":null,\"databaseFilters\":[{\"databaseName\":\"USPAT\",\"countryCodes\":[]}],\"q\":\"\\\"system\\\".TTL.\",\"queryName\":\"\\\"system\\\".TTL.\",\"userEnteredQuery\":\"\\\"system\\\".TTL.\",\"viewName\":\"tile\",\"op\":\"OR\",\"highlights\":\"1\",\"plurals\":true,\"britishEquivalents\":true,\"searchType\":1,\"excludeResultsAfter\":null,\"dateCreated\":null,\"deleteIn\":false,\"expand\":true,\"expandSort\":\"group_sort_date
      asc, id desc \",\"expandRows\":\"100\",\"expandTrackDocScores\":true,\"expandTrackMaxScore\":true,\"termGraph\":null,\"hl\":false,\"fl\":null,\"originalQuery\":\"\\\"system\\\".TTL.\",\"error\":null,\"terms\":[\"\\\"system\\\"\",\"\\\"systems\\\"\"],\"facets\":[],\"pNumber\":null,\"hl_fl\":null},\"duration\":109,\"highlightingTime\":2,\"cursorMarker\":\"AoJwgNSczI8DPDEwMDAwMDc4MzQ1NzIhVVMtVVMtMTE5OTE0ODI=\",\"totalResults\":500,\"numberOfFamilies\":1191509,\"error\":null,\"patents\":[{\"guid\":\"US-11986508-B1\",\"publicationReferenceDocumentNumber\":\"11986508\",\"compositeId\":\"1000000289179!US-US-11986508\",\"publicationReferenceDocumentNumber1\":\"11986508\",\"datePublishedKwicHits\":null,\"datePublished\":\"2024-05-21T00:00:00Z\",\"inventionTitle\":\"Nutritional
      and cosmetic product, <span term=\\\"\\\"system\\\"\\\" class=\\\"highlight18\\\">system</span>
      and method for use\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantName\":[\"Konzny;
      Juliana\"],\"assigneeName\":null,\"uspcFullClassificationFlattened\":null,\"ipcCodeFlattened\":\"A61K36/899;A61K31/197\",\"cpcInventiveFlattened\":\"A61K31/197;A61K36/31;A61K33/00;A61K36/886;A61K36/899;A61K36/23;A61K36/87;A61K31/407;A61K36/736;A61K31/685;A61K36/63;A61K36/752;A61K31/59;A61K36/898;A61K36/42;A61K36/73;A61K33/06;A61K36/889;A61K36/11;A61K36/55;A61K36/185;A61K31/375;A61K31/4415;A61K31/355\",\"cpcAdditionalFlattened\":null,\"applicationFilingDate\":[\"2012-06-29T00:00:00Z\"],\"applicationFilingDateKwicHits\":null,\"relatedApplFilingDate\":[\"2011-04-06T00:00:00Z\",\"2010-04-06T00:00:00Z\"],\"primaryExaminer\":\"Blanchard;
      David J\",\"assistantExaminer\":[\"Chickos; Sarah J\"],\"applicationNumber\":\"13/537778\",\"frontPageStart\":1,\"frontPageEnd\":2,\"drawingsStart\":3,\"drawingsEnd\":15,\"specificationStart\":16,\"specificationEnd\":30,\"claimsStart\":30,\"claimsEnd\":31,\"abstractStart\":1,\"abstractEnd\":1,\"bibStart\":1,\"bibEnd\":2,\"certCorrectionStart\":0,\"certCorrectionEnd\":0,\"certReexaminationStart\":0,\"certReexaminationEnd\":0,\"supplementalStart\":0,\"supplementalEnd\":0,\"ptabStart\":0,\"ptabEnd\":0,\"amendStart\":0,\"amendEnd\":0,\"searchReportStart\":0,\"searchReportEnd\":0,\"pageCount\":31,\"pageCountDisplay\":\"31\",\"previouslyViewed\":false,\"unused\":false,\"imageLocation\":\"uspat/US/G08/865/119\",\"imageFileName\":\"00000001.tif\",\"cpcCodes\":null,\"queryId\":null,\"tags\":null,\"inventorsShort\":\"Konzny;
      Juliana\",\"familyIdentifierCur\":1000000289179,\"familyIdentifierCurStr\":null,\"languageIndicator\":\"EN\",\"databaseName\":\"USPT\",\"dwImageDoctypeList\":null,\"dwImageLocList\":null,\"dwPageCountList\":null,\"dwImageDocidList\":null,\"patentFamilyMembers\":null,\"patentFamilyCountry\":null,\"patentFamilySerialNumber\":null,\"documentIdWithDashesDw\":null,\"pfPublDate\":null,\"pfPublDateKwicHits\":null,\"priorityClaimsDate\":null,\"priorityClaimsDateKwicHits\":null,\"pfApplicationSerialNumber\":null,\"pfApplicationDescriptor\":null,\"pfLanguage\":null,\"pfApplicationDate\":null,\"pfApplicationDateKwicHits\":null,\"clippedUri\":null,\"source\":null,\"documentId\":\"US
      11986508 B1\",\"derwentAccessionNumber\":null,\"documentSize\":154358,\"score\":3.5476246,\"governmentInterest\":null,\"kindCode\":[\"B1\"],\"urpn\":[\"20020039599\",\"20050054724\",\"20070292501\",\"20110294876\"],\"urpnCode\":[\"20020039599\",\"20050054724\",\"20070292501\",\"20110294876\"],\"descriptionStart\":16,\"descriptionEnd\":30,\"publicationReferenceDocumentNumberOne\":\"11986508\"},{\"guid\":\"US-11990213-B1\",\"publicationReferenceDocumentNumber\":\"11990213\",\"compositeId\":\"1000002185189!US-US-11990213\",\"publicationReferenceDocumentNumber1\":\"11990213\",\"datePublishedKwicHits\":null,\"datePublished\":\"2024-05-21T00:00:00Z\",\"inventionTitle\":\"Methods
      and <span term=\\\"\\\"systems\\\"\\\" class=\\\"highlight18\\\">systems</span>
      for visualizing patient population data\",\"type\":\"USPAT\",\"mainClassificationCode\":\"1/1\",\"applicantN[...]
