interactions:
- request:
    body: '{"caseId": 27915804, "hl_snippets": "2", "op": "OR", "q": "\"20160009839\".PN.",
      "queryName": "\"20160009839\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20160009839\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJiZTU0YjA0ZC1mZGYxLTQ5NGMtYjUyZS00M2Q4ZWRiZjk1MDgiLCJ2ZXIiOiIxYTg3NmI0Ny0yM2NlLTQ2ZGItOWViNy1mNmRhODY3OTZjZmMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
- request:
    body: '{"caseId": 27915804, "hl_snippets": "2", "op": "OR", "q": "\"20160009839\".PN.",
      "queryName": "\"20160009839\".PN.", "highlights": "1", "qt": "brs", "spellCheck":
      false, "viewName": "tile", "plurals": true, "britishEquivalents": true, "databaseFilters":
      [{"databaseName": "US-PGPUB", "countryCodes": []}], "searchType": 1, "ignorePersist":
      true, "userEnteredQuery": "\"20160009839\".PN."}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiJiZTU0YjA0ZC1mZGYxLTQ5NGMtYjUyZS00M2Q4ZWRiZjk1MDgiLCJ2ZXIiOiIxYTg3NmI0Ny0yM2NlLTQ2ZGItOWViNy1mNmRhODY3OTZjZmMiLCJleHAiOjB9
      x-requested-with:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/dirsearch-public/searches/counts
  response:
    content: '{ "message": "Too many requests" }'
    headers:
      content-type:
      - application/json;charset=ISO-8859-1
      x-rate-limit-retry-after-seconds:
      - '0'
    status_code: 429
version: 1
