<?xml version="1.0" encoding="UTF-8" standalone="yes"?><?xml-stylesheet type='text/xsl' href='/3.2/style/rplus.xsl' ?>
<ops:world-patent-data xmlns:ops="http://ops.epo.org"
    xmlns:reg="http://www.epo.org/register"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:cpc="http://www.epo.org/cpcexport"
    xmlns:cpcdef="http://www.epo.org/cpcdefinition">
    <ops:register-search total-result-count="1">
        <ops:query syntax="CQL">publication=EP1000000</ops:query>
        <ops:range begin="1" end="1"/>
        <reg:register-documents produced-by="RO">
            <reg:register-document date-produced="20221117" dtd-version="1.3.2" lang="en" produced-by="RO" status="No opposition filed within time limit">
                <reg:ep-patent-statuses>
                    <reg:ep-patent-status change-date="" status-code="7">No opposition filed within time limit</reg:ep-patent-status>
                </reg:ep-patent-statuses>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405912" event-type="new">
                        <reg:event-date>
                            <reg:date>20140607</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOSDTIPA</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Deletion: Observations by third parties</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405913" event-type="new">
                        <reg:event-date>
                            <reg:date>20130315</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2013/16</reg:gazette-num>
                            <reg:date>20130417</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405914" event-type="new">
                        <reg:event-date>
                            <reg:date>20130315</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009299LAPS</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Change - lapse in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2013/16</reg:gazette-num>
                            <reg:date>20130417</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405915" event-type="new">
                        <reg:event-date>
                            <reg:date>20111202</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOSNTIPA</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">New entry: Observations by third parties</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405916" event-type="new">
                        <reg:event-date>
                            <reg:date>20080718</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009299FREP</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Change - representative</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2008/34</reg:gazette-num>
                            <reg:date>20080820</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405917" event-type="new">
                        <reg:event-date>
                            <reg:date>20080321</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2008/17</reg:gazette-num>
                            <reg:date>20080423</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405918" event-type="new">
                        <reg:event-date>
                            <reg:date>20060217</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2006/14</reg:gazette-num>
                            <reg:date>20060405</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405919" event-type="new">
                        <reg:event-date>
                            <reg:date>20041203</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2005/03</reg:gazette-num>
                            <reg:date>20050119</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405920" event-type="new">
                        <reg:event-date>
                            <reg:date>20040806</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2004/39</reg:gazette-num>
                            <reg:date>20040922</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405921" event-type="new">
                        <reg:event-date>
                            <reg:date>20040716</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2004/36</reg:gazette-num>
                            <reg:date>20040901</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405922" event-type="new">
                        <reg:event-date>
                            <reg:date>20031219</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009261</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">No opposition filed within time limit</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2004/06</reg:gazette-num>
                            <reg:date>20040204</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405923" event-type="new">
                        <reg:event-date>
                            <reg:date>20031212</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2004/05</reg:gazette-num>
                            <reg:date>20040128</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405924" event-type="new">
                        <reg:event-date>
                            <reg:date>20031121</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2004/02</reg:gazette-num>
                            <reg:date>20040107</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405925" event-type="new">
                        <reg:event-date>
                            <reg:date>20031003</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/47</reg:gazette-num>
                            <reg:date>20031119</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405926" event-type="new">
                        <reg:event-date>
                            <reg:date>20030926</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/46</reg:gazette-num>
                            <reg:date>20031112</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405927" event-type="new">
                        <reg:event-date>
                            <reg:date>20030905</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/43</reg:gazette-num>
                            <reg:date>20031022</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405928" event-type="new">
                        <reg:event-date>
                            <reg:date>20030822</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/41</reg:gazette-num>
                            <reg:date>20031008</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405929" event-type="new">
                        <reg:event-date>
                            <reg:date>20030815</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/40</reg:gazette-num>
                            <reg:date>20031001</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405930" event-type="new">
                        <reg:event-date>
                            <reg:date>20030620</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009250</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Lapse of the patent in a contracting state</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/32</reg:gazette-num>
                            <reg:date>20030806</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405931" event-type="new">
                        <reg:event-date>
                            <reg:date>20021228</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009210</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">(Expected) grant</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2003/07</reg:gazette-num>
                            <reg:date>20030212</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405932" event-type="new">
                        <reg:event-date>
                            <reg:date>20021206</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS RFEE</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Renewal fee</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405933" event-type="new">
                        <reg:event-date>
                            <reg:date>20020906</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS IGRA</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Communication of intention to grant a patent</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405934" event-type="new">
                        <reg:event-date>
                            <reg:date>20020802</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS AGRA</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Communication of intention to grant</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405935" event-type="new">
                        <reg:event-date>
                            <reg:date>20020802</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS IGRA</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Communication of intention to grant a patent</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405936" event-type="new">
                        <reg:event-date>
                            <reg:date>20020419</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009185</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">First examination report</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405937" event-type="new">
                        <reg:event-date>
                            <reg:date>20020415</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS AGRA</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Communication of intention to grant</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405938" event-type="new">
                        <reg:event-date>
                            <reg:date>20011207</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS RFEE</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Renewal fee</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405939" event-type="new">
                        <reg:event-date>
                            <reg:date>20010208</reg:date>
                        </reg:event-date>
                        <reg:event-code>EPIDOS EXPT</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Change - extension states</reg:event-text>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405940" event-type="new">
                        <reg:event-date>
                            <reg:date>20001215</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009084</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Definitive list of designations</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2001/05</reg:gazette-num>
                            <reg:date>20010131</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405941" event-type="new">
                        <reg:event-date>
                            <reg:date>20001110</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009171</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Request for examination filed</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2000/52</reg:gazette-num>
                            <reg:date>20001227</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405942" event-type="new">
                        <reg:event-date>
                            <reg:date>20000526</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009199FREP</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Change - representative</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2000/28</reg:gazette-num>
                            <reg:date>20000712</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
                <reg:events-data>
                    <reg:dossier-event id="EVT_242405943" event-type="new">
                        <reg:event-date>
                            <reg:date>20000331</reg:date>
                        </reg:event-date>
                        <reg:event-code>0009012</reg:event-code>
                        <reg:event-text event-text-type="DESCRIPTION">Publication in section I.1 EP Bulletin</reg:event-text>
                        <reg:gazette-reference>
                            <reg:gazette-num>2000/20</reg:gazette-num>
                            <reg:date>20000517</reg:date>
                        </reg:gazette-reference>
                    </reg:dossier-event>
                </reg:events-data>
            </reg:register-document>
        </reg:register-documents>
    </ops:register-search>
</ops:world-patent-data>