interactions:
- request:
    body: '{"q": "inventionTitle:(Hair Dryer)", "rangeFilters": [{"field": "filingDate",
      "valueFrom": "2020-01-01", "valueTo": "2024-04-10"}], "fields": ["applicationNumberText",
      "inventionTitle", "filingDate", "patentNumber"], "pagination": {"offset": 0,
      "limit": 25}}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    body:
      string: '{"count":699,"patentBag":[{"filingDate":"2024-01-17","applicationNumberText":"35519938","inventionTitle":"Hair
        clipper"},{"filingDate":"2024-01-17","applicationNumberText":"35519933","inventionTitle":"Hair
        straightening iron"},{"filingDate":"2024-01-03","applicationNumberText":"35519769","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-12-07","applicationNumberText":"35519947","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-11-24","applicationNumberText":"35519302","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-11-24","applicationNumberText":"35519293","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-11-23","applicationNumberText":"35519384","inventionTitle":"Hair
        clipper"},{"filingDate":"2023-11-08","patentNumber":"D1013951","applicationNumberText":"29906702","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-11-08","patentNumber":"D1013952","applicationNumberText":"29906704","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-11-08","patentNumber":"D1014845","applicationNumberText":"29916113","inventionTitle":"Hair
        Styling Comb"},{"filingDate":"2023-11-08","patentNumber":"D1013950","applicationNumberText":"29906701","inventionTitle":"Hair
        dryer"},{"filingDate":"2023-11-08",[...]
