interactions:
- request:
    body: '{"q": "applicationNumberText:(16123456)", "fields": ["applicationNumberText",
      "inventionTitle", "filingDate", "patentNumber"], "pagination": {"offset": 0,
      "limit": 25}}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    body:
      string: '{"count":1,"patentBag":[{"filingDate":"2018-09-06","patentNumber":"10902286","applicationNumberText":"16123456","inventionTitle":"LEARNING
        ASSISTANCE DEVICE, METHOD OF OPERATING LEARNING ASSISTANCE DEVICE, LEARNING
        ASSISTANCE PROGRAM, LEARNING ASSISTANCE SYSTEM, AND TERMINAL DEVICE"}],"requestIdentifier":"575c8211-4cab-43d1-9650-38d6d6fb7940"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WCnxlGuzIAMFZBw=
      x-amzn-RequestId:
      - 575c8211-4cab-43d1-9650-38d6d6fb7940
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "applicationNumberText:(16123456)", "fields": ["applicationNumberText",
      "inventionTitle", "filingDate", "patentNumber"], "pagination": {"offset": 0,
      "limit": 1}}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    body:
      string: '{"count":1,"patentBag":[{"filingDate":"2018-09-06","patentNumber":"10902286","applicationNumberText":"16123456","inventionTitle":"LEARNING
        ASSISTANCE DEVICE, METHOD OF OPERATING LEARNING ASSISTANCE DEVICE, LEARNING
        ASSISTANCE PROGRAM, LEARNING ASSISTANCE SYSTEM, AND TERMINAL DEVICE"}],"requestIdentifier":"bf5c85cc-489c-4b64-ac5b-e3ca0375c424"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - WCnxmH_zoAMFahA=
      x-amzn-RequestId:
      - bf5c85cc-489c-4b64-ac5b-e3ca0375c424
    status:
      code: 200
      message: OK
version: 1
