interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - oygzgndgwifcpqgvdcitnhorcdvpbb
    method: POST
    uri: https://beta-api.uspto.gov/api/v1/patent/applications/search
  response:
    body:
      string: '{"count":11469842,"patentBag":[{"firstInventorToFileIndicator":"Y","applicationStatusCode":410,"applicationTypeCode":"UTL","filingDate":"2024-02-15","recordAttorney":{"attorneyBag":[{"activeIndicator":"ACTIVE","firstName":"ALEXIS","lastName":"SAENZ","registrationNumber":"54570","attorneyAddressBag":[{"cityName":"RIVERSIDE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"92505","nameLineOneText":"LAW
        OFFICE OF ALEXIS J SAENZ","countryName":"UNITED STATES","addressLineOneText":"11801
        PIERCE STREET","addressLineTwoText":"2ND FLOOR"},{"cityName":"RIVERSIDE","geographicRegionName":"CALIFORNIA","geographicRegionCode":"CA","countryCode":"US","postalCode":"92505","nameLineOneText":"LAW
        OFFICE OF ALEXIS J SAENZ","countryName":"UNITED STATES","addressLineOneText":"11801
        PIERCE STREET","addressLineTwoText":"2ND FLOOR"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"323-501-7403","usageTypeCategory":"TEL"},{"telecommunicationNumber":"703-683-9875","usageTypeCategory":"FAX"}],"registeredPractitionerCategory":"AGENT"},{"activeIndicator":"ACTIVE","firstName":"LYMAN","lastName":"SMITH","registrationNumber":"44342","attorneyAddressBag":[{"cityName":"PORT
        CHARLOTTE","geographicRegionName":"FLORIDA","geographicRegionCode":"FL","countryCode":"US","postalCode":"33948","nameLineOneText":"PATENT
        SERVICE ASSOCIATES, INC.","countryName":"UNITED STATES","addressLineOneText":"18702
        VAN NUYS CIRCLE"}],"telecommunicationAddressBag":[{"telecommunicationNumber":"336-510-8799","usageTypeCategor[...]
