interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ds-api/oa_rejections/v2/fields
  response:
    content: '{"apiKey":"oa_rejections","apiVersionNumber":"v2","apiUrl":"https://developer.uspto.gov/ds-api/oa_rejections/v2/fields","apiDocumentationUrl":"https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_rejections.json","apiStatus":"PUBLISHED","fieldCount":34,"fields":["actionTypeCategory","aliceIndicator","allowedClaimIndicator","bilskiIndicator","cite102GT1","cite103EQ1","cite103GT3","cite103Max","claimNumberArrayDocument","closingMissing","createDateTime","createUserIdentifier","formParagraphMissing","groupArtUnitNumber","hasObjection","hasRej101","hasRej102","hasRej103","hasRej112","hasRejDP","headerMissing","id","legacyDocumentCodeIdentifier","legalSectionCode","mayoIndicator","myriadIndicator","nationalClass","nationalSubclass","obsoleteDocumentIdentifier","paragraphNumber","patentApplicationNumber","rejectFormMissmatch","signatureType","submissionDate"],"lastDataUpdatedDate":"2021-05-26
      12:17:45.0"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
