interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ds-api/oa_actions/v1/fields
  response:
    content: '{"apiKey":"oa_actions","apiVersionNumber":"v1","apiUrl":"https://developer.uspto.gov/ds-api/oa_actions/v1/fields","apiDocumentationUrl":"https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_actions.json","apiStatus":"PUBLISHED","fieldCount":133,"fields":["accessLevelCategory","applicantFileReference","applicationDeemedWithdrawnDate","applicationStatusNumber","applicationTypeCategory","bodyText","businessAreaCategory","businessEntityStatusCategory","createDateTime","customerNumber","documentActiveIndicator","documentDirectionCategory","effectiveClaimTotalQuantity","effectiveFilingDate","examinationProgramCode","examinerEmployeeNumber","figureQuantity","filingDate","grantDate","groupArtUnitNumber","id","independentClaimTotalQuantity","inventionSu[...]
