interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.uspto.gov/ds-api/oa_citations/v2/fields
  response:
    content: '{"apiKey":"oa_citations","apiVersionNumber":"v2","apiUrl":"https://developer.uspto.gov/ds-api/oa_citations/v2/fields","apiDocumentationUrl":"https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json","apiStatus":"PUBLISHED","fieldCount":16,"fields":["actionTypeCategory","applicantCitedExaminerReferenceIndicator","createDateTime","createUserIdentifier","examinerCitedReferenceIndicator","groupArtUnitNumber","id","legalSectionCode","obsoleteDocumentIdentifier","officeActionCitationReferenceIndicator","paragraphNumber","parsedReferenceIdentifier","patentApplicationNumber","referenceIdentifier","techCenter","workGroup"],"lastDataUpdatedDate":"2019-06-26
      15:20:17.0"}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
