interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/JP2005533465A/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"30117972\" country=\"JP\" doc-number=\"2005533465\" kind=\"A\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>JP</country>\n
      \                       <doc-number>2005533465</doc-number>\n                        <kind>A</kind>\n
      \                       <date>20051104</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>JP2005533465</doc-number>\n
      \                       <date>20051104</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classification-ipc>\n
      \                   <text>H04N7/24</text>\n                    <text>H03M7/30</text>\n
      \                   <text>H04B1/66</text>\n                </classification-ipc>\n
      \               <classifications-ipcr>\n                    <classification-ipcr
      sequence=\"1\">\n                        <text>G06T   9/    00            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"2\">\n                        <text>H03M   7/    30            A
      I                    </text>\n                    </classification-ipcr>\n                    <classification-ipcr
      sequence=\"3\">\n                        <tex[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/JP2005533465.A/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exch[...]
