interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-100&q=applicant%3D%22Microsoft%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Microsoft</ops:query>\n        <ops:range begin=\"1\" end=\"100\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"86610908\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>CA</country>\n
      \                   <doc-number>217091</doc-number>\n                    <kind>S</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n            <ops:publication-reference
      system=\"ops.epo.org\" family-id=\"63791035\">\n                <document-id
      document-id-type=\"docdb\">\n                    <country>NZ</country>\n                    <doc-number>756875</doc-number>\n
      \                   <kind>A</kind>\n                </document-id>\n            </ops:publication-reference>\n
      \           <ops:publication-ref[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-20&q=applicant%3D%22Microsoft%22
  response:
    content: "<error><code>400</code><message>invalid_access_token</message><description>Access
      token has expired</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      Content-Type:
      - application/xml
      WWW-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="keymanagement.service.access_token_expired:
        Access Token expired"'
    status_code: 400
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - REDACTED
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    content: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\": \"[ops-prod]\",\n
      \ \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n  \"organization_name\":
      \"epo\",\n  \"developer.email\": \"parker.hancock@protonmail.com\",\n  \"token_type\":
      \"BearerToken\",\n  \"issued_at\": \"1713995318980\",\n  \"client_id\": \"wVi6ni5GUZZ3BJqAfLGJb4KPGcYxRktw\",\n
      \ \"access_token\": \"XFIebAisWG6KGxmAAV0CC9SKAqL9\",\n  \"application_name\":
      \"8654da0d-5e44-4ea3-addc-e555eff4aee6\",\n  \"scope\": \"core\",\n  \"expires_in\":
      \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      Content-Type:
      - application/json
      X-EPO-Client-IP:
      - 38.104.255.66
      X-EPO-Forwarded:
      - '[38.104.255.66]'
    status_code: 200
[...]
