interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Google%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"10000\">\n        <ops:query syntax=\"CQL\">applicant
      = Google</ops:query>\n        <ops:range begin=\"1\" end=\"1\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"67138133\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>BR</country>\n
      \                   <doc-number>112021019157</doc-number>\n                    <kind>A2</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n        </ops:search-result>\n
      \   </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0d81c2a84b385b57d2c1e4d8937771ef8"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 174.194.194.160
      X-EPO-Forwarded:
      - '[174.194.194.160]'
      X-Elapsed-Time:
      - '16'
      X-IndividualQuotaPerHour-Used:
      - '226949'
      X-RegisteredQuotaPerWeek-Used:
      - '226949'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/publication/docdb/BR112021019157A2/biblio
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <exchange-documents>\n        <exchange-document system=\"ops.epo.org\"
      family-id=\"67138133\" country=\"BR\" doc-number=\"112021019157\" kind=\"A2\">\n
      \           <bibliographic-data>\n                <publication-reference>\n
      \                   <document-id document-id-type=\"docdb\">\n                        <country>BR</country>\n
      \                       <doc-number>112021019157</doc-number>\n                        <kind>A2</kind>\n
      \                       <date>20211207</date>\n                    </document-id>\n
      \                   <document-id document-id-type=\"epodoc\">\n                        <doc-number>BR112021019157</doc-number>\n
      \                       <date>20211207</date>\n                    </document-id>\n
      \               </publication-reference>\n                <classifications-ipcr>\n
      \                   <classification-ipcr sequence=\"1\">\n                        <text>G01S
      \  7/    41            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"2\">\n                        <text>G01S
      \ 13/    04            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"3\">\n                        <text>G01S
      \ 13/    88            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"4\">\n                        <text>G06F
      \  1/  3231            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"5\">\n                        <text>G06F
      \  1/  3237            A I                    </text>\n                    </classification-ipcr>\n
      \                   <classification-ipcr sequence=\"6\">\n                        <text>G06F
      \  3/    01            A I                    </text>\n                    </classification-ipcr>\n
      \               </classifications-ipcr>\n                <patent-classifications>\n
      \                   <patent-classification sequence=\"1\">\n                        <classification-scheme
      office=\"EP\" scheme=\"CPCI\"/>\n                        <section>G</section>\n
      \                       <class>01</class>\n                        <subclass>S</subclass>\n
      \                       <main-group>7</main-group>\n                        <subgroup>4004</subgroup>\n
      \                       <classification-value>I</classification-value>\n                        <generating-office>US</generating-office>\n
      \                   </patent-classification>\n                    <patent-classification
      sequence=\"2\">\n                        <classification-scheme office=\"EP\"
      scheme=\"CPCI\"/>\n                        <section>G</section>\n                        <class>01</class>\n
      \                       <subclass>S</subclass>\n                        <main-group>7</main-group>\n
      \                       <subgroup>4004</subgroup>\n                        <classification-value>I</classification-value>\n
      \                       <generating-office>KR</generating-office>\n                    </patent-classification>\n
      \       [...]
