interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: http://ops.epo.org/3.2/rest-services/published-data/search?Range=1-1&q=applicant%3D%22Tesla%22
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
      href=\"/3.2/style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
      xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
      \   <ops:biblio-search total-result-count=\"4457\">\n        <ops:query syntax=\"CQL\">applicant
      = Tesla</ops:query>\n        <ops:range begin=\"1\" end=\"1\"/>\n        <ops:search-result>\n
      \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"85199497\">\n
      \               <document-id document-id-type=\"docdb\">\n                    <country>TW</country>\n
      \                   <doc-number>202406057</doc-number>\n                    <kind>A</kind>\n
      \               </document-id>\n            </ops:publication-reference>\n        </ops:search-result>\n
      \   </ops:biblio-search>\n</ops:world-patent-data>"
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      ETag:
      - '"0dace98b0ce04a052641f1542507c989f"'
      X-API:
      - ops-v3.2
      X-EPO-Client-IP:
      - 174.194.194.160
      X-EPO-Forwarded:
      - '[174.194.194.160]'
      X-Elapsed-Time:
      - '10'
      X-IndividualQuotaPerHour-Used:
      - '403742'
      X-RegisteredQuotaPerWeek-Used:
      - '403742'
      X-Throttling-Control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status_code: 200
[...]
